
.symbol-1458_19258 {
        width: 16px;
height: 16px;
position: relative;
      }
.vector-1458_19259 {
        width: 13.6800537109375px;
height: 13.67999267578125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1597900390625px;
top: 1.15966796875px;
      }
.component-1458_19258 {
        width: fit-content;
height: fit-content;
      }

