
.symbol-2_27187 {
        width: 28px;
height: 28px;
position: relative;
      }
.vector-2_27188 {
        width: 23px;
height: 23px;
background-image: url("/assets/Vector12.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.5px;
top: 2.5px;
      }
.component-2_27187 {
        width: fit-content;
height: fit-content;
      }

