
.symbol-2_24287 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-2_24288 {
        width: 17.34228515625px;
height: 16.3455810546875px;
background-image: url("/assets/Vector11.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.32568359375px;
top: 1.8499755859375px;
      }
.component-2_24287 {
        width: fit-content;
height: fit-content;
      }

