
.symbol-4_31823 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-4_31824 {
        width: 15.082763671875px;
height: 16.4530029296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.48388671875px;
top: 1.90869140625px;
      }
.component-4_31823 {
        width: fit-content;
height: fit-content;
      }

