
.symbol-2_20305 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-2_20306 {
        width: 15px;
height: 3.3333282470703125px;
background-image: url("/assets/Vector9.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.5px;
top: 8.33349609375px;
      }
.component-2_20305 {
        width: fit-content;
height: fit-content;
      }

