
.symbol-2_21110 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-2_21111 {
        width: 16.800048828125px;
height: 16.79998779296875px;
background-image: url("/assets/Vector63.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.600341796875px;
top: 1.599853515625px;
      }
.component-2_21110 {
        width: fit-content;
height: fit-content;
      }

