
.symbol-2_24191 {
        width: 24px;
height: 24px;
position: relative;
      }
.vector-2_24192 {
        width: 21.28570556640625px;
height: 20px;
background-image: url("/assets/Vector48.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.35693359375px;
top: 2px;
      }
.component-2_24191 {
        width: fit-content;
height: fit-content;
      }

