
.symbol-2_18964 {
        width: 24px;
height: 24px;
position: relative;
      }
.vector-2_18965 {
        width: 21.9638671875px;
height: 20.25px;
background-image: url("/assets/Vector41.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.01806640625px;
top: 1.75px;
      }
.component-2_18964 {
        width: fit-content;
height: fit-content;
      }

