
.symbol-2_20309 {
        width: 24px;
height: 24px;
position: relative;
      }
.vector-2_20310 {
        width: 21.96392822265625px;
height: 20.25px;
background-image: url("/assets/Vector0.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.01806640625px;
top: 1.75px;
      }
.component-2_20309 {
        width: fit-content;
height: fit-content;
      }

