
.symbol-2_24277 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-2_24278 {
        width: 16.5250244140625px;
height: 16.525001525878906px;
background-image: url("/assets/Vector27.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.666748046875px;
top: 1.666748046875px;
      }
.component-2_24277 {
        width: fit-content;
height: fit-content;
      }

