
.symbol-1009_59114 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-1009_59115 {
        width: 16.800048828125px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.600341796875px;
top: 1.599853515625px;
      }
.component-1009_59114 {
        width: fit-content;
height: fit-content;
      }

