
.symbol-2_80585 {
        width: 24px;
height: 24px;
position: relative;
      }
.vector-2_80586 {
        width: 20px;
height: 16.142852783203125px;
background-image: url("/assets/Vector7.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2px;
top: 3.285888671875px;
      }
.component-2_80585 {
        width: fit-content;
height: fit-content;
      }

