
.symbol-2_23127 {
        width: 16px;
height: 16px;
position: relative;
      }
.vector-2_23128 {
        width: 13.67999267578125px;
height: 13.67999267578125px;
background-image: url("/assets/Vector26.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1597900390625px;
top: 1.15966796875px;
      }
.component-2_23127 {
        width: fit-content;
height: fit-content;
      }

