
.symbol-2_24281 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-2_24282 {
        width: 16.79998779296875px;
height: 13.585716247558594px;
background-image: url("/assets/Vector19.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.600341796875px;
top: 2.671630859375px;
      }
.component-2_24281 {
        width: fit-content;
height: fit-content;
      }

