
.symbol-355_5752 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-355_5753 {
        width: 3.33331298828125px;
height: 15px;
background-image: url("/assets/Vector7.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 8.3333740234375px;
top: 2.5px;
      }
.component-355_5752 {
        width: fit-content;
height: fit-content;
      }

