
.symbol-2_80579 {
        width: 24px;
height: 24px;
position: relative;
      }
.vector-2_80580 {
        width: 17.999755859375px;
height: 19.960052490234375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 2px;
      }
.component-2_80579 {
        width: fit-content;
height: fit-content;
      }

