
.symbol-2_20307 {
        width: 24px;
height: 24px;
position: relative;
      }
.vector-2_20308 {
        width: 18.37841796875px;
height: 18.37890625px;
background-image: url("/assets/Vector1.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.09765625px;
top: 2.810546875px;
      }
.component-2_20307 {
        width: fit-content;
height: fit-content;
      }

