
.symbol-2_20303 {
        width: 24px;
height: 24px;
position: relative;
      }
.vector-2_20304 {
        width: 20.05224609375px;
height: 20.96533203125px;
background-image: url("/assets/Vector5.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.967041015625px;
top: 2.03466796875px;
      }
.component-2_20303 {
        width: fit-content;
height: fit-content;
      }

