
.symbol-2_24189 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-2_24190 {
        width: 17.871185302734375px;
height: 16.800003051757812px;
background-image: url("/assets/Vector49.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.063720703125px;
top: 1.599853515625px;
      }
.component-2_24189 {
        width: fit-content;
height: fit-content;
      }

