
.symbol-4_31730 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-4_31731 {
        width: 16.80078125px;
height: 16.799999237060547px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.600341796875px;
top: 1.599853515625px;
      }
.component-4_31730 {
        width: fit-content;
height: fit-content;
      }

