
.symbol-1458_19250 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-1458_19251 {
        width: 16px;
height: 16px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2px;
top: 2px;
      }
.component-1458_19250 {
        width: fit-content;
height: fit-content;
      }

