
.symbol-4_53690 {
        
      }
.symbol-4_53691 {
        width: 390px;
height: 290px;
position: relative;
backdrop-filter: blur(36.24375661214193px);
background-color: rgba(209, 211, 217, 1);
      }
.frame-4_53692 {
        width: 384px;
height: 150px;
position: absolute;
left: 3px;
top: 8px;
background-color: transparent;
      }
.frame-4_53693 {
        width: 384px;
height: 42px;
position: absolute;
left: 0px;
top: 0px;
background-color: transparent;
      }
.frame-4_53704 {
        width: 346px;
height: 42px;
position: absolute;
left: 19px;
top: 54px;
background-color: transparent;
      }
.frame-4_53714 {
        width: 384px;
height: 42px;
position: absolute;
left: 0px;
top: 108px;
background-color: transparent;
      }
.frame-4_53715 {
        width: 268px;
height: 42px;
position: absolute;
left: 58px;
top: 0px;
background-color: transparent;
      }
.frame-4_53725 {
        width: 384px;
height: auto;
position: absolute;
left: 3px;
top: 170px;
display: flex;
flex-direction: row;
align-items: flex-start;
      }
.frame-content-4_53725 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.frame-4_53729 {
        width: 328px;
height: auto;
position: absolute;
left: 31px;
top: 235px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
      }
.frame-content-4_53729 {
        display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: space-between;
width: 100%;
position: relative;
      }
.vector-4_53730 {
        width: 27px;
height: 27px;
background-image: url("/assets/IconEmoji9.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.vector-4_53731 {
        width: 19px;
height: 28px;
background-image: url("/assets/IconDictation9.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.instance-4_53732 {
        width: 389px;
height: 34px;
      }
.symbol-4_53733 {
        width: 390px;
height: 336px;
position: relative;
backdrop-filter: blur(36.24375661214193px);
background-color: rgba(209, 211, 217, 1);
      }
.frame-4_53734 {
        width: 384px;
height: 150px;
position: absolute;
left: 3px;
top: 54px;
background-color: transparent;
      }
.frame-4_53735 {
        width: 384px;
height: 42px;
position: absolute;
left: 0px;
top: 0px;
background-color: transparent;
      }
.frame-4_53746 {
        width: 346px;
height: 42px;
position: absolute;
left: 19px;
top: 54px;
background-color: transparent;
      }
.frame-4_53756 {
        width: 384px;
height: 42px;
position: absolute;
left: 0px;
top: 108px;
background-color: transparent;
      }
.frame-4_53757 {
        width: 268px;
height: 42px;
position: absolute;
left: 58px;
top: 0px;
background-color: transparent;
      }
.frame-4_53767 {
        width: 384px;
height: auto;
position: absolute;
left: 3px;
top: 216px;
display: flex;
flex-direction: row;
align-items: flex-start;
      }
.frame-content-4_53767 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.frame-4_53771 {
        width: 328px;
height: auto;
position: absolute;
left: 31px;
top: 281px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
      }
.frame-content-4_53771 {
        display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: space-between;
width: 100%;
position: relative;
      }
.vector-4_53772 {
        width: 27px;
height: 27px;
background-image: url("/assets/IconEmoji7.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.vector-4_53773 {
        width: 19px;
height: 28px;
background-image: url("/assets/IconDictation7.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.instance-4_53774 {
        width: 389px;
height: 34px;
      }
.symbol-4_53776 {
        width: 390px;
height: 290px;
position: relative;
backdrop-filter: blur(36.24375661214193px);
background-color: rgba(209, 211, 217, 1);
      }
.frame-4_53777 {
        width: 384px;
height: 150px;
position: absolute;
left: 3px;
top: 8px;
background-color: transparent;
      }
.frame-4_53778 {
        width: 384px;
height: 42px;
position: absolute;
left: 0px;
top: 0px;
background-color: transparent;
      }
.frame-4_53789 {
        width: 346px;
height: 42px;
position: absolute;
left: 19px;
top: 54px;
background-color: transparent;
      }
.frame-4_53799 {
        width: 384px;
height: 42px;
position: absolute;
left: 0px;
top: 108px;
background-color: transparent;
      }
.frame-4_53800 {
        width: 268px;
height: 42px;
position: absolute;
left: 58px;
top: 0px;
background-color: transparent;
      }
.frame-4_53810 {
        width: 384px;
height: auto;
position: absolute;
left: 3px;
top: 170px;
display: flex;
flex-direction: row;
align-items: flex-start;
      }
.frame-content-4_53810 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.frame-4_53814 {
        width: 328px;
height: auto;
position: absolute;
left: 31px;
top: 235px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
      }
.frame-content-4_53814 {
        display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: space-between;
width: 100%;
position: relative;
      }
.vector-4_53815 {
        width: 27px;
height: 27px;
background-image: url("/assets/IconEmoji2.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.vector-4_53816 {
        width: 19px;
height: 28px;
background-image: url("/assets/IconDictation2.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.instance-4_53817 {
        width: 389px;
height: 34px;
      }
.symbol-4_53818 {
        width: 390px;
height: 336px;
position: relative;
backdrop-filter: blur(36.24375661214193px);
background-color: rgba(209, 211, 217, 1);
      }
.frame-4_53819 {
        width: 384px;
height: 150px;
position: absolute;
left: 3px;
top: 54px;
background-color: transparent;
      }
.frame-4_53820 {
        width: 384px;
height: 42px;
position: absolute;
left: 0px;
top: 0px;
background-color: transparent;
      }
.frame-4_53831 {
        width: 346px;
height: 42px;
position: absolute;
left: 19px;
top: 54px;
background-color: transparent;
      }
.frame-4_53841 {
        width: 384px;
height: 42px;
position: absolute;
left: 0px;
top: 108px;
background-color: transparent;
      }
.frame-4_53842 {
        width: 268px;
height: 42px;
position: absolute;
left: 58px;
top: 0px;
background-color: transparent;
      }
.frame-4_53852 {
        width: 384px;
height: auto;
position: absolute;
left: 3px;
top: 216px;
display: flex;
flex-direction: row;
align-items: flex-start;
      }
.frame-content-4_53852 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.frame-4_53856 {
        width: 328px;
height: auto;
position: absolute;
left: 31px;
top: 281px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
      }
.frame-content-4_53856 {
        display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: space-between;
width: 100%;
position: relative;
      }
.vector-4_53857 {
        width: 27px;
height: 27px;
background-image: url("/assets/IconEmoji.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.vector-4_53858 {
        width: 19px;
height: 28px;
background-image: url("/assets/IconDictation.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.instance-4_53859 {
        width: 389px;
height: 34px;
      }
.symbol-4_53861 {
        width: 390px;
height: 290px;
position: relative;
backdrop-filter: blur(36.24375661214193px);
background-color: rgba(209, 211, 217, 1);
      }
.frame-4_53862 {
        width: 385px;
height: 150px;
position: absolute;
left: 2px;
top: 8px;
background-color: transparent;
      }
.frame-4_53863 {
        width: 385px;
height: 42px;
position: absolute;
left: 0px;
top: 0px;
background-color: transparent;
      }
.frame-4_53874 {
        width: 385px;
height: 42px;
position: absolute;
left: 0px;
top: 54px;
background-color: transparent;
      }
.frame-4_53885 {
        width: 385px;
height: 42px;
position: absolute;
left: 0px;
top: 108px;
background-color: transparent;
      }
.frame-4_53886 {
        width: 265px;
height: 42px;
position: absolute;
left: 60px;
top: 0px;
background-color: transparent;
      }
.frame-4_53894 {
        width: 385px;
height: auto;
position: absolute;
left: 2px;
top: 170px;
display: flex;
flex-direction: row;
align-items: flex-start;
      }
.frame-content-4_53894 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.frame-4_53898 {
        width: 329px;
height: auto;
position: absolute;
left: 30px;
top: 235px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
      }
.frame-content-4_53898 {
        display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: space-between;
width: 100%;
position: relative;
      }
.vector-4_53899 {
        width: 27px;
height: 27px;
background-image: url("/assets/IconEmoji1.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.vector-4_53900 {
        width: 19px;
height: 28px;
background-image: url("/assets/IconDictation1.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.instance-4_53901 {
        width: 390px;
height: 34px;
      }
.symbol-4_53902 {
        width: 390px;
height: 336px;
position: relative;
backdrop-filter: blur(36.24375661214193px);
background-color: rgba(209, 211, 217, 1);
      }
.frame-4_53903 {
        width: 384px;
height: 150px;
position: absolute;
left: 3px;
top: 54px;
background-color: transparent;
      }
.frame-4_53904 {
        width: 384px;
height: 42px;
position: absolute;
left: 0px;
top: 0px;
background-color: transparent;
      }
.frame-4_53915 {
        width: 384px;
height: 42px;
position: absolute;
left: 0px;
top: 54px;
background-color: transparent;
      }
.frame-4_53926 {
        width: 384px;
height: 42px;
position: absolute;
left: 0px;
top: 108px;
background-color: transparent;
      }
.frame-4_53927 {
        width: 264px;
height: 42px;
position: absolute;
left: 60px;
top: 0px;
background-color: transparent;
      }
.frame-4_53935 {
        width: 384px;
height: auto;
position: absolute;
left: 3px;
top: 216px;
display: flex;
flex-direction: row;
align-items: flex-start;
      }
.frame-content-4_53935 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.frame-4_53939 {
        width: 328px;
height: auto;
position: absolute;
left: 31px;
top: 281px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
      }
.frame-content-4_53939 {
        display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: space-between;
width: 100%;
position: relative;
      }
.vector-4_53940 {
        width: 27px;
height: 27px;
background-image: url("/assets/IconEmoji3.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.vector-4_53941 {
        width: 19px;
height: 28px;
background-image: url("/assets/IconDictation3.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.instance-4_53942 {
        width: 389px;
height: 34px;
      }
.symbol-4_53944 {
        width: 390px;
height: 290px;
position: relative;
backdrop-filter: blur(36.24375661214193px);
background-color: rgba(49, 49, 50, 1);
      }
.frame-4_53945 {
        width: 384px;
height: 150px;
position: absolute;
left: 3px;
top: 8px;
background-color: transparent;
      }
.frame-4_53946 {
        width: 384px;
height: 42px;
position: absolute;
left: 0px;
top: 0px;
background-color: transparent;
      }
.frame-4_53957 {
        width: 346px;
height: 42px;
position: absolute;
left: 19px;
top: 54px;
background-color: transparent;
      }
.frame-4_53967 {
        width: 384px;
height: 42px;
position: absolute;
left: 0px;
top: 108px;
background-color: transparent;
      }
.frame-4_53968 {
        width: 268px;
height: 42px;
position: absolute;
left: 58px;
top: 0px;
background-color: transparent;
      }
.frame-4_53978 {
        width: 384px;
height: auto;
position: absolute;
left: 3px;
top: 170px;
display: flex;
flex-direction: row;
align-items: flex-start;
      }
.frame-content-4_53978 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.frame-4_53982 {
        width: 328px;
height: auto;
position: absolute;
left: 31px;
top: 235px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
      }
.frame-content-4_53982 {
        display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: space-between;
width: 100%;
position: relative;
      }
.vector-4_53983 {
        width: 27px;
height: 27px;
background-image: url("/assets/IconEmoji8.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.vector-4_53984 {
        width: 19px;
height: 28px;
background-image: url("/assets/IconDictation8.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.instance-4_53985 {
        width: 389px;
height: 34px;
      }
.symbol-4_53986 {
        width: 390px;
height: 336px;
position: relative;
backdrop-filter: blur(36.24375661214193px);
background-color: rgba(49, 49, 50, 1);
      }
.frame-4_53987 {
        width: 384px;
height: 150px;
position: absolute;
left: 3px;
top: 54px;
background-color: transparent;
      }
.frame-4_53988 {
        width: 384px;
height: 42px;
position: absolute;
left: 0px;
top: 0px;
background-color: transparent;
      }
.frame-4_53999 {
        width: 346px;
height: 42px;
position: absolute;
left: 19px;
top: 54px;
background-color: transparent;
      }
.frame-4_54009 {
        width: 384px;
height: 42px;
position: absolute;
left: 0px;
top: 108px;
background-color: transparent;
      }
.frame-4_54010 {
        width: 268px;
height: 42px;
position: absolute;
left: 58px;
top: 0px;
background-color: transparent;
      }
.frame-4_54020 {
        width: 384px;
height: auto;
position: absolute;
left: 3px;
top: 216px;
display: flex;
flex-direction: row;
align-items: flex-start;
      }
.frame-content-4_54020 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.frame-4_54024 {
        width: 328px;
height: auto;
position: absolute;
left: 31px;
top: 281px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
      }
.frame-content-4_54024 {
        display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: space-between;
width: 100%;
position: relative;
      }
.vector-4_54025 {
        width: 27px;
height: 27px;
background-image: url("/assets/IconEmoji6.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.vector-4_54026 {
        width: 19px;
height: 28px;
background-image: url("/assets/IconDictation6.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.instance-4_54027 {
        width: 389px;
height: 34px;
      }
.symbol-4_54029 {
        width: 390px;
height: 290px;
position: relative;
backdrop-filter: blur(36.24375661214193px);
background-color: rgba(49, 49, 50, 1);
      }
.frame-4_54030 {
        width: 384px;
height: 150px;
position: absolute;
left: 3px;
top: 8px;
background-color: transparent;
      }
.frame-4_54031 {
        width: 384px;
height: 42px;
position: absolute;
left: 0px;
top: 0px;
background-color: transparent;
      }
.frame-4_54042 {
        width: 346px;
height: 42px;
position: absolute;
left: 19px;
top: 54px;
background-color: transparent;
      }
.frame-4_54052 {
        width: 384px;
height: 42px;
position: absolute;
left: 0px;
top: 108px;
background-color: transparent;
      }
.frame-4_54053 {
        width: 268px;
height: 42px;
position: absolute;
left: 58px;
top: 0px;
background-color: transparent;
      }
.frame-4_54063 {
        width: 384px;
height: auto;
position: absolute;
left: 3px;
top: 170px;
display: flex;
flex-direction: row;
align-items: flex-start;
      }
.frame-content-4_54063 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.frame-4_54067 {
        width: 328px;
height: auto;
position: absolute;
left: 31px;
top: 235px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
      }
.frame-content-4_54067 {
        display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: space-between;
width: 100%;
position: relative;
      }
.vector-4_54068 {
        width: 27px;
height: 27px;
background-image: url("/assets/IconEmoji5.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.vector-4_54069 {
        width: 19px;
height: 28px;
background-image: url("/assets/IconDictation5.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.instance-4_54070 {
        width: 389px;
height: 34px;
      }
.symbol-4_54071 {
        width: 390px;
height: 336px;
position: relative;
backdrop-filter: blur(36.24375661214193px);
background-color: rgba(49, 49, 50, 1);
      }
.frame-4_54072 {
        width: 384px;
height: 150px;
position: absolute;
left: 3px;
top: 54px;
background-color: transparent;
      }
.frame-4_54073 {
        width: 384px;
height: 42px;
position: absolute;
left: 0px;
top: 0px;
background-color: transparent;
      }
.frame-4_54084 {
        width: 346px;
height: 42px;
position: absolute;
left: 19px;
top: 54px;
background-color: transparent;
      }
.frame-4_54094 {
        width: 384px;
height: 42px;
position: absolute;
left: 0px;
top: 108px;
background-color: transparent;
      }
.frame-4_54095 {
        width: 268px;
height: 42px;
position: absolute;
left: 58px;
top: 0px;
background-color: transparent;
      }
.frame-4_54105 {
        width: 384px;
height: auto;
position: absolute;
left: 3px;
top: 216px;
display: flex;
flex-direction: row;
align-items: flex-start;
      }
.frame-content-4_54105 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.frame-4_54109 {
        width: 328px;
height: auto;
position: absolute;
left: 31px;
top: 281px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
      }
.frame-content-4_54109 {
        display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: space-between;
width: 100%;
position: relative;
      }
.vector-4_54110 {
        width: 27px;
height: 27px;
background-image: url("/assets/IconEmoji4.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.vector-4_54111 {
        width: 19px;
height: 28px;
background-image: url("/assets/IconDictation4.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.instance-4_54112 {
        width: 389px;
height: 34px;
      }
.symbol-4_54114 {
        width: 390px;
height: 290px;
position: relative;
backdrop-filter: blur(36.24375661214193px);
background-color: rgba(49, 49, 50, 1);
      }
.frame-4_54115 {
        width: 385px;
height: 150px;
position: absolute;
left: 2px;
top: 8px;
background-color: transparent;
      }
.frame-4_54116 {
        width: 385px;
height: 42px;
position: absolute;
left: 0px;
top: 0px;
background-color: transparent;
      }
.frame-4_54127 {
        width: 385px;
height: 42px;
position: absolute;
left: 0px;
top: 54px;
background-color: transparent;
      }
.frame-4_54138 {
        width: 385px;
height: 42px;
position: absolute;
left: 0px;
top: 108px;
background-color: transparent;
      }
.frame-4_54139 {
        width: 265px;
height: 42px;
position: absolute;
left: 60px;
top: 0px;
background-color: transparent;
      }
.frame-4_54147 {
        width: 385px;
height: auto;
position: absolute;
left: 2px;
top: 170px;
display: flex;
flex-direction: row;
align-items: flex-start;
      }
.frame-content-4_54147 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.frame-4_54151 {
        width: 329px;
height: auto;
position: absolute;
left: 30px;
top: 235px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
      }
.frame-content-4_54151 {
        display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: space-between;
width: 100%;
position: relative;
      }
.vector-4_54152 {
        width: 27px;
height: 27px;
background-image: url("/assets/IconEmoji0.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.vector-4_54153 {
        width: 19px;
height: 28px;
background-image: url("/assets/IconDictation0.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.instance-4_54154 {
        width: 390px;
height: 34px;
      }
.symbol-4_54155 {
        width: 390px;
height: 336px;
position: relative;
backdrop-filter: blur(36.24375661214193px);
background-color: rgba(49, 49, 50, 1);
      }
.frame-4_54156 {
        width: 384px;
height: 150px;
position: absolute;
left: 3px;
top: 54px;
background-color: transparent;
      }
.frame-4_54157 {
        width: 384px;
height: 42px;
position: absolute;
left: 0px;
top: 0px;
background-color: transparent;
      }
.frame-4_54168 {
        width: 384px;
height: 42px;
position: absolute;
left: 0px;
top: 54px;
background-color: transparent;
      }
.frame-4_54179 {
        width: 384px;
height: 42px;
position: absolute;
left: 0px;
top: 108px;
background-color: transparent;
      }
.frame-4_54180 {
        width: 264px;
height: 42px;
position: absolute;
left: 60px;
top: 0px;
background-color: transparent;
      }
.frame-4_54188 {
        width: 384px;
height: auto;
position: absolute;
left: 3px;
top: 216px;
display: flex;
flex-direction: row;
align-items: flex-start;
      }
.frame-content-4_54188 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.frame-4_54192 {
        width: 328px;
height: auto;
position: absolute;
left: 31px;
top: 281px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
      }
.frame-content-4_54192 {
        display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: space-between;
width: 100%;
position: relative;
      }
.vector-4_54193 {
        width: 27px;
height: 27px;
background-image: url("/assets/IconEmoji10.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.vector-4_54194 {
        width: 19px;
height: 28px;
background-image: url("/assets/IconDictation10.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.instance-4_54195 {
        width: 389px;
height: 34px;
      }
.component-4_53690 {
        width: fit-content;
height: fit-content;
      }


.instance-4_53732 .symbol-4_54244  {
        width: 389px;
height: 34px;
position: absolute;
left: 1px;
top: 256px;
background-color: transparent;
      }
.instance-4_53732 .rectangle-4_54245  {
        width: 134px;
height: 5px;
position: absolute;
left: 128px;
top: 21px;
border-radius: 100px 100px 100px 100px;
      }
.instance-4_53774 .symbol-4_54244  {
        width: 389px;
height: 34px;
position: absolute;
left: 1px;
top: 302px;
background-color: transparent;
      }
.instance-4_53774 .rectangle-4_54245  {
        width: 134px;
height: 5px;
position: absolute;
left: 128px;
top: 21px;
border-radius: 100px 100px 100px 100px;
      }
.instance-4_53817 .symbol-4_54244  {
        width: 389px;
height: 34px;
position: absolute;
left: 1px;
top: 256px;
background-color: transparent;
      }
.instance-4_53817 .rectangle-4_54245  {
        width: 134px;
height: 5px;
position: absolute;
left: 128px;
top: 21px;
border-radius: 100px 100px 100px 100px;
      }
.instance-4_53859 .symbol-4_54244  {
        width: 389px;
height: 34px;
position: absolute;
left: 1px;
top: 302px;
background-color: transparent;
      }
.instance-4_53859 .rectangle-4_54245  {
        width: 134px;
height: 5px;
position: absolute;
left: 128px;
top: 21px;
border-radius: 100px 100px 100px 100px;
      }
.instance-4_53901 .symbol-4_54244  {
        width: 390px;
height: 34px;
position: absolute;
left: 0px;
top: 256px;
background-color: transparent;
      }
.instance-4_53901 .rectangle-4_54245  {
        width: 134px;
height: 5px;
position: absolute;
left: 128px;
top: 21px;
border-radius: 100px 100px 100px 100px;
      }
.instance-4_53942 .symbol-4_54244  {
        width: 389px;
height: 34px;
position: absolute;
left: 1px;
top: 302px;
background-color: transparent;
      }
.instance-4_53942 .rectangle-4_54245  {
        width: 134px;
height: 5px;
position: absolute;
left: 128px;
top: 21px;
border-radius: 100px 100px 100px 100px;
      }
.instance-4_53985 .symbol-4_54246  {
        width: 389px;
height: 34px;
position: absolute;
left: 1px;
top: 256px;
background-color: transparent;
      }
.instance-4_53985 .rectangle-4_54247  {
        width: 134px;
height: 5px;
position: absolute;
left: 128px;
top: 21px;
border-radius: 100px 100px 100px 100px;
      }
.instance-4_54027 .symbol-4_54246  {
        width: 389px;
height: 34px;
position: absolute;
left: 1px;
top: 302px;
background-color: transparent;
      }
.instance-4_54027 .rectangle-4_54247  {
        width: 134px;
height: 5px;
position: absolute;
left: 128px;
top: 21px;
border-radius: 100px 100px 100px 100px;
      }
.instance-4_54070 .symbol-4_54246  {
        width: 389px;
height: 34px;
position: absolute;
left: 1px;
top: 256px;
background-color: transparent;
      }
.instance-4_54070 .rectangle-4_54247  {
        width: 134px;
height: 5px;
position: absolute;
left: 128px;
top: 21px;
border-radius: 100px 100px 100px 100px;
      }
.instance-4_54112 .symbol-4_54246  {
        width: 389px;
height: 34px;
position: absolute;
left: 1px;
top: 302px;
background-color: transparent;
      }
.instance-4_54112 .rectangle-4_54247  {
        width: 134px;
height: 5px;
position: absolute;
left: 128px;
top: 21px;
border-radius: 100px 100px 100px 100px;
      }
.instance-4_54154 .symbol-4_54246  {
        width: 390px;
height: 34px;
position: absolute;
left: 0px;
top: 256px;
background-color: transparent;
      }
.instance-4_54154 .rectangle-4_54247  {
        width: 134px;
height: 5px;
position: absolute;
left: 128px;
top: 21px;
border-radius: 100px 100px 100px 100px;
      }
.instance-4_54195 .symbol-4_54246  {
        width: 389px;
height: 34px;
position: absolute;
left: 1px;
top: 302px;
background-color: transparent;
      }
.instance-4_54195 .rectangle-4_54247  {
        width: 134px;
height: 5px;
position: absolute;
left: 128px;
top: 21px;
border-radius: 100px 100px 100px 100px;
      }
