
.symbol-355_6498 {
        
      }
.symbol-355_6499 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.stroke-wrapper-355_6499 {
        position: relative;
width: 16px;
height: 16px;
      }
.stroke-355_6499 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.symbol-355_6500 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 16px;
min-width: 16px;
max-height: 16px;
max-width: 16px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-355_6500 {
        position: relative;
width: 16px;
height: 16px;
display: flex;
max-width: 16px;
max-height: 16px;
      }
.stroke-355_6500 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.paragraph-355_6501 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-355_6502 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.stroke-wrapper-355_6502 {
        position: relative;
width: 24px;
height: 24px;
      }
.stroke-355_6502 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6503 {
        display: none;
width: 10px;
height: 10px;
      }
.instance-355_6504 {
        display: none;
width: 6px;
height: 6px;
      }
.instance-355_6505 {
        width: 10px;
height: 10px;
      }
.symbol-355_6506 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 24px;
min-width: 24px;
max-height: 24px;
max-width: 24px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-355_6506 {
        position: relative;
width: 24px;
height: 24px;
display: flex;
max-width: 24px;
max-height: 24px;
      }
.stroke-355_6506 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6507 {
        display: none;
width: 10px;
height: 10px;
      }
.paragraph-355_6508 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-355_6509 {
        display: none;
width: 6px;
height: 6px;
      }
.instance-355_6510 {
        width: 10px;
height: 10px;
      }
.symbol-355_6511 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.stroke-wrapper-355_6511 {
        position: relative;
width: 32px;
height: 32px;
      }
.stroke-355_6511 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6512 {
        display: none;
width: 12px;
height: 12px;
      }
.instance-355_6513 {
        display: none;
width: 8px;
height: 8px;
      }
.instance-355_6514 {
        width: 12px;
height: 12px;
      }
.symbol-355_6515 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 32px;
min-width: 32px;
max-height: 32px;
max-width: 32px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-355_6515 {
        position: relative;
width: 32px;
height: 32px;
display: flex;
max-width: 32px;
max-height: 32px;
      }
.stroke-355_6515 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6516 {
        display: none;
width: 12px;
height: 12px;
      }
.paragraph-355_6517 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-355_6518 {
        display: none;
width: 8px;
height: 8px;
      }
.instance-355_6519 {
        width: 12px;
height: 12px;
      }
.symbol-355_6520 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.stroke-wrapper-355_6520 {
        position: relative;
width: 40px;
height: 40px;
      }
.stroke-355_6520 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6521 {
        width: 16px;
height: 16px;
      }
.instance-355_6522 {
        display: none;
width: 16px;
height: 16px;
      }
.instance-355_6523 {
        display: none;
width: 10px;
height: 10px;
      }
.symbol-355_6524 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 40px;
min-width: 40px;
max-height: 40px;
max-width: 40px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-355_6524 {
        position: relative;
width: 40px;
height: 40px;
display: flex;
max-width: 40px;
max-height: 40px;
      }
.stroke-355_6524 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6525 {
        display: none;
width: 16px;
height: 16px;
      }
.paragraph-355_6526 {
        text-align: center;
width: 40px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-355_6527 {
        display: none;
width: 10px;
height: 10px;
      }
.instance-355_6528 {
        width: 16px;
height: 16px;
      }
.symbol-355_6529 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
opacity: 0.9599999785423279;
      }
.stroke-wrapper-355_6529 {
        position: relative;
width: 96px;
height: 96px;
      }
.stroke-355_6529 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
opacity: 0.9599999785423279;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6530 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-355_6531 {
        width: 32px;
height: 32px;
      }
.instance-355_6532 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-355_6533 {
        display: none;
width: 16px;
height: 16px;
      }
.symbol-355_6534 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 96px;
min-width: 96px;
max-height: 96px;
max-width: 96px;
border-radius: 9999px 9999px 9999px 9999px;
opacity: 0.9599999785423279;
      }
.stroke-wrapper-355_6534 {
        position: relative;
width: 96px;
height: 96px;
display: flex;
max-width: 96px;
max-height: 96px;
      }
.stroke-355_6534 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
opacity: 0.9599999785423279;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6535 {
        display: none;
width: 32px;
height: 32px;
      }
.paragraph-355_6536 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-355_6537 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-355_6538 {
        display: none;
width: 16px;
height: 16px;
      }
.instance-355_6539 {
        width: 32px;
height: 32px;
      }
.symbol-355_6540 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 16px;
min-width: 16px;
max-height: 16px;
max-width: 16px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-355_6540 {
        position: relative;
width: 16px;
height: 16px;
display: flex;
max-width: 16px;
max-height: 16px;
      }
.stroke-355_6540 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6541 {
        width: 12px;
height: 12px;
      }
.symbol-355_6542 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 24px;
min-width: 24px;
max-height: 24px;
max-width: 24px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-355_6542 {
        position: relative;
width: 24px;
height: 24px;
display: flex;
max-width: 24px;
max-height: 24px;
      }
.stroke-355_6542 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6543 {
        width: 10px;
height: 10px;
      }
.instance-355_6544 {
        width: 16px;
height: 16px;
      }
.instance-355_6545 {
        display: none;
width: 10px;
height: 10px;
      }
.instance-355_6546 {
        display: none;
width: 6px;
height: 6px;
      }
.symbol-355_6547 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 32px;
min-width: 32px;
max-height: 32px;
max-width: 32px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-355_6547 {
        position: relative;
width: 32px;
height: 32px;
display: flex;
max-width: 32px;
max-height: 32px;
      }
.stroke-355_6547 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6548 {
        width: 12px;
height: 12px;
      }
.instance-355_6549 {
        width: 20px;
height: 20px;
      }
.instance-355_6550 {
        display: none;
width: 12px;
height: 12px;
      }
.instance-355_6551 {
        display: none;
width: 8px;
height: 8px;
      }
.symbol-355_6552 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 40px;
min-width: 40px;
max-height: 40px;
max-width: 40px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-355_6552 {
        position: relative;
width: 40px;
height: 40px;
display: flex;
max-width: 40px;
max-height: 40px;
      }
.stroke-355_6552 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6553 {
        width: 16px;
height: 16px;
      }
.instance-355_6554 {
        display: none;
width: 16px;
height: 16px;
      }
.instance-355_6555 {
        width: 24px;
height: 24px;
      }
.instance-355_6556 {
        display: none;
width: 10px;
height: 10px;
      }
.symbol-355_6557 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 96px;
min-width: 96px;
max-height: 96px;
max-width: 96px;
border-radius: 9999px 9999px 9999px 9999px;
opacity: 0.9599999785423279;
      }
.stroke-wrapper-355_6557 {
        position: relative;
width: 96px;
height: 96px;
display: flex;
max-width: 96px;
max-height: 96px;
      }
.stroke-355_6557 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
opacity: 0.9599999785423279;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6558 {
        width: 32px;
height: 32px;
      }
.instance-355_6559 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-355_6560 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-355_6561 {
        width: 56px;
height: 56px;
      }
.instance-355_6562 {
        display: none;
width: 16px;
height: 16px;
      }
.symbol-355_6563 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.stroke-wrapper-355_6563 {
        position: relative;
width: 20px;
height: 20px;
      }
.stroke-355_6563 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.symbol-355_6564 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 20px;
min-width: 20px;
max-height: 20px;
max-width: 20px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-355_6564 {
        position: relative;
width: 20px;
height: 20px;
display: flex;
max-width: 20px;
max-height: 20px;
      }
.stroke-355_6564 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.paragraph-355_6565 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-355_6566 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 20px;
min-width: 20px;
max-height: 20px;
max-width: 20px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-355_6566 {
        position: relative;
width: 20px;
height: 20px;
display: flex;
max-width: 20px;
max-height: 20px;
      }
.stroke-355_6566 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6567 {
        width: 14px;
height: 14px;
      }
.symbol-355_6568 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 36px;
min-width: 36px;
max-height: 36px;
max-width: 36px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-355_6568 {
        position: relative;
width: 36px;
height: 36px;
display: flex;
max-width: 36px;
max-height: 36px;
      }
.stroke-355_6568 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6569 {
        width: 14px;
height: 14px;
      }
.instance-355_6570 {
        width: 20px;
height: 20px;
      }
.instance-355_6571 {
        display: none;
width: 14px;
height: 14px;
      }
.instance-355_6572 {
        display: none;
width: 8px;
height: 8px;
      }
.symbol-355_6573 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 36px;
min-width: 36px;
max-height: 36px;
max-width: 36px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-355_6573 {
        position: relative;
width: 36px;
height: 36px;
display: flex;
max-width: 36px;
max-height: 36px;
      }
.stroke-355_6573 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6574 {
        display: none;
width: 14px;
height: 14px;
      }
.paragraph-355_6575 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-355_6576 {
        display: none;
width: 8px;
height: 8px;
      }
.instance-355_6577 {
        width: 14px;
height: 14px;
      }
.symbol-355_6578 {
        width: 100%;
height: 100%;
position: relative;
min-height: 36px;
min-width: 36px;
max-height: 36px;
max-width: 36px;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.stroke-wrapper-355_6578 {
        position: relative;
width: 36px;
height: 36px;
max-width: 36px;
max-height: 36px;
      }
.stroke-355_6578 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6579 {
        display: none;
width: 14px;
height: 14px;
      }
.instance-355_6580 {
        display: none;
width: 8px;
height: 8px;
      }
.instance-355_6581 {
        width: 14px;
height: 14px;
      }
.component-355_6498 {
        width: fit-content;
height: fit-content;
      }


.instance-355_6530 .symbol-2_23121  {
        width: 32px;
height: 32px;
position: absolute;
left: 64px;
top: 64px;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 6px 6px 6px 6px;
border-radius: 100px 100px 100px 100px;
      }
.instance-355_6530 .instance-2_23122  {
        width: 20px;
height: 20px;
      }
.instance-355_6537 .symbol-2_23121  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: none;
border-radius: 100px 100px 100px 100px;
      }
.instance-355_6537 .instance-2_23122  {
        width: 20px;
height: 20px;
      }
.instance-355_6560 .symbol-2_23121  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: none;
border-radius: 100px 100px 100px 100px;
      }
.instance-355_6560 .instance-2_23122  {
        width: 20px;
height: 20px;
      }
.instance-355_6531 .symbol-319_2951  {
        width: 32px;
height: 32px;
position: absolute;
left: 64px;
top: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 32px;
min-width: 32px;
border-radius: 999px 999px 999px 999px;
      }
.instance-355_6539 .symbol-319_2951  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 32px;
min-width: 32px;
border-radius: 999px 999px 999px 999px;
      }
.instance-355_6558 .symbol-319_2951  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 32px;
min-width: 32px;
border-radius: 999px 999px 999px 999px;
      }
.instance-355_6531 .paragraph-319_2952  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_6539 .paragraph-319_2952  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_6558 .paragraph-319_2952  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_6505 .symbol-319_2962  {
        width: 10px;
height: 10px;
position: absolute;
left: 15px;
top: -1px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6510 .symbol-319_2962  {
        width: 10px;
height: 10px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6514 .symbol-319_2962  {
        width: 12px;
height: 12px;
position: absolute;
left: 21px;
top: -1px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6519 .symbol-319_2962  {
        width: 12px;
height: 12px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6521 .symbol-319_2962  {
        width: 16px;
height: 16px;
position: absolute;
left: 26px;
top: -2px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6528 .symbol-319_2962  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6543 .symbol-319_2962  {
        width: 10px;
height: 10px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6548 .symbol-319_2962  {
        width: 12px;
height: 12px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6553 .symbol-319_2962  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6569 .symbol-319_2962  {
        width: 14px;
height: 14px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6577 .symbol-319_2962  {
        width: 14px;
height: 14px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6581 .symbol-319_2962  {
        width: 14px;
height: 14px;
position: absolute;
left: 24px;
top: -2px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6504 .symbol-319_2968  {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6504  .stroke-wrapper-319_2968 {
        position: absolute;
left: 17px;
top: 17px;
width: 6px;
height: 6px;
      }
.instance-355_6504  .stroke-319_2968 {
        position: absolute;
inset: -1px -1px -1px -1px;
border-radius: 10000px 10000px 10000px 10000px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6509 .symbol-319_2968  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6509  .stroke-wrapper-319_2968 {
        position: relative;
width: 6px;
height: 6px;
flex-shrink: 0;
      }
.instance-355_6509  .stroke-319_2968 {
        position: absolute;
inset: -1px -1px -1px -1px;
border-radius: 10000px 10000px 10000px 10000px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6513 .symbol-319_2968  {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6513  .stroke-wrapper-319_2968 {
        position: absolute;
left: 23px;
top: 23px;
width: 8px;
height: 8px;
      }
.instance-355_6513  .stroke-319_2968 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6518 .symbol-319_2968  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6518  .stroke-wrapper-319_2968 {
        position: relative;
width: 8px;
height: 8px;
flex-shrink: 0;
      }
.instance-355_6518  .stroke-319_2968 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6523 .symbol-319_2968  {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6523  .stroke-wrapper-319_2968 {
        position: absolute;
left: 29px;
top: 29px;
width: 10px;
height: 10px;
      }
.instance-355_6523  .stroke-319_2968 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6527 .symbol-319_2968  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6527  .stroke-wrapper-319_2968 {
        position: relative;
width: 10px;
height: 10px;
flex-shrink: 0;
      }
.instance-355_6527  .stroke-319_2968 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6533 .symbol-319_2968  {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6533  .stroke-wrapper-319_2968 {
        position: absolute;
left: 74px;
top: 74px;
width: 16px;
height: 16px;
      }
.instance-355_6533  .stroke-319_2968 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6538 .symbol-319_2968  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6538  .stroke-wrapper-319_2968 {
        position: relative;
width: 16px;
height: 16px;
flex-shrink: 0;
      }
.instance-355_6538  .stroke-319_2968 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6546 .symbol-319_2968  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6546  .stroke-wrapper-319_2968 {
        position: relative;
width: 6px;
height: 6px;
flex-shrink: 0;
      }
.instance-355_6546  .stroke-319_2968 {
        position: absolute;
inset: -1px -1px -1px -1px;
border-radius: 10000px 10000px 10000px 10000px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6551 .symbol-319_2968  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6551  .stroke-wrapper-319_2968 {
        position: relative;
width: 8px;
height: 8px;
flex-shrink: 0;
      }
.instance-355_6551  .stroke-319_2968 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6556 .symbol-319_2968  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6556  .stroke-wrapper-319_2968 {
        position: relative;
width: 10px;
height: 10px;
flex-shrink: 0;
      }
.instance-355_6556  .stroke-319_2968 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6562 .symbol-319_2968  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6562  .stroke-wrapper-319_2968 {
        position: relative;
width: 16px;
height: 16px;
flex-shrink: 0;
      }
.instance-355_6562  .stroke-319_2968 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6572 .symbol-319_2968  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6572  .stroke-wrapper-319_2968 {
        position: relative;
width: 8px;
height: 8px;
flex-shrink: 0;
      }
.instance-355_6572  .stroke-319_2968 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6576 .symbol-319_2968  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6576  .stroke-wrapper-319_2968 {
        position: relative;
width: 8px;
height: 8px;
flex-shrink: 0;
      }
.instance-355_6576  .stroke-319_2968 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6580 .symbol-319_2968  {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6580  .stroke-wrapper-319_2968 {
        position: absolute;
left: 27px;
top: 27px;
width: 8px;
height: 8px;
      }
.instance-355_6580  .stroke-319_2968 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6561 .symbol-2_23143  {
        width: 56px;
height: 56px;
position: relative;
flex-shrink: 0;
      }
.instance-355_6561 .vector-2_23144  {
        width: 37.33333206176758px;
height: 41.999996185302734px;
background-image: url("/assets/Vector31.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 9.333333015441895px;
top: 6.999999523162842px;
      }
.instance-355_6549 .symbol-2_23141  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-355_6555 .symbol-2_23141  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-355_6570 .symbol-2_23141  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-355_6549 .vector-2_23142  {
        width: 13.466796875px;
height: 15.133331298828125px;
background-image: url("/assets/Vector32.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.2667236328125px;
top: 2.433349132537842px;
      }
.instance-355_6555 .vector-2_23142  {
        width: 16.15999984741211px;
height: 18.159997940063477px;
background-image: url("/assets/Vector32.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.9200685024261475px;
top: 2.9200189113616943px;
      }
.instance-355_6570 .vector-2_23142  {
        width: 13.466796875px;
height: 15.133331298828125px;
background-image: url("/assets/Vector32.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.2667236328125px;
top: 2.433349132537842px;
      }
.instance-355_6541 .symbol-2_23139  {
        width: 12px;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-355_6544 .symbol-2_23139  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-355_6567 .symbol-2_23139  {
        width: 14px;
height: 14px;
position: relative;
flex-shrink: 0;
      }
.instance-355_6541 .vector-2_23140  {
        width: 8.260000228881836px;
height: 9.260000228881836px;
background-image: url("/assets/Vector33.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.869964599609375px;
top: 1.3699951171875px;
      }
.instance-355_6544 .vector-2_23140  {
        width: 11.013671875px;
height: 12.346668243408203px;
background-image: url("/assets/Vector33.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4932861328125px;
top: 1.82666015625px;
      }
.instance-355_6567 .vector-2_23140  {
        width: 9.636667251586914px;
height: 10.80333423614502px;
background-image: url("/assets/Vector33.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.1816253662109375px;
top: 1.59832763671875px;
      }
.instance-355_6503 .symbol-2_23137  {
        width: 10px;
height: 10px;
position: absolute;
left: 15px;
top: 15px;
display: none;
      }
.instance-355_6507 .symbol-2_23137  {
        width: 10px;
height: 10px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-355_6512 .symbol-2_23137  {
        width: 12px;
height: 12px;
position: absolute;
left: 21px;
top: 21px;
display: none;
      }
.instance-355_6516 .symbol-2_23137  {
        width: 12px;
height: 12px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-355_6522 .symbol-2_23137  {
        width: 16px;
height: 16px;
position: absolute;
left: 26.0001220703125px;
top: 26px;
display: none;
      }
.instance-355_6525 .symbol-2_23137  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-355_6532 .symbol-2_23137  {
        width: 32px;
height: 32px;
position: absolute;
left: 64px;
top: 64px;
display: none;
      }
.instance-355_6535 .symbol-2_23137  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-355_6545 .symbol-2_23137  {
        width: 10px;
height: 10px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-355_6550 .symbol-2_23137  {
        width: 12px;
height: 12px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-355_6554 .symbol-2_23137  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-355_6559 .symbol-2_23137  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-355_6571 .symbol-2_23137  {
        width: 14px;
height: 14px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-355_6574 .symbol-2_23137  {
        width: 14px;
height: 14px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-355_6579 .symbol-2_23137  {
        width: 14px;
height: 14px;
position: absolute;
left: 24px;
top: 24px;
display: none;
      }
.instance-355_6503 .vector-2_23138  {
        width: 8.54971694946289px;
height: 8.550003051757812px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.725141167640686px;
top: 0.7251131534576416px;
      }
.instance-355_6507 .vector-2_23138  {
        width: 8.54971694946289px;
height: 8.550003051757812px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.725141167640686px;
top: 0.7251131534576416px;
      }
.instance-355_6512 .vector-2_23138  {
        width: 10.259660720825195px;
height: 10.260002136230469px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.8701694011688232px;
top: 0.8701357841491699px;
      }
.instance-355_6516 .vector-2_23138  {
        width: 10.259660720825195px;
height: 10.260002136230469px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.8701694011688232px;
top: 0.8701357841491699px;
      }
.instance-355_6522 .vector-2_23138  {
        width: 13.6796875px;
height: 13.67999267578125px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1602258682250977px;
top: 1.1601810455322266px;
      }
.instance-355_6525 .vector-2_23138  {
        width: 13.6796875px;
height: 13.67999267578125px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1602258682250977px;
top: 1.1601810455322266px;
      }
.instance-355_6532 .vector-2_23138  {
        width: 27.35909652709961px;
height: 27.360008239746094px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.3204517364501953px;
top: 2.320362091064453px;
      }
.instance-355_6535 .vector-2_23138  {
        width: 27.35909652709961px;
height: 27.360008239746094px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.3204517364501953px;
top: 2.320362091064453px;
      }
.instance-355_6545 .vector-2_23138  {
        width: 8.54971694946289px;
height: 8.550003051757812px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.725141167640686px;
top: 0.7251131534576416px;
      }
.instance-355_6550 .vector-2_23138  {
        width: 10.259660720825195px;
height: 10.260002136230469px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.8701694011688232px;
top: 0.8701357841491699px;
      }
.instance-355_6554 .vector-2_23138  {
        width: 13.6796875px;
height: 13.67999267578125px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1602258682250977px;
top: 1.1601810455322266px;
      }
.instance-355_6559 .vector-2_23138  {
        width: 27.35909652709961px;
height: 27.360008239746094px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.3204517364501953px;
top: 2.320362091064453px;
      }
.instance-355_6571 .vector-2_23138  {
        width: 11.969603538513184px;
height: 11.970002174377441px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.0151976346969604px;
top: 1.0151584148406982px;
      }
.instance-355_6574 .vector-2_23138  {
        width: 11.969603538513184px;
height: 11.970002174377441px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.0151976346969604px;
top: 1.0151584148406982px;
      }
.instance-355_6579 .vector-2_23138  {
        width: 11.969603538513184px;
height: 11.970002174377441px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.0151976346969604px;
top: 1.0151584148406982px;
      }
