
.symbol-2_22973 {
        
      }
.symbol-2_22974 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.stroke-wrapper-2_22974 {
        position: relative;
width: 16px;
height: 16px;
      }
.stroke-2_22974 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.symbol-2_22975 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 16px;
min-width: 16px;
max-height: 16px;
max-width: 16px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-2_22975 {
        position: relative;
width: 16px;
height: 16px;
display: flex;
max-width: 16px;
max-height: 16px;
      }
.stroke-2_22975 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.paragraph-2_22976 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_22977 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.stroke-wrapper-2_22977 {
        position: relative;
width: 24px;
height: 24px;
      }
.stroke-2_22977 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_22978 {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_22979 {
        display: none;
width: 6px;
height: 6px;
      }
.instance-2_22980 {
        display: none;
width: 10px;
height: 10px;
      }
.symbol-2_22981 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 24px;
min-width: 24px;
max-height: 24px;
max-width: 24px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-2_22981 {
        position: relative;
width: 24px;
height: 24px;
display: flex;
max-width: 24px;
max-height: 24px;
      }
.stroke-2_22981 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_22982 {
        display: none;
width: 10px;
height: 10px;
      }
.paragraph-2_22983 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_22984 {
        display: none;
width: 6px;
height: 6px;
      }
.instance-2_22985 {
        display: none;
width: 10px;
height: 10px;
      }
.symbol-2_22986 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.stroke-wrapper-2_22986 {
        position: relative;
width: 32px;
height: 32px;
      }
.stroke-2_22986 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_22987 {
        display: none;
width: 12px;
height: 12px;
      }
.instance-2_22988 {
        display: none;
width: 8px;
height: 8px;
      }
.instance-2_22989 {
        display: none;
width: 12px;
height: 12px;
      }
.symbol-2_22990 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 32px;
min-width: 32px;
max-height: 32px;
max-width: 32px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-2_22990 {
        position: relative;
width: 32px;
height: 32px;
display: flex;
max-width: 32px;
max-height: 32px;
      }
.stroke-2_22990 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_22991 {
        display: none;
width: 12px;
height: 12px;
      }
.paragraph-2_22992 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_22993 {
        display: none;
width: 8px;
height: 8px;
      }
.instance-2_22994 {
        display: none;
width: 12px;
height: 12px;
      }
.symbol-2_22995 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.stroke-wrapper-2_22995 {
        position: relative;
width: 40px;
height: 40px;
      }
.stroke-2_22995 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_22996 {
        display: none;
width: 16px;
height: 16px;
      }
.instance-2_22997 {
        display: none;
width: 16px;
height: 16px;
      }
.instance-2_22998 {
        display: none;
width: 10px;
height: 10px;
      }
.symbol-2_22999 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 40px;
min-width: 40px;
max-height: 40px;
max-width: 40px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-2_22999 {
        position: relative;
width: 40px;
height: 40px;
display: flex;
max-width: 40px;
max-height: 40px;
      }
.stroke-2_22999 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_23000 {
        display: none;
width: 16px;
height: 16px;
      }
.paragraph-2_23001 {
        text-align: center;
width: 40px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_23002 {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_23003 {
        display: none;
width: 16px;
height: 16px;
      }
.symbol-2_23004 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

opacity: 0.9599999785423279;
      }
.stroke-wrapper-2_23004 {
        position: relative;
width: 96px;
height: 96px;
      }
.stroke-2_23004 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
opacity: 0.9599999785423279;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_23005 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-2_23006 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-2_23007 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-2_23008 {
        display: none;
width: 16px;
height: 16px;
      }
.symbol-2_23009 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 96px;
min-width: 96px;
max-height: 96px;
max-width: 96px;
border-radius: 9999px 9999px 9999px 9999px;
opacity: 0.9599999785423279;
      }
.stroke-wrapper-2_23009 {
        position: relative;
width: 96px;
height: 96px;
display: flex;
max-width: 96px;
max-height: 96px;
      }
.stroke-2_23009 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
opacity: 0.9599999785423279;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_23010 {
        display: none;
width: 32px;
height: 32px;
      }
.paragraph-2_23011 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_23012 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-2_23013 {
        display: none;
width: 16px;
height: 16px;
      }
.instance-2_23014 {
        display: none;
width: 32px;
height: 32px;
      }
.symbol-2_23015 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 16px;
min-width: 16px;
max-height: 16px;
max-width: 16px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-2_23015 {
        position: relative;
width: 16px;
height: 16px;
display: flex;
max-width: 16px;
max-height: 16px;
      }
.stroke-2_23015 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_23016 {
        width: 12px;
height: 12px;
      }
.symbol-2_23017 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 24px;
min-width: 24px;
max-height: 24px;
max-width: 24px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-2_23017 {
        position: relative;
width: 24px;
height: 24px;
display: flex;
max-width: 24px;
max-height: 24px;
      }
.stroke-2_23017 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_23018 {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_23019 {
        width: 16px;
height: 16px;
      }
.instance-2_23020 {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_23021 {
        display: none;
width: 6px;
height: 6px;
      }
.symbol-2_23022 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 32px;
min-width: 32px;
max-height: 32px;
max-width: 32px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-2_23022 {
        position: relative;
width: 32px;
height: 32px;
display: flex;
max-width: 32px;
max-height: 32px;
      }
.stroke-2_23022 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_23023 {
        display: none;
width: 12px;
height: 12px;
      }
.instance-2_23024 {
        width: 20px;
height: 20px;
      }
.instance-2_23025 {
        display: none;
width: 12px;
height: 12px;
      }
.instance-2_23026 {
        display: none;
width: 8px;
height: 8px;
      }
.symbol-2_23027 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 40px;
min-width: 40px;
max-height: 40px;
max-width: 40px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-2_23027 {
        position: relative;
width: 40px;
height: 40px;
display: flex;
max-width: 40px;
max-height: 40px;
      }
.stroke-2_23027 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_23028 {
        display: none;
width: 16px;
height: 16px;
      }
.instance-2_23029 {
        display: none;
width: 16px;
height: 16px;
      }
.instance-2_23030 {
        width: 24px;
height: 24px;
      }
.instance-2_23031 {
        display: none;
width: 10px;
height: 10px;
      }
.symbol-2_23032 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 96px;
min-width: 96px;
max-height: 96px;
max-width: 96px;
border-radius: 9999px 9999px 9999px 9999px;
opacity: 0.9599999785423279;
      }
.stroke-wrapper-2_23032 {
        position: relative;
width: 96px;
height: 96px;
display: flex;
max-width: 96px;
max-height: 96px;
      }
.stroke-2_23032 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
opacity: 0.9599999785423279;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_23033 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-2_23034 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-2_23035 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-2_23036 {
        width: 56px;
height: 56px;
      }
.instance-2_23037 {
        display: none;
width: 16px;
height: 16px;
      }
.symbol-2_23038 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.stroke-wrapper-2_23038 {
        position: relative;
width: 20px;
height: 20px;
      }
.stroke-2_23038 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.symbol-2_23039 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 20px;
min-width: 20px;
max-height: 20px;
max-width: 20px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-2_23039 {
        position: relative;
width: 20px;
height: 20px;
display: flex;
max-width: 20px;
max-height: 20px;
      }
.stroke-2_23039 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.paragraph-2_23040 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_23041 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 20px;
min-width: 20px;
max-height: 20px;
max-width: 20px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-2_23041 {
        position: relative;
width: 20px;
height: 20px;
display: flex;
max-width: 20px;
max-height: 20px;
      }
.stroke-2_23041 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_23042 {
        width: 14px;
height: 14px;
      }
.symbol-2_23043 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 36px;
min-width: 36px;
max-height: 36px;
max-width: 36px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-2_23043 {
        position: relative;
width: 36px;
height: 36px;
display: flex;
max-width: 36px;
max-height: 36px;
      }
.stroke-2_23043 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_23044 {
        display: none;
width: 14px;
height: 14px;
      }
.instance-2_23045 {
        width: 20px;
height: 20px;
      }
.instance-2_23046 {
        display: none;
width: 14px;
height: 14px;
      }
.instance-2_23047 {
        display: none;
width: 8px;
height: 8px;
      }
.symbol-2_23048 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 36px;
min-width: 36px;
max-height: 36px;
max-width: 36px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-2_23048 {
        position: relative;
width: 36px;
height: 36px;
display: flex;
max-width: 36px;
max-height: 36px;
      }
.stroke-2_23048 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_23049 {
        display: none;
width: 14px;
height: 14px;
      }
.paragraph-2_23050 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_23051 {
        display: none;
width: 8px;
height: 8px;
      }
.instance-2_23052 {
        display: none;
width: 14px;
height: 14px;
      }
.symbol-2_23053 {
        width: 100%;
height: 100%;
position: relative;
min-height: 36px;
min-width: 36px;
max-height: 36px;
max-width: 36px;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.stroke-wrapper-2_23053 {
        position: relative;
width: 36px;
height: 36px;
max-width: 36px;
max-height: 36px;
      }
.stroke-2_23053 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_23054 {
        display: none;
width: 14px;
height: 14px;
      }
.instance-2_23055 {
        display: none;
width: 8px;
height: 8px;
      }
.instance-2_23056 {
        display: none;
width: 14px;
height: 14px;
      }
.component-2_22973 {
        width: fit-content;
height: fit-content;
      }


.instance-2_22978 .symbol-2_23137  {
        width: 10px;
height: 10px;
position: absolute;
left: 15px;
top: 15px;
display: none;
      }
.instance-2_22978 .vector-2_23138  {
        width: 8.54971694946289px;
height: 8.550003051757812px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.725141167640686px;
top: 0.7251131534576416px;
      }
.instance-2_22979 .symbol-2_23093  {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_22979  .stroke-wrapper-2_23093 {
        position: absolute;
left: 17px;
top: 17px;
width: 6px;
height: 6px;
      }
.instance-2_22979  .stroke-2_23093 {
        position: absolute;
inset: -1px -1px -1px -1px;
border-radius: 10000px 10000px 10000px 10000px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_22980 .symbol-2_23089  {
        width: 10px;
height: 10px;
position: absolute;
left: 15px;
top: -1px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_22982 .symbol-2_23137  {
        width: 10px;
height: 10px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_22982 .vector-2_23138  {
        width: 8.54971694946289px;
height: 8.550003051757812px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.725141167640686px;
top: 0.7251131534576416px;
      }
.instance-2_22984 .symbol-2_23093  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_22984  .stroke-wrapper-2_23093 {
        position: relative;
width: 6px;
height: 6px;
flex-shrink: 0;
      }
.instance-2_22984  .stroke-2_23093 {
        position: absolute;
inset: -1px -1px -1px -1px;
border-radius: 10000px 10000px 10000px 10000px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_22985 .symbol-2_23089  {
        width: 10px;
height: 10px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_22987 .symbol-2_23137  {
        width: 12px;
height: 12px;
position: absolute;
left: 21px;
top: 21px;
display: none;
      }
.instance-2_22987 .vector-2_23138  {
        width: 10.259660720825195px;
height: 10.260002136230469px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.8701694011688232px;
top: 0.8701357841491699px;
      }
.instance-2_22988 .symbol-2_23093  {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_22988  .stroke-wrapper-2_23093 {
        position: absolute;
left: 23px;
top: 23px;
width: 8px;
height: 8px;
      }
.instance-2_22988  .stroke-2_23093 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_22989 .symbol-2_23089  {
        width: 12px;
height: 12px;
position: absolute;
left: 21px;
top: -1px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_22991 .symbol-2_23137  {
        width: 12px;
height: 12px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_22991 .vector-2_23138  {
        width: 10.259660720825195px;
height: 10.260002136230469px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.8701694011688232px;
top: 0.8701357841491699px;
      }
.instance-2_22993 .symbol-2_23093  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_22993  .stroke-wrapper-2_23093 {
        position: relative;
width: 8px;
height: 8px;
flex-shrink: 0;
      }
.instance-2_22993  .stroke-2_23093 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_22994 .symbol-2_23089  {
        width: 12px;
height: 12px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_22996 .symbol-2_23089  {
        width: 16px;
height: 16px;
position: absolute;
left: 26px;
top: -2px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_22997 .symbol-2_23137  {
        width: 16px;
height: 16px;
position: absolute;
left: 26.0001220703125px;
top: 26px;
display: none;
      }
.instance-2_22997 .vector-2_23138  {
        width: 13.6796875px;
height: 13.67999267578125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1602258682250977px;
top: 1.1601810455322266px;
      }
.instance-2_22998 .symbol-2_23093  {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_22998  .stroke-wrapper-2_23093 {
        position: absolute;
left: 29px;
top: 29px;
width: 10px;
height: 10px;
      }
.instance-2_22998  .stroke-2_23093 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_23000 .symbol-2_23137  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_23000 .vector-2_23138  {
        width: 13.6796875px;
height: 13.67999267578125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1602258682250977px;
top: 1.1601810455322266px;
      }
.instance-2_23002 .symbol-2_23093  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_23002  .stroke-wrapper-2_23093 {
        position: relative;
width: 10px;
height: 10px;
flex-shrink: 0;
      }
.instance-2_23002  .stroke-2_23093 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_23003 .symbol-2_23089  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_23005 .symbol-2_23121  {
        width: 32px;
height: 32px;
position: absolute;
left: 64px;
top: 64px;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 6px 6px 6px 6px;
border-radius: 100px 100px 100px 100px;
      }
.instance-2_23005 .instance-2_23122  {
        width: 20px;
height: 20px;
      }
.instance-2_23006 .symbol-2_23082  {
        width: 32px;
height: 32px;
position: absolute;
left: 64px;
top: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 32px;
min-width: 32px;
border-radius: 999px 999px 999px 999px;
      }
.instance-2_23006 .paragraph-2_23083  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2_23007 .symbol-2_23137  {
        width: 32px;
height: 32px;
position: absolute;
left: 64px;
top: 64px;
display: none;
      }
.instance-2_23007 .vector-2_23138  {
        width: 27.35909652709961px;
height: 27.360008239746094px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.3204517364501953px;
top: 2.320362091064453px;
      }
.instance-2_23008 .symbol-2_23093  {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_23008  .stroke-wrapper-2_23093 {
        position: absolute;
left: 74px;
top: 74px;
width: 16px;
height: 16px;
      }
.instance-2_23008  .stroke-2_23093 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_23010 .symbol-2_23137  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_23010 .vector-2_23138  {
        width: 27.35909652709961px;
height: 27.360008239746094px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.3204517364501953px;
top: 2.320362091064453px;
      }
.instance-2_23012 .symbol-2_23121  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: none;
border-radius: 100px 100px 100px 100px;
      }
.instance-2_23012 .instance-2_23122  {
        width: 20px;
height: 20px;
      }
.instance-2_23013 .symbol-2_23093  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_23013  .stroke-wrapper-2_23093 {
        position: relative;
width: 16px;
height: 16px;
flex-shrink: 0;
      }
.instance-2_23013  .stroke-2_23093 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_23014 .symbol-2_23082  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 32px;
min-width: 32px;
border-radius: 999px 999px 999px 999px;
      }
.instance-2_23014 .paragraph-2_23083  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2_23016 .symbol-2_23139  {
        width: 12px;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_23016 .vector-2_23140  {
        width: 8.260000228881836px;
height: 9.260000228881836px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.869964599609375px;
top: 1.3699951171875px;
      }
.instance-2_23018 .symbol-2_23089  {
        width: 10px;
height: 10px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_23019 .symbol-2_23139  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2_23019 .vector-2_23140  {
        width: 11.013671875px;
height: 12.346668243408203px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4932861328125px;
top: 1.82666015625px;
      }
.instance-2_23020 .symbol-2_23137  {
        width: 10px;
height: 10px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_23020 .vector-2_23138  {
        width: 8.54971694946289px;
height: 8.550003051757812px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.725141167640686px;
top: 0.7251131534576416px;
      }
.instance-2_23021 .symbol-2_23093  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_23021  .stroke-wrapper-2_23093 {
        position: relative;
width: 6px;
height: 6px;
flex-shrink: 0;
      }
.instance-2_23021  .stroke-2_23093 {
        position: absolute;
inset: -1px -1px -1px -1px;
border-radius: 10000px 10000px 10000px 10000px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_23023 .symbol-2_23089  {
        width: 12px;
height: 12px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_23024 .symbol-2_23141  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_23024 .vector-2_23142  {
        width: 13.466796875px;
height: 15.133331298828125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.2667236328125px;
top: 2.433349132537842px;
      }
.instance-2_23025 .symbol-2_23137  {
        width: 12px;
height: 12px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_23025 .vector-2_23138  {
        width: 10.259660720825195px;
height: 10.260002136230469px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.8701694011688232px;
top: 0.8701357841491699px;
      }
.instance-2_23026 .symbol-2_23093  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_23026  .stroke-wrapper-2_23093 {
        position: relative;
width: 8px;
height: 8px;
flex-shrink: 0;
      }
.instance-2_23026  .stroke-2_23093 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_23028 .symbol-2_23089  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_23029 .symbol-2_23137  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_23029 .vector-2_23138  {
        width: 13.6796875px;
height: 13.67999267578125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1602258682250977px;
top: 1.1601810455322266px;
      }
.instance-2_23030 .symbol-2_23141  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-2_23030 .vector-2_23142  {
        width: 16.15999984741211px;
height: 18.159997940063477px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.9200685024261475px;
top: 2.9200189113616943px;
      }
.instance-2_23031 .symbol-2_23093  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_23031  .stroke-wrapper-2_23093 {
        position: relative;
width: 10px;
height: 10px;
flex-shrink: 0;
      }
.instance-2_23031  .stroke-2_23093 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_23033 .symbol-2_23082  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 32px;
min-width: 32px;
border-radius: 999px 999px 999px 999px;
      }
.instance-2_23033 .paragraph-2_23083  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2_23034 .symbol-2_23137  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_23034 .vector-2_23138  {
        width: 27.35909652709961px;
height: 27.360008239746094px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.3204517364501953px;
top: 2.320362091064453px;
      }
.instance-2_23035 .symbol-2_23121  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: none;
border-radius: 100px 100px 100px 100px;
      }
.instance-2_23035 .instance-2_23122  {
        width: 20px;
height: 20px;
      }
.instance-2_23036 .symbol-2_23143  {
        width: 56px;
height: 56px;
position: relative;
flex-shrink: 0;
      }
.instance-2_23036 .vector-2_23144  {
        width: 37.33333206176758px;
height: 41.999996185302734px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 9.333333015441895px;
top: 6.999999523162842px;
      }
.instance-2_23037 .symbol-2_23093  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_23037  .stroke-wrapper-2_23093 {
        position: relative;
width: 16px;
height: 16px;
flex-shrink: 0;
      }
.instance-2_23037  .stroke-2_23093 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_23042 .symbol-2_23139  {
        width: 14px;
height: 14px;
position: relative;
flex-shrink: 0;
      }
.instance-2_23042 .vector-2_23140  {
        width: 9.636667251586914px;
height: 10.80333423614502px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.1816253662109375px;
top: 1.59832763671875px;
      }
.instance-2_23044 .symbol-2_23089  {
        width: 14px;
height: 14px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_23045 .symbol-2_23141  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_23045 .vector-2_23142  {
        width: 13.466796875px;
height: 15.133331298828125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.2667236328125px;
top: 2.433349132537842px;
      }
.instance-2_23046 .symbol-2_23137  {
        width: 14px;
height: 14px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_23046 .vector-2_23138  {
        width: 11.969603538513184px;
height: 11.970002174377441px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.0151976346969604px;
top: 1.0151584148406982px;
      }
.instance-2_23047 .symbol-2_23093  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_23047  .stroke-wrapper-2_23093 {
        position: relative;
width: 8px;
height: 8px;
flex-shrink: 0;
      }
.instance-2_23047  .stroke-2_23093 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_23049 .symbol-2_23137  {
        width: 14px;
height: 14px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_23049 .vector-2_23138  {
        width: 11.969603538513184px;
height: 11.970002174377441px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.0151976346969604px;
top: 1.0151584148406982px;
      }
.instance-2_23051 .symbol-2_23093  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_23051  .stroke-wrapper-2_23093 {
        position: relative;
width: 8px;
height: 8px;
flex-shrink: 0;
      }
.instance-2_23051  .stroke-2_23093 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_23052 .symbol-2_23089  {
        width: 14px;
height: 14px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_23054 .symbol-2_23137  {
        width: 14px;
height: 14px;
position: absolute;
left: 24px;
top: 24px;
display: none;
      }
.instance-2_23054 .vector-2_23138  {
        width: 11.969603538513184px;
height: 11.970002174377441px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.0151976346969604px;
top: 1.0151584148406982px;
      }
.instance-2_23055 .symbol-2_23093  {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_23055  .stroke-wrapper-2_23093 {
        position: absolute;
left: 27px;
top: 27px;
width: 8px;
height: 8px;
      }
.instance-2_23055  .stroke-2_23093 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_23056 .symbol-2_23089  {
        width: 14px;
height: 14px;
position: absolute;
left: 24px;
top: -2px;
border-radius: 9999px 9999px 9999px 9999px;
      }
