
.symbol-2_27096 {
        
      }
.symbol-2_27097 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.stroke-wrapper-2_27097 {
        position: relative;
width: 16px;
height: 16px;
      }
.stroke-2_27097 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.symbol-2_27098 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 16px;
min-width: 16px;
max-height: 16px;
max-width: 16px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-2_27098 {
        position: relative;
width: 16px;
height: 16px;
display: flex;
max-width: 16px;
max-height: 16px;
      }
.stroke-2_27098 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.paragraph-2_27099 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_27100 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.stroke-wrapper-2_27100 {
        position: relative;
width: 24px;
height: 24px;
      }
.stroke-2_27100 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27101 {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_27102 {
        display: none;
width: 6px;
height: 6px;
      }
.instance-2_27103 {
        display: none;
width: 10px;
height: 10px;
      }
.symbol-2_27104 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 24px;
min-width: 24px;
max-height: 24px;
max-width: 24px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-2_27104 {
        position: relative;
width: 24px;
height: 24px;
display: flex;
max-width: 24px;
max-height: 24px;
      }
.stroke-2_27104 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27105 {
        display: none;
width: 10px;
height: 10px;
      }
.paragraph-2_27106 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_27107 {
        display: none;
width: 6px;
height: 6px;
      }
.instance-2_27108 {
        display: none;
width: 10px;
height: 10px;
      }
.symbol-2_27109 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.stroke-wrapper-2_27109 {
        position: relative;
width: 32px;
height: 32px;
      }
.stroke-2_27109 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27110 {
        display: none;
width: 12px;
height: 12px;
      }
.instance-2_27111 {
        display: none;
width: 8px;
height: 8px;
      }
.instance-2_27112 {
        display: none;
width: 12px;
height: 12px;
      }
.symbol-2_27113 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 32px;
min-width: 32px;
max-height: 32px;
max-width: 32px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-2_27113 {
        position: relative;
width: 32px;
height: 32px;
display: flex;
max-width: 32px;
max-height: 32px;
      }
.stroke-2_27113 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27114 {
        display: none;
width: 12px;
height: 12px;
      }
.paragraph-2_27115 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_27116 {
        display: none;
width: 8px;
height: 8px;
      }
.instance-2_27117 {
        display: none;
width: 12px;
height: 12px;
      }
.symbol-2_27118 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.stroke-wrapper-2_27118 {
        position: relative;
width: 40px;
height: 40px;
      }
.stroke-2_27118 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27119 {
        display: none;
width: 16px;
height: 16px;
      }
.instance-2_27120 {
        display: none;
width: 16px;
height: 16px;
      }
.instance-2_27121 {
        display: none;
width: 10px;
height: 10px;
      }
.symbol-2_27122 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 40px;
min-width: 40px;
max-height: 40px;
max-width: 40px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-2_27122 {
        position: relative;
width: 40px;
height: 40px;
display: flex;
max-width: 40px;
max-height: 40px;
      }
.stroke-2_27122 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27123 {
        display: none;
width: 16px;
height: 16px;
      }
.paragraph-2_27124 {
        text-align: center;
width: 40px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_27125 {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_27126 {
        display: none;
width: 16px;
height: 16px;
      }
.symbol-2_27127 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
opacity: 0.9599999785423279;
      }
.stroke-wrapper-2_27127 {
        position: relative;
width: 96px;
height: 96px;
      }
.stroke-2_27127 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
opacity: 0.9599999785423279;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27128 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-2_27129 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-2_27130 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-2_27131 {
        display: none;
width: 16px;
height: 16px;
      }
.symbol-2_27132 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 96px;
min-width: 96px;
max-height: 96px;
max-width: 96px;
border-radius: 9999px 9999px 9999px 9999px;
opacity: 0.9599999785423279;
      }
.stroke-wrapper-2_27132 {
        position: relative;
width: 96px;
height: 96px;
display: flex;
max-width: 96px;
max-height: 96px;
      }
.stroke-2_27132 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
opacity: 0.9599999785423279;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27133 {
        display: none;
width: 32px;
height: 32px;
      }
.paragraph-2_27134 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_27135 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-2_27136 {
        display: none;
width: 16px;
height: 16px;
      }
.instance-2_27137 {
        display: none;
width: 32px;
height: 32px;
      }
.symbol-2_27138 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 16px;
min-width: 16px;
max-height: 16px;
max-width: 16px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-2_27138 {
        position: relative;
width: 16px;
height: 16px;
display: flex;
max-width: 16px;
max-height: 16px;
      }
.stroke-2_27138 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27139 {
        width: 12px;
height: 12px;
      }
.symbol-2_27140 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 24px;
min-width: 24px;
max-height: 24px;
max-width: 24px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-2_27140 {
        position: relative;
width: 24px;
height: 24px;
display: flex;
max-width: 24px;
max-height: 24px;
      }
.stroke-2_27140 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27141 {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_27142 {
        width: 16px;
height: 16px;
      }
.instance-2_27143 {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_27144 {
        display: none;
width: 6px;
height: 6px;
      }
.symbol-2_27145 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 32px;
min-width: 32px;
max-height: 32px;
max-width: 32px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-2_27145 {
        position: relative;
width: 32px;
height: 32px;
display: flex;
max-width: 32px;
max-height: 32px;
      }
.stroke-2_27145 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27146 {
        display: none;
width: 12px;
height: 12px;
      }
.instance-2_27147 {
        width: 20px;
height: 20px;
      }
.instance-2_27148 {
        display: none;
width: 12px;
height: 12px;
      }
.instance-2_27149 {
        display: none;
width: 8px;
height: 8px;
      }
.symbol-2_27150 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 40px;
min-width: 40px;
max-height: 40px;
max-width: 40px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-2_27150 {
        position: relative;
width: 40px;
height: 40px;
display: flex;
max-width: 40px;
max-height: 40px;
      }
.stroke-2_27150 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27151 {
        display: none;
width: 16px;
height: 16px;
      }
.instance-2_27152 {
        display: none;
width: 16px;
height: 16px;
      }
.instance-2_27153 {
        width: 24px;
height: 24px;
      }
.instance-2_27154 {
        display: none;
width: 10px;
height: 10px;
      }
.symbol-2_27155 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 96px;
min-width: 96px;
max-height: 96px;
max-width: 96px;
border-radius: 9999px 9999px 9999px 9999px;
opacity: 0.9599999785423279;
      }
.stroke-wrapper-2_27155 {
        position: relative;
width: 96px;
height: 96px;
display: flex;
max-width: 96px;
max-height: 96px;
      }
.stroke-2_27155 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
opacity: 0.9599999785423279;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27156 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-2_27157 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-2_27158 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-2_27159 {
        width: 56px;
height: 56px;
      }
.instance-2_27160 {
        display: none;
width: 16px;
height: 16px;
      }
.symbol-2_27161 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.stroke-wrapper-2_27161 {
        position: relative;
width: 20px;
height: 20px;
      }
.stroke-2_27161 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.symbol-2_27162 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 20px;
min-width: 20px;
max-height: 20px;
max-width: 20px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-2_27162 {
        position: relative;
width: 20px;
height: 20px;
display: flex;
max-width: 20px;
max-height: 20px;
      }
.stroke-2_27162 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.paragraph-2_27163 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_27164 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 20px;
min-width: 20px;
max-height: 20px;
max-width: 20px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-2_27164 {
        position: relative;
width: 20px;
height: 20px;
display: flex;
max-width: 20px;
max-height: 20px;
      }
.stroke-2_27164 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27165 {
        width: 14px;
height: 14px;
      }
.symbol-2_27166 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 36px;
min-width: 36px;
max-height: 36px;
max-width: 36px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-2_27166 {
        position: relative;
width: 36px;
height: 36px;
display: flex;
max-width: 36px;
max-height: 36px;
      }
.stroke-2_27166 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27167 {
        display: none;
width: 14px;
height: 14px;
      }
.instance-2_27168 {
        width: 20px;
height: 20px;
      }
.instance-2_27169 {
        display: none;
width: 14px;
height: 14px;
      }
.instance-2_27170 {
        display: none;
width: 8px;
height: 8px;
      }
.symbol-2_27171 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 36px;
min-width: 36px;
max-height: 36px;
max-width: 36px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-2_27171 {
        position: relative;
width: 36px;
height: 36px;
display: flex;
max-width: 36px;
max-height: 36px;
      }
.stroke-2_27171 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27172 {
        display: none;
width: 14px;
height: 14px;
      }
.paragraph-2_27173 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_27174 {
        display: none;
width: 8px;
height: 8px;
      }
.instance-2_27175 {
        display: none;
width: 14px;
height: 14px;
      }
.symbol-2_27176 {
        width: 100%;
height: 100%;
position: relative;
min-height: 36px;
min-width: 36px;
max-height: 36px;
max-width: 36px;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.stroke-wrapper-2_27176 {
        position: relative;
width: 36px;
height: 36px;
max-width: 36px;
max-height: 36px;
      }
.stroke-2_27176 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27177 {
        display: none;
width: 14px;
height: 14px;
      }
.instance-2_27178 {
        display: none;
width: 8px;
height: 8px;
      }
.instance-2_27179 {
        display: none;
width: 14px;
height: 14px;
      }
.component-2_27096 {
        width: fit-content;
height: fit-content;
      }


.instance-2_27101 .symbol-2_23137  {
        width: 10px;
height: 10px;
position: absolute;
left: 15px;
top: 15px;
display: none;
      }
.instance-2_27101 .vector-2_23138  {
        width: 8.54971694946289px;
height: 8.550003051757812px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.725141167640686px;
top: 0.7251131534576416px;
      }
.instance-2_27105 .symbol-2_23137  {
        width: 10px;
height: 10px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_27105 .vector-2_23138  {
        width: 8.54971694946289px;
height: 8.550003051757812px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.725141167640686px;
top: 0.7251131534576416px;
      }
.instance-2_27110 .symbol-2_23137  {
        width: 12px;
height: 12px;
position: absolute;
left: 21px;
top: 21px;
display: none;
      }
.instance-2_27110 .vector-2_23138  {
        width: 10.259660720825195px;
height: 10.260002136230469px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.8701694011688232px;
top: 0.8701357841491699px;
      }
.instance-2_27114 .symbol-2_23137  {
        width: 12px;
height: 12px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_27114 .vector-2_23138  {
        width: 10.259660720825195px;
height: 10.260002136230469px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.8701694011688232px;
top: 0.8701357841491699px;
      }
.instance-2_27120 .symbol-2_23137  {
        width: 16px;
height: 16px;
position: absolute;
left: 26.0001220703125px;
top: 26px;
display: none;
      }
.instance-2_27120 .vector-2_23138  {
        width: 13.6796875px;
height: 13.67999267578125px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1602258682250977px;
top: 1.1601810455322266px;
      }
.instance-2_27123 .symbol-2_23137  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_27123 .vector-2_23138  {
        width: 13.6796875px;
height: 13.67999267578125px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1602258682250977px;
top: 1.1601810455322266px;
      }
.instance-2_27128 .symbol-2_23121  {
        width: 32px;
height: 32px;
position: absolute;
left: 64px;
top: 64px;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 6px 6px 6px 6px;
border-radius: 100px 100px 100px 100px;
      }
.instance-2_27128 .instance-2_23122  {
        width: 20px;
height: 20px;
      }
.instance-2_27130 .symbol-2_23137  {
        width: 32px;
height: 32px;
position: absolute;
left: 64px;
top: 64px;
display: none;
      }
.instance-2_27130 .vector-2_23138  {
        width: 27.35909652709961px;
height: 27.360008239746094px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.3204517364501953px;
top: 2.320362091064453px;
      }
.instance-2_27133 .symbol-2_23137  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_27133 .vector-2_23138  {
        width: 27.35909652709961px;
height: 27.360008239746094px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.3204517364501953px;
top: 2.320362091064453px;
      }
.instance-2_27135 .symbol-2_23121  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: none;
border-radius: 100px 100px 100px 100px;
      }
.instance-2_27135 .instance-2_23122  {
        width: 20px;
height: 20px;
      }
.instance-2_27139 .symbol-2_23139  {
        width: 12px;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27139 .vector-2_23140  {
        width: 8.260000228881836px;
height: 9.260000228881836px;
background-image: url("/assets/Vector4.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.869964599609375px;
top: 1.3699951171875px;
      }
.instance-2_27142 .symbol-2_23139  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27142 .vector-2_23140  {
        width: 11.013671875px;
height: 12.346668243408203px;
background-image: url("/assets/Vector4.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4932861328125px;
top: 1.82666015625px;
      }
.instance-2_27143 .symbol-2_23137  {
        width: 10px;
height: 10px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_27143 .vector-2_23138  {
        width: 8.54971694946289px;
height: 8.550003051757812px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.725141167640686px;
top: 0.7251131534576416px;
      }
.instance-2_27147 .symbol-2_23141  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27147 .vector-2_23142  {
        width: 13.466796875px;
height: 15.133331298828125px;
background-image: url("/assets/Vector3.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.2667236328125px;
top: 2.433349132537842px;
      }
.instance-2_27148 .symbol-2_23137  {
        width: 12px;
height: 12px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_27148 .vector-2_23138  {
        width: 10.259660720825195px;
height: 10.260002136230469px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.8701694011688232px;
top: 0.8701357841491699px;
      }
.instance-2_27152 .symbol-2_23137  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_27152 .vector-2_23138  {
        width: 13.6796875px;
height: 13.67999267578125px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1602258682250977px;
top: 1.1601810455322266px;
      }
.instance-2_27153 .symbol-2_23141  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27153 .vector-2_23142  {
        width: 16.15999984741211px;
height: 18.159997940063477px;
background-image: url("/assets/Vector3.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.9200685024261475px;
top: 2.9200189113616943px;
      }
.instance-2_27157 .symbol-2_23137  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_27157 .vector-2_23138  {
        width: 27.35909652709961px;
height: 27.360008239746094px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.3204517364501953px;
top: 2.320362091064453px;
      }
.instance-2_27158 .symbol-2_23121  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: none;
border-radius: 100px 100px 100px 100px;
      }
.instance-2_27158 .instance-2_23122  {
        width: 20px;
height: 20px;
      }
.instance-2_27159 .symbol-2_23143  {
        width: 56px;
height: 56px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27159 .vector-2_23144  {
        width: 37.33333206176758px;
height: 41.999996185302734px;
background-image: url("/assets/Vector2.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 9.333333015441895px;
top: 6.999999523162842px;
      }
.instance-2_27165 .symbol-2_23139  {
        width: 14px;
height: 14px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27165 .vector-2_23140  {
        width: 9.636667251586914px;
height: 10.80333423614502px;
background-image: url("/assets/Vector4.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.1816253662109375px;
top: 1.59832763671875px;
      }
.instance-2_27168 .symbol-2_23141  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27168 .vector-2_23142  {
        width: 13.466796875px;
height: 15.133331298828125px;
background-image: url("/assets/Vector3.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.2667236328125px;
top: 2.433349132537842px;
      }
.instance-2_27169 .symbol-2_23137  {
        width: 14px;
height: 14px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_27169 .vector-2_23138  {
        width: 11.969603538513184px;
height: 11.970002174377441px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.0151976346969604px;
top: 1.0151584148406982px;
      }
.instance-2_27172 .symbol-2_23137  {
        width: 14px;
height: 14px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_27172 .vector-2_23138  {
        width: 11.969603538513184px;
height: 11.970002174377441px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.0151976346969604px;
top: 1.0151584148406982px;
      }
.instance-2_27177 .symbol-2_23137  {
        width: 14px;
height: 14px;
position: absolute;
left: 24px;
top: 24px;
display: none;
      }
.instance-2_27177 .vector-2_23138  {
        width: 11.969603538513184px;
height: 11.970002174377441px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.0151976346969604px;
top: 1.0151584148406982px;
      }
.instance-2_27129 .symbol-2_24630  {
        width: 32px;
height: 32px;
position: absolute;
left: 64px;
top: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 32px;
min-width: 32px;
border-radius: 999px 999px 999px 999px;
      }
.instance-2_27137 .symbol-2_24630  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 32px;
min-width: 32px;
border-radius: 999px 999px 999px 999px;
      }
.instance-2_27156 .symbol-2_24630  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 32px;
min-width: 32px;
border-radius: 999px 999px 999px 999px;
      }
.instance-2_27129 .paragraph-2_24631  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2_27137 .paragraph-2_24631  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2_27156 .paragraph-2_24631  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2_27103 .symbol-2_24637  {
        width: 10px;
height: 10px;
position: absolute;
left: 15px;
top: -1px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_27108 .symbol-2_24637  {
        width: 10px;
height: 10px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_27112 .symbol-2_24637  {
        width: 12px;
height: 12px;
position: absolute;
left: 21px;
top: -1px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_27117 .symbol-2_24637  {
        width: 12px;
height: 12px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_27119 .symbol-2_24637  {
        width: 16px;
height: 16px;
position: absolute;
left: 26px;
top: -2px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_27126 .symbol-2_24637  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_27141 .symbol-2_24637  {
        width: 10px;
height: 10px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_27146 .symbol-2_24637  {
        width: 12px;
height: 12px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_27151 .symbol-2_24637  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_27167 .symbol-2_24637  {
        width: 14px;
height: 14px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_27175 .symbol-2_24637  {
        width: 14px;
height: 14px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_27179 .symbol-2_24637  {
        width: 14px;
height: 14px;
position: absolute;
left: 24px;
top: -2px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_27102 .symbol-2_24641  {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_27102  .stroke-wrapper-2_24641 {
        position: absolute;
left: 17px;
top: 17px;
width: 6px;
height: 6px;
      }
.instance-2_27102  .stroke-2_24641 {
        position: absolute;
inset: -1px -1px -1px -1px;
border-radius: 10000px 10000px 10000px 10000px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27107 .symbol-2_24641  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_27107  .stroke-wrapper-2_24641 {
        position: relative;
width: 6px;
height: 6px;
flex-shrink: 0;
      }
.instance-2_27107  .stroke-2_24641 {
        position: absolute;
inset: -1px -1px -1px -1px;
border-radius: 10000px 10000px 10000px 10000px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27111 .symbol-2_24641  {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_27111  .stroke-wrapper-2_24641 {
        position: absolute;
left: 23px;
top: 23px;
width: 8px;
height: 8px;
      }
.instance-2_27111  .stroke-2_24641 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27116 .symbol-2_24641  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_27116  .stroke-wrapper-2_24641 {
        position: relative;
width: 8px;
height: 8px;
flex-shrink: 0;
      }
.instance-2_27116  .stroke-2_24641 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27121 .symbol-2_24641  {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_27121  .stroke-wrapper-2_24641 {
        position: absolute;
left: 29px;
top: 29px;
width: 10px;
height: 10px;
      }
.instance-2_27121  .stroke-2_24641 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27125 .symbol-2_24641  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_27125  .stroke-wrapper-2_24641 {
        position: relative;
width: 10px;
height: 10px;
flex-shrink: 0;
      }
.instance-2_27125  .stroke-2_24641 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27131 .symbol-2_24641  {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_27131  .stroke-wrapper-2_24641 {
        position: absolute;
left: 74px;
top: 74px;
width: 16px;
height: 16px;
      }
.instance-2_27131  .stroke-2_24641 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27136 .symbol-2_24641  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_27136  .stroke-wrapper-2_24641 {
        position: relative;
width: 16px;
height: 16px;
flex-shrink: 0;
      }
.instance-2_27136  .stroke-2_24641 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27144 .symbol-2_24641  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_27144  .stroke-wrapper-2_24641 {
        position: relative;
width: 6px;
height: 6px;
flex-shrink: 0;
      }
.instance-2_27144  .stroke-2_24641 {
        position: absolute;
inset: -1px -1px -1px -1px;
border-radius: 10000px 10000px 10000px 10000px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27149 .symbol-2_24641  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_27149  .stroke-wrapper-2_24641 {
        position: relative;
width: 8px;
height: 8px;
flex-shrink: 0;
      }
.instance-2_27149  .stroke-2_24641 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27154 .symbol-2_24641  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_27154  .stroke-wrapper-2_24641 {
        position: relative;
width: 10px;
height: 10px;
flex-shrink: 0;
      }
.instance-2_27154  .stroke-2_24641 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27160 .symbol-2_24641  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_27160  .stroke-wrapper-2_24641 {
        position: relative;
width: 16px;
height: 16px;
flex-shrink: 0;
      }
.instance-2_27160  .stroke-2_24641 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27170 .symbol-2_24641  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_27170  .stroke-wrapper-2_24641 {
        position: relative;
width: 8px;
height: 8px;
flex-shrink: 0;
      }
.instance-2_27170  .stroke-2_24641 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27174 .symbol-2_24641  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_27174  .stroke-wrapper-2_24641 {
        position: relative;
width: 8px;
height: 8px;
flex-shrink: 0;
      }
.instance-2_27174  .stroke-2_24641 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27178 .symbol-2_24641  {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_27178  .stroke-wrapper-2_24641 {
        position: absolute;
left: 27px;
top: 27px;
width: 8px;
height: 8px;
      }
.instance-2_27178  .stroke-2_24641 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
