
.symbol-2_18959 {
        
      }
.symbol-2_18960 {
        width: 6px;
height: 6px;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.symbol-2_18961 {
        width: 6px;
height: 6px;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.symbol-2_18962 {
        width: 6px;
height: 6px;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.symbol-2_18963 {
        width: 6px;
height: 6px;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.component-2_18959 {
        width: fit-content;
height: fit-content;
      }

