
.symbol-50_44337 {
        
      }
.symbol-50_44338 {
        width: 300px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 5px 12px 5px 12px;
min-height: 28px;
border-radius: 10px 10px 10px 10px;
      }
.paragraph-50_44339 {
        width: 100%;
height: 17px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.symbol-50_44340 {
        width: 300px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 5px 12px 5px 12px;
min-height: 28px;
border-radius: 10px 10px 10px 10px;
      }
.paragraph-50_44341 {
        width: 100%;
height: 18px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.symbol-50_44342 {
        width: 300px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 4px 10px 4px 10px;
min-height: 26px;
border-radius: 10px 10px 10px 10px;
      }
.paragraph-50_44343 {
        width: 100%;
height: 16px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.symbol-50_44344 {
        width: 300px;
height: 28px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 5px 12px 5px 12px;
min-height: 28px;
border-radius: 10px 10px 10px 10px;
      }
.rectangle-50_44345 {
        width: 2px;
height: 20px;
position: absolute;
left: 10px;
top: 3px;
border-radius: 1px 1px 1px 1px;
      }
.paragraph-50_44346 {
        width: 100%;
height: 17px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.symbol-50_44347 {
        width: 300px;
height: 28px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 5px 12px 5px 12px;
min-height: 28px;
border-radius: 10px 10px 10px 10px;
      }
.rectangle-50_44348 {
        width: 2px;
height: 20px;
position: absolute;
left: 10px;
top: 3px;
border-radius: 1px 1px 1px 1px;
      }
.paragraph-50_44349 {
        width: 100%;
height: 18px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.symbol-50_44350 {
        width: 300px;
height: 26px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 4px 10px 4px 10px;
min-height: 26px;
border-radius: 10px 10px 10px 10px;
      }
.rectangle-50_44351 {
        width: 2px;
height: 18px;
position: absolute;
left: 7px;
top: 3px;
border-radius: 1px 1px 1px 1px;
      }
.paragraph-50_44352 {
        width: 100%;
height: 16px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.symbol-50_44353 {
        width: 300px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 5px 12px 5px 12px;
min-height: 28px;
border-radius: 10px 10px 10px 10px;
      }
.paragraph-50_44354 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.rectangle-50_44355 {
        width: 2px;
height: 20px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
      }
.symbol-50_44356 {
        width: 300px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 5px 12px 5px 12px;
min-height: 28px;
border-radius: 10px 10px 10px 10px;
      }
.paragraph-50_44357 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.rectangle-50_44358 {
        width: 2px;
height: 20px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
      }
.symbol-50_44359 {
        width: 300px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 4px 10px 4px 10px;
min-height: 26px;
border-radius: 10px 10px 10px 10px;
      }
.paragraph-50_44360 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.rectangle-50_44361 {
        width: 2px;
height: 18px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
      }
.symbol-50_44362 {
        width: 300px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 5px 12px 5px 12px;
min-height: 28px;
border-radius: 10px 10px 10px 10px;
      }
.paragraph-50_44363 {
        width: 100%;
height: 17px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.symbol-50_44364 {
        width: 300px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 5px 12px 5px 12px;
min-height: 28px;
border-radius: 10px 10px 10px 10px;
      }
.paragraph-50_44365 {
        width: 100%;
height: 18px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.symbol-50_44366 {
        width: 300px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 4px 10px 4px 10px;
min-height: 26px;
border-radius: 10px 10px 10px 10px;
      }
.paragraph-50_44367 {
        width: 100%;
height: 16px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.component-50_44337 {
        width: fit-content;
height: fit-content;
      }

