
.symbol-2_23987 {
        
      }
.symbol-2_23988 {
        width: 300px;
height: 28px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 12px 4px 8px;
min-height: 28px;
border-radius: 10px 10px 10px 10px;
      }
.paragraph-2_23989 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_23990 {
        width: 300px;
height: 28px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 12px 4px 8px;
min-height: 28px;
border-radius: 10px 10px 10px 10px;
      }
.paragraph-2_23991 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_23992 {
        width: 300px;
height: 28px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 10px 4px 6px;
min-height: 28px;
border-radius: 10px 10px 10px 10px;
      }
.paragraph-2_23993 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_23994 {
        width: 300px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 12px 4px 8px;
min-height: 28px;
border-radius: 10px 10px 10px 10px;
      }
.rectangle-2_23995 {
        width: 2px;
height: 20px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
      }
.paragraph-2_23996 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_23997 {
        width: 300px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 12px 4px 8px;
min-height: 28px;
border-radius: 10px 10px 10px 10px;
      }
.rectangle-2_23998 {
        width: 2px;
height: 20px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
      }
.paragraph-2_23999 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_24000 {
        width: 300px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 10px 4px 6px;
min-height: 28px;
border-radius: 10px 10px 10px 10px;
      }
.rectangle-2_24001 {
        width: 2px;
height: 20px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
      }
.paragraph-2_24002 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_24003 {
        width: 300px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 12px 4px 8px;
min-height: 28px;
border-radius: 10px 10px 10px 10px;
      }
.paragraph-2_24004 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.rectangle-2_24005 {
        width: 2px;
height: 20px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
      }
.symbol-2_24006 {
        width: 300px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 12px 4px 8px;
min-height: 28px;
border-radius: 10px 10px 10px 10px;
      }
.paragraph-2_24007 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.rectangle-2_24008 {
        width: 2px;
height: 20px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
      }
.symbol-2_24009 {
        width: 300px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 10px 4px 6px;
min-height: 28px;
border-radius: 10px 10px 10px 10px;
      }
.paragraph-2_24010 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.rectangle-2_24011 {
        width: 2px;
height: 20px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
      }
.symbol-2_24012 {
        width: 300px;
height: 28px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 12px 4px 8px;
min-height: 28px;
border-radius: 10px 10px 10px 10px;
      }
.paragraph-2_24013 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_24014 {
        width: 300px;
height: 28px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 12px 4px 8px;
min-height: 28px;
border-radius: 10px 10px 10px 10px;
      }
.paragraph-2_24015 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_24016 {
        width: 300px;
height: 28px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 10px 4px 6px;
min-height: 28px;
border-radius: 10px 10px 10px 10px;
      }
.paragraph-2_24017 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.component-2_23987 {
        width: fit-content;
height: fit-content;
      }

