
.symbol-2_24239 {
        
      }
.symbol-2_24240 {
        width: 300px;
height: 28px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 6px;
min-height: 28px;
border-radius: 10px 10px 10px 10px;
      }
.paragraph-2_24241 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_24242 {
        width: 300px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 6px;
min-height: 28px;
border-radius: 10px 10px 10px 10px;
      }
.rectangle-2_24243 {
        width: 2px;
height: 20px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
      }
.paragraph-2_24244 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_24245 {
        width: 300px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 6px;
min-height: 28px;
border-radius: 10px 10px 10px 10px;
      }
.paragraph-2_24246 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.rectangle-2_24247 {
        width: 2px;
height: 20px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
      }
.symbol-2_24248 {
        width: 300px;
height: 28px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 6px;
min-height: 28px;
border-radius: 10px 10px 10px 10px;
      }
.paragraph-2_24249 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.component-2_24239 {
        width: fit-content;
height: fit-content;
      }

