
.symbol-2_19061 {
        
      }
.symbol-2_19062 {
        width: 24px;
height: 24px;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.frame-2_19063 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 4px 4px 4px 4px;
      }
.stroke-wrapper-2_19063 {
        position: relative;
width: 20px;
height: 20px;
flex-shrink: 0;
      }
.stroke-2_19063 {
        position: absolute;
inset: 0px;
border-radius: 4px 4px 4px 4px;
pointer-events: none;
border-width: 1.399999976158142px 1.399999976158142px 1.399999976158142px 1.399999976158142px;
border-style: solid;
box-sizing: border-box;
      }
.symbol-2_19064 {
        width: 24px;
height: 24px;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.frame-2_19065 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 4px 4px 4px 4px;
      }
.stroke-wrapper-2_19065 {
        position: relative;
width: 20px;
height: 20px;
flex-shrink: 0;
      }
.stroke-2_19065 {
        position: absolute;
inset: 0px;
border-radius: 4px 4px 4px 4px;
pointer-events: none;
border-width: 1.399999976158142px 1.399999976158142px 1.399999976158142px 1.399999976158142px;
border-style: solid;
box-sizing: border-box;
      }
.symbol-2_19066 {
        width: 24px;
height: 24px;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.frame-2_19067 {
        width: 20px;
height: 20px;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 4px 4px 4px 4px;
      }
.vector-2_19068 {
        width: 12px;
height: 9px;
background-image: url("/assets/Vector6.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 5px;
      }
.symbol-2_19069 {
        width: 24px;
height: 24px;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.frame-2_19070 {
        width: 20px;
height: 20px;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 4px 4px 4px 4px;
      }
.vector-2_19071 {
        width: 12px;
height: 9px;
background-image: url("/assets/Vector5.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 5px;
      }
.symbol-2_19072 {
        width: 24px;
height: 24px;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.frame-2_19073 {
        width: 20px;
height: 20px;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 4px 4px 4px 4px;
      }
.vector-2_19074 {
        width: 12.346992492675781px;
height: 1.67999267578125px;
background-image: url("/assets/Vector4.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 9px;
      }
.symbol-2_19075 {
        width: 24px;
height: 24px;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.frame-2_19076 {
        width: 20px;
height: 20px;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 4px 4px 4px 4px;
      }
.vector-2_19077 {
        width: 12.346992492675781px;
height: 1.67999267578125px;
background-image: url("/assets/Vector3.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 9px;
      }
.component-2_19061 {
        width: fit-content;
height: fit-content;
      }

