.fill-lightbgsurface1-2_2272 {
        background-color: rgba(255, 254.74501037597656, 254.74501037597656, 1)
      }
.fill-light-themecommondark-2_2246-paragraph {
        color: rgba(30.8125, 30.8125, 30.8125, 1)
      }
.fill-lightfgdefault-2_2232 {
        background-color: rgba(14, 17, 23, 1)
      }
.fill-lightfgdefault-2_2230 {
        background-color: rgba(14, 17, 23, 1)
      }
.fill-lightbgsurface1-2_2231 {
        background-color: rgba(255, 254.74501037597656, 254.74501037597656, 1)
      }
