
.symbol-4_31835 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-4_31836 {
        width: 16.7998046875px;
height: 14.855560302734375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.5999755859375px;
top: 3.2666015625px;
      }
.component-4_31835 {
        width: fit-content;
height: fit-content;
      }

