
.symbol-355_5747 {
        width: 28px;
height: 28px;
position: relative;
      }
.vector-355_5748 {
        width: 22.951171875px;
height: 22.981666564941406px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.548583984375px;
top: 2.5px;
      }
.component-355_5747 {
        width: fit-content;
height: fit-content;
      }

