
.symbol-2284_56851 {
        width: 24px;
height: 24px;
position: relative;
      }
.vector-2284_56852 {
        width: 18px;
height: 20px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 2px;
      }
.component-2284_56851 {
        width: fit-content;
height: fit-content;
      }

