
.symbol-4_31833 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-4_31834 {
        width: 15.1337890625px;
height: 16.800003051757812px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.433349609375px;
top: 1.60009765625px;
      }
.component-4_31833 {
        width: fit-content;
height: fit-content;
      }

