
.symbol-2_23057 {
        
      }
.symbol-2_23058 {
        width: auto;
height: 16px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 16px;
min-width: 16px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_23059 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_23060 {
        width: auto;
height: 16px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 16px;
min-width: 16px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_23061 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_23062 {
        width: auto;
height: 16px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 16px;
min-width: 16px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_23063 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_23064 {
        width: auto;
height: 16px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 16px;
min-width: 16px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_23065 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_23066 {
        width: auto;
height: 16px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 16px;
min-width: 16px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_23067 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_23068 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 24px;
min-width: 24px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_23069 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_23070 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 24px;
min-width: 24px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_23071 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_23072 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 24px;
min-width: 24px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_23073 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_23074 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 24px;
min-width: 24px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_23075 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_23076 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 24px;
min-width: 24px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_23077 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_23078 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 32px;
min-width: 32px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_23079 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_23080 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 32px;
min-width: 32px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_23081 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_23082 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 32px;
min-width: 32px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_23083 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_23084 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 32px;
min-width: 32px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_23085 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_23086 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 32px;
min-width: 32px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_23087 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_23088 {
        width: 6px;
height: 6px;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.symbol-2_23089 {
        width: 6px;
height: 6px;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.symbol-2_23090 {
        width: 6px;
height: 6px;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.symbol-2_23091 {
        width: 6px;
height: 6px;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.symbol-2_23092 {
        width: 6px;
height: 6px;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.symbol-2_23093 {
        width: 6px;
height: 6px;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.symbol-2_23094 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 32px;
min-width: 32px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_23095 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_23096 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 24px;
min-width: 24px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_23097 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_23098 {
        width: auto;
height: 16px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 16px;
min-width: 16px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_23099 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_23100 {
        width: auto;
height: 16px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 16px;
min-width: 16px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_23101 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_23102 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 24px;
min-width: 24px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_23103 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_23104 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 32px;
min-width: 32px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_23105 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_23106 {
        width: 6px;
height: 6px;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.symbol-2_23107 {
        width: auto;
height: 20px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 20px;
min-width: 20px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_23108 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_23109 {
        width: auto;
height: 20px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 20px;
min-width: 20px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_23110 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_23111 {
        width: auto;
height: 20px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 20px;
min-width: 20px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_23112 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_23113 {
        width: auto;
height: 20px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 20px;
min-width: 20px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_23114 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_23115 {
        width: auto;
height: 20px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 20px;
min-width: 20px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_23116 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_23117 {
        width: auto;
height: 20px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 20px;
min-width: 20px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_23118 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_23119 {
        width: auto;
height: 20px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 20px;
min-width: 20px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_23120 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.component-2_23057 {
        width: fit-content;
height: fit-content;
      }

