
.symbol-2_22019 {
        
      }
.symbol-2_22020 {
        width: auto;
height: 18px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
min-width: 18px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_22021 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_22022 {
        width: auto;
height: 18px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
min-width: 18px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_22023 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_22024 {
        width: auto;
height: 18px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
min-width: 18px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_22025 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_22026 {
        width: auto;
height: 18px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
min-width: 18px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_22027 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_22028 {
        width: auto;
height: 18px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
min-width: 18px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_22029 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_22030 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-width: 24px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_22031 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_22032 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-width: 24px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_22033 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_22034 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-width: 24px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_22035 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_22036 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-width: 24px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_22037 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_22038 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-width: 24px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_22039 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.component-2_22019 {
        width: fit-content;
height: fit-content;
      }

