
.symbol-2_24605 {
        
      }
.symbol-2_24606 {
        width: auto;
height: 16px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 16px;
min-width: 16px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_24607 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_24608 {
        width: auto;
height: 16px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 16px;
min-width: 16px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_24609 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_24610 {
        width: auto;
height: 16px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 16px;
min-width: 16px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_24611 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_24612 {
        width: auto;
height: 16px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 16px;
min-width: 16px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_24613 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_24614 {
        width: auto;
height: 16px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 16px;
min-width: 16px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_24615 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_24616 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 24px;
min-width: 24px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_24617 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_24618 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 24px;
min-width: 24px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_24619 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_24620 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 24px;
min-width: 24px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_24621 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_24622 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 24px;
min-width: 24px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_24623 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_24624 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 24px;
min-width: 24px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_24625 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_24626 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 32px;
min-width: 32px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_24627 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_24628 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 32px;
min-width: 32px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_24629 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_24630 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 32px;
min-width: 32px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_24631 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_24632 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 32px;
min-width: 32px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_24633 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_24634 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 32px;
min-width: 32px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_24635 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_24636 {
        width: 6px;
height: 6px;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.symbol-2_24637 {
        width: 6px;
height: 6px;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.symbol-2_24638 {
        width: 6px;
height: 6px;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.symbol-2_24639 {
        width: 6px;
height: 6px;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.symbol-2_24640 {
        width: 6px;
height: 6px;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.symbol-2_24641 {
        width: 6px;
height: 6px;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.symbol-2_24642 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 32px;
min-width: 32px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_24643 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_24644 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 24px;
min-width: 24px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_24645 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_24646 {
        width: auto;
height: 16px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 16px;
min-width: 16px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_24647 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_24648 {
        width: auto;
height: 16px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 16px;
min-width: 16px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_24649 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_24650 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 24px;
min-width: 24px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_24651 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_24652 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 32px;
min-width: 32px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_24653 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_24654 {
        width: 6px;
height: 6px;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.symbol-2_24655 {
        width: auto;
height: 20px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 20px;
min-width: 20px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_24656 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_24657 {
        width: auto;
height: 20px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 20px;
min-width: 20px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_24658 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_24659 {
        width: auto;
height: 20px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 20px;
min-width: 20px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_24660 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_24661 {
        width: auto;
height: 20px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 20px;
min-width: 20px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_24662 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_24663 {
        width: auto;
height: 20px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 20px;
min-width: 20px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_24664 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_24665 {
        width: auto;
height: 20px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 20px;
min-width: 20px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_24666 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.symbol-2_24667 {
        width: auto;
height: 20px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 20px;
min-width: 20px;
border-radius: 999px 999px 999px 999px;
      }
.paragraph-2_24668 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.component-2_24605 {
        width: fit-content;
height: fit-content;
      }

