
.symbol-2_2226 {
        width: 2px;
height: 20px;
position: relative;
background-color: transparent;
      }
.rectangle-2_2227 {
        width: 2px;
height: 20px;
position: absolute;
left: 0px;
top: 0px;
border-radius: 1px 1px 1px 1px;
      }
.component-2_2226 {
        width: fit-content;
height: fit-content;
      }

