
.symbol-355_7618 {
        
      }
.symbol-355_7619 {
        width: 344px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
border-radius: 24px 24px 24px 24px;
      }
.frame-355_7620 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
      }
.frame-content-355_7620 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: flex-start;
justify-content: flex-start;
padding: 20px 20px 20px 20px;
width: 100%;
position: relative;
      }
.frame-355_7621 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-355_7621 {
        display: flex;
flex-direction: column;
gap: 10px;
align-items: flex-start;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.paragraph-355_7622 {
        width: 100%;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.paragraph-355_7623 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-355_7624 {
        width: 32px;
height: 32px;
      }
.instance-355_7625 {
        display: none;
width: 344px;
height: 150px;
      }
.instance-355_7626 {
        width: 344px;
height: 76px;
      }
.symbol-355_7627 {
        width: 344px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
border-radius: 24px 24px 24px 24px;
      }
.frame-355_7628 {
        width: 100%;
height: 248px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
      }
.frame-content-355_7628 {
        display: flex;
flex-direction: column;
gap: 20px;
align-items: center;
justify-content: flex-start;
padding: 52px 20px 20px 20px;
width: 100%;
position: relative;
      }
.instance-355_7629 {
        width: 212px;
height: 110px;
      }
.frame-355_7630 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
      }
.frame-content-355_7630 {
        display: flex;
flex-direction: column;
gap: 10px;
align-items: flex-start;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.paragraph-355_7631 {
        text-align: center;
width: 304px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.paragraph-355_7632 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-355_7633 {
        width: 32px;
height: 32px;
      }
.instance-355_7634 {
        width: 344px;
height: 76px;
      }
.symbol-355_7635 {
        width: 344px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
border-radius: 24px 24px 24px 24px;
      }
.frame-355_7636 {
        width: 100%;
height: 198px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
      }
.frame-content-355_7636 {
        display: flex;
flex-direction: column;
gap: 20px;
align-items: center;
justify-content: flex-start;
padding: 52px 20px 20px 20px;
width: 100%;
position: relative;
      }
.frame-355_7637 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 16px 16px 16px 16px;
border-radius: 16px 16px 16px 16px;
      }
.instance-355_7638 {
        width: 28px;
height: 28px;
      }
.frame-355_7639 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
      }
.frame-content-355_7639 {
        display: flex;
flex-direction: column;
gap: 10px;
align-items: flex-start;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.paragraph-355_7640 {
        text-align: center;
width: 304px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.paragraph-355_7641 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-355_7642 {
        width: 32px;
height: 32px;
      }
.instance-355_7643 {
        width: 344px;
height: 76px;
      }
.symbol-355_7644 {
        width: 344px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
border-radius: 24px 24px 24px 24px;
      }
.frame-355_7645 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
      }
.frame-content-355_7645 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: flex-start;
justify-content: flex-start;
padding: 20px 20px 20px 20px;
width: 100%;
position: relative;
      }
.paragraph-355_7646 {
        width: 100%;
height: 40px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.instance-355_7647 {
        width: 32px;
height: 32px;
      }
.instance-355_7648 {
        display: none;
width: 344px;
height: 150px;
      }
.instance-355_7649 {
        width: 344px;
height: 76px;
      }
.symbol-355_7650 {
        width: 344px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
border-radius: 24px 24px 24px 24px;
      }
.frame-355_7651 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.frame-content-355_7651 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: center;
justify-content: flex-start;
padding: 20px 20px 20px 20px;
width: 100%;
position: relative;
      }
.paragraph-355_7652 {
        width: 100%;
height: 20px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.instance-355_7653 {
        width: 32px;
height: 32px;
      }
.instance-355_7654 {
        display: none;
width: 344px;
height: 150px;
      }
.instance-355_7655 {
        width: 344px;
height: 76px;
      }
.component-355_7618 {
        width: fit-content;
height: fit-content;
      }


.instance-355_7626 .symbol-355_7657  {
        width: 344px;
height: 76px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 6px;
justify-content: flex-end;
align-items: center;
padding: 20px 20px 20px 20px;
      }
.instance-355_7626 .instance-355_7658  {
        width: 141px;
height: 36px;
      }
.instance-355_7626 .instance-355_7659  {
        width: 141px;
height: 36px;
      }
.instance-355_7634 .symbol-355_7657  {
        width: 344px;
height: 76px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 6px;
justify-content: flex-end;
align-items: center;
padding: 20px 20px 20px 20px;
      }
.instance-355_7634 .instance-355_7658  {
        width: 141px;
height: 36px;
      }
.instance-355_7634 .instance-355_7659  {
        width: 141px;
height: 36px;
      }
.instance-355_7638 .vector-355_5748  {
        width: 22.951171875px;
height: 22.981666564941406px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.548583984375px;
top: 2.5px;
      }
.instance-355_7638 .symbol-355_5747  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-355_7643 .symbol-355_7657  {
        width: 344px;
height: 76px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 6px;
justify-content: flex-end;
align-items: center;
padding: 20px 20px 20px 20px;
      }
.instance-355_7643 .instance-355_7658  {
        width: 141px;
height: 36px;
      }
.instance-355_7643 .instance-355_7659  {
        width: 141px;
height: 36px;
      }
.instance-355_7649 .symbol-355_7657  {
        width: 344px;
height: 76px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 6px;
justify-content: flex-end;
align-items: center;
padding: 20px 20px 20px 20px;
      }
.instance-355_7649 .instance-355_7658  {
        width: 141px;
height: 36px;
      }
.instance-355_7649 .instance-355_7659  {
        width: 141px;
height: 36px;
      }
.instance-355_7655 .symbol-355_7657  {
        width: 344px;
height: 76px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 6px;
justify-content: flex-end;
align-items: center;
padding: 20px 20px 20px 20px;
      }
.instance-355_7655 .instance-355_7658  {
        width: 141px;
height: 36px;
      }
.instance-355_7655 .instance-355_7659  {
        width: 141px;
height: 36px;
      }
.instance-355_7626 .instance-355_7659 .instance-355_6779  {
        width: 24px;
height: 24px;
      }
.instance-355_7634 .instance-355_7658 .instance-355_6779  {
        width: 24px;
height: 24px;
      }
.instance-355_7643 .instance-355_7658 .instance-355_6779  {
        width: 24px;
height: 24px;
      }
.instance-355_7649 .instance-355_7658 .instance-355_6779  {
        width: 24px;
height: 24px;
      }
.instance-355_7655 .instance-355_7658 .instance-355_6779  {
        width: 24px;
height: 24px;
      }
.instance-355_7626 .instance-355_7659 .instance-355_6784  {
        width: 24px;
height: 24px;
      }
.instance-355_7634 .instance-355_7658 .instance-355_6784  {
        width: 24px;
height: 24px;
      }
.instance-355_7643 .instance-355_7658 .instance-355_6784  {
        width: 24px;
height: 24px;
      }
.instance-355_7649 .instance-355_7658 .instance-355_6784  {
        width: 24px;
height: 24px;
      }
.instance-355_7655 .instance-355_7658 .instance-355_6784  {
        width: 24px;
height: 24px;
      }
.instance-355_7626 .instance-355_7658 .instance-355_6870  {
        width: 24px;
height: 24px;
      }
.instance-355_7634 .instance-355_7659 .instance-355_6870  {
        width: 24px;
height: 24px;
      }
.instance-355_7643 .instance-355_7659 .instance-355_6870  {
        width: 24px;
height: 24px;
      }
.instance-355_7649 .instance-355_7659 .instance-355_6870  {
        width: 24px;
height: 24px;
      }
.instance-355_7655 .instance-355_7659 .instance-355_6870  {
        width: 24px;
height: 24px;
      }
.instance-355_7626 .instance-355_7658 .instance-355_6875  {
        width: 24px;
height: 24px;
      }
.instance-355_7634 .instance-355_7659 .instance-355_6875  {
        width: 24px;
height: 24px;
      }
.instance-355_7643 .instance-355_7659 .instance-355_6875  {
        width: 24px;
height: 24px;
      }
.instance-355_7649 .instance-355_7659 .instance-355_6875  {
        width: 24px;
height: 24px;
      }
.instance-355_7655 .instance-355_7659 .instance-355_6875  {
        width: 24px;
height: 24px;
      }
.instance-355_7626 .instance-355_7659 .frame-355_6969  {
        width: 48px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 6px 0px 6px;
      }
.instance-355_7634 .instance-355_7659 .frame-355_6969  {
        width: 48px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 6px 0px 6px;
      }
.instance-355_7643 .instance-355_7659 .frame-355_6969  {
        width: 48px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 6px 0px 6px;
      }
.instance-355_7649 .instance-355_7659 .frame-355_6969  {
        width: 48px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 6px 0px 6px;
      }
.instance-355_7655 .instance-355_7659 .frame-355_6969  {
        width: 48px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 6px 0px 6px;
      }
.instance-355_7626 .instance-355_7659 .paragraph-355_6970  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7634 .instance-355_7659 .paragraph-355_6970  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7643 .instance-355_7659 .paragraph-355_6970  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7649 .instance-355_7659 .paragraph-355_6970  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7655 .instance-355_7659 .paragraph-355_6970  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7626 .instance-355_7659 .frame-355_6971  {
        width: 24px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
padding: 0px 4px 0px 0px;
      }
.instance-355_7634 .instance-355_7659 .frame-355_6971  {
        width: 24px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
padding: 0px 4px 0px 0px;
      }
.instance-355_7643 .instance-355_7659 .frame-355_6971  {
        width: 24px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
padding: 0px 4px 0px 0px;
      }
.instance-355_7649 .instance-355_7659 .frame-355_6971  {
        width: 24px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
padding: 0px 4px 0px 0px;
      }
.instance-355_7655 .instance-355_7659 .frame-355_6971  {
        width: 24px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
padding: 0px 4px 0px 0px;
      }
.instance-355_7626 .instance-355_7659 .instance-355_6973  {
        width: 20px;
height: 20px;
      }
.instance-355_7634 .instance-355_7659 .instance-355_6973  {
        width: 20px;
height: 20px;
      }
.instance-355_7643 .instance-355_7659 .instance-355_6973  {
        width: 20px;
height: 20px;
      }
.instance-355_7649 .instance-355_7659 .instance-355_6973  {
        width: 20px;
height: 20px;
      }
.instance-355_7655 .instance-355_7659 .instance-355_6973  {
        width: 20px;
height: 20px;
      }
.instance-355_7626 .instance-355_7658 .frame-355_7060  {
        width: 48px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
padding: 0px 6px 0px 6px;
      }
.instance-355_7634 .instance-355_7658 .frame-355_7060  {
        width: 48px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
padding: 0px 6px 0px 6px;
      }
.instance-355_7643 .instance-355_7658 .frame-355_7060  {
        width: 48px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
padding: 0px 6px 0px 6px;
      }
.instance-355_7649 .instance-355_7658 .frame-355_7060  {
        width: 48px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
padding: 0px 6px 0px 6px;
      }
.instance-355_7655 .instance-355_7658 .frame-355_7060  {
        width: 48px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
padding: 0px 6px 0px 6px;
      }
.instance-355_7626 .instance-355_7658 .paragraph-355_7061  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7634 .instance-355_7658 .paragraph-355_7061  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7643 .instance-355_7658 .paragraph-355_7061  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7649 .instance-355_7658 .paragraph-355_7061  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7655 .instance-355_7658 .paragraph-355_7061  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7626 .instance-355_7658 .frame-355_7062  {
        width: 24px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
padding: 0px 4px 0px 0px;
      }
.instance-355_7634 .instance-355_7658 .frame-355_7062  {
        width: 24px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
padding: 0px 4px 0px 0px;
      }
.instance-355_7643 .instance-355_7658 .frame-355_7062  {
        width: 24px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
padding: 0px 4px 0px 0px;
      }
.instance-355_7649 .instance-355_7658 .frame-355_7062  {
        width: 24px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
padding: 0px 4px 0px 0px;
      }
.instance-355_7655 .instance-355_7658 .frame-355_7062  {
        width: 24px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
padding: 0px 4px 0px 0px;
      }
.instance-355_7626 .instance-355_7658 .instance-355_7064  {
        width: 20px;
height: 20px;
      }
.instance-355_7634 .instance-355_7658 .instance-355_7064  {
        width: 20px;
height: 20px;
      }
.instance-355_7643 .instance-355_7658 .instance-355_7064  {
        width: 20px;
height: 20px;
      }
.instance-355_7649 .instance-355_7658 .instance-355_7064  {
        width: 20px;
height: 20px;
      }
.instance-355_7655 .instance-355_7658 .instance-355_7064  {
        width: 20px;
height: 20px;
      }
.instance-355_7625 .instance-355_5742 .paragraph-2_80806  {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7648 .instance-355_5742 .paragraph-2_80806  {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7654 .instance-355_5742 .paragraph-2_80806  {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7626 .instance-355_7659 .instance-355_6972 .paragraph-319_2989  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7634 .instance-355_7659 .instance-355_6972 .paragraph-319_2989  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7643 .instance-355_7659 .instance-355_6972 .paragraph-319_2989  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7649 .instance-355_7659 .instance-355_6972 .paragraph-319_2989  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7655 .instance-355_7659 .instance-355_6972 .paragraph-319_2989  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7626 .instance-355_7658 .instance-355_7063 .paragraph-319_2991  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7634 .instance-355_7658 .instance-355_7063 .paragraph-319_2991  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7643 .instance-355_7658 .instance-355_7063 .paragraph-319_2991  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7649 .instance-355_7658 .instance-355_7063 .paragraph-319_2991  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7655 .instance-355_7658 .instance-355_7063 .paragraph-319_2991  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7654 .symbol-355_5741 .symbol-2_80275 {
        width: 344px;
height: 150px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0px 20px 0px 20px;
      }
.instance-355_7629 .symbol-355_5750  {
        width: 212px;
height: 110px;
position: relative;
flex-shrink: 0;
transform: rotateY(180deg);
      }
.instance-355_7629 .vector-355_5751  {
        width: 157.4869842529297px;
height: 109.71198272705078px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 184.536376953125px;
top: 0px;
      }
.instance-355_7624 .instance-355_5744 .vector-355_5746  {
        width: 10.1328125px;
height: 10.133331298828125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4.93359375px;
top: 4.933349609375px;
      }
.instance-355_7633 .instance-355_5744 .vector-355_5746  {
        width: 10.1328125px;
height: 10.133331298828125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4.93359375px;
top: 4.933349609375px;
      }
.instance-355_7642 .instance-355_5744 .vector-355_5746  {
        width: 10.1328125px;
height: 10.133331298828125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4.93359375px;
top: 4.933349609375px;
      }
.instance-355_7647 .instance-355_5744 .vector-355_5746  {
        width: 10.1328125px;
height: 10.133331298828125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4.93359375px;
top: 4.933349609375px;
      }
.instance-355_7653 .instance-355_5744 .vector-355_5746  {
        width: 10.1328125px;
height: 10.133331298828125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4.93359375px;
top: 4.933349609375px;
      }
.instance-355_7625 .symbol-355_5741  {
        width: 344px;
height: 150px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0px 20px 0px 20px;
      }
.instance-355_7648 .symbol-355_5741  {
        width: 344px;
height: 150px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0px 20px 0px 20px;
      }
.instance-355_7654 .symbol-355_5741  {
        width: 344px;
height: 150px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0px 20px 0px 20px;
      }
.instance-355_7625 .instance-355_5742  {
        width: 288px;
height: 150px;
      }
.instance-355_7648 .instance-355_5742  {
        width: 288px;
height: 150px;
      }
.instance-355_7654 .instance-355_5742  {
        width: 288px;
height: 150px;
      }
.instance-355_7624 .symbol-355_5743  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
      }
.instance-355_7633 .symbol-355_5743  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
      }
.instance-355_7642 .symbol-355_5743  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
      }
.instance-355_7647 .symbol-355_5743  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
      }
.instance-355_7653 .symbol-355_5743  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
      }
