
.symbol-355_7656 {
        
      }
.symbol-355_7657 {
        width: 328px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 6px;
justify-content: flex-end;
align-items: center;
padding: 20px 20px 20px 20px;
      }
.instance-355_7658 {
        width: 141px;
height: 36px;
      }
.instance-355_7659 {
        width: 141px;
height: 36px;
      }
.symbol-355_7660 {
        width: 328px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: flex-end;
align-items: center;
padding: 20px 20px 20px 20px;
      }
.instance-355_7661 {
        width: 288px;
height: 36px;
      }
.instance-355_7662 {
        width: 288px;
height: 36px;
      }
.symbol-355_7663 {
        width: 328px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: flex-end;
align-items: center;
padding: 20px 20px 20px 20px;
      }
.instance-355_7664 {
        width: 288px;
height: 36px;
      }
.component-355_7656 {
        width: fit-content;
height: fit-content;
      }


.instance-355_7659 .symbol-355_6967  {
        width: 141px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 12px 8px 12px;
min-height: 36px;
max-height: 36px;
border-radius: 10px 10px 10px 10px;
      }
.instance-355_7661 .symbol-355_6967  {
        width: 288px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 12px 8px 12px;
min-height: 36px;
max-height: 36px;
border-radius: 10px 10px 10px 10px;
      }
.instance-355_7664 .symbol-355_6967  {
        width: 288px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 12px 8px 12px;
min-height: 36px;
max-height: 36px;
border-radius: 10px 10px 10px 10px;
      }
.instance-355_7659 .instance-355_6968  {
        width: 20px;
height: 20px;
      }
.instance-355_7661 .instance-355_6968  {
        width: 20px;
height: 20px;
      }
.instance-355_7664 .instance-355_6968  {
        width: 20px;
height: 20px;
      }
.instance-355_7659 .frame-355_6969  {
        width: 48px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 6px 0px 6px;
      }
.instance-355_7661 .frame-355_6969  {
        width: 48px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 6px 0px 6px;
      }
.instance-355_7664 .frame-355_6969  {
        width: 48px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 6px 0px 6px;
      }
.instance-355_7659 .paragraph-355_6970  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7661 .paragraph-355_6970  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7664 .paragraph-355_6970  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7659 .frame-355_6971  {
        width: 24px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
padding: 0px 4px 0px 0px;
      }
.instance-355_7661 .frame-355_6971  {
        width: 24px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
padding: 0px 4px 0px 0px;
      }
.instance-355_7664 .frame-355_6971  {
        width: 24px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
padding: 0px 4px 0px 0px;
      }
.instance-355_7659 .instance-355_6973  {
        width: 20px;
height: 20px;
      }
.instance-355_7661 .instance-355_6973  {
        width: 20px;
height: 20px;
      }
.instance-355_7664 .instance-355_6973  {
        width: 20px;
height: 20px;
      }
.instance-355_7658 .symbol-355_7058  {
        width: 141px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 12px 8px 12px;
min-height: 36px;
max-height: 36px;
border-radius: 10px 10px 10px 10px;
      }
.instance-355_7662 .symbol-355_7058  {
        width: 288px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 12px 8px 12px;
min-height: 36px;
max-height: 36px;
border-radius: 10px 10px 10px 10px;
      }
.instance-355_7658 .instance-355_7059  {
        width: 20px;
height: 20px;
      }
.instance-355_7662 .instance-355_7059  {
        width: 20px;
height: 20px;
      }
.instance-355_7658 .frame-355_7060  {
        width: 48px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
padding: 0px 6px 0px 6px;
      }
.instance-355_7662 .frame-355_7060  {
        width: 48px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
padding: 0px 6px 0px 6px;
      }
.instance-355_7658 .paragraph-355_7061  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7662 .paragraph-355_7061  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7658 .frame-355_7062  {
        width: 24px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
padding: 0px 4px 0px 0px;
      }
.instance-355_7662 .frame-355_7062  {
        width: 24px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
padding: 0px 4px 0px 0px;
      }
.instance-355_7658 .instance-355_7064  {
        width: 20px;
height: 20px;
      }
.instance-355_7662 .instance-355_7064  {
        width: 20px;
height: 20px;
      }
.instance-355_7659 .instance-355_6972 .paragraph-319_2989  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7661 .instance-355_6972 .paragraph-319_2989  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7664 .instance-355_6972 .paragraph-319_2989  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7658 .instance-355_7063 .paragraph-319_2991  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_7662 .instance-355_7063 .paragraph-319_2991  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
