
.symbol-4_52246 {
        width: 24px;
height: 24px;
position: relative;
      }
.vector-4_52247 {
        width: 17.7734375px;
height: 20px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 2px;
      }
.component-4_52246 {
        width: fit-content;
height: fit-content;
      }

