
.symbol-2_20315 {
        width: 24px;
height: 24px;
position: relative;
      }
.vector-2_20316 {
        width: 21.2197265625px;
height: 16px;
background-image: url("/assets/Vector.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1px;
top: 4px;
      }
.component-2_20315 {
        width: fit-content;
height: fit-content;
      }

