
.symbol-1458_19256 {
        width: 24px;
height: 24px;
position: relative;
      }
.vector-1458_19257 {
        width: 20.041015625px;
height: 20px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 2px;
      }
.component-1458_19256 {
        width: fit-content;
height: fit-content;
      }

