
.symbol-2_20339 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-2_20340 {
        width: 11.977783203125px;
height: 1.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4.0111083984375px;
top: 9.0999755859375px;
      }
.component-2_20339 {
        width: fit-content;
height: fit-content;
      }

