
.symbol-4_31827 {
        width: 24px;
height: 24px;
position: relative;
      }
.vector-4_31828 {
        width: 11.94921875px;
height: 13.818183898925781px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 6.1953125px;
top: 5.181640625px;
      }
.component-4_31827 {
        width: fit-content;
height: fit-content;
      }

