
.symbol-1496_745 {
        
      }
.symbol-1496_746 {
        width: 56px;
height: 56px;
position: relative;
background-color: transparent;
      }
.instance-1496_747 {
        width: 56px;
height: 56px;
      }
.symbol-1496_748 {
        width: 56px;
height: 56px;
position: relative;
background-color: transparent;
      }
.instance-1496_749 {
        width: 56px;
height: 56px;
      }
.symbol-1496_750 {
        width: 44px;
height: 44px;
position: relative;
background-color: transparent;
      }
.instance-1496_751 {
        width: 44px;
height: 44px;
      }
.symbol-1496_752 {
        width: 44px;
height: 44px;
position: relative;
background-color: transparent;
      }
.instance-1496_753 {
        width: 44px;
height: 44px;
      }
.symbol-1496_754 {
        width: 44px;
height: 44px;
position: relative;
background-color: transparent;
      }
.instance-1496_755 {
        width: 44px;
height: 44px;
      }
.symbol-1496_756 {
        width: 44px;
height: 44px;
position: relative;
background-color: transparent;
      }
.instance-1496_757 {
        width: 44px;
height: 44px;
      }
.symbol-1496_758 {
        width: 56px;
height: 56px;
position: relative;
background-color: transparent;
      }
.instance-1496_759 {
        width: 56px;
height: 56px;
      }
.symbol-1496_760 {
        width: 56px;
height: 56px;
position: relative;
background-color: transparent;
      }
.instance-1496_761 {
        width: 56px;
height: 56px;
      }
.component-1496_745 {
        width: fit-content;
height: fit-content;
      }


.instance-1496_747 .symbol-2_23582  {
        width: 56px;
height: 56px;
position: absolute;
left: 0px;
top: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 999px 999px 999px 999px;
      }
.instance-1496_749 .symbol-2_23584  {
        width: 56px;
height: 56px;
position: absolute;
left: 0px;
top: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 999px 999px 999px 999px;
      }
.instance-1496_751 .symbol-2_23678  {
        width: 44px;
height: 44px;
position: absolute;
left: 0px;
top: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 999px 999px 999px 999px;
      }
.instance-1496_753 .symbol-2_23680  {
        width: 44px;
height: 44px;
position: absolute;
left: 0px;
top: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 999px 999px 999px 999px;
      }
.instance-1496_755 .symbol-2_23810  {
        width: 44px;
height: 44px;
position: absolute;
left: 0px;
top: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 999px 999px 999px 999px;
      }
.instance-1496_757 .symbol-2_23812  {
        width: 44px;
height: 44px;
position: absolute;
left: 0px;
top: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 999px 999px 999px 999px;
      }
.instance-1496_759 .symbol-2_23786  {
        width: 56px;
height: 56px;
position: absolute;
left: 0px;
top: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 999px 999px 999px 999px;
      }
.instance-1496_761 .symbol-2_23788  {
        width: 56px;
height: 56px;
position: absolute;
left: 0px;
top: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 999px 999px 999px 999px;
      }
.instance-1496_749 .instance-2_23585 .vector-1496_763  {
        width: 16px;
height: 16px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 4px;
      }
.instance-1496_753 .instance-2_23681 .vector-1496_763  {
        width: 16px;
height: 16px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 4px;
      }
.instance-1496_757 .instance-2_23813 .vector-1496_763  {
        width: 16px;
height: 16px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 4px;
      }
.instance-1496_761 .instance-2_23789 .vector-1496_763  {
        width: 16px;
height: 16px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 4px;
      }
