
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.frame-3360_78965 {
        width: 375px;
height: 812px;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 32px 32px 32px 32px;
      }
.instance-3360_78966 {
        width: 375px;
height: 34px;
      }
.frame-3360_78967 {
        width: 375px;
height: 444px;
position: absolute;
left: 0px;
top: 0px;
display: flex;
flex-direction: column;
align-items: center;
      }
.frame-content-3360_78967 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-3360_78968 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-3360_78969 {
        width: 375px;
height: 56px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.rectangle-3415_5131 {
        width: 375px;
height: 56px;
position: absolute;
left: 0px;
top: 0px;
mix-blend-mode: normal;
      }
.vector-3415_5132 {
        width: 15.2724609375px;
height: 10.96484375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 304.0000305175781px;
top: 22.000030517578125px;
      }
.vector-3415_5136 {
        width: 17px;
height: 10.66796875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 282px;
top: 21.99997901916504px;
      }
.paragraph-3415_5141 {
        font-size: 15px;
font-family: "SF Pro Text-Semibold";
font-weight: Semibold;
text-align: center;
display: flex;
flex-direction: column;
justify-content: flex-end;
letter-spacing: -0.020000003278255463em;
text-decoration: none;
width: auto;
height: auto;
position: absolute;
left: 26px;
top: 19px;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.vector-3415_5142 {
        width: 24.328125px;
height: 11.333984375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 324px;
top: 22px;
      }
.frame-3415_5146 {
        width: 125px;
height: 37px;
overflow: hidden;
position: absolute;
left: 125px;
top: 11px;
border-radius: 9999px 9999px 9999px 9999px;
mix-blend-mode: normal;
      }
.frame-3360_78970 {
        width: 375px;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-3360_78970 {
        display: flex;
flex-direction: column;
gap: 8px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.frame-3360_78971 {
        width: 375px;
height: 56px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-3360_78971 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
padding: 6px 6px 6px 16px;
width: 100%;
height: 100%;
position: relative;
      }
.frame-3415_42462 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
mix-blend-mode: normal;
      }
.frame-content-3415_42462 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
justify-content: flex-start;
padding: 0px 10px 0px 0px;
width: 100%;
position: relative;
      }
.frame-3415_42467 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-3415_42467 {
        display: flex;
flex-direction: column;
gap: 2px;
align-items: flex-start;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.paragraph-3415_42468 {
        text-align: left;
text-decoration: none;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.frame-3415_42470 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
background-color: transparent;
mix-blend-mode: normal;
      }
.frame-3415_42471 {
        width: 44px;
height: 44px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 12px 12px 12px 12px;
mix-blend-mode: normal;
      }
.frame-content-3415_42471 {
        display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-3415_42472 {
        width: 24px;
height: 24px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-3360_78972 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 8px;
justify-content: center;
align-items: flex-start;
padding: 12px 0px 12px 0px;
      }
.frame-3360_78973 {
        width: 343px;
height: 56px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 52px;
border-radius: 16px 16px 16px 16px;
mix-blend-mode: normal;
      }
.frame-content-3360_78973 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
justify-content: flex-start;
min-height: 52px;
width: 100%;
position: relative;
      }
.frame-3415_43941 {
        width: 299px;
height: 56px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-3415_43941 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
justify-content: center;
padding: 8px 0px 8px 0px;
width: 100%;
height: 100%;
position: relative;
      }
.frame-3415_43942 {
        width: auto;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
border-radius: 10px 10px 10px 10px;
mix-blend-mode: normal;
      }
.frame-content-3415_43942 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
padding: 8px 10px 8px 10px;
height: 100%;
position: relative;
      }
.vector-3415_43943 {
        width: 20px;
height: 20px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-3415_43950 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
mix-blend-mode: normal;
      }
.paragraph-3415_43951 {
        text-align: left;
display: flex;
flex-direction: column;
justify-content: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.frame-3415_43954 {
        width: auto;
height: 56px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
align-self: stretch;
background-color: transparent;
mix-blend-mode: normal;
      }
.frame-content-3415_43954 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 5px 4px 5px 4px;
height: 100%;
position: relative;
      }
.frame-3415_43955 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-3415_43955 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-3415_43956 {
        width: 22px;
height: 22px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 999px 999px 999px 999px;
mix-blend-mode: normal;
      }
.frame-content-3415_43956 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-3415_43957 {
        width: 8px;
height: 8px;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 999px 999px 999px 999px;
mix-blend-mode: normal;
      }
.frame-3360_78974 {
        width: 343px;
height: 56px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 52px;
border-radius: 16px 16px 16px 16px;
mix-blend-mode: normal;
      }
.frame-content-3360_78974 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
justify-content: flex-start;
min-height: 52px;
width: 100%;
position: relative;
      }
.frame-3415_43975 {
        width: 299px;
height: 56px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-3415_43975 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
justify-content: center;
padding: 8px 0px 8px 0px;
width: 100%;
height: 100%;
position: relative;
      }
.frame-3415_43976 {
        width: auto;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
border-radius: 10px 10px 10px 10px;
mix-blend-mode: normal;
      }
.frame-content-3415_43976 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
padding: 8px 10px 8px 10px;
height: 100%;
position: relative;
      }
.vector-3415_43977 {
        width: 20px;
height: 20px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-3415_43984 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
mix-blend-mode: normal;
      }
.paragraph-3415_43985 {
        text-align: left;
display: flex;
flex-direction: column;
justify-content: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.frame-3415_43988 {
        width: auto;
height: 56px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
align-self: stretch;
background-color: transparent;
mix-blend-mode: normal;
      }
.frame-content-3415_43988 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 5px 4px 5px 4px;
height: 100%;
position: relative;
      }
.frame-3415_43989 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-3415_43989 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-3415_43990 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 999px 999px 999px 999px;
mix-blend-mode: normal;
      }
.stroke-wrapper-3415_43990 {
        position: relative;
width: 22px;
height: 22px;
flex-shrink: 0;
      }
.stroke-3415_43990 {
        position: absolute;
inset: 0px;
border-radius: 999px 999px 999px 999px;
pointer-events: none;
border-width: 1.399999976158142px 1.399999976158142px 1.399999976158142px 1.399999976158142px;
border-style: solid;
box-sizing: border-box;
      }
.frame-3360_78975 {
        width: 343px;
height: 56px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 52px;
border-radius: 16px 16px 16px 16px;
mix-blend-mode: normal;
      }
.frame-content-3360_78975 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
justify-content: flex-start;
min-height: 52px;
width: 100%;
position: relative;
      }
.frame-3415_43925 {
        width: 299px;
height: 56px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-3415_43925 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
justify-content: center;
padding: 8px 0px 8px 0px;
width: 100%;
height: 100%;
position: relative;
      }
.frame-3415_43926 {
        width: auto;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
border-radius: 10px 10px 10px 10px;
mix-blend-mode: normal;
      }
.frame-content-3415_43926 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
padding: 8px 10px 8px 10px;
height: 100%;
position: relative;
      }
.vector-3415_43927 {
        width: 20px;
height: 20px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-3415_43934 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
mix-blend-mode: normal;
      }
.paragraph-3415_43935 {
        text-align: left;
display: flex;
flex-direction: column;
justify-content: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.frame-3415_43938 {
        width: auto;
height: 56px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
align-self: stretch;
background-color: transparent;
mix-blend-mode: normal;
      }
.frame-content-3415_43938 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 5px 4px 5px 4px;
height: 100%;
position: relative;
      }
.frame-3415_43939 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-3415_43939 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-3415_43940 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 999px 999px 999px 999px;
mix-blend-mode: normal;
      }
.stroke-wrapper-3415_43940 {
        position: relative;
width: 22px;
height: 22px;
flex-shrink: 0;
      }
.stroke-3415_43940 {
        position: absolute;
inset: 0px;
border-radius: 999px 999px 999px 999px;
pointer-events: none;
border-width: 1.399999976158142px 1.399999976158142px 1.399999976158142px 1.399999976158142px;
border-style: solid;
box-sizing: border-box;
      }
.frame-3360_78976 {
        width: 343px;
height: 56px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 52px;
border-radius: 16px 16px 16px 16px;
mix-blend-mode: normal;
      }
.frame-content-3360_78976 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
justify-content: flex-start;
min-height: 52px;
width: 100%;
position: relative;
      }
.frame-3415_44156 {
        width: 299px;
height: 56px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-3415_44156 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
justify-content: center;
padding: 8px 0px 8px 0px;
width: 100%;
height: 100%;
position: relative;
      }
.frame-3415_44157 {
        width: auto;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
border-radius: 10px 10px 10px 10px;
mix-blend-mode: normal;
      }
.frame-content-3415_44157 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
padding: 8px 10px 8px 10px;
height: 100%;
position: relative;
      }
.vector-3415_44158 {
        width: 20px;
height: 20px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-3415_44165 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
mix-blend-mode: normal;
      }
.paragraph-3415_44166 {
        text-align: left;
display: flex;
flex-direction: column;
justify-content: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.frame-3415_44169 {
        width: auto;
height: 56px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
align-self: stretch;
background-color: transparent;
mix-blend-mode: normal;
      }
.frame-content-3415_44169 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 5px 4px 5px 4px;
height: 100%;
position: relative;
      }
.frame-3415_44170 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-3415_44170 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-3415_44171 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 999px 999px 999px 999px;
mix-blend-mode: normal;
      }
.stroke-wrapper-3415_44171 {
        position: relative;
width: 22px;
height: 22px;
flex-shrink: 0;
      }
.stroke-3415_44171 {
        position: absolute;
inset: 0px;
border-radius: 999px 999px 999px 999px;
pointer-events: none;
border-width: 1.399999976158142px 1.399999976158142px 1.399999976158142px 1.399999976158142px;
border-style: solid;
box-sizing: border-box;
      }


.instance-3360_78966 .symbol-2_19752  {
        width: 375px;
height: 34px;
position: absolute;
left: 0px;
top: 778px;
      }
.instance-3360_78966 .rectangle-2_19753  {
        width: 139px;
height: 5px;
position: absolute;
left: 257px;
top: 21px;
transform: rotateY(180deg);
border-radius: 100px 100px 100px 100px;
      }
