
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.frame-2_94014 {
        width: 375px;
height: 812px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
border-radius: 32px 32px 32px 32px;
background-color: rgba(241, 243, 249, 1);
      }
.frame-content-2_94014 {
        display: flex;
flex-direction: column;
gap: 2px;
align-items: flex-start;
justify-content: flex-start;
width: 100%;
height: 100%;
position: relative;
      }
.group-2_94015 {
        width: 375px;
height: 900px;
position: relative;
flex-shrink: 0;
      }
.frame-2_94016 {
        width: auto;
height: auto;
position: absolute;
left: 0px;
top: 0px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
      }
.frame-2_94017 {
        width: 375px;
height: 56px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.rectangle-404_10801 {
        width: 375px;
height: 56px;
position: absolute;
left: 0px;
top: 0px;
mix-blend-mode: normal;
      }
.vector-404_10802 {
        width: 15.2724609375px;
height: 10.9658203125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 304.0000305175781px;
top: 22.000024795532227px;
      }
.vector-404_10806 {
        width: 17px;
height: 10.6669921875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 282px;
top: 21.99997901916504px;
      }
.paragraph-404_10811 {
        font-size: 15px;
font-family: "SF Pro Text-Semibold";
font-weight: Semibold;
text-align: center;
display: flex;
flex-direction: column;
justify-content: flex-end;
letter-spacing: -0.020000003278255463em;
text-decoration: none;
width: auto;
height: auto;
position: absolute;
left: 26px;
top: 19px;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.vector-404_10812 {
        width: 24.328125px;
height: 11.33349609375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 324px;
top: 22px;
      }
.frame-404_10816 {
        width: 125px;
height: 37px;
overflow: hidden;
position: absolute;
left: 125px;
top: 11px;
border-radius: 9999px 9999px 9999px 9999px;
mix-blend-mode: normal;
      }
.frame-2_94018 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 8px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 0px 8px 0px;
      }
.frame-2_94019 {
        width: 375px;
height: 56px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-2_94019 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
padding: 6px 6px 6px 6px;
width: 100%;
height: 100%;
position: relative;
      }
.frame-404_36454 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
background-color: transparent;
mix-blend-mode: normal;
      }
.frame-404_36455 {
        width: 44px;
height: 44px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 12px 12px 12px 12px;
mix-blend-mode: normal;
      }
.frame-content-404_36455 {
        display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-404_36456 {
        width: 24px;
height: 24px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-404_36459 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
mix-blend-mode: normal;
      }
.frame-content-404_36459 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.frame-404_36464 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-404_36464 {
        display: flex;
flex-direction: column;
gap: 2px;
align-items: flex-start;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.paragraph-404_36465 {
        font-size: 16px;
font-family: "Inter-Semi Bold";
font-weight: 600;
text-align: left;
letter-spacing: -0.30000001192092896px;
line-height: 18px;
text-decoration: none;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.paragraph-404_36466 {
        text-align: left;
text-decoration: none;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.frame-404_36467 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
background-color: transparent;
mix-blend-mode: normal;
      }
.frame-404_36471 {
        width: 44px;
height: 44px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 12px 12px 12px 12px;
mix-blend-mode: normal;
      }
.frame-content-404_36471 {
        display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-404_36472 {
        width: 24px;
height: 24px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-404_36474 {
        width: 44px;
height: 44px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 12px 12px 12px 12px;
mix-blend-mode: normal;
      }
.frame-content-404_36474 {
        display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-404_36475 {
        width: 24px;
height: 24px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-2_94020 {
        width: 375px;
height: auto;
position: relative;
flex-shrink: 0;
overflow-x: auto;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_94020 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
padding: 0px 80px 0px 16px;
width: 100%;
position: relative;
      }
.frame-2_94021 {
        width: 36px;
height: 36px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
mix-blend-mode: normal;
      }
.frame-content-2_94021 {
        display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-404_22048 {
        width: 20px;
height: 20px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-2_94022 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-start;
      }
.frame-2_94023 {
        width: 57px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
min-width: 36px;
border-radius: 10px 10px 10px 10px;
mix-blend-mode: normal;
      }
.frame-content-2_94023 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
min-width: 36px;
padding: 8px 8px 8px 8px;
height: 100%;
position: relative;
      }
.frame-404_20241 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
mix-blend-mode: normal;
      }
.paragraph-404_20242 {
        text-align: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.frame-2_94024 {
        width: 109px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
min-width: 36px;
border-radius: 10px 10px 10px 10px;
mix-blend-mode: normal;
      }
.frame-content-2_94024 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
min-width: 36px;
padding: 8px 8px 8px 8px;
height: 100%;
position: relative;
      }
.frame-404_20233 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
mix-blend-mode: normal;
      }
.paragraph-404_20234 {
        text-align: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.frame-2_94025 {
        width: 129px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
min-width: 36px;
border-radius: 10px 10px 10px 10px;
mix-blend-mode: normal;
      }
.frame-content-2_94025 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
min-width: 36px;
padding: 8px 8px 8px 8px;
height: 100%;
position: relative;
      }
.frame-404_20225 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
mix-blend-mode: normal;
      }
.paragraph-404_20226 {
        text-align: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.frame-2_94026 {
        width: 181px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
min-width: 36px;
border-radius: 10px 10px 10px 10px;
mix-blend-mode: normal;
      }
.frame-content-2_94026 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
min-width: 36px;
padding: 8px 8px 8px 8px;
height: 100%;
position: relative;
      }
.frame-404_20217 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
mix-blend-mode: normal;
      }
.paragraph-404_20218 {
        text-align: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.frame-2_94027 {
        width: 375px;
height: auto;
position: absolute;
left: 0px;
top: 166px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
      }
.frame-content-2_94027 {
        display: flex;
flex-direction: column;
gap: 2px;
align-items: flex-start;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.frame-2_94028 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
      }
.frame-content-2_94028 {
        display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-start;
justify-content: flex-start;
padding: 20px 16px 20px 16px;
width: 100%;
position: relative;
      }
.paragraph-2_94029 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
overflow: hidden;
width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
      }
.frame-2_94030 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_94030 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.frame-2_94031 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
align-self: stretch;
      }
.frame-content-2_94031 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-2_94032 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
      }
.vector-2_94033 {
        width: 16px;
height: 16px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-2_94034 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
border-radius: 4px 4px 4px 4px;
mix-blend-mode: normal;
      }
.vector-404_16245 {
        width: 10px;
height: 10px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 3px;
      }
.paragraph-2_94035 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-2_94036 {
        width: 67px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
border-radius: 6px 6px 6px 6px;
mix-blend-mode: normal;
      }
.frame-content-2_94036 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
padding: 4px 6px 4px 6px;
height: 100%;
position: relative;
      }
.frame-404_16664 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
mix-blend-mode: normal;
      }
.paragraph-404_16665 {
        text-align: left;
display: flex;
flex-direction: column;
justify-content: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.frame-2_94037 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
      }
.frame-content-2_94037 {
        display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-start;
justify-content: flex-start;
padding: 20px 16px 20px 16px;
width: 100%;
position: relative;
      }
.paragraph-2_94038 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
overflow: hidden;
width: 100%;
height: 54px;
position: relative;
flex-shrink: 0;
      }
.frame-2_94039 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_94039 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.frame-2_94040 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
align-self: stretch;
      }
.frame-content-2_94040 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-2_94041 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
      }
.vector-2_94042 {
        width: 16px;
height: 16px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-2_94043 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
border-radius: 4px 4px 4px 4px;
mix-blend-mode: normal;
      }
.vector-404_16239 {
        width: 10px;
height: 10px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 3px;
      }
.paragraph-2_94044 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-2_94045 {
        width: 80px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
border-radius: 6px 6px 6px 6px;
mix-blend-mode: normal;
      }
.frame-content-2_94045 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
padding: 4px 6px 4px 6px;
height: 100%;
position: relative;
      }
.frame-404_16657 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
mix-blend-mode: normal;
      }
.paragraph-404_16658 {
        text-align: left;
display: flex;
flex-direction: column;
justify-content: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.frame-2_94046 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
      }
.frame-content-2_94046 {
        display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-start;
justify-content: flex-start;
padding: 20px 16px 20px 16px;
width: 100%;
position: relative;
      }
.paragraph-2_94047 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
overflow: hidden;
width: 100%;
height: 36px;
position: relative;
flex-shrink: 0;
      }
.frame-2_94048 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_94048 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.frame-2_94049 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
align-self: stretch;
      }
.frame-content-2_94049 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-2_94050 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
      }
.vector-2_94051 {
        width: 16px;
height: 16px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-2_94052 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
border-radius: 4px 4px 4px 4px;
mix-blend-mode: normal;
      }
.vector-404_16333 {
        width: 10px;
height: 10px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 3px;
      }
.paragraph-2_94053 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-2_94054 {
        width: 67px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
border-radius: 6px 6px 6px 6px;
mix-blend-mode: normal;
      }
.frame-content-2_94054 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
padding: 4px 6px 4px 6px;
height: 100%;
position: relative;
      }
.frame-404_16993 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
mix-blend-mode: normal;
      }
.paragraph-404_16994 {
        text-align: left;
display: flex;
flex-direction: column;
justify-content: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.frame-2_94055 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
      }
.frame-content-2_94055 {
        display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-start;
justify-content: flex-start;
padding: 20px 16px 20px 16px;
width: 100%;
position: relative;
      }
.paragraph-2_94056 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
overflow: hidden;
width: 100%;
height: 36px;
position: relative;
flex-shrink: 0;
      }
.frame-2_94057 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_94057 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.frame-2_94058 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
align-self: stretch;
      }
.frame-content-2_94058 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-2_94059 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
      }
.vector-2_94060 {
        width: 16px;
height: 16px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-2_94061 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
border-radius: 4px 4px 4px 4px;
mix-blend-mode: normal;
      }
.vector-404_16309 {
        width: 10px;
height: 10px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 3px;
      }
.paragraph-2_94062 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-2_94063 {
        width: 80px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
border-radius: 6px 6px 6px 6px;
mix-blend-mode: normal;
      }
.frame-content-2_94063 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
padding: 4px 6px 4px 6px;
height: 100%;
position: relative;
      }
.frame-404_16902 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
mix-blend-mode: normal;
      }
.paragraph-404_16903 {
        text-align: left;
display: flex;
flex-direction: column;
justify-content: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.frame-2_94064 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
      }
.frame-content-2_94064 {
        display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-start;
justify-content: flex-start;
padding: 20px 16px 20px 16px;
width: 100%;
position: relative;
      }
.paragraph-2_94065 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
overflow: hidden;
width: 100%;
height: 54px;
position: relative;
flex-shrink: 0;
      }
.frame-2_94066 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_94066 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.frame-2_94067 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
align-self: stretch;
      }
.frame-content-2_94067 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-2_94068 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
      }
.vector-2_94069 {
        width: 16px;
height: 16px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-2_94070 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
border-radius: 4px 4px 4px 4px;
mix-blend-mode: normal;
      }
.vector-404_16247 {
        width: 10px;
height: 10px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 3px;
      }
.paragraph-2_94071 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-2_94072 {
        width: 66px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
border-radius: 6px 6px 6px 6px;
mix-blend-mode: normal;
      }
.frame-content-2_94072 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
padding: 4px 6px 4px 6px;
height: 100%;
position: relative;
      }
.frame-404_16986 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
mix-blend-mode: normal;
      }
.paragraph-404_16987 {
        text-align: left;
display: flex;
flex-direction: column;
justify-content: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.frame-2_94073 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
      }
.frame-content-2_94073 {
        display: flex;
flex-direction: column;
gap: 8px;
align-items: flex-start;
justify-content: flex-start;
padding: 20px 16px 20px 16px;
width: 100%;
position: relative;
      }
.paragraph-2_94074 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
overflow: hidden;
width: 100%;
height: 54px;
position: relative;
flex-shrink: 0;
      }
.frame-2_94075 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_94075 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.frame-2_94076 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
align-self: stretch;
      }
.frame-content-2_94076 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-2_94077 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
      }
.vector-2_94078 {
        width: 16px;
height: 16px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-2_94079 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
border-radius: 4px 4px 4px 4px;
mix-blend-mode: normal;
      }
.vector-404_16307 {
        width: 10px;
height: 10px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 3px;
      }
.paragraph-2_94080 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-2_94081 {
        width: 66px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
border-radius: 6px 6px 6px 6px;
mix-blend-mode: normal;
      }
.frame-content-2_94081 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
padding: 4px 6px 4px 6px;
height: 100%;
position: relative;
      }
.frame-404_16650 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
mix-blend-mode: normal;
      }
.paragraph-404_16651 {
        text-align: left;
display: flex;
flex-direction: column;
justify-content: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.instance-2_94082 {
        width: 375px;
height: 34px;
      }
.instance-2_94083 {
        width: 375px;
height: 812px;
      }
.frame-2_94084 {
        width: 375px;
height: 230px;
overflow: hidden;
position: absolute;
left: 0px;
top: 582px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-2_94084 {
        display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.frame-404_40722 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-404_40722 {
        display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
padding: 8px 0px 8px 0px;
width: 100%;
position: relative;
      }
.rectangle-404_40723 {
        width: 32px;
height: 4px;
position: relative;
flex-shrink: 0;
border-radius: 100px 100px 100px 100px;
background-color: rgba(255, 255, 255, 0.4000000059604645);
mix-blend-mode: normal;
      }
.frame-404_40724 {
        width: 100%;
height: auto;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
border-radius: 24px 24px 0px 0px;
background-color: rgba(255, 255, 255, 1);
mix-blend-mode: normal;
      }
.frame-content-404_40724 {
        display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.frame-404_40725 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-404_40725 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: center;
justify-content: flex-start;
padding: 20px 20px 20px 20px;
width: 100%;
position: relative;
      }
.paragraph-404_40726 {
        text-align: left;
display: flex;
flex-direction: column;
justify-content: center;
text-decoration: none;
width: 100%;
height: 20px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-404_40727 {
        width: 32px;
height: 32px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
mix-blend-mode: normal;
      }
.frame-content-404_40727 {
        display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-404_40728 {
        width: 20px;
height: 20px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-404_40730 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-404_40730 {
        display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
padding: 0px 20px 0px 20px;
width: 100%;
position: relative;
      }
.frame-404_40731 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 52px;
mix-blend-mode: normal;
      }
.frame-content-404_40731 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
justify-content: flex-start;
min-height: 52px;
width: 100%;
position: relative;
      }
.frame-404_40732 {
        width: auto;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
align-self: stretch;
background-color: transparent;
mix-blend-mode: normal;
      }
.frame-content-404_40732 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 5px 0px 5px 0px;
height: 100%;
position: relative;
      }
.vector-404_40733 {
        width: 24px;
height: 24px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-404_40735 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-404_40735 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: center;
justify-content: center;
padding: 8px 0px 8px 0px;
width: 100%;
position: relative;
      }
.paragraph-404_40736 {
        text-align: left;
text-decoration: none;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.frame-404_40738 {
        width: auto;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
align-self: stretch;
background-color: transparent;
mix-blend-mode: normal;
      }
.frame-content-404_40738 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 10px 0px 10px 0px;
height: 100%;
position: relative;
      }
.frame-404_40739 {
        width: 52px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-404_40739 {
        display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-404_40740 {
        position: absolute;
inset: 0% 0% 0% 0% ;

background-size: 100% 100%;
background-repeat: no-repeat;
      }
.vector-wrapper-404_40740 {
        position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 2px 2px 2px 2px;
width: 51px;
height: 32px;
      }
.frame-404_40742 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 52px;
mix-blend-mode: normal;
      }
.frame-content-404_40742 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
justify-content: flex-start;
min-height: 52px;
width: 100%;
position: relative;
      }
.frame-404_40743 {
        width: auto;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
align-self: stretch;
background-color: transparent;
mix-blend-mode: normal;
      }
.frame-content-404_40743 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 5px 0px 5px 0px;
height: 100%;
position: relative;
      }
.vector-404_40744 {
        width: 24px;
height: 24px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-404_40746 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-404_40746 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: center;
justify-content: center;
padding: 8px 0px 8px 0px;
width: 100%;
position: relative;
      }
.paragraph-404_40747 {
        text-align: left;
text-decoration: none;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.frame-404_40749 {
        width: auto;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
align-self: stretch;
background-color: transparent;
mix-blend-mode: normal;
      }
.frame-content-404_40749 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 10px 0px 10px 0px;
height: 100%;
position: relative;
      }
.frame-404_40750 {
        width: 52px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-404_40750 {
        display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-404_40751 {
        position: absolute;
inset: 0% 0% 0% 0% ;

background-size: 100% 100%;
background-repeat: no-repeat;
      }
.vector-wrapper-404_40751 {
        position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 2px 2px 2px 2px;
width: 51px;
height: 32px;
      }
.frame-404_40760 {
        width: 375px;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-404_40760 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: flex-start;
justify-content: center;
padding: 0px 20px 0px 20px;
width: 100%;
position: relative;
      }
.frame-404_40761 {
        width: 360px;
height: 34px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.rectangle-404_40762 {
        width: 139px;
height: 5px;
position: absolute;
left: 110.5px;
top: 21px;
transform: rotateY(180deg);
border-radius: 100px 100px 100px 100px;
mix-blend-mode: normal;
      }


.instance-2_94083 .symbol-2_79809  {
        width: 375px;
height: 812px;
position: absolute;
left: 0px;
top: 0px;
opacity: 0.699999988079071;
      }
.instance-2_94082 .symbol-2_2250  {
        width: 375px;
height: 34px;
position: absolute;
left: 0px;
top: 778px;
      }
.instance-2_94082 .rectangle-2_2251  {
        width: 139px;
height: 5px;
position: absolute;
left: 257px;
top: 21px;
transform: rotateY(180deg);
border-radius: 100px 100px 100px 100px;
      }
