
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.frame-2_55338 {
        width: 375px;
height: 812px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
border-radius: 32px 32px 32px 32px;
      }
.frame-content-2_55338 {
        display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
width: 100%;
height: 100%;
position: relative;
      }
.frame-2_55339 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
      }
.frame-2_55340 {
        width: 375px;
height: 56px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.rectangle-418_8110 {
        width: 375px;
height: 56px;
position: absolute;
left: 0px;
top: 0px;
mix-blend-mode: normal;
      }
.vector-418_8111 {
        width: 15.2724609375px;
height: 10.9656982421875px;
background-image: url("/assets/Wifi.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 304.0000305175781px;
top: 22.000024795532227px;
      }
.vector-418_8115 {
        width: 17px;
height: 10.6669921875px;
background-image: url("/assets/MobileSignal.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 282px;
top: 21.99997901916504px;
      }
.paragraph-418_8120 {
        font-size: 15px;
font-family: "SF Pro Text-Semibold";
font-weight: Semibold;
text-align: center;
display: flex;
flex-direction: column;
justify-content: flex-end;
letter-spacing: -0.020000003278255463em;
text-decoration: none;
width: auto;
height: auto;
position: absolute;
left: 26px;
top: 19px;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.vector-418_8121 {
        width: 24.328125px;
height: 11.3333740234375px;
background-image: url("/assets/Battery.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 324px;
top: 22px;
      }
.frame-418_8125 {
        width: 125px;
height: 37px;
overflow: hidden;
position: absolute;
left: 125px;
top: 11px;
border-radius: 9999px 9999px 9999px 9999px;
mix-blend-mode: normal;
      }
.frame-2_55341 {
        width: 375px;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
      }
.frame-content-2_55341 {
        display: flex;
flex-direction: column;
gap: 8px;
align-items: flex-start;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.frame-2_55342 {
        width: 375px;
height: 56px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-2_55342 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 6px 16px 6px 6px;
width: 100%;
height: 100%;
position: relative;
      }
.frame-418_36795 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
background-color: transparent;
mix-blend-mode: normal;
      }
.frame-418_36796 {
        width: 44px;
height: 44px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 12px 12px 12px 12px;
mix-blend-mode: normal;
      }
.frame-content-418_36796 {
        display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-418_36797 {
        width: 24px;
height: 24px;
background-image: url("/assets/NavigationChevronLeft.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-418_36800 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
mix-blend-mode: normal;
      }
.frame-content-418_36800 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.frame-418_36805 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-418_36805 {
        display: flex;
flex-direction: column;
gap: 2px;
align-items: flex-start;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.paragraph-418_36806 {
        text-align: left;
text-decoration: none;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.frame-2_55343 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
      }
.frame-content-2_55343 {
        display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
padding: 8px 16px 8px 16px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_55343 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_55343 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 2px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(241, 243, 249, 1);
      }
.frame-2_55344 {
        width: 343px;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 52px;
border-radius: 16px 16px 16px 16px;
mix-blend-mode: normal;
      }
.frame-content-2_55344 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
justify-content: flex-start;
min-height: 52px;
width: 100%;
position: relative;
      }
.frame-418_33102 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-418_33102 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: center;
justify-content: center;
padding: 8px 0px 8px 0px;
width: 100%;
position: relative;
      }
.paragraph-418_33103 {
        text-align: left;
text-decoration: none;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.frame-418_33105 {
        width: auto;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: transparent;
mix-blend-mode: normal;
      }
.frame-content-418_33105 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 5px 4px 5px 4px;
height: 100%;
position: relative;
      }
.frame-418_33106 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-418_33106 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-418_33107 {
        width: 22px;
height: 22px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 999px 999px 999px 999px;
mix-blend-mode: normal;
      }
.frame-content-418_33107 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-418_33108 {
        width: 8px;
height: 8px;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 999px 999px 999px 999px;
mix-blend-mode: normal;
      }
.frame-2_55345 {
        width: 343px;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 52px;
border-radius: 16px 16px 16px 16px;
mix-blend-mode: normal;
      }
.frame-content-2_55345 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
justify-content: flex-start;
min-height: 52px;
width: 100%;
position: relative;
      }
.frame-418_32932 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-418_32932 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: center;
justify-content: center;
padding: 8px 0px 8px 0px;
width: 100%;
position: relative;
      }
.paragraph-418_32933 {
        text-align: left;
text-decoration: none;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.frame-418_32935 {
        width: auto;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: transparent;
mix-blend-mode: normal;
      }
.frame-content-418_32935 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 5px 4px 5px 4px;
height: 100%;
position: relative;
      }
.frame-418_32936 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-418_32936 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-418_32937 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 999px 999px 999px 999px;
mix-blend-mode: normal;
      }
.stroke-wrapper-418_32937 {
        position: relative;
width: 22px;
height: 22px;
flex-shrink: 0;
      }
.stroke-418_32937 {
        position: absolute;
inset: 0px;
border-radius: 999px 999px 999px 999px;
pointer-events: none;
border-width: 1.399999976158142px 1.399999976158142px 1.399999976158142px 1.399999976158142px;
border-style: solid;
box-sizing: border-box;
      }
.frame-2_55346 {
        width: 343px;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 52px;
border-radius: 16px 16px 16px 16px;
mix-blend-mode: normal;
      }
.frame-content-2_55346 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
justify-content: flex-start;
min-height: 52px;
width: 100%;
position: relative;
      }
.frame-418_33066 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-418_33066 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: center;
justify-content: center;
padding: 8px 0px 8px 0px;
width: 100%;
position: relative;
      }
.paragraph-418_33067 {
        text-align: left;
text-decoration: none;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.frame-418_33069 {
        width: auto;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: transparent;
mix-blend-mode: normal;
      }
.frame-content-418_33069 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 5px 4px 5px 4px;
height: 100%;
position: relative;
      }
.frame-418_33070 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-418_33070 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-418_33071 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 999px 999px 999px 999px;
mix-blend-mode: normal;
      }
.stroke-wrapper-418_33071 {
        position: relative;
width: 22px;
height: 22px;
flex-shrink: 0;
      }
.stroke-418_33071 {
        position: absolute;
inset: 0px;
border-radius: 999px 999px 999px 999px;
pointer-events: none;
border-width: 1.399999976158142px 1.399999976158142px 1.399999976158142px 1.399999976158142px;
border-style: solid;
box-sizing: border-box;
      }
.frame-2_55347 {
        width: 343px;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 52px;
border-radius: 16px 16px 16px 16px;
mix-blend-mode: normal;
      }
.frame-content-2_55347 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
justify-content: flex-start;
min-height: 52px;
width: 100%;
position: relative;
      }
.frame-418_33096 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-418_33096 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: center;
justify-content: center;
padding: 8px 0px 8px 0px;
width: 100%;
position: relative;
      }
.paragraph-418_33097 {
        text-align: left;
text-decoration: none;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.frame-418_33099 {
        width: auto;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: transparent;
mix-blend-mode: normal;
      }
.frame-content-418_33099 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 5px 4px 5px 4px;
height: 100%;
position: relative;
      }
.frame-418_33100 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-418_33100 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-418_33101 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 999px 999px 999px 999px;
mix-blend-mode: normal;
      }
.stroke-wrapper-418_33101 {
        position: relative;
width: 22px;
height: 22px;
flex-shrink: 0;
      }
.stroke-418_33101 {
        position: absolute;
inset: 0px;
border-radius: 999px 999px 999px 999px;
pointer-events: none;
border-width: 1.399999976158142px 1.399999976158142px 1.399999976158142px 1.399999976158142px;
border-style: solid;
box-sizing: border-box;
      }
.frame-2_55348 {
        width: 343px;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 52px;
border-radius: 16px 16px 16px 16px;
mix-blend-mode: normal;
      }
.frame-content-2_55348 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
justify-content: flex-start;
min-height: 52px;
width: 100%;
position: relative;
      }
.frame-418_32926 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-418_32926 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: center;
justify-content: center;
padding: 8px 0px 8px 0px;
width: 100%;
position: relative;
      }
.paragraph-418_32927 {
        text-align: left;
text-decoration: none;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.frame-418_32929 {
        width: auto;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: transparent;
mix-blend-mode: normal;
      }
.frame-content-418_32929 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 5px 4px 5px 4px;
height: 100%;
position: relative;
      }
.frame-418_32930 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-418_32930 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-418_32931 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 999px 999px 999px 999px;
mix-blend-mode: normal;
      }
.stroke-wrapper-418_32931 {
        position: relative;
width: 22px;
height: 22px;
flex-shrink: 0;
      }
.stroke-418_32931 {
        position: absolute;
inset: 0px;
border-radius: 999px 999px 999px 999px;
pointer-events: none;
border-width: 1.399999976158142px 1.399999976158142px 1.399999976158142px 1.399999976158142px;
border-style: solid;
box-sizing: border-box;
      }
.frame-2_55349 {
        width: 343px;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 52px;
border-radius: 16px 16px 16px 16px;
mix-blend-mode: normal;
      }
.frame-content-2_55349 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
justify-content: flex-start;
min-height: 52px;
width: 100%;
position: relative;
      }
.frame-418_32920 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-418_32920 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: center;
justify-content: center;
padding: 8px 0px 8px 0px;
width: 100%;
position: relative;
      }
.paragraph-418_32921 {
        text-align: left;
text-decoration: none;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.frame-418_32923 {
        width: auto;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: transparent;
mix-blend-mode: normal;
      }
.frame-content-418_32923 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 5px 4px 5px 4px;
height: 100%;
position: relative;
      }
.frame-418_32924 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-418_32924 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-418_32925 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 999px 999px 999px 999px;
mix-blend-mode: normal;
      }
.stroke-wrapper-418_32925 {
        position: relative;
width: 22px;
height: 22px;
flex-shrink: 0;
      }
.stroke-418_32925 {
        position: absolute;
inset: 0px;
border-radius: 999px 999px 999px 999px;
pointer-events: none;
border-width: 1.399999976158142px 1.399999976158142px 1.399999976158142px 1.399999976158142px;
border-style: solid;
box-sizing: border-box;
      }
.frame-2_55350 {
        width: 343px;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 52px;
border-radius: 16px 16px 16px 16px;
mix-blend-mode: normal;
      }
.frame-content-2_55350 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
justify-content: flex-start;
min-height: 52px;
width: 100%;
position: relative;
      }
.frame-418_33109 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-418_33109 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: center;
justify-content: center;
padding: 8px 0px 8px 0px;
width: 100%;
position: relative;
      }
.paragraph-418_33110 {
        text-align: left;
text-decoration: none;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.frame-418_33112 {
        width: auto;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: transparent;
mix-blend-mode: normal;
      }
.frame-content-418_33112 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 5px 4px 5px 4px;
height: 100%;
position: relative;
      }
.frame-418_33113 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-418_33113 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-418_33114 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 999px 999px 999px 999px;
mix-blend-mode: normal;
      }
.stroke-wrapper-418_33114 {
        position: relative;
width: 22px;
height: 22px;
flex-shrink: 0;
      }
.stroke-418_33114 {
        position: absolute;
inset: 0px;
border-radius: 999px 999px 999px 999px;
pointer-events: none;
border-width: 1.399999976158142px 1.399999976158142px 1.399999976158142px 1.399999976158142px;
border-style: solid;
box-sizing: border-box;
      }
.frame-2_55351 {
        width: 343px;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 52px;
border-radius: 16px 16px 16px 16px;
mix-blend-mode: normal;
      }
.frame-content-2_55351 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
justify-content: flex-start;
min-height: 52px;
width: 100%;
position: relative;
      }
.frame-418_32914 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-418_32914 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: center;
justify-content: center;
padding: 8px 0px 8px 0px;
width: 100%;
position: relative;
      }
.paragraph-418_32915 {
        text-align: left;
text-decoration: none;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.frame-418_32917 {
        width: auto;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: transparent;
mix-blend-mode: normal;
      }
.frame-content-418_32917 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 5px 4px 5px 4px;
height: 100%;
position: relative;
      }
.frame-418_32918 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-418_32918 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-418_32919 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 999px 999px 999px 999px;
mix-blend-mode: normal;
      }
.stroke-wrapper-418_32919 {
        position: relative;
width: 22px;
height: 22px;
flex-shrink: 0;
      }
.stroke-418_32919 {
        position: absolute;
inset: 0px;
border-radius: 999px 999px 999px 999px;
pointer-events: none;
border-width: 1.399999976158142px 1.399999976158142px 1.399999976158142px 1.399999976158142px;
border-style: solid;
box-sizing: border-box;
      }
.frame-2_55352 {
        width: 100%;
height: auto;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
      }
.frame-content-2_55352 {
        display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
padding: 8px 16px 0px 16px;
width: 100%;
position: relative;
      }
.frame-2_55353 {
        width: 343px;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 52px;
border-radius: 16px 16px 16px 16px;
mix-blend-mode: normal;
      }
.frame-content-2_55353 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
justify-content: flex-start;
min-height: 52px;
width: 100%;
position: relative;
      }
.frame-418_32907 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-418_32907 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: center;
justify-content: center;
padding: 8px 0px 8px 0px;
width: 100%;
position: relative;
      }
.paragraph-418_32908 {
        text-align: left;
text-decoration: none;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.frame-418_32910 {
        width: auto;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: transparent;
mix-blend-mode: normal;
      }
.frame-content-418_32910 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 5px 4px 5px 4px;
height: 100%;
position: relative;
      }
.frame-418_32911 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-418_32911 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-418_32912 {
        width: 22px;
height: 22px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 999px 999px 999px 999px;
mix-blend-mode: normal;
      }
.frame-content-418_32912 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-418_32913 {
        width: 8px;
height: 8px;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 999px 999px 999px 999px;
mix-blend-mode: normal;
      }
.frame-2_55354 {
        width: 343px;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 52px;
border-radius: 16px 16px 16px 16px;
mix-blend-mode: normal;
      }
.frame-content-2_55354 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
justify-content: flex-start;
min-height: 52px;
width: 100%;
position: relative;
      }
.frame-418_33090 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-418_33090 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: center;
justify-content: center;
padding: 8px 0px 8px 0px;
width: 100%;
position: relative;
      }
.paragraph-418_33091 {
        text-align: left;
text-decoration: none;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.frame-418_33093 {
        width: auto;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: transparent;
mix-blend-mode: normal;
      }
.frame-content-418_33093 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 5px 4px 5px 4px;
height: 100%;
position: relative;
      }
.frame-418_33094 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-418_33094 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-418_33095 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 999px 999px 999px 999px;
mix-blend-mode: normal;
      }
.stroke-wrapper-418_33095 {
        position: relative;
width: 22px;
height: 22px;
flex-shrink: 0;
      }
.stroke-418_33095 {
        position: absolute;
inset: 0px;
border-radius: 999px 999px 999px 999px;
pointer-events: none;
border-width: 1.399999976158142px 1.399999976158142px 1.399999976158142px 1.399999976158142px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_55355 {
        width: 375px;
height: 34px;
      }
.frame-2_55356 {
        width: 359px;
height: 44px;
position: absolute;
left: 8px;
top: 734px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 16px 16px 16px 16px;
mix-blend-mode: normal;
      }
.frame-content-2_55356 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
justify-content: center;
padding: 6px 24px 6px 24px;
width: 100%;
height: 100%;
position: relative;
      }
.paragraph-418_20603 {
        text-align: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }


.instance-2_55355 .symbol-2_2250  {
        width: 375px;
height: 34px;
position: absolute;
left: 0px;
top: 778px;
      }
.instance-2_55355 .rectangle-2_2251  {
        width: 139px;
height: 5px;
position: absolute;
left: 257px;
top: 21px;
transform: rotateY(180deg);
border-radius: 100px 100px 100px 100px;
      }
