
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.frame-3360_78809 {
        width: 127px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
border-radius: 10px 10px 10px 10px;
mix-blend-mode: normal;
      }
.frame-content-3360_78809 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
padding: 8px 10px 8px 10px;
height: 100%;
position: relative;
      }
.vector-3415_28060 {
        width: 20px;
height: 20px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-3415_28067 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
mix-blend-mode: normal;
      }
.paragraph-3415_28068 {
        text-align: left;
display: flex;
flex-direction: column;
justify-content: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }

