
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.frame-3360_78992 {
        width: 118px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
min-width: 36px;
border-radius: 10px 10px 10px 10px;
mix-blend-mode: normal;
      }
.frame-content-3360_78992 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
min-width: 36px;
padding: 8px 8px 8px 8px;
height: 100%;
position: relative;
      }
.frame-3415_16121 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
mix-blend-mode: normal;
      }
.paragraph-3415_16122 {
        text-align: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }

