
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.frame-2_55171 {
        width: 375px;
height: 812px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 32px 32px 32px 32px;
background-color: rgba(241, 243, 249, 1);
      }
.frame-content-2_55171 {
        display: flex;
flex-direction: column;
gap: 2px;
align-items: flex-start;
width: 100%;
height: 100%;
position: relative;
      }
.frame-2_55172 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-2_55173 {
        width: 375px;
height: 56px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.rectangle-418_4815 {
        width: 375px;
height: 56px;
position: absolute;
left: 0px;
top: 0px;
mix-blend-mode: normal;
      }
.vector-418_4816 {
        width: 15.2724609375px;
height: 10.965667724609375px;
background-image: url("/assets/Wifi.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 304.0000305175781px;
top: 22.000024795532227px;
      }
.vector-418_4820 {
        width: 17px;
height: 10.667022705078125px;
background-image: url("/assets/MobileSignal.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 282px;
top: 21.99997901916504px;
      }
.paragraph-418_4825 {
        font-size: 15px;
font-family: "SF Pro Text-Semibold";
font-weight: Semibold;
text-align: center;
display: flex;
flex-direction: column;
justify-content: flex-end;
letter-spacing: -0.020000003278255463em;
text-decoration: none;
width: auto;
height: auto;
position: absolute;
left: 26px;
top: 19px;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.vector-418_4826 {
        width: 24.328125px;
height: 11.333343505859375px;
background-image: url("/assets/Battery.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 324px;
top: 22px;
      }
.frame-418_4830 {
        width: 125px;
height: 37px;
overflow: hidden;
position: absolute;
left: 125px;
top: 11px;
border-radius: 9999px 9999px 9999px 9999px;
mix-blend-mode: normal;
      }
.frame-2_55174 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 8px;
align-items: flex-start;
padding: 0px 0px 8px 0px;
      }
.frame-2_55175 {
        width: 375px;
height: 56px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-2_55175 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
padding: 6px 6px 6px 16px;
width: 100%;
height: 100%;
position: relative;
      }
.frame-418_36733 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
mix-blend-mode: normal;
      }
.frame-content-418_36733 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.frame-418_36738 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-418_36738 {
        display: flex;
flex-direction: column;
gap: 2px;
align-items: flex-start;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.paragraph-418_36739 {
        text-align: left;
text-decoration: none;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 20px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.frame-418_36741 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
background-color: transparent;
mix-blend-mode: normal;
      }
.frame-418_36748 {
        width: 44px;
height: 44px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 12px 12px 12px 12px;
mix-blend-mode: normal;
      }
.frame-content-418_36748 {
        display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-418_36749 {
        width: 24px;
height: 24px;
background-image: url("/assets/ActionSearch.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-2_55176 {
        width: 375px;
height: auto;
position: relative;
flex-shrink: 0;
overflow-x: auto;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_55176 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
padding: 0px 80px 0px 16px;
width: 100%;
position: relative;
      }
.frame-2_55177 {
        width: 36px;
height: 36px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
mix-blend-mode: normal;
      }
.frame-content-2_55177 {
        display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-418_21969 {
        width: 20px;
height: 20px;
background-image: url("/assets/ActionFilterFill.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-2_55178 {
        width: 36px;
height: 36px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
mix-blend-mode: normal;
      }
.frame-content-2_55178 {
        display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-418_21979 {
        width: 20px;
height: 20px;
background-image: url("/assets/NavigationCaretSort.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-2_55179 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
align-items: flex-start;
      }
.frame-2_55180 {
        width: 57px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
min-width: 36px;
border-radius: 10px 10px 10px 10px;
mix-blend-mode: normal;
      }
.frame-content-2_55180 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
min-width: 36px;
padding: 8px 8px 8px 8px;
height: 100%;
position: relative;
      }
.frame-418_20317 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
mix-blend-mode: normal;
      }
.paragraph-418_20318 {
        text-align: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.frame-2_55181 {
        width: 142px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
min-width: 36px;
border-radius: 10px 10px 10px 10px;
mix-blend-mode: normal;
      }
.frame-content-2_55181 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
min-width: 36px;
padding: 8px 8px 8px 8px;
height: 100%;
position: relative;
      }
.frame-418_20309 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
mix-blend-mode: normal;
      }
.paragraph-418_20310 {
        text-align: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.frame-2_55182 {
        width: 129px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
min-width: 36px;
border-radius: 10px 10px 10px 10px;
mix-blend-mode: normal;
      }
.frame-content-2_55182 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
min-width: 36px;
padding: 8px 8px 8px 8px;
height: 100%;
position: relative;
      }
.frame-418_20501 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
mix-blend-mode: normal;
      }
.paragraph-418_20502 {
        text-align: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.frame-2_55183 {
        width: 181px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
min-width: 36px;
border-radius: 10px 10px 10px 10px;
mix-blend-mode: normal;
      }
.frame-content-2_55183 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
min-width: 36px;
padding: 8px 8px 8px 8px;
height: 100%;
position: relative;
      }
.frame-418_20509 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
mix-blend-mode: normal;
      }
.paragraph-418_20510 {
        text-align: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.frame-2_55184 {
        width: 375px;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_55184 {
        display: flex;
flex-direction: column;
gap: 2px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.frame-2_55185 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_55185 {
        display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-start;
padding: 20px 16px 20px 16px;
width: 100%;
position: relative;
      }
.paragraph-2_55186 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
overflow: hidden;
width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
      }
.frame-2_55187 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_55187 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.frame-2_55188 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
align-self: stretch;
      }
.frame-content-2_55188 {
        display: flex;
flex-direction: row;
align-items: center;
height: 100%;
position: relative;
      }
.frame-2_55189 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
      }
.vector-2_55190 {
        width: 16px;
height: 16px;
background-image: url("/assets/PriorityPriorityHighFill.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-2_55191 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
border-radius: 4px 4px 4px 4px;
mix-blend-mode: normal;
      }
.vector-418_20696 {
        width: 10px;
height: 10px;
background-image: url("/assets/IconFontAwesomeFreeSolidFfeatheralt.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 3px;
      }
.paragraph-2_55192 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-2_55193 {
        width: 133px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
border-radius: 6px 6px 6px 6px;
mix-blend-mode: normal;
      }
.frame-content-2_55193 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
padding: 4px 6px 4px 6px;
height: 100%;
position: relative;
      }
.frame-418_16804 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
mix-blend-mode: normal;
      }
.paragraph-418_16805 {
        text-align: left;
display: flex;
flex-direction: column;
justify-content: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.frame-2_55194 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_55194 {
        display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-start;
padding: 20px 16px 20px 16px;
width: 100%;
position: relative;
      }
.paragraph-2_55195 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
overflow: hidden;
width: 100%;
height: 54px;
position: relative;
flex-shrink: 0;
      }
.frame-2_55196 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_55196 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.frame-2_55197 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
align-self: stretch;
      }
.frame-content-2_55197 {
        display: flex;
flex-direction: row;
align-items: center;
height: 100%;
position: relative;
      }
.frame-2_55198 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
      }
.vector-2_55199 {
        width: 16px;
height: 16px;
background-image: url("/assets/PriorityPriorityNormal.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-2_55200 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
border-radius: 4px 4px 4px 4px;
mix-blend-mode: normal;
      }
.vector-418_16266 {
        width: 10px;
height: 10px;
background-image: url("/assets/IconFontAwesomeFreeSolidFfeatheralt.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 3px;
      }
.paragraph-2_55201 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-2_55202 {
        width: 80px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
border-radius: 6px 6px 6px 6px;
mix-blend-mode: normal;
      }
.frame-content-2_55202 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
padding: 4px 6px 4px 6px;
height: 100%;
position: relative;
      }
.frame-418_16783 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
mix-blend-mode: normal;
      }
.paragraph-418_16784 {
        text-align: left;
display: flex;
flex-direction: column;
justify-content: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.frame-2_55203 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_55203 {
        display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-start;
padding: 20px 16px 20px 16px;
width: 100%;
position: relative;
      }
.paragraph-2_55204 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
overflow: hidden;
width: 100%;
height: 36px;
position: relative;
flex-shrink: 0;
      }
.frame-2_55205 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_55205 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.frame-2_55206 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
align-self: stretch;
      }
.frame-content-2_55206 {
        display: flex;
flex-direction: row;
align-items: center;
height: 100%;
position: relative;
      }
.frame-2_55207 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
      }
.vector-2_55208 {
        width: 16px;
height: 16px;
background-image: url("/assets/PriorityPriorityNegativeNormal.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-2_55209 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
border-radius: 4px 4px 4px 4px;
mix-blend-mode: normal;
      }
.vector-418_20571 {
        width: 10px;
height: 10px;
background-image: url("/assets/IconFontAwesomeFreeSolidFfeatheralt.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 3px;
      }
.paragraph-2_55210 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-2_55211 {
        width: 149px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
border-radius: 6px 6px 6px 6px;
mix-blend-mode: normal;
      }
.frame-content-2_55211 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
padding: 4px 6px 4px 6px;
height: 100%;
position: relative;
      }
.frame-418_16790 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
mix-blend-mode: normal;
      }
.paragraph-418_16791 {
        text-align: left;
display: flex;
flex-direction: column;
justify-content: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.frame-2_55212 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_55212 {
        display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-start;
padding: 20px 16px 20px 16px;
width: 100%;
position: relative;
      }
.paragraph-2_55213 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
overflow: hidden;
width: 100%;
height: 54px;
position: relative;
flex-shrink: 0;
      }
.frame-2_55214 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_55214 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.frame-2_55215 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
align-self: stretch;
      }
.frame-content-2_55215 {
        display: flex;
flex-direction: row;
align-items: center;
height: 100%;
position: relative;
      }
.frame-2_55216 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
      }
.vector-2_55217 {
        width: 16px;
height: 16px;
background-image: url("/assets/PriorityPriorityHigh.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-2_55218 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
border-radius: 4px 4px 4px 4px;
mix-blend-mode: normal;
      }
.vector-418_20738 {
        width: 10px;
height: 10px;
background-image: url("/assets/IconFontAwesomeFreeSolidFfeatheralt.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 3px;
      }
.paragraph-2_55219 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-2_55220 {
        width: 66px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
border-radius: 6px 6px 6px 6px;
mix-blend-mode: normal;
      }
.frame-content-2_55220 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
padding: 4px 6px 4px 6px;
height: 100%;
position: relative;
      }
.frame-418_16762 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
mix-blend-mode: normal;
      }
.paragraph-418_16763 {
        text-align: left;
display: flex;
flex-direction: column;
justify-content: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.frame-2_55221 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_55221 {
        display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-start;
padding: 20px 16px 20px 16px;
width: 100%;
position: relative;
      }
.paragraph-2_55222 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
overflow: hidden;
width: 100%;
height: 36px;
position: relative;
flex-shrink: 0;
      }
.frame-2_55223 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_55223 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.frame-2_55224 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
align-self: stretch;
      }
.frame-content-2_55224 {
        display: flex;
flex-direction: row;
align-items: center;
height: 100%;
position: relative;
      }
.frame-2_55225 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
      }
.vector-2_55226 {
        width: 16px;
height: 16px;
background-image: url("/assets/PriorityPriorityNormal.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-2_55227 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
border-radius: 4px 4px 4px 4px;
mix-blend-mode: normal;
      }
.vector-418_16288 {
        width: 10px;
height: 10px;
background-image: url("/assets/IconFontAwesomeFreeSolidFfeatheralt.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 3px;
      }
.paragraph-2_55228 {
        width: 71px;
height: auto;
position: relative;
flex-shrink: 0;
      }
.frame-2_55229 {
        width: 67px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
border-radius: 6px 6px 6px 6px;
mix-blend-mode: normal;
      }
.frame-content-2_55229 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
padding: 4px 6px 4px 6px;
height: 100%;
position: relative;
      }
.frame-418_16776 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
mix-blend-mode: normal;
      }
.paragraph-418_16777 {
        text-align: left;
display: flex;
flex-direction: column;
justify-content: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.frame-2_55230 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_55230 {
        display: flex;
flex-direction: column;
gap: 8px;
align-items: flex-start;
padding: 20px 16px 20px 16px;
width: 100%;
position: relative;
      }
.paragraph-2_55231 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
overflow: hidden;
width: 100%;
height: 54px;
position: relative;
flex-shrink: 0;
      }
.frame-2_55232 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_55232 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.frame-2_55233 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
align-self: stretch;
      }
.frame-content-2_55233 {
        display: flex;
flex-direction: row;
align-items: center;
height: 100%;
position: relative;
      }
.frame-2_55234 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
      }
.vector-2_55235 {
        width: 16px;
height: 16px;
background-image: url("/assets/PriorityPriorityNormal.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-2_55236 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
border-radius: 4px 4px 4px 4px;
mix-blend-mode: normal;
      }
.vector-418_16264 {
        width: 10px;
height: 10px;
background-image: url("/assets/IconFontAwesomeFreeSolidFfeatheralt.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 3px;
      }
.paragraph-2_55237 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-2_55238 {
        width: 66px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
border-radius: 6px 6px 6px 6px;
mix-blend-mode: normal;
      }
.frame-content-2_55238 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
padding: 4px 6px 4px 6px;
height: 100%;
position: relative;
      }
.frame-418_16881 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
mix-blend-mode: normal;
      }
.paragraph-418_16882 {
        text-align: left;
display: flex;
flex-direction: column;
justify-content: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.frame-2_55240 {
        width: 375px;
height: 86px;
position: absolute;
left: 0px;
top: 726px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-2_55240 {
        display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
position: relative;
      }
.frame-418_29390 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-418_29390 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 8px 16px 0px 16px;
width: 100%;
position: relative;
      }
.stroke-wrapper-418_29390 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-418_29390 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0.5px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
      }
.frame-418_29391 {
        width: 114.33334350585938px;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-418_29391 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: center;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.frame-418_29392 {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.vector-418_29393 {
        width: 24px;
height: 24px;
background-image: url("/assets/ActionHomeFill.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2px;
top: 2px;
      }
.paragraph-418_29395 {
        text-align: center;
text-decoration: none;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.frame-418_29396 {
        width: 114.33334350585938px;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-418_29396 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: center;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.frame-418_29397 {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.vector-418_29398 {
        width: 24px;
height: 24px;
background-image: url("/assets/DocumentFolderOpenFill.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2px;
top: 2px;
      }
.paragraph-418_29400 {
        text-align: center;
text-decoration: none;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.frame-418_29401 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-418_29401 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: center;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.frame-418_29402 {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.vector-418_29403 {
        width: 24px;
height: 24px;
background-image: url("/assets/ActionCatalogFill.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2px;
top: 2px;
      }
.paragraph-418_29405 {
        text-align: center;
text-decoration: none;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.frame-418_29406 {
        width: 393px;
height: 34px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.rectangle-418_29407 {
        width: 139px;
height: 5px;
position: absolute;
left: 127px;
top: 21px;
transform: rotateY(180deg);
border-radius: 100px 100px 100px 100px;
mix-blend-mode: normal;
      }

