
.symbol-2_27029 {
        
      }
.symbol-2_27030 {
        width: 360px;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 6px 6px 6px 6px;
      }
.instance-2_27031 {
        width: 44px;
height: 44px;
      }
.frame-2_27032 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_27032 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.instance-2_27033 {
        display: none;
width: 36px;
height: 36px;
      }
.frame-2_27034 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_27034 {
        display: flex;
flex-direction: column;
gap: 2px;
align-items: flex-start;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.paragraph-2_27035 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.paragraph-2_27036 {
        display: none;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27037 {
        width: 44px;
height: 44px;
      }
.symbol-2_27038 {
        width: 360px;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 6px 16px 6px 6px;
      }
.instance-2_27039 {
        width: 44px;
height: 44px;
      }
.frame-2_27040 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_27040 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.instance-2_27041 {
        display: none;
width: 36px;
height: 36px;
      }
.frame-2_27042 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_27042 {
        display: flex;
flex-direction: column;
gap: 2px;
align-items: flex-start;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.paragraph-2_27043 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.paragraph-2_27044 {
        display: none;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_27045 {
        width: 360px;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 6px 6px 6px 16px;
      }
.frame-2_27046 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_27046 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.instance-2_27047 {
        display: none;
width: 36px;
height: 36px;
      }
.frame-2_27048 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_27048 {
        display: flex;
flex-direction: column;
gap: 2px;
align-items: flex-start;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.paragraph-2_27049 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.paragraph-2_27050 {
        display: none;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27051 {
        width: 44px;
height: 44px;
      }
.symbol-2_27052 {
        width: 360px;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 6px 16px 6px 16px;
      }
.frame-2_27053 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_27053 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.instance-2_27054 {
        display: none;
width: 36px;
height: 36px;
      }
.frame-2_27055 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_27055 {
        display: flex;
flex-direction: column;
gap: 2px;
align-items: flex-start;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.paragraph-2_27056 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.paragraph-2_27057 {
        display: none;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_27058 {
        width: 360px;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 6px 6px 6px 6px;
      }
.instance-2_27059 {
        width: 44px;
height: 44px;
      }
.instance-2_27060 {
        width: 44px;
height: 44px;
      }
.paragraph-2_27061 {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: absolute;
left: 161px;
top: 18px;
flex-grow: 0;
      }
.symbol-2_27062 {
        width: 360px;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 6px 6px 6px 6px;
      }
.instance-2_27063 {
        width: 44px;
height: 44px;
      }
.paragraph-2_27064 {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: absolute;
left: 161px;
top: 18px;
flex-grow: 0;
      }
.symbol-2_27065 {
        width: 360px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
padding: 10px 6px 10px 16px;
      }
.instance-2_27066 {
        width: 290px;
height: 44px;
      }
.instance-2_27067 {
        width: 44px;
height: 44px;
      }
.symbol-2_27068 {
        width: 360px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
padding: 10px 16px 10px 16px;
      }
.instance-2_27069 {
        width: 328px;
height: 44px;
      }
.symbol-2_27070 {
        width: 360px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
padding: 10px 16px 10px 6px;
      }
.instance-2_27071 {
        width: 44px;
height: 44px;
      }
.instance-2_27072 {
        width: 290px;
height: 44px;
      }
.symbol-2_27073 {
        width: 360px;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 6px 6px 6px 6px;
      }
.instance-2_27074 {
        width: 44px;
height: 44px;
      }
.paragraph-2_27075 {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: absolute;
left: 161px;
top: 18px;
flex-grow: 0;
      }
.symbol-2_27076 {
        width: 360px;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 16px 6px 16px;
      }
.paragraph-2_27077 {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 20px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.symbol-2_27078 {
        width: 360px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
padding: 10px 6px 10px 6px;
      }
.instance-2_27079 {
        width: 44px;
height: 44px;
      }
.instance-2_27080 {
        width: 252px;
height: 44px;
      }
.instance-2_27081 {
        width: 44px;
height: 44px;
      }
.component-2_27029 {
        width: fit-content;
height: fit-content;
      }


.instance-2_27031 .instance-2_27091  {
        width: 44px;
height: 44px;
      }
.instance-2_27031 .symbol-2_27090  {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
background-color: transparent;
      }
.instance-2_27037 .instance-2_27084  {
        display: none;
width: 44px;
height: 44px;
      }
.instance-2_27037 .instance-2_27085  {
        display: none;
width: 44px;
height: 44px;
      }
.instance-2_27037 .instance-2_27086  {
        width: 44px;
height: 44px;
      }
.instance-2_27037 .symbol-2_27083  {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
background-color: transparent;
      }
.instance-2_27039 .instance-2_27091  {
        width: 44px;
height: 44px;
      }
.instance-2_27039 .symbol-2_27090  {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
background-color: transparent;
      }
.instance-2_27051 .instance-2_27084  {
        display: none;
width: 44px;
height: 44px;
      }
.instance-2_27051 .instance-2_27085  {
        display: none;
width: 44px;
height: 44px;
      }
.instance-2_27051 .instance-2_27086  {
        width: 44px;
height: 44px;
      }
.instance-2_27051 .symbol-2_27083  {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
background-color: transparent;
      }
.instance-2_27059 .instance-2_27091  {
        width: 44px;
height: 44px;
      }
.instance-2_27059 .symbol-2_27090  {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
background-color: transparent;
      }
.instance-2_27060 .instance-2_27084  {
        display: none;
width: 44px;
height: 44px;
      }
.instance-2_27060 .instance-2_27085  {
        display: none;
width: 44px;
height: 44px;
      }
.instance-2_27060 .instance-2_27086  {
        width: 44px;
height: 44px;
      }
.instance-2_27060 .symbol-2_27083  {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
background-color: transparent;
      }
.instance-2_27063 .instance-2_27084  {
        display: none;
width: 44px;
height: 44px;
      }
.instance-2_27063 .instance-2_27085  {
        display: none;
width: 44px;
height: 44px;
      }
.instance-2_27063 .instance-2_27086  {
        width: 44px;
height: 44px;
      }
.instance-2_27063 .symbol-2_27083  {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
background-color: transparent;
      }
.instance-2_27067 .instance-2_27084  {
        display: none;
width: 44px;
height: 44px;
      }
.instance-2_27067 .instance-2_27085  {
        display: none;
width: 44px;
height: 44px;
      }
.instance-2_27067 .instance-2_27086  {
        width: 44px;
height: 44px;
      }
.instance-2_27067 .symbol-2_27083  {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
background-color: transparent;
      }
.instance-2_27071 .instance-2_27091  {
        width: 44px;
height: 44px;
      }
.instance-2_27071 .symbol-2_27090  {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
background-color: transparent;
      }
.instance-2_27074 .instance-2_27091  {
        width: 44px;
height: 44px;
      }
.instance-2_27074 .symbol-2_27090  {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
background-color: transparent;
      }
.instance-2_27079 .instance-2_27091  {
        width: 44px;
height: 44px;
      }
.instance-2_27079 .symbol-2_27090  {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
background-color: transparent;
      }
.instance-2_27081 .instance-2_27084  {
        display: none;
width: 44px;
height: 44px;
      }
.instance-2_27081 .instance-2_27085  {
        display: none;
width: 44px;
height: 44px;
      }
.instance-2_27081 .instance-2_27086  {
        width: 44px;
height: 44px;
      }
.instance-2_27081 .symbol-2_27083  {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
background-color: transparent;
      }
.instance-2_27066 .symbol-2_26981  {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 0px 10px 0px 10px;
min-height: 36px;
max-height: 36px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_27066  .stroke-wrapper-2_26981 {
        position: absolute;
left: 411px;
top: 240px;
width: 290px;
height: 44px;
display: flex;
max-height: 36px;
      }
.instance-2_27066  .stroke-2_26981 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27069 .symbol-2_26981  {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 0px 10px 0px 10px;
min-height: 36px;
max-height: 36px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_27069  .stroke-wrapper-2_26981 {
        position: absolute;
left: 411px;
top: 240px;
width: 328px;
height: 36px;
display: flex;
max-height: 36px;
      }
.instance-2_27069  .stroke-2_26981 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27072 .symbol-2_26981  {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 0px 10px 0px 10px;
min-height: 36px;
max-height: 36px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_27072  .stroke-wrapper-2_26981 {
        position: absolute;
left: 411px;
top: 240px;
width: 290px;
height: 36px;
display: flex;
max-height: 36px;
      }
.instance-2_27072  .stroke-2_26981 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27080 .symbol-2_26981  {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 0px 10px 0px 10px;
min-height: 36px;
max-height: 36px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_27080  .stroke-wrapper-2_26981 {
        position: absolute;
left: 411px;
top: 240px;
width: 252px;
height: 44px;
display: flex;
max-height: 36px;
      }
.instance-2_27080  .stroke-2_26981 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27066 .symbol-2_26994  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 0px 12px 0px 12px;
min-height: 44px;
max-height: 44px;
border-radius: 12px 12px 12px 12px;
      }
.instance-2_27066  .stroke-wrapper-2_26994 {
        position: relative;
width: 290px;
height: 44px;
display: flex;
flex-shrink: 0;
max-height: 44px;
      }
.instance-2_27066  .stroke-2_26994 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27069 .symbol-2_26994  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 0px 12px 0px 12px;
min-height: 44px;
max-height: 44px;
border-radius: 12px 12px 12px 12px;
      }
.instance-2_27069  .stroke-wrapper-2_26994 {
        position: relative;
width: 328px;
height: 44px;
display: flex;
flex-shrink: 0;
max-height: 44px;
      }
.instance-2_27069  .stroke-2_26994 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27072 .symbol-2_26994  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 0px 12px 0px 12px;
min-height: 44px;
max-height: 44px;
border-radius: 12px 12px 12px 12px;
      }
.instance-2_27072  .stroke-wrapper-2_26994 {
        position: relative;
width: 290px;
height: 44px;
display: flex;
flex-shrink: 0;
max-height: 44px;
      }
.instance-2_27072  .stroke-2_26994 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27080 .symbol-2_26994  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 0px 12px 0px 12px;
min-height: 44px;
max-height: 44px;
border-radius: 12px 12px 12px 12px;
      }
.instance-2_27080  .stroke-wrapper-2_26994 {
        position: relative;
width: 252px;
height: 44px;
display: flex;
flex-shrink: 0;
max-height: 44px;
      }
.instance-2_27080  .stroke-2_26994 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27066 .instance-2_26995  {
        width: 24px;
height: 24px;
      }
.instance-2_27069 .instance-2_26995  {
        width: 24px;
height: 24px;
      }
.instance-2_27072 .instance-2_26995  {
        width: 24px;
height: 24px;
      }
.instance-2_27080 .instance-2_26995  {
        width: 24px;
height: 24px;
      }
.instance-2_27066 .frame-2_26996  {
        width: 100%;
height: 28px;
overflow: hidden;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 28px;
max-height: 28px;
flex-grow: 1;
flex-basis: 0;
      }
.instance-2_27069 .frame-2_26996  {
        width: 100%;
height: 28px;
overflow: hidden;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 28px;
max-height: 28px;
flex-grow: 1;
flex-basis: 0;
      }
.instance-2_27072 .frame-2_26996  {
        width: 100%;
height: 28px;
overflow: hidden;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 28px;
max-height: 28px;
flex-grow: 1;
flex-basis: 0;
      }
.instance-2_27080 .frame-2_26996  {
        width: 100%;
height: 28px;
overflow: hidden;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 28px;
max-height: 28px;
flex-grow: 1;
flex-basis: 0;
      }
.instance-2_27066 .paragraph-2_26997  {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_27069 .paragraph-2_26997  {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_27072 .paragraph-2_26997  {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_27080 .paragraph-2_26997  {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_27066 .instance-2_26998  {
        display: none;
width: 24px;
height: 24px;
      }
.instance-2_27069 .instance-2_26998  {
        display: none;
width: 24px;
height: 24px;
      }
.instance-2_27072 .instance-2_26998  {
        display: none;
width: 24px;
height: 24px;
      }
.instance-2_27080 .instance-2_26998  {
        display: none;
width: 24px;
height: 24px;
      }
.instance-2_27066 .instance-2_26999  {
        display: none;
width: 24px;
height: 24px;
      }
.instance-2_27072 .instance-2_26999  {
        display: none;
width: 24px;
height: 24px;
      }
.instance-2_27080 .instance-2_26999  {
        display: none;
width: 24px;
height: 24px;
      }
.instance-2_27031 .instance-2_27091 .instance-2_26349  {
        width: 24px;
height: 24px;
      }
.instance-2_27039 .instance-2_27091 .instance-2_26349  {
        width: 24px;
height: 24px;
      }
.instance-2_27059 .instance-2_27091 .instance-2_26349  {
        width: 24px;
height: 24px;
      }
.instance-2_27071 .instance-2_27091 .instance-2_26349  {
        width: 24px;
height: 24px;
      }
.instance-2_27074 .instance-2_27091 .instance-2_26349  {
        width: 24px;
height: 24px;
      }
.instance-2_27079 .instance-2_27091 .instance-2_26349  {
        width: 24px;
height: 24px;
      }
.instance-2_27033 .symbol-2_27202  {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
      }
.instance-2_27041 .symbol-2_27202  {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
      }
.instance-2_27047 .symbol-2_27202  {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
      }
.instance-2_27054 .symbol-2_27202  {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
      }
.instance-2_27033 .group-2_27203  {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27041 .group-2_27203  {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27047 .group-2_27203  {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27054 .group-2_27203  {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27033 .vector-2_27205  {
        width: 17.59765625px;
height: 17.3056640625px;
background-image: url("/assets/Avatar2.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 9.201171875px;
top: 9.34765625px;
      }
.instance-2_27041 .vector-2_27205  {
        width: 17.59765625px;
height: 17.3056640625px;
background-image: url("/assets/Avatar2.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 9.201171875px;
top: 9.34765625px;
      }
.instance-2_27047 .vector-2_27205  {
        width: 17.59765625px;
height: 17.3056640625px;
background-image: url("/assets/Avatar2.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 9.201171875px;
top: 9.34765625px;
      }
.instance-2_27054 .vector-2_27205  {
        width: 17.59765625px;
height: 17.3056640625px;
background-image: url("/assets/Avatar2.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 9.201171875px;
top: 9.34765625px;
      }
