
.symbol-2_20263 {
        
      }
.symbol-2_20264 {
        width: 361px;
height: 16px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.paragraph-2_20265 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_20266 {
        width: 361px;
height: 12px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.paragraph-2_20267 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_20268 {
        width: 361px;
height: 16px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.paragraph-2_20269 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_20270 {
        width: 361px;
height: 12px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.paragraph-2_20271 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_20272 {
        width: 361px;
height: 16px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.paragraph-2_20273 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_20274 {
        width: 361px;
height: 12px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.paragraph-2_20275 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.component-2_20263 {
        width: fit-content;
height: fit-content;
      }

