
.symbol-2_2247 {
        
      }
.symbol-2_2248 {
        width: 393px;
height: 34px;
position: relative;
      }
.rectangle-2_2249 {
        width: 139px;
height: 5px;
position: absolute;
left: 127px;
top: 21px;
transform: rotateY(180deg);
border-radius: 100px 100px 100px 100px;
      }
.symbol-2_2250 {
        width: 393px;
height: 34px;
position: relative;
      }
.rectangle-2_2251 {
        width: 139px;
height: 5px;
position: absolute;
left: 127px;
top: 21px;
transform: rotateY(180deg);
border-radius: 100px 100px 100px 100px;
      }
.component-2_2247 {
        width: fit-content;
height: fit-content;
      }

