
.symbol-355_5750 {
        width: 440px;
height: 230px;
position: relative;
      }
.vector-355_5751 {
        width: 326.85980224609375px;
height: 229.3978271484375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 57px;
top: 0px;
transform: matrix(-1, 0, 0, 1, 0, 0);
      }
.component-355_5750 {
        width: fit-content;
height: fit-content;
      }

