
.symbol-2_27406 {
        width: 440px;
height: 230px;
position: relative;
      }
.group-2_27407 {
        width: 147.04689025878906px;
height: 119.96477508544922px;
position: absolute;
left: 161.8961181640625px;
top: 82.43716430664062px;
      }
.group-2_27408 {
        width: 129.684814453125px;
height: 82.0067138671875px;
position: absolute;
left: 89.807861328125px;
top: -37.107177734375px;
transform: rotateY(180deg);
      }
.vector-2_27409 {
        width: 131.838623046875px;
height: 84.48980712890625px;
background-image: url("/assets/Rectangle37671880.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.00000762939453125px;
top: 0.000003814697265625px;
transform: matrix(-1, 0, 0, 1, 0, 0);
      }
.vector-2_27410 {
        width: 129.684814453125px;
height: 15.1396484375px;
background-image: url("/assets/Rectangle37671881.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.00006103515625px;
top: 0.000008106231689453125px;
transform: matrix(-1, 0, 0, 1, 0, 0);
      }
.vector-2_27411 {
        width: 6.1016845703125px;
height: 6.3082275390625px;
background-image: url("/assets/Ellipse3411.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 31.868505477905273px;
top: 5.046670436859131px;
transform: matrix(-1, 0, 0, 1, 0, 0);
      }
.vector-2_27412 {
        width: 6.1016845703125px;
height: 6.3082275390625px;
background-image: url("/assets/Ellipse3412.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 21.990514755249023px;
top: 5.046670436859131px;
transform: matrix(-1, 0, 0, 1, 0, 0);
      }
.vector-2_27413 {
        width: 6.1016845703125px;
height: 6.3082275390625px;
background-image: url("/assets/Ellipse3413.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 12.112462997436523px;
top: 5.046670436859131px;
transform: matrix(-1, 0, 0, 1, 0, 0);
      }
.rectangle-2_27414 {
        width: 17.87810516357422px;
height: 46.68171691894531px;
position: absolute;
left: 20.4404296875px;
top: 23.202880859375px;
transform: rotateY(180deg);
border-radius: 3.972912073135376px 3.972912073135376px 3.972912073135376px 3.972912073135376px;
background-color: rgba(0, 0, 0, 1);
      }
.rectangle-2_27415 {
        width: 17.87810516357422px;
height: 33.769752502441406px;
position: absolute;
left: 43.28466796875px;
top: 36.11474609375px;
transform: rotateY(180deg);
border-radius: 3.972912073135376px 3.972912073135376px 3.972912073135376px 3.972912073135376px;
background-color: rgba(0, 0, 0, 1);
      }
.vector-2_27416 {
        width: 71.1790771484375px;
height: 71.2962646484375px;
background-image: url("/assets/Vector42.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: -101.97802734375px;
top: -69.47509765625px;
      }
.group-2_27417 {
        width: 98.47042846679688px;
height: 104.5527572631836px;
position: absolute;
left: -80.69664001464844px;
top: -45.03788757324219px;
      }
.vector-2_27418 {
        width: 95.674560546875px;
height: 95.86962890625px;
background-image: url("/assets/Ellipse3418.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.7958984375px;
top: 1.9735107421875px;
      }
.vector-2_27419 {
        width: 93.974609375px;
height: 78.65997314453125px;
background-image: url("/assets/Vector35.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 0px;
      }
.vector-2_27420 {
        width: 61.5982666015625px;
height: 66.7099609375px;
background-image: url("/assets/Vector32.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 32.1297607421875px;
top: 37.8427734375px;
      }
.vector-2_27421 {
        width: 6.52587890625px;
height: 6.5391845703125px;
background-image: url("/assets/Vector34.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 71.50244140625px;
top: 43.4703369140625px;
      }
.vector-2_27422 {
        width: 6.52587890625px;
height: 6.5391845703125px;
background-image: url("/assets/Vector36.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 53.33544921875px;
top: 48.1524658203125px;
      }
.vector-2_27423 {
        width: 12.1590576171875px;
height: 15.388916015625px;
background-image: url("/assets/Vector40.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 63.7181396484375px;
top: 45.143310546875px;
      }
.vector-2_27424 {
        width: 8.4349365234375px;
height: 4.2708740234375px;
background-image: url("/assets/Vector39.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 63.567626953125px;
top: 66.4698486328125px;
      }
.vector-2_27425 {
        width: 29.2532958984375px;
height: 39.9078369140625px;
background-image: url("/assets/Vector38.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 23.678466796875px;
top: 18.0140380859375px;
      }
.vector-2_27426 {
        width: 30.82421875px;
height: 26.9302978515625px;
background-image: url("/assets/Vector37.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 14.326904296875px;
top: 20.46240234375px;
      }
.vector-2_27427 {
        width: 25.542724609375px;
height: 13.3629150390625px;
background-image: url("/assets/Vector33.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 56.832763671875px;
top: 17.9307861328125px;
      }
.vector-2_27428 {
        width: 52.1126708984375px;
height: 26.69366455078125px;
background-image: url("/assets/Vector1535.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: -53.490966796875px;
top: 52.56884765625px;
      }
.vector-2_27429 {
        width: 32.876220703125px;
height: 49.93951416015625px;
background-image: url("/assets/Vector1573.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: -96.5391845703125px;
top: 52.3482666015625px;
      }
.vector-2_27430 {
        width: 28.2958984375px;
height: 16.36126708984375px;
background-image: url("/assets/Vector1574.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 11.924560546875px;
top: 52.843994140625px;
      }
.vector-2_27431 {
        width: 61.3115234375px;
height: 82.58428955078125px;
background-image: url("/assets/Vector43.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: -15.5323486328125px;
top: -48.1339111328125px;
      }
.vector-2_27432 {
        width: 44.0355224609375px;
height: 59.168212890625px;
background-image: url("/assets/Vector41.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: -112.093505859375px;
top: -4.8037109375px;
      }
.vector-2_27433 {
        width: 40.39404296875px;
height: 21.17510986328125px;
background-image: url("/assets/Vector1594.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 90.705322265625px;
top: 26.4449462890625px;
      }
.group-2_27434 {
        width: 9.99999993922529e-9px;
height: 9.99999993922529e-9px;
position: absolute;
left: 0px;
top: 0px;
      }
.vector-2_27435 {
        width: 0px;
height: 0px;
background-image: url("http://localhost:3667/assets/1780383060307/Vector1596.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 0px;
      }
.vector-2_27436 {
        width: 0px;
height: 0px;
background-image: url("http://localhost:3667/assets/1780383060307/Vector1597.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 0px;
      }
.vector-2_27437 {
        width: 58.7332763671875px;
height: 6.171630859375px;
background-image: url("/assets/Vector1600.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 8.5087890625px;
top: 83.9993896484375px;
      }
.vector-2_27438 {
        width: 71.1790771484375px;
height: 6.9876708984375px;
background-image: url("/assets/Vector1601.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 115.46051025390625px;
      }
.vector-2_27439 {
        width: 78.784423828125px;
height: 117.08709716796875px;
background-image: url("/assets/Union4.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 68.262451171875px;
top: 0px;
      }
.vector-2_27442 {
        width: 26.021240234375px;
height: 38.9674072265625px;
background-image: url("/assets/Vector1599.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 72.4102783203125px;
top: 80.5849609375px;
      }
.vector-2_27443 {
        width: 14.595703125px;
height: 15.24652099609375px;
background-image: url("/assets/Vector16020.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 78.395263671875px;
top: 97.1221923828125px;
      }
.rectangle-2_27444 {
        width: 46.68171691894531px;
height: 46.68171691894531px;
position: absolute;
left: 323.7923583984375px;
top: 69.5260009765625px;
border-radius: 5.9593682289123535px 5.9593682289123535px 5.9593682289123535px 5.9593682289123535px;
background-color: rgba(238, 244, 253, 1);
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2046.68171691894531%2046.68171691894531'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3CradialGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20cx%3D'0.5'%20cy%3D'0.5'%20r%3D'2.6374'%20gradientTransform%3D'matrix(-3.1952%2C%204.1970%2C%20-8.0077%2C%20-6.0962%2C%207.4594%2C%20-0.1528)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(116.572021484375%2C162.90774536132812%2C255%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(132.368408203125%2C196.40403747558594%2C255%2C1)'%20offset%3D'0.42500001192092896'%2F%3E%3Cstop%20stop-color%3D'rgba(0%2C70.72682189941406%2C211.29638671875%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FradialGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.vector-2_27445 {
        width: 29.796875px;
height: 29.796875px;
background-image: url("/assets/Ellipse_2_27445.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 332.7314453125px;
top: 77.4718017578125px;
      }
.vector-2_27446 {
        width: 29.796875px;
height: 29.796875px;
background-image: url("/assets/Ellipse_2_27446.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 335.7110595703125px;
top: 74.4920654296875px;
      }
.group-2_27447 {
        width: 48.04048156738281px;
height: 56.3524169921875px;
position: absolute;
left: 337.927978515625px;
top: 113.01708984375px;
      }
.group-2_27448 {
        width: 48.04048156738281px;
height: 56.3524169921875px;
position: absolute;
left: 0px;
top: 0px;
      }
.vector-2_27449 {
        width: 48.04052734375px;
height: 56.3524169921875px;
background-image: url("/assets/Vector1566.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 0px;
      }
.vector-2_27450 {
        width: 27.453125px;
height: 26.67279052734375px;
background-image: url("/assets/Vector30.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 374.594482421875px;
top: 152.6724853515625px;
      }
.vector-2_27451 {
        width: 21.6505126953125px;
height: 18.87872314453125px;
background-image: url("/assets/Vector31.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 361.711669921875px;
top: 162.5860595703125px;
      }
.component-2_27406 {
        width: fit-content;
height: fit-content;
      }

