
.symbol-2_12762 {
        
      }
.symbol-2_12763 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 4px 4px 4px 4px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.stroke-wrapper-2_12763 {
        position: relative;
width: 16px;
height: 16px;
      }
.stroke-2_12763 {
        position: absolute;
inset: 0px;
border-radius: 4px 4px 4px 4px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.symbol-2_12764 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 16px;
min-width: 16px;
max-height: 16px;
max-width: 16px;
border-radius: 4px 4px 4px 4px;
      }
.stroke-wrapper-2_12764 {
        position: relative;
width: 16px;
height: 16px;
display: flex;
max-width: 16px;
max-height: 16px;
      }
.stroke-2_12764 {
        position: absolute;
inset: 0px;
border-radius: 4px 4px 4px 4px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.paragraph-2_12765 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_12766 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 8px 8px 8px 8px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.stroke-wrapper-2_12766 {
        position: relative;
width: 24px;
height: 24px;
      }
.stroke-2_12766 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12767 {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_12768 {
        display: none;
width: 6px;
height: 6px;
      }
.instance-2_12769 {
        display: none;
width: 10px;
height: 10px;
      }
.symbol-2_12770 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 24px;
min-width: 24px;
max-height: 24px;
max-width: 24px;
border-radius: 8px 8px 8px 8px;
      }
.stroke-wrapper-2_12770 {
        position: relative;
width: 24px;
height: 24px;
display: flex;
max-width: 24px;
max-height: 24px;
      }
.stroke-2_12770 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12771 {
        display: none;
width: 10px;
height: 10px;
      }
.paragraph-2_12772 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_12773 {
        display: none;
width: 6px;
height: 6px;
      }
.instance-2_12774 {
        display: none;
width: 10px;
height: 10px;
      }
.symbol-2_12775 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 10px 10px 10px 10px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.stroke-wrapper-2_12775 {
        position: relative;
width: 32px;
height: 32px;
      }
.stroke-2_12775 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12776 {
        display: none;
width: 12px;
height: 12px;
      }
.instance-2_12777 {
        display: none;
width: 8px;
height: 8px;
      }
.instance-2_12778 {
        display: none;
width: 12px;
height: 12px;
      }
.symbol-2_12779 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 32px;
min-width: 32px;
max-height: 32px;
max-width: 32px;
border-radius: 10px 10px 10px 10px;
      }
.stroke-wrapper-2_12779 {
        position: relative;
width: 32px;
height: 32px;
display: flex;
max-width: 32px;
max-height: 32px;
      }
.stroke-2_12779 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12780 {
        display: none;
width: 12px;
height: 12px;
      }
.paragraph-2_12781 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_12782 {
        display: none;
width: 8px;
height: 8px;
      }
.instance-2_12783 {
        display: none;
width: 12px;
height: 12px;
      }
.symbol-2_12784 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 12px 12px 12px 12px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.stroke-wrapper-2_12784 {
        position: relative;
width: 40px;
height: 40px;
      }
.stroke-2_12784 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12785 {
        display: none;
width: 16px;
height: 16px;
      }
.instance-2_12786 {
        display: none;
width: 16px;
height: 16px;
      }
.instance-2_12787 {
        display: none;
width: 10px;
height: 10px;
      }
.symbol-2_12788 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 40px;
min-width: 40px;
max-height: 40px;
max-width: 40px;
border-radius: 12px 12px 12px 12px;
      }
.stroke-wrapper-2_12788 {
        position: relative;
width: 40px;
height: 40px;
display: flex;
max-width: 40px;
max-height: 40px;
      }
.stroke-2_12788 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12789 {
        display: none;
width: 16px;
height: 16px;
      }
.paragraph-2_12790 {
        text-align: center;
width: 40px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_12791 {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_12792 {
        display: none;
width: 16px;
height: 16px;
      }
.symbol-2_12793 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 20px 20px 20px 20px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.stroke-wrapper-2_12793 {
        position: relative;
width: 96px;
height: 96px;
      }
.stroke-2_12793 {
        position: absolute;
inset: 0px;
border-radius: 20px 20px 20px 20px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12794 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-2_12795 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-2_12796 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-2_12797 {
        display: none;
width: 16px;
height: 16px;
      }
.symbol-2_12798 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 96px;
min-width: 96px;
max-height: 96px;
max-width: 96px;
border-radius: 20px 20px 20px 20px;
      }
.stroke-wrapper-2_12798 {
        position: relative;
width: 96px;
height: 96px;
display: flex;
max-width: 96px;
max-height: 96px;
      }
.stroke-2_12798 {
        position: absolute;
inset: 0px;
border-radius: 20px 20px 20px 20px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12799 {
        display: none;
width: 32px;
height: 32px;
      }
.paragraph-2_12800 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_12801 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-2_12802 {
        display: none;
width: 16px;
height: 16px;
      }
.instance-2_12803 {
        display: none;
width: 32px;
height: 32px;
      }
.symbol-2_12804 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 16px;
min-width: 16px;
max-height: 16px;
max-width: 16px;
border-radius: 4px 4px 4px 4px;
      }
.stroke-wrapper-2_12804 {
        position: relative;
width: 16px;
height: 16px;
display: flex;
max-width: 16px;
max-height: 16px;
      }
.stroke-2_12804 {
        position: absolute;
inset: 0px;
border-radius: 4px 4px 4px 4px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12805 {
        width: 12px;
height: 12px;
      }
.symbol-2_12806 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 24px;
min-width: 24px;
max-height: 24px;
max-width: 24px;
border-radius: 8px 8px 8px 8px;
      }
.stroke-wrapper-2_12806 {
        position: relative;
width: 24px;
height: 24px;
display: flex;
max-width: 24px;
max-height: 24px;
      }
.stroke-2_12806 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12807 {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_12808 {
        width: 16px;
height: 16px;
      }
.instance-2_12809 {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_12810 {
        display: none;
width: 6px;
height: 6px;
      }
.symbol-2_12811 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 32px;
min-width: 32px;
max-height: 32px;
max-width: 32px;
border-radius: 10px 10px 10px 10px;
      }
.stroke-wrapper-2_12811 {
        position: relative;
width: 32px;
height: 32px;
display: flex;
max-width: 32px;
max-height: 32px;
      }
.stroke-2_12811 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12812 {
        display: none;
width: 12px;
height: 12px;
      }
.instance-2_12813 {
        width: 20px;
height: 20px;
      }
.instance-2_12814 {
        display: none;
width: 12px;
height: 12px;
      }
.instance-2_12815 {
        display: none;
width: 8px;
height: 8px;
      }
.symbol-2_12816 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 40px;
min-width: 40px;
max-height: 40px;
max-width: 40px;
border-radius: 12px 12px 12px 12px;
      }
.stroke-wrapper-2_12816 {
        position: relative;
width: 40px;
height: 40px;
display: flex;
max-width: 40px;
max-height: 40px;
      }
.stroke-2_12816 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12817 {
        display: none;
width: 16px;
height: 16px;
      }
.instance-2_12818 {
        display: none;
width: 16px;
height: 16px;
      }
.instance-2_12819 {
        width: 24px;
height: 24px;
      }
.instance-2_12820 {
        display: none;
width: 10px;
height: 10px;
      }
.symbol-2_12821 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 96px;
min-width: 96px;
max-height: 96px;
max-width: 96px;
border-radius: 20px 20px 20px 20px;
      }
.stroke-wrapper-2_12821 {
        position: relative;
width: 96px;
height: 96px;
display: flex;
max-width: 96px;
max-height: 96px;
      }
.stroke-2_12821 {
        position: absolute;
inset: 0px;
border-radius: 20px 20px 20px 20px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12822 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-2_12823 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-2_12824 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-2_12825 {
        width: 56px;
height: 56px;
      }
.instance-2_12826 {
        display: none;
width: 16px;
height: 16px;
      }
.symbol-2_12827 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 6px 6px 6px 6px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.stroke-wrapper-2_12827 {
        position: relative;
width: 20px;
height: 20px;
      }
.stroke-2_12827 {
        position: absolute;
inset: 0px;
border-radius: 6px 6px 6px 6px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.symbol-2_12828 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 20px;
min-width: 20px;
max-height: 20px;
max-width: 20px;
border-radius: 6px 6px 6px 6px;
      }
.stroke-wrapper-2_12828 {
        position: relative;
width: 20px;
height: 20px;
display: flex;
max-width: 20px;
max-height: 20px;
      }
.stroke-2_12828 {
        position: absolute;
inset: 0px;
border-radius: 6px 6px 6px 6px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.paragraph-2_12829 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_12830 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 20px;
min-width: 20px;
max-height: 20px;
max-width: 20px;
border-radius: 6px 6px 6px 6px;
      }
.stroke-wrapper-2_12830 {
        position: relative;
width: 20px;
height: 20px;
display: flex;
max-width: 20px;
max-height: 20px;
      }
.stroke-2_12830 {
        position: absolute;
inset: 0px;
border-radius: 6px 6px 6px 6px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12831 {
        width: 14px;
height: 14px;
      }
.symbol-2_12832 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 56px;
min-width: 56px;
max-height: 56px;
max-width: 56px;
border-radius: 16px 16px 16px 16px;
      }
.stroke-wrapper-2_12832 {
        position: relative;
width: 56px;
height: 56px;
display: flex;
max-width: 56px;
max-height: 56px;
      }
.stroke-2_12832 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12833 {
        display: none;
width: 20px;
height: 20px;
      }
.instance-2_12834 {
        display: none;
width: 20px;
height: 20px;
      }
.instance-2_12835 {
        width: 32px;
height: 32px;
      }
.instance-2_12836 {
        display: none;
width: 14px;
height: 14px;
      }
.symbol-2_12837 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 56px;
min-width: 56px;
max-height: 56px;
max-width: 56px;
border-radius: 16px 16px 16px 16px;
      }
.stroke-wrapper-2_12837 {
        position: relative;
width: 56px;
height: 56px;
display: flex;
max-width: 56px;
max-height: 56px;
      }
.stroke-2_12837 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12838 {
        display: none;
width: 20px;
height: 20px;
      }
.paragraph-2_12839 {
        text-align: center;
width: 40px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_12840 {
        display: none;
width: 14px;
height: 14px;
      }
.instance-2_12841 {
        display: none;
width: 20px;
height: 20px;
      }
.symbol-2_12842 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 16px 16px 16px 16px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.stroke-wrapper-2_12842 {
        position: relative;
width: 56px;
height: 56px;
      }
.stroke-2_12842 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12843 {
        display: none;
width: 20px;
height: 20px;
      }
.instance-2_12844 {
        display: none;
width: 20px;
height: 20px;
      }
.instance-2_12845 {
        display: none;
width: 14px;
height: 14px;
      }
.component-2_12762 {
        width: fit-content;
height: fit-content;
      }


.instance-2_12795 .symbol-2_30628  {
        width: 32px;
height: 32px;
position: absolute;
left: 72px;
top: -8px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 32px;
min-width: 32px;
border-radius: 999px 999px 999px 999px;
      }
.instance-2_12803 .symbol-2_30628  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 32px;
min-width: 32px;
border-radius: 999px 999px 999px 999px;
      }
.instance-2_12822 .symbol-2_30628  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 32px;
min-width: 32px;
border-radius: 999px 999px 999px 999px;
      }
.instance-2_12795 .paragraph-2_30629  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2_12803 .paragraph-2_30629  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2_12822 .paragraph-2_30629  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2_12769 .symbol-2_30635  {
        width: 10px;
height: 10px;
position: absolute;
left: 17px;
top: -3px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_12774 .symbol-2_30635  {
        width: 10px;
height: 10px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_12778 .symbol-2_30635  {
        width: 12px;
height: 12px;
position: absolute;
left: 23px;
top: -3px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_12783 .symbol-2_30635  {
        width: 12px;
height: 12px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_12785 .symbol-2_30635  {
        width: 16px;
height: 16px;
position: absolute;
left: 28px;
top: -4px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_12792 .symbol-2_30635  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_12807 .symbol-2_30635  {
        width: 10px;
height: 10px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_12812 .symbol-2_30635  {
        width: 12px;
height: 12px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_12817 .symbol-2_30635  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_12833 .symbol-2_30635  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_12841 .symbol-2_30635  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_12843 .symbol-2_30635  {
        width: 20px;
height: 20px;
position: absolute;
left: 42px;
top: -6px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_12768 .symbol-2_30639  {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_12768  .stroke-wrapper-2_30639 {
        position: absolute;
left: 19px;
top: 19px;
width: 6px;
height: 6px;
      }
.instance-2_12768  .stroke-2_30639 {
        position: absolute;
inset: -1px -1px -1px -1px;
border-radius: 10000px 10000px 10000px 10000px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12773 .symbol-2_30639  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_12773  .stroke-wrapper-2_30639 {
        position: relative;
width: 6px;
height: 6px;
flex-shrink: 0;
      }
.instance-2_12773  .stroke-2_30639 {
        position: absolute;
inset: -1px -1px -1px -1px;
border-radius: 10000px 10000px 10000px 10000px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12777 .symbol-2_30639  {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_12777  .stroke-wrapper-2_30639 {
        position: absolute;
left: 25px;
top: 25px;
width: 8px;
height: 8px;
      }
.instance-2_12777  .stroke-2_30639 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12782 .symbol-2_30639  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_12782  .stroke-wrapper-2_30639 {
        position: relative;
width: 8px;
height: 8px;
flex-shrink: 0;
      }
.instance-2_12782  .stroke-2_30639 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12787 .symbol-2_30639  {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_12787  .stroke-wrapper-2_30639 {
        position: absolute;
left: 32px;
top: 32px;
width: 10px;
height: 10px;
      }
.instance-2_12787  .stroke-2_30639 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12791 .symbol-2_30639  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_12791  .stroke-wrapper-2_30639 {
        position: relative;
width: 10px;
height: 10px;
flex-shrink: 0;
      }
.instance-2_12791  .stroke-2_30639 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12797 .symbol-2_30639  {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_12797  .stroke-wrapper-2_30639 {
        position: absolute;
left: 82px;
top: 82px;
width: 16px;
height: 16px;
      }
.instance-2_12797  .stroke-2_30639 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12802 .symbol-2_30639  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_12802  .stroke-wrapper-2_30639 {
        position: relative;
width: 16px;
height: 16px;
flex-shrink: 0;
      }
.instance-2_12802  .stroke-2_30639 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12810 .symbol-2_30639  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_12810  .stroke-wrapper-2_30639 {
        position: relative;
width: 6px;
height: 6px;
flex-shrink: 0;
      }
.instance-2_12810  .stroke-2_30639 {
        position: absolute;
inset: -1px -1px -1px -1px;
border-radius: 10000px 10000px 10000px 10000px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12815 .symbol-2_30639  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_12815  .stroke-wrapper-2_30639 {
        position: relative;
width: 8px;
height: 8px;
flex-shrink: 0;
      }
.instance-2_12815  .stroke-2_30639 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12820 .symbol-2_30639  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_12820  .stroke-wrapper-2_30639 {
        position: relative;
width: 10px;
height: 10px;
flex-shrink: 0;
      }
.instance-2_12820  .stroke-2_30639 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12826 .symbol-2_30639  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_12826  .stroke-wrapper-2_30639 {
        position: relative;
width: 16px;
height: 16px;
flex-shrink: 0;
      }
.instance-2_12826  .stroke-2_30639 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12836 .symbol-2_30639  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_12836  .stroke-wrapper-2_30639 {
        position: relative;
width: 14px;
height: 14px;
flex-shrink: 0;
      }
.instance-2_12836  .stroke-2_30639 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12840 .symbol-2_30639  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_12840  .stroke-wrapper-2_30639 {
        position: relative;
width: 14px;
height: 14px;
flex-shrink: 0;
      }
.instance-2_12840  .stroke-2_30639 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12845 .symbol-2_30639  {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_12845  .stroke-wrapper-2_30639 {
        position: absolute;
left: 44px;
top: 44px;
width: 14px;
height: 14px;
      }
.instance-2_12845  .stroke-2_30639 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_12825 .symbol-2_30679  {
        width: 56px;
height: 56px;
position: relative;
flex-shrink: 0;
      }
.instance-2_12825 .vector-2_30680  {
        width: 37.33333206176758px;
height: 41.999996185302734px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 9.333333015441895px;
top: 6.999999523162842px;
      }
.instance-2_12767 .symbol-2_30673  {
        width: 10px;
height: 10px;
position: absolute;
left: 17px;
top: 17px;
display: none;
      }
.instance-2_12771 .symbol-2_30673  {
        width: 10px;
height: 10px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_12776 .symbol-2_30673  {
        width: 12px;
height: 12px;
position: absolute;
left: 23px;
top: 23px;
display: none;
      }
.instance-2_12780 .symbol-2_30673  {
        width: 12px;
height: 12px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_12786 .symbol-2_30673  {
        width: 16px;
height: 16px;
position: absolute;
left: 28.0001220703125px;
top: 28px;
display: none;
      }
.instance-2_12789 .symbol-2_30673  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_12796 .symbol-2_30673  {
        width: 32px;
height: 32px;
position: absolute;
left: 74px;
top: 74px;
display: none;
      }
.instance-2_12799 .symbol-2_30673  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_12809 .symbol-2_30673  {
        width: 10px;
height: 10px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_12814 .symbol-2_30673  {
        width: 12px;
height: 12px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_12818 .symbol-2_30673  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_12823 .symbol-2_30673  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_12834 .symbol-2_30673  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_12838 .symbol-2_30673  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-2_12844 .symbol-2_30673  {
        width: 20px;
height: 20px;
position: absolute;
left: 40.0001220703125px;
top: 40px;
display: none;
      }
.instance-2_12767 .vector-2_30674  {
        width: 8.54971694946289px;
height: 8.550003051757812px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.725141167640686px;
top: 0.7251131534576416px;
      }
.instance-2_12771 .vector-2_30674  {
        width: 8.54971694946289px;
height: 8.550003051757812px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.725141167640686px;
top: 0.7251131534576416px;
      }
.instance-2_12776 .vector-2_30674  {
        width: 10.259660720825195px;
height: 10.260002136230469px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.8701694011688232px;
top: 0.8701357841491699px;
      }
.instance-2_12780 .vector-2_30674  {
        width: 10.259660720825195px;
height: 10.260002136230469px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.8701694011688232px;
top: 0.8701357841491699px;
      }
.instance-2_12786 .vector-2_30674  {
        width: 13.6796875px;
height: 13.67999267578125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1602258682250977px;
top: 1.1601810455322266px;
      }
.instance-2_12789 .vector-2_30674  {
        width: 13.6796875px;
height: 13.67999267578125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1602258682250977px;
top: 1.1601810455322266px;
      }
.instance-2_12796 .vector-2_30674  {
        width: 27.35909652709961px;
height: 27.360008239746094px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.3204517364501953px;
top: 2.320362091064453px;
      }
.instance-2_12799 .vector-2_30674  {
        width: 27.35909652709961px;
height: 27.360008239746094px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.3204517364501953px;
top: 2.320362091064453px;
      }
.instance-2_12809 .vector-2_30674  {
        width: 8.54971694946289px;
height: 8.550003051757812px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.725141167640686px;
top: 0.7251131534576416px;
      }
.instance-2_12814 .vector-2_30674  {
        width: 10.259660720825195px;
height: 10.260002136230469px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.8701694011688232px;
top: 0.8701357841491699px;
      }
.instance-2_12818 .vector-2_30674  {
        width: 13.6796875px;
height: 13.67999267578125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1602258682250977px;
top: 1.1601810455322266px;
      }
.instance-2_12823 .vector-2_30674  {
        width: 27.35909652709961px;
height: 27.360008239746094px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.3204517364501953px;
top: 2.320362091064453px;
      }
.instance-2_12834 .vector-2_30674  {
        width: 17.09943389892578px;
height: 17.100006103515625px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.450282335281372px;
top: 1.4502263069152832px;
      }
.instance-2_12838 .vector-2_30674  {
        width: 17.09943389892578px;
height: 17.100006103515625px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.450282335281372px;
top: 1.4502263069152832px;
      }
.instance-2_12844 .vector-2_30674  {
        width: 17.09943389892578px;
height: 17.100006103515625px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.450282335281372px;
top: 1.4502263069152832px;
      }
.instance-2_12813 .symbol-2_30677  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_12819 .symbol-2_30677  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-2_12835 .symbol-2_30677  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
      }
.instance-2_12813 .vector-2_30678  {
        width: 13.466796875px;
height: 15.133331298828125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.2667236328125px;
top: 2.433349132537842px;
      }
.instance-2_12819 .vector-2_30678  {
        width: 16.15999984741211px;
height: 18.159997940063477px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.9200685024261475px;
top: 2.9200189113616943px;
      }
.instance-2_12835 .vector-2_30678  {
        width: 21.546669006347656px;
height: 24.21333122253418px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 5.226758003234863px;
top: 3.8933587074279785px;
      }
.instance-2_12794 .symbol-2_30667  {
        width: 32px;
height: 32px;
position: absolute;
left: 72px;
top: 72px;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 6px 6px 6px 6px;
border-radius: 100px 100px 100px 100px;
      }
.instance-2_12801 .symbol-2_30667  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: none;
border-radius: 100px 100px 100px 100px;
      }
.instance-2_12824 .symbol-2_30667  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: none;
border-radius: 100px 100px 100px 100px;
      }
.instance-2_12794 .instance-2_30668  {
        width: 20px;
height: 20px;
      }
.instance-2_12801 .instance-2_30668  {
        width: 20px;
height: 20px;
      }
.instance-2_12824 .instance-2_30668  {
        width: 20px;
height: 20px;
      }
.instance-2_12805 .symbol-2_30675  {
        width: 12px;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_12808 .symbol-2_30675  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2_12831 .symbol-2_30675  {
        width: 14px;
height: 14px;
position: relative;
flex-shrink: 0;
      }
.instance-2_12805 .vector-2_30676  {
        width: 8.260000228881836px;
height: 9.260000228881836px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.869964599609375px;
top: 1.3699951171875px;
      }
.instance-2_12808 .vector-2_30676  {
        width: 11.013671875px;
height: 12.346668243408203px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4932861328125px;
top: 1.82666015625px;
      }
.instance-2_12831 .vector-2_30676  {
        width: 9.636667251586914px;
height: 10.80333423614502px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.1816253662109375px;
top: 1.59832763671875px;
      }
