
.symbol-1268_58085 {
        
      }
.symbol-1268_58086 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 4px 4px 4px 4px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.stroke-wrapper-1268_58086 {
        position: relative;
width: 16px;
height: 16px;
      }
.stroke-1268_58086 {
        position: absolute;
inset: 0px;
border-radius: 4px 4px 4px 4px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.symbol-1268_58087 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 16px;
min-width: 16px;
max-height: 16px;
max-width: 16px;
border-radius: 4px 4px 4px 4px;
      }
.stroke-wrapper-1268_58087 {
        position: relative;
width: 16px;
height: 16px;
display: flex;
max-width: 16px;
max-height: 16px;
      }
.stroke-1268_58087 {
        position: absolute;
inset: 0px;
border-radius: 4px 4px 4px 4px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.paragraph-1268_58088 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-1268_58089 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 8px 8px 8px 8px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.stroke-wrapper-1268_58089 {
        position: relative;
width: 24px;
height: 24px;
      }
.stroke-1268_58089 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58090 {
        display: none;
width: 10px;
height: 10px;
      }
.instance-1268_58091 {
        display: none;
width: 6px;
height: 6px;
      }
.instance-1268_58092 {
        display: none;
width: 10px;
height: 10px;
      }
.symbol-1268_58093 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 24px;
min-width: 24px;
max-height: 24px;
max-width: 24px;
border-radius: 8px 8px 8px 8px;
      }
.stroke-wrapper-1268_58093 {
        position: relative;
width: 24px;
height: 24px;
display: flex;
max-width: 24px;
max-height: 24px;
      }
.stroke-1268_58093 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58094 {
        display: none;
width: 10px;
height: 10px;
      }
.paragraph-1268_58095 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-1268_58096 {
        display: none;
width: 6px;
height: 6px;
      }
.instance-1268_58097 {
        display: none;
width: 10px;
height: 10px;
      }
.symbol-1268_58098 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 10px 10px 10px 10px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.stroke-wrapper-1268_58098 {
        position: relative;
width: 32px;
height: 32px;
      }
.stroke-1268_58098 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58099 {
        display: none;
width: 12px;
height: 12px;
      }
.instance-1268_58100 {
        display: none;
width: 8px;
height: 8px;
      }
.instance-1268_58101 {
        display: none;
width: 12px;
height: 12px;
      }
.symbol-1268_58102 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 32px;
min-width: 32px;
max-height: 32px;
max-width: 32px;
border-radius: 10px 10px 10px 10px;
      }
.stroke-wrapper-1268_58102 {
        position: relative;
width: 32px;
height: 32px;
display: flex;
max-width: 32px;
max-height: 32px;
      }
.stroke-1268_58102 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58103 {
        display: none;
width: 12px;
height: 12px;
      }
.paragraph-1268_58104 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-1268_58105 {
        display: none;
width: 8px;
height: 8px;
      }
.instance-1268_58106 {
        display: none;
width: 12px;
height: 12px;
      }
.symbol-1268_58107 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 12px 12px 12px 12px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.stroke-wrapper-1268_58107 {
        position: relative;
width: 40px;
height: 40px;
      }
.stroke-1268_58107 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58108 {
        display: none;
width: 16px;
height: 16px;
      }
.instance-1268_58109 {
        display: none;
width: 16px;
height: 16px;
      }
.instance-1268_58110 {
        display: none;
width: 10px;
height: 10px;
      }
.symbol-1268_58111 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 40px;
min-width: 40px;
max-height: 40px;
max-width: 40px;
border-radius: 12px 12px 12px 12px;
      }
.stroke-wrapper-1268_58111 {
        position: relative;
width: 40px;
height: 40px;
display: flex;
max-width: 40px;
max-height: 40px;
      }
.stroke-1268_58111 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58112 {
        display: none;
width: 16px;
height: 16px;
      }
.paragraph-1268_58113 {
        text-align: center;
width: 40px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-1268_58114 {
        display: none;
width: 10px;
height: 10px;
      }
.instance-1268_58115 {
        display: none;
width: 16px;
height: 16px;
      }
.symbol-1268_58116 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 20px 20px 20px 20px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.stroke-wrapper-1268_58116 {
        position: relative;
width: 96px;
height: 96px;
      }
.stroke-1268_58116 {
        position: absolute;
inset: 0px;
border-radius: 20px 20px 20px 20px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58117 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-1268_58118 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-1268_58119 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-1268_58120 {
        display: none;
width: 16px;
height: 16px;
      }
.symbol-1268_58121 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 96px;
min-width: 96px;
max-height: 96px;
max-width: 96px;
border-radius: 20px 20px 20px 20px;
      }
.stroke-wrapper-1268_58121 {
        position: relative;
width: 96px;
height: 96px;
display: flex;
max-width: 96px;
max-height: 96px;
      }
.stroke-1268_58121 {
        position: absolute;
inset: 0px;
border-radius: 20px 20px 20px 20px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58122 {
        display: none;
width: 32px;
height: 32px;
      }
.paragraph-1268_58123 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-1268_58124 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-1268_58125 {
        display: none;
width: 16px;
height: 16px;
      }
.instance-1268_58126 {
        display: none;
width: 32px;
height: 32px;
      }
.symbol-1268_58127 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 16px;
min-width: 16px;
max-height: 16px;
max-width: 16px;
border-radius: 4px 4px 4px 4px;
      }
.stroke-wrapper-1268_58127 {
        position: relative;
width: 16px;
height: 16px;
display: flex;
max-width: 16px;
max-height: 16px;
      }
.stroke-1268_58127 {
        position: absolute;
inset: 0px;
border-radius: 4px 4px 4px 4px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58128 {
        width: 12px;
height: 12px;
      }
.symbol-1268_58129 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 24px;
min-width: 24px;
max-height: 24px;
max-width: 24px;
border-radius: 8px 8px 8px 8px;
      }
.stroke-wrapper-1268_58129 {
        position: relative;
width: 24px;
height: 24px;
display: flex;
max-width: 24px;
max-height: 24px;
      }
.stroke-1268_58129 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58130 {
        display: none;
width: 10px;
height: 10px;
      }
.instance-1268_58131 {
        width: 16px;
height: 16px;
      }
.instance-1268_58132 {
        display: none;
width: 10px;
height: 10px;
      }
.instance-1268_58133 {
        display: none;
width: 6px;
height: 6px;
      }
.symbol-1268_58134 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 32px;
min-width: 32px;
max-height: 32px;
max-width: 32px;
border-radius: 10px 10px 10px 10px;
      }
.stroke-wrapper-1268_58134 {
        position: relative;
width: 32px;
height: 32px;
display: flex;
max-width: 32px;
max-height: 32px;
      }
.stroke-1268_58134 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58135 {
        display: none;
width: 12px;
height: 12px;
      }
.instance-1268_58136 {
        width: 20px;
height: 20px;
      }
.instance-1268_58137 {
        display: none;
width: 12px;
height: 12px;
      }
.instance-1268_58138 {
        display: none;
width: 8px;
height: 8px;
      }
.symbol-1268_58139 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 40px;
min-width: 40px;
max-height: 40px;
max-width: 40px;
border-radius: 12px 12px 12px 12px;
      }
.stroke-wrapper-1268_58139 {
        position: relative;
width: 40px;
height: 40px;
display: flex;
max-width: 40px;
max-height: 40px;
      }
.stroke-1268_58139 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58140 {
        display: none;
width: 16px;
height: 16px;
      }
.instance-1268_58141 {
        display: none;
width: 16px;
height: 16px;
      }
.instance-1268_58142 {
        width: 24px;
height: 24px;
      }
.instance-1268_58143 {
        display: none;
width: 10px;
height: 10px;
      }
.symbol-1268_58144 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 96px;
min-width: 96px;
max-height: 96px;
max-width: 96px;
border-radius: 20px 20px 20px 20px;
      }
.stroke-wrapper-1268_58144 {
        position: relative;
width: 96px;
height: 96px;
display: flex;
max-width: 96px;
max-height: 96px;
      }
.stroke-1268_58144 {
        position: absolute;
inset: 0px;
border-radius: 20px 20px 20px 20px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58145 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-1268_58146 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-1268_58147 {
        display: none;
width: 32px;
height: 32px;
      }
.instance-1268_58148 {
        width: 56px;
height: 56px;
      }
.instance-1268_58149 {
        display: none;
width: 16px;
height: 16px;
      }
.symbol-1268_58150 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 6px 6px 6px 6px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.stroke-wrapper-1268_58150 {
        position: relative;
width: 20px;
height: 20px;
      }
.stroke-1268_58150 {
        position: absolute;
inset: 0px;
border-radius: 6px 6px 6px 6px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.symbol-1268_58151 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 20px;
min-width: 20px;
max-height: 20px;
max-width: 20px;
border-radius: 6px 6px 6px 6px;
      }
.stroke-wrapper-1268_58151 {
        position: relative;
width: 20px;
height: 20px;
display: flex;
max-width: 20px;
max-height: 20px;
      }
.stroke-1268_58151 {
        position: absolute;
inset: 0px;
border-radius: 6px 6px 6px 6px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.paragraph-1268_58152 {
        text-align: center;
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-1268_58153 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 20px;
min-width: 20px;
max-height: 20px;
max-width: 20px;
border-radius: 6px 6px 6px 6px;
      }
.stroke-wrapper-1268_58153 {
        position: relative;
width: 20px;
height: 20px;
display: flex;
max-width: 20px;
max-height: 20px;
      }
.stroke-1268_58153 {
        position: absolute;
inset: 0px;
border-radius: 6px 6px 6px 6px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58154 {
        width: 14px;
height: 14px;
      }
.symbol-1268_58155 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 56px;
min-width: 56px;
max-height: 56px;
max-width: 56px;
border-radius: 16px 16px 16px 16px;
      }
.stroke-wrapper-1268_58155 {
        position: relative;
width: 56px;
height: 56px;
display: flex;
max-width: 56px;
max-height: 56px;
      }
.stroke-1268_58155 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58156 {
        display: none;
width: 20px;
height: 20px;
      }
.instance-1268_58157 {
        display: none;
width: 20px;
height: 20px;
      }
.instance-1268_58158 {
        width: 32px;
height: 32px;
      }
.instance-1268_58159 {
        display: none;
width: 14px;
height: 14px;
      }
.symbol-1268_58160 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 56px;
min-width: 56px;
max-height: 56px;
max-width: 56px;
border-radius: 16px 16px 16px 16px;
      }
.stroke-wrapper-1268_58160 {
        position: relative;
width: 56px;
height: 56px;
display: flex;
max-width: 56px;
max-height: 56px;
      }
.stroke-1268_58160 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58161 {
        display: none;
width: 20px;
height: 20px;
      }
.paragraph-1268_58162 {
        text-align: center;
width: 40px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-1268_58163 {
        display: none;
width: 14px;
height: 14px;
      }
.instance-1268_58164 {
        display: none;
width: 20px;
height: 20px;
      }
.symbol-1268_58165 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 16px 16px 16px 16px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.stroke-wrapper-1268_58165 {
        position: relative;
width: 56px;
height: 56px;
      }
.stroke-1268_58165 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58166 {
        display: none;
width: 20px;
height: 20px;
      }
.instance-1268_58167 {
        display: none;
width: 20px;
height: 20px;
      }
.instance-1268_58168 {
        display: none;
width: 14px;
height: 14px;
      }
.component-1268_58085 {
        width: fit-content;
height: fit-content;
      }


.instance-1268_58148 .symbol-2_30679  {
        width: 56px;
height: 56px;
position: relative;
flex-shrink: 0;
      }
.instance-1268_58148 .vector-2_30680  {
        width: 37.33333206176758px;
height: 41.999996185302734px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 9.333333015441895px;
top: 6.999999523162842px;
      }
.instance-1268_58118 .symbol-1268_57991  {
        width: 32px;
height: 32px;
position: absolute;
left: 72px;
top: -8px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 32px;
min-width: 32px;
border-radius: 999px 999px 999px 999px;
      }
.instance-1268_58126 .symbol-1268_57991  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 32px;
min-width: 32px;
border-radius: 999px 999px 999px 999px;
      }
.instance-1268_58145 .symbol-1268_57991  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-height: 32px;
min-width: 32px;
border-radius: 999px 999px 999px 999px;
      }
.instance-1268_58118 .paragraph-1268_57992  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-1268_58126 .paragraph-1268_57992  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-1268_58145 .paragraph-1268_57992  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-1268_58092 .symbol-1268_58002  {
        width: 10px;
height: 10px;
position: absolute;
left: 17px;
top: -3px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-1268_58097 .symbol-1268_58002  {
        width: 10px;
height: 10px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-1268_58101 .symbol-1268_58002  {
        width: 12px;
height: 12px;
position: absolute;
left: 23px;
top: -3px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-1268_58106 .symbol-1268_58002  {
        width: 12px;
height: 12px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-1268_58108 .symbol-1268_58002  {
        width: 16px;
height: 16px;
position: absolute;
left: 28px;
top: -4px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-1268_58115 .symbol-1268_58002  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-1268_58130 .symbol-1268_58002  {
        width: 10px;
height: 10px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-1268_58135 .symbol-1268_58002  {
        width: 12px;
height: 12px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-1268_58140 .symbol-1268_58002  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-1268_58156 .symbol-1268_58002  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-1268_58164 .symbol-1268_58002  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-1268_58166 .symbol-1268_58002  {
        width: 20px;
height: 20px;
position: absolute;
left: 42px;
top: -6px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-1268_58091 .symbol-1268_58008  {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-1268_58091  .stroke-wrapper-1268_58008 {
        position: absolute;
left: 19px;
top: 19px;
width: 6px;
height: 6px;
      }
.instance-1268_58091  .stroke-1268_58008 {
        position: absolute;
inset: -1px -1px -1px -1px;
border-radius: 10000px 10000px 10000px 10000px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58096 .symbol-1268_58008  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-1268_58096  .stroke-wrapper-1268_58008 {
        position: relative;
width: 6px;
height: 6px;
flex-shrink: 0;
      }
.instance-1268_58096  .stroke-1268_58008 {
        position: absolute;
inset: -1px -1px -1px -1px;
border-radius: 10000px 10000px 10000px 10000px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58100 .symbol-1268_58008  {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-1268_58100  .stroke-wrapper-1268_58008 {
        position: absolute;
left: 25px;
top: 25px;
width: 8px;
height: 8px;
      }
.instance-1268_58100  .stroke-1268_58008 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58105 .symbol-1268_58008  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-1268_58105  .stroke-wrapper-1268_58008 {
        position: relative;
width: 8px;
height: 8px;
flex-shrink: 0;
      }
.instance-1268_58105  .stroke-1268_58008 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58110 .symbol-1268_58008  {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-1268_58110  .stroke-wrapper-1268_58008 {
        position: absolute;
left: 32px;
top: 32px;
width: 10px;
height: 10px;
      }
.instance-1268_58110  .stroke-1268_58008 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58114 .symbol-1268_58008  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-1268_58114  .stroke-wrapper-1268_58008 {
        position: relative;
width: 10px;
height: 10px;
flex-shrink: 0;
      }
.instance-1268_58114  .stroke-1268_58008 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58120 .symbol-1268_58008  {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-1268_58120  .stroke-wrapper-1268_58008 {
        position: absolute;
left: 82px;
top: 82px;
width: 16px;
height: 16px;
      }
.instance-1268_58120  .stroke-1268_58008 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58125 .symbol-1268_58008  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-1268_58125  .stroke-wrapper-1268_58008 {
        position: relative;
width: 16px;
height: 16px;
flex-shrink: 0;
      }
.instance-1268_58125  .stroke-1268_58008 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58133 .symbol-1268_58008  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-1268_58133  .stroke-wrapper-1268_58008 {
        position: relative;
width: 6px;
height: 6px;
flex-shrink: 0;
      }
.instance-1268_58133  .stroke-1268_58008 {
        position: absolute;
inset: -1px -1px -1px -1px;
border-radius: 10000px 10000px 10000px 10000px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58138 .symbol-1268_58008  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-1268_58138  .stroke-wrapper-1268_58008 {
        position: relative;
width: 8px;
height: 8px;
flex-shrink: 0;
      }
.instance-1268_58138  .stroke-1268_58008 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58143 .symbol-1268_58008  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-1268_58143  .stroke-wrapper-1268_58008 {
        position: relative;
width: 10px;
height: 10px;
flex-shrink: 0;
      }
.instance-1268_58143  .stroke-1268_58008 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58149 .symbol-1268_58008  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-1268_58149  .stroke-wrapper-1268_58008 {
        position: relative;
width: 16px;
height: 16px;
flex-shrink: 0;
      }
.instance-1268_58149  .stroke-1268_58008 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58159 .symbol-1268_58008  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-1268_58159  .stroke-wrapper-1268_58008 {
        position: relative;
width: 14px;
height: 14px;
flex-shrink: 0;
      }
.instance-1268_58159  .stroke-1268_58008 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58163 .symbol-1268_58008  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-1268_58163  .stroke-wrapper-1268_58008 {
        position: relative;
width: 14px;
height: 14px;
flex-shrink: 0;
      }
.instance-1268_58163  .stroke-1268_58008 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58168 .symbol-1268_58008  {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-1268_58168  .stroke-wrapper-1268_58008 {
        position: absolute;
left: 44px;
top: 44px;
width: 14px;
height: 14px;
      }
.instance-1268_58168  .stroke-1268_58008 {
        position: absolute;
inset: -2px -2px -2px -2px;
border-radius: 10001px 10001px 10001px 10001px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1268_58090 .symbol-2_30673  {
        width: 10px;
height: 10px;
position: absolute;
left: 17px;
top: 17px;
display: none;
      }
.instance-1268_58094 .symbol-2_30673  {
        width: 10px;
height: 10px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-1268_58099 .symbol-2_30673  {
        width: 12px;
height: 12px;
position: absolute;
left: 23px;
top: 23px;
display: none;
      }
.instance-1268_58103 .symbol-2_30673  {
        width: 12px;
height: 12px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-1268_58109 .symbol-2_30673  {
        width: 16px;
height: 16px;
position: absolute;
left: 28.0001220703125px;
top: 28px;
display: none;
      }
.instance-1268_58112 .symbol-2_30673  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-1268_58119 .symbol-2_30673  {
        width: 32px;
height: 32px;
position: absolute;
left: 74px;
top: 74px;
display: none;
      }
.instance-1268_58122 .symbol-2_30673  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-1268_58132 .symbol-2_30673  {
        width: 10px;
height: 10px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-1268_58137 .symbol-2_30673  {
        width: 12px;
height: 12px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-1268_58141 .symbol-2_30673  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-1268_58146 .symbol-2_30673  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-1268_58157 .symbol-2_30673  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-1268_58161 .symbol-2_30673  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
display: none;
      }
.instance-1268_58167 .symbol-2_30673  {
        width: 20px;
height: 20px;
position: absolute;
left: 40.0001220703125px;
top: 40px;
display: none;
      }
.instance-1268_58090 .vector-2_30674  {
        width: 8.54971694946289px;
height: 8.550003051757812px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.725141167640686px;
top: 0.7251131534576416px;
      }
.instance-1268_58094 .vector-2_30674  {
        width: 8.54971694946289px;
height: 8.550003051757812px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.725141167640686px;
top: 0.7251131534576416px;
      }
.instance-1268_58099 .vector-2_30674  {
        width: 10.259660720825195px;
height: 10.260002136230469px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.8701694011688232px;
top: 0.8701357841491699px;
      }
.instance-1268_58103 .vector-2_30674  {
        width: 10.259660720825195px;
height: 10.260002136230469px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.8701694011688232px;
top: 0.8701357841491699px;
      }
.instance-1268_58109 .vector-2_30674  {
        width: 13.6796875px;
height: 13.67999267578125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1602258682250977px;
top: 1.1601810455322266px;
      }
.instance-1268_58112 .vector-2_30674  {
        width: 13.6796875px;
height: 13.67999267578125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1602258682250977px;
top: 1.1601810455322266px;
      }
.instance-1268_58119 .vector-2_30674  {
        width: 27.35909652709961px;
height: 27.360008239746094px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.3204517364501953px;
top: 2.320362091064453px;
      }
.instance-1268_58122 .vector-2_30674  {
        width: 27.35909652709961px;
height: 27.360008239746094px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.3204517364501953px;
top: 2.320362091064453px;
      }
.instance-1268_58132 .vector-2_30674  {
        width: 8.54971694946289px;
height: 8.550003051757812px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.725141167640686px;
top: 0.7251131534576416px;
      }
.instance-1268_58137 .vector-2_30674  {
        width: 10.259660720825195px;
height: 10.260002136230469px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0.8701694011688232px;
top: 0.8701357841491699px;
      }
.instance-1268_58141 .vector-2_30674  {
        width: 13.6796875px;
height: 13.67999267578125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1602258682250977px;
top: 1.1601810455322266px;
      }
.instance-1268_58146 .vector-2_30674  {
        width: 27.35909652709961px;
height: 27.360008239746094px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.3204517364501953px;
top: 2.320362091064453px;
      }
.instance-1268_58157 .vector-2_30674  {
        width: 17.09943389892578px;
height: 17.100006103515625px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.450282335281372px;
top: 1.4502263069152832px;
      }
.instance-1268_58161 .vector-2_30674  {
        width: 17.09943389892578px;
height: 17.100006103515625px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.450282335281372px;
top: 1.4502263069152832px;
      }
.instance-1268_58167 .vector-2_30674  {
        width: 17.09943389892578px;
height: 17.100006103515625px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.450282335281372px;
top: 1.4502263069152832px;
      }
.instance-1268_58136 .symbol-2_30677  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-1268_58142 .symbol-2_30677  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-1268_58158 .symbol-2_30677  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
      }
.instance-1268_58136 .vector-2_30678  {
        width: 13.466796875px;
height: 15.133331298828125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.2667236328125px;
top: 2.433349132537842px;
      }
.instance-1268_58142 .vector-2_30678  {
        width: 16.15999984741211px;
height: 18.159997940063477px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.9200685024261475px;
top: 2.9200189113616943px;
      }
.instance-1268_58158 .vector-2_30678  {
        width: 21.546669006347656px;
height: 24.21333122253418px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 5.226758003234863px;
top: 3.8933587074279785px;
      }
.instance-1268_58117 .symbol-2_30667  {
        width: 32px;
height: 32px;
position: absolute;
left: 72px;
top: 72px;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 6px 6px 6px 6px;
border-radius: 100px 100px 100px 100px;
      }
.instance-1268_58124 .symbol-2_30667  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: none;
border-radius: 100px 100px 100px 100px;
      }
.instance-1268_58147 .symbol-2_30667  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: none;
border-radius: 100px 100px 100px 100px;
      }
.instance-1268_58117 .instance-2_30668  {
        width: 20px;
height: 20px;
      }
.instance-1268_58124 .instance-2_30668  {
        width: 20px;
height: 20px;
      }
.instance-1268_58147 .instance-2_30668  {
        width: 20px;
height: 20px;
      }
.instance-1268_58128 .symbol-2_30675  {
        width: 12px;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-1268_58131 .symbol-2_30675  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-1268_58154 .symbol-2_30675  {
        width: 14px;
height: 14px;
position: relative;
flex-shrink: 0;
      }
.instance-1268_58128 .vector-2_30676  {
        width: 8.260000228881836px;
height: 9.260000228881836px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.869964599609375px;
top: 1.3699951171875px;
      }
.instance-1268_58131 .vector-2_30676  {
        width: 11.013671875px;
height: 12.346668243408203px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4932861328125px;
top: 1.82666015625px;
      }
.instance-1268_58154 .vector-2_30676  {
        width: 9.636667251586914px;
height: 10.80333423614502px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.1816253662109375px;
top: 1.59832763671875px;
      }
