
.symbol-1500_45593 {
        
      }
.symbol-1500_45594 {
        width: 361px;
height: 20px;
position: relative;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
min-height: 20px;
background-color: transparent;
      }
.frame-1500_45595 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
align-items: center;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-1500_45595 {
        display: flex;
flex-direction: row;
gap: 4px;
align-items: center;
width: 100%;
position: relative;
      }
.frame-1500_45596 {
        width: auto;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: transparent;
      }
.frame-content-1500_45596 {
        display: flex;
flex-direction: row;
gap: 2px;
align-items: center;
height: 100%;
position: relative;
      }
.paragraph-1500_45597 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.frame-1500_45598 {
        width: auto;
height: 16px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
align-self: stretch;
      }
.frame-content-1500_45598 {
        display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
padding: 2px 0px 2px 0px;
height: 100%;
position: relative;
      }
.vector-1500_45599 {
        width: 4px;
height: 4px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.instance-1500_45600 {
        width: 20px;
height: 20px;
      }
.paragraph-1500_45601 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-1500_45602 {
        width: 361px;
height: 16px;
position: relative;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: transparent;
      }
.frame-1500_45603 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-1500_45603 {
        display: flex;
flex-direction: row;
gap: 4px;
align-items: center;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.frame-1500_45604 {
        width: auto;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.frame-content-1500_45604 {
        display: flex;
flex-direction: row;
gap: 2px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.paragraph-1500_45605 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.frame-1500_45606 {
        width: auto;
height: 16px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
align-self: stretch;
      }
.frame-content-1500_45606 {
        display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
padding: 2px 0px 2px 0px;
height: 100%;
position: relative;
      }
.vector-1500_45607 {
        width: 4px;
height: 4px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.instance-1500_45608 {
        width: 16px;
height: 16px;
      }
.paragraph-1500_45609 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-1500_45610 {
        width: 361px;
height: 16px;
position: relative;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: transparent;
      }
.frame-1500_45611 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-1500_45611 {
        display: flex;
flex-direction: row;
gap: 4px;
align-items: center;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.frame-1500_45612 {
        width: auto;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.frame-content-1500_45612 {
        display: flex;
flex-direction: row;
gap: 2px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.paragraph-1500_45613 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.frame-1500_45614 {
        width: auto;
height: 16px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
align-self: stretch;
      }
.frame-content-1500_45614 {
        display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
padding: 3px 0px 3px 0px;
height: 100%;
position: relative;
      }
.vector-1500_45615 {
        width: 4px;
height: 4px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.instance-1500_45616 {
        width: 16px;
height: 16px;
      }
.paragraph-1500_45617 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-1500_45618 {
        width: 361px;
height: 20px;
position: relative;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
min-height: 20px;
background-color: transparent;
      }
.frame-1500_45619 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
align-items: center;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-1500_45619 {
        display: flex;
flex-direction: row;
gap: 4px;
align-items: center;
width: 100%;
position: relative;
      }
.frame-1500_45620 {
        width: auto;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: transparent;
      }
.frame-content-1500_45620 {
        display: flex;
flex-direction: row;
gap: 2px;
align-items: center;
height: 100%;
position: relative;
      }
.paragraph-1500_45621 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.frame-1500_45622 {
        width: auto;
height: 16px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
align-self: stretch;
      }
.frame-content-1500_45622 {
        display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
padding: 2px 0px 2px 0px;
height: 100%;
position: relative;
      }
.vector-1500_45623 {
        width: 4px;
height: 4px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.instance-1500_45624 {
        width: 20px;
height: 20px;
      }
.paragraph-1500_45625 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-1500_45626 {
        width: 361px;
height: 16px;
position: relative;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: transparent;
      }
.frame-1500_45627 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-1500_45627 {
        display: flex;
flex-direction: row;
gap: 4px;
align-items: center;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.frame-1500_45628 {
        width: auto;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.frame-content-1500_45628 {
        display: flex;
flex-direction: row;
gap: 2px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.paragraph-1500_45629 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.frame-1500_45630 {
        width: auto;
height: 16px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
align-self: stretch;
      }
.frame-content-1500_45630 {
        display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
padding: 2px 0px 2px 0px;
height: 100%;
position: relative;
      }
.vector-1500_45631 {
        width: 4px;
height: 4px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.instance-1500_45632 {
        width: 16px;
height: 16px;
      }
.paragraph-1500_45633 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-1500_45634 {
        width: 361px;
height: 16px;
position: relative;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: transparent;
      }
.frame-1500_45635 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-1500_45635 {
        display: flex;
flex-direction: row;
gap: 4px;
align-items: center;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.frame-1500_45636 {
        width: auto;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.frame-content-1500_45636 {
        display: flex;
flex-direction: row;
gap: 2px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.paragraph-1500_45637 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.frame-1500_45638 {
        width: auto;
height: 16px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
align-self: stretch;
      }
.frame-content-1500_45638 {
        display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
padding: 3px 0px 3px 0px;
height: 100%;
position: relative;
      }
.vector-1500_45639 {
        width: 4px;
height: 4px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.instance-1500_45640 {
        width: 16px;
height: 16px;
      }
.paragraph-1500_45641 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.component-1500_45593 {
        width: fit-content;
height: fit-content;
      }


.instance-1500_45600 .symbol-58_11534  {
        width: 16px;
height: 16px;
position: absolute;
left: 0px;
top: 0px;
      }
.instance-1500_45608 .vector-58_11535  {
        width: 12.06640625px;
height: 13.399993896484375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.96630859375px;
top: 1.300048828125px;
      }
.instance-1500_45608 .symbol-58_11534  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-1500_45616 .vector-58_11535  {
        width: 12.06640625px;
height: 13.399993896484375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.96630859375px;
top: 1.300048828125px;
      }
.instance-1500_45616 .symbol-58_11534  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-1500_45624 .symbol-58_11534  {
        width: 16px;
height: 16px;
position: absolute;
left: 0px;
top: 0px;
      }
.instance-1500_45632 .vector-58_11535  {
        width: 12.06640625px;
height: 13.399993896484375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.96630859375px;
top: 1.300048828125px;
      }
.instance-1500_45632 .symbol-58_11534  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-1500_45640 .vector-58_11535  {
        width: 12.06640625px;
height: 13.399993896484375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.96630859375px;
top: 1.300048828125px;
      }
.instance-1500_45640 .symbol-58_11534  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-1500_45608 .symbol-58_11534 .symbol-782_34497 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-1500_45616 .symbol-58_11534 .symbol-782_34497 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-1500_45632 .symbol-58_11534 .symbol-782_34497 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-1500_45640 .symbol-58_11534 .symbol-782_34497 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-1500_45600 .symbol-943_43814  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-1500_45624 .symbol-943_43814  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-1500_45600 .vector-943_43815  {
        width: 15.13330078125px;
height: 16.800003051757812px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.43359375px;
top: 1.5999755859375px;
      }
.instance-1500_45624 .vector-943_43815  {
        width: 15.13330078125px;
height: 16.800003051757812px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.43359375px;
top: 1.5999755859375px;
      }
