
.symbol-2_26980 {
        
      }
.symbol-2_26981 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 0px 10px 0px 10px;
min-height: 36px;
max-height: 36px;
border-radius: 10px 10px 10px 10px;
      }
.stroke-wrapper-2_26981 {
        position: relative;
width: 328px;
height: 36px;
display: flex;
max-height: 36px;
      }
.stroke-2_26981 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_26982 {
        width: 20px;
height: 20px;
      }
.frame-2_26983 {
        width: 100%;
height: 28px;
overflow: hidden;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 28px;
max-height: 28px;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_26983 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
min-height: 28px;
max-height: 28px;
width: 100%;
height: 100%;
position: relative;
      }
.paragraph-2_26984 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_26985 {
        display: none;
width: 20px;
height: 20px;
      }
.instance-2_26986 {
        display: none;
width: 20px;
height: 20px;
      }
.symbol-2_26987 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 0px 10px 0px 10px;
min-height: 36px;
max-height: 36px;
border-radius: 10px 10px 10px 10px;
      }
.stroke-wrapper-2_26987 {
        position: relative;
width: 328px;
height: 36px;
display: flex;
max-height: 36px;
      }
.stroke-2_26987 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_26988 {
        width: 20px;
height: 20px;
      }
.frame-2_26989 {
        width: 100%;
height: 28px;
overflow: hidden;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 28px;
max-height: 28px;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_26989 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
min-height: 28px;
max-height: 28px;
width: 100%;
height: 100%;
position: relative;
      }
.paragraph-2_26990 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.rectangle-2_26991 {
        width: 2px;
height: 18px;
position: absolute;
left: 0px;
top: 5px;
border-radius: 100px 100px 100px 100px;
      }
.instance-2_26992 {
        display: none;
width: 20px;
height: 20px;
      }
.instance-2_26993 {
        display: none;
width: 20px;
height: 20px;
      }
.symbol-2_26994 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 0px 12px 0px 12px;
min-height: 44px;
max-height: 44px;
border-radius: 12px 12px 12px 12px;
      }
.stroke-wrapper-2_26994 {
        position: relative;
width: 328px;
height: 44px;
display: flex;
max-height: 44px;
      }
.stroke-2_26994 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_26995 {
        width: 24px;
height: 24px;
      }
.frame-2_26996 {
        width: 100%;
height: 28px;
overflow: hidden;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 28px;
max-height: 28px;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_26996 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
min-height: 28px;
max-height: 28px;
width: 100%;
height: 100%;
position: relative;
      }
.paragraph-2_26997 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_26998 {
        display: none;
width: 24px;
height: 24px;
      }
.instance-2_26999 {
        display: none;
width: 24px;
height: 24px;
      }
.symbol-2_27000 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 0px 12px 0px 12px;
min-height: 44px;
max-height: 44px;
border-radius: 12px 12px 12px 12px;
      }
.stroke-wrapper-2_27000 {
        position: relative;
width: 328px;
height: 44px;
display: flex;
max-height: 44px;
      }
.stroke-2_27000 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27001 {
        width: 24px;
height: 24px;
      }
.frame-2_27002 {
        width: 100%;
height: 28px;
overflow: hidden;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 28px;
max-height: 28px;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_27002 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
min-height: 28px;
max-height: 28px;
width: 100%;
height: 100%;
position: relative;
      }
.paragraph-2_27003 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_27004 {
        width: 2px;
height: 20px;
      }
.instance-2_27005 {
        display: none;
width: 24px;
height: 24px;
      }
.instance-2_27006 {
        display: none;
width: 24px;
height: 24px;
      }
.symbol-2_27007 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 0px 12px 0px 12px;
min-height: 44px;
max-height: 44px;
border-radius: 12px 12px 12px 12px;
      }
.stroke-wrapper-2_27007 {
        position: relative;
width: 328px;
height: 44px;
display: flex;
max-height: 44px;
      }
.stroke-2_27007 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27008 {
        width: 24px;
height: 24px;
      }
.frame-2_27009 {
        width: 100%;
height: 28px;
overflow: hidden;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 28px;
max-height: 28px;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_27009 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
min-height: 28px;
max-height: 28px;
width: 100%;
height: 100%;
position: relative;
      }
.paragraph-2_27010 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_27011 {
        width: 2px;
height: 20px;
      }
.instance-2_27012 {
        width: 24px;
height: 24px;
      }
.symbol-2_27013 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 0px 12px 0px 12px;
min-height: 44px;
max-height: 44px;
border-radius: 12px 12px 12px 12px;
      }
.stroke-wrapper-2_27013 {
        position: relative;
width: 328px;
height: 44px;
display: flex;
max-height: 44px;
      }
.stroke-2_27013 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27014 {
        width: 24px;
height: 24px;
      }
.frame-2_27015 {
        width: 100%;
height: 28px;
overflow: hidden;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 28px;
max-height: 28px;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_27015 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
min-height: 28px;
max-height: 28px;
width: 100%;
height: 100%;
position: relative;
      }
.paragraph-2_27016 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_27017 {
        width: 24px;
height: 24px;
      }
.symbol-2_27018 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 0px 10px 0px 10px;
min-height: 36px;
max-height: 36px;
border-radius: 10px 10px 10px 10px;
      }
.stroke-wrapper-2_27018 {
        position: relative;
width: 328px;
height: 36px;
display: flex;
max-height: 36px;
      }
.stroke-2_27018 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27019 {
        width: 20px;
height: 20px;
      }
.frame-2_27020 {
        width: 100%;
height: 28px;
overflow: hidden;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 28px;
max-height: 28px;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_27020 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
min-height: 28px;
max-height: 28px;
width: 100%;
height: 100%;
position: relative;
      }
.paragraph-2_27021 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_27022 {
        width: 2px;
height: 20px;
      }
.instance-2_27023 {
        width: 20px;
height: 20px;
      }
.symbol-2_27024 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 0px 10px 0px 10px;
min-height: 36px;
max-height: 36px;
border-radius: 10px 10px 10px 10px;
      }
.stroke-wrapper-2_27024 {
        position: relative;
width: 328px;
height: 36px;
display: flex;
max-height: 36px;
      }
.stroke-2_27024 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27025 {
        width: 20px;
height: 20px;
      }
.frame-2_27026 {
        width: 100%;
height: 28px;
overflow: hidden;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 28px;
max-height: 28px;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_27026 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
min-height: 28px;
max-height: 28px;
width: 100%;
height: 100%;
position: relative;
      }
.paragraph-2_27027 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_27028 {
        width: 20px;
height: 20px;
      }
.component-2_26980 {
        width: fit-content;
height: fit-content;
      }


.instance-2_27001 .symbol-2_27180  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27001 .vector-2_27182  {
        width: 9px;
height: 16px;
background-image: url("/assets/Vector8.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 6px;
top: 4px;
      }
.instance-2_27008 .symbol-2_27180  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27008 .vector-2_27182  {
        width: 9px;
height: 16px;
background-image: url("/assets/Vector8.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 6px;
top: 4px;
      }
.instance-2_27012 .symbol-2_18845  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27012 .vector-2_18846  {
        width: 16px;
height: 16px;
background-image: url("/assets/Vector5.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 4px;
      }
.instance-2_27014 .symbol-2_27180  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27014 .vector-2_27182  {
        width: 9px;
height: 16px;
background-image: url("/assets/Vector8.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 6px;
top: 4px;
      }
.instance-2_27017 .symbol-2_18845  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27017 .vector-2_18846  {
        width: 16px;
height: 16px;
background-image: url("/assets/Vector5.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 4px;
      }
.instance-2_26986 .symbol-2_24283  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_26993 .symbol-2_24283  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_26999 .symbol-2_24283  {
        width: 20px;
height: 20px;
position: absolute;
left: 921px;
top: 96.9999771118164px;
      }
.instance-2_27006 .symbol-2_24283  {
        width: 20px;
height: 20px;
position: absolute;
left: 921px;
top: 96.9999771118164px;
      }
.instance-2_26986 .vector-2_24284  {
        width: 13.4666748046875px;
height: 18.46666717529297px;
background-image: url("/assets/Vector17.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.2664794921875px;
top: 0.76666259765625px;
      }
.instance-2_26993 .vector-2_24284  {
        width: 13.4666748046875px;
height: 18.46666717529297px;
background-image: url("/assets/Vector17.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.2664794921875px;
top: 0.76666259765625px;
      }
.instance-2_26985 .symbol-2_24281  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_26992 .symbol-2_24281  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_26998 .symbol-2_24281  {
        width: 20px;
height: 20px;
position: absolute;
left: -344.0005187988281px;
top: 86.000244140625px;
      }
.instance-2_27005 .symbol-2_24281  {
        width: 20px;
height: 20px;
position: absolute;
left: -344.0005187988281px;
top: 86.000244140625px;
      }
.instance-2_26985 .vector-2_24282  {
        width: 16.79998779296875px;
height: 13.585716247558594px;
background-image: url("/assets/Vector19.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.600341796875px;
top: 2.671630859375px;
      }
.instance-2_26992 .vector-2_24282  {
        width: 16.79998779296875px;
height: 13.585716247558594px;
background-image: url("/assets/Vector19.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.600341796875px;
top: 2.671630859375px;
      }
.instance-2_26998 .symbol-2_27183  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27005 .symbol-2_27183  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-2_26998 .vector-2_27184  {
        width: 20px;
height: 16.142852783203125px;
background-image: url("/assets/Vector20.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2px;
top: 3.285888671875px;
      }
.instance-2_27005 .vector-2_27184  {
        width: 20px;
height: 16.142852783203125px;
background-image: url("/assets/Vector20.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2px;
top: 3.285888671875px;
      }
.instance-2_26999 .symbol-2_27185  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27006 .symbol-2_27185  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-2_26999 .vector-2_27186  {
        width: 16px;
height: 22px;
background-image: url("/assets/Vector21.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 1px;
      }
.instance-2_27006 .vector-2_27186  {
        width: 16px;
height: 22px;
background-image: url("/assets/Vector21.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 1px;
      }
.instance-2_26995 .symbol-2_20301  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27001 .symbol-2_20301  {
        width: 24px;
height: 24px;
position: absolute;
left: -878.0001220703125px;
top: 22.000213623046875px;
      }
.instance-2_27008 .symbol-2_20301  {
        width: 24px;
height: 24px;
position: absolute;
left: -878.0001220703125px;
top: 22.000213623046875px;
      }
.instance-2_27014 .symbol-2_20301  {
        width: 24px;
height: 24px;
position: absolute;
left: -878.0001220703125px;
top: 22.000213623046875px;
      }
.instance-2_26995 .vector-2_20302  {
        width: 19.75px;
height: 19.75px;
background-image: url("/assets/Vector23.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.0006103515625px;
top: 2px;
      }
.instance-2_26982 .symbol-2_24277  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_26988 .symbol-2_24277  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_26995 .symbol-2_24277  {
        width: 20px;
height: 20px;
position: absolute;
left: -912.0001220703125px;
top: 24.000213623046875px;
      }
.instance-2_27001 .symbol-2_24277  {
        width: 20px;
height: 20px;
position: absolute;
left: -912.0001220703125px;
top: 24.000213623046875px;
      }
.instance-2_27008 .symbol-2_24277  {
        width: 20px;
height: 20px;
position: absolute;
left: -912.0001220703125px;
top: 24.000213623046875px;
      }
.instance-2_27014 .symbol-2_24277  {
        width: 20px;
height: 20px;
position: absolute;
left: -912.0001220703125px;
top: 24.000213623046875px;
      }
.instance-2_27019 .symbol-2_24277  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27025 .symbol-2_24277  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_26982 .vector-2_24278  {
        width: 16.5250244140625px;
height: 16.525001525878906px;
background-image: url("/assets/Vector27.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.666748046875px;
top: 1.666748046875px;
      }
.instance-2_26988 .vector-2_24278  {
        width: 16.5250244140625px;
height: 16.525001525878906px;
background-image: url("/assets/Vector27.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.666748046875px;
top: 1.666748046875px;
      }
.instance-2_27019 .vector-2_24278  {
        width: 16.5250244140625px;
height: 16.525001525878906px;
background-image: url("/assets/Vector27.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.666748046875px;
top: 1.666748046875px;
      }
.instance-2_27025 .vector-2_24278  {
        width: 16.5250244140625px;
height: 16.525001525878906px;
background-image: url("/assets/Vector27.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.666748046875px;
top: 1.666748046875px;
      }
.instance-2_27012 .symbol-2_24258  {
        width: 20px;
height: 20px;
position: absolute;
left: 18475px;
top: 101.00009155273438px;
      }
.instance-2_27017 .symbol-2_24258  {
        width: 20px;
height: 20px;
position: absolute;
left: 18475px;
top: 101.00009155273438px;
      }
.instance-2_27023 .symbol-2_24258  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27028 .symbol-2_24258  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27023 .vector-2_24259  {
        width: 13.466796875px;
height: 13.466667175292969px;
background-image: url("/assets/Vector28.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.26708984375px;
top: 3.2664794921875px;
      }
.instance-2_27028 .vector-2_24259  {
        width: 13.466796875px;
height: 13.466667175292969px;
background-image: url("/assets/Vector28.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.26708984375px;
top: 3.2664794921875px;
      }
.instance-2_27004 .symbol-2_2226  {
        width: 2px;
height: 20px;
position: relative;
flex-shrink: 0;
background-color: transparent;
      }
.instance-2_27011 .symbol-2_2226  {
        width: 2px;
height: 20px;
position: relative;
flex-shrink: 0;
background-color: transparent;
      }
.instance-2_27022 .symbol-2_2226  {
        width: 2px;
height: 20px;
position: relative;
flex-shrink: 0;
background-color: transparent;
      }
