
.symbol-2_1820 {
        
      }
.symbol-2_1821 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 1.5px 0px 1.5px 0px;
      }
.paragraph-2_1822 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.symbol-2_1823 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
      }
.paragraph-2_1824 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.symbol-2_1825 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 1.5px 0px 1.5px 0px;
      }
.paragraph-2_1826 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.symbol-2_1827 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
      }
.paragraph-2_1828 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.symbol-2_1829 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 1.5px 0px 1.5px 0px;
      }
.paragraph-2_1830 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.symbol-2_1831 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
      }
.paragraph-2_1832 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.symbol-2_1833 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
      }
.paragraph-2_1834 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.symbol-2_1835 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 1.5px 0px 1.5px 0px;
      }
.paragraph-2_1836 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.component-2_1820 {
        width: fit-content;
height: fit-content;
      }

