
.symbol-2_1787 {
        
      }
.symbol-2_1788 {
        width: 361px;
height: 16px;
position: relative;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: transparent;
      }
.frame-2_1789 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_1789 {
        display: flex;
flex-direction: row;
gap: 4px;
align-items: center;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.frame-2_1790 {
        width: auto;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.frame-content-2_1790 {
        display: flex;
flex-direction: row;
gap: 2px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.paragraph-2_1791 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.frame-2_1792 {
        width: auto;
height: 16px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
align-self: stretch;
      }
.frame-content-2_1792 {
        display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
padding: 2px 0px 2px 0px;
height: 100%;
position: relative;
      }
.vector-2_1793 {
        width: 4px;
height: 4px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.instance-2_1794 {
        width: 16px;
height: 16px;
      }
.paragraph-2_1795 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_1796 {
        width: 361px;
height: 16px;
position: relative;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: transparent;
      }
.frame-2_1797 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_1797 {
        display: flex;
flex-direction: row;
gap: 4px;
align-items: center;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.frame-2_1798 {
        width: auto;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.frame-content-2_1798 {
        display: flex;
flex-direction: row;
gap: 2px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.paragraph-2_1799 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.frame-2_1800 {
        width: auto;
height: 16px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
align-self: stretch;
      }
.frame-content-2_1800 {
        display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
padding: 3px 0px 3px 0px;
height: 100%;
position: relative;
      }
.vector-2_1801 {
        width: 4px;
height: 4px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.instance-2_1802 {
        width: 16px;
height: 16px;
      }
.paragraph-2_1803 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_1804 {
        width: 361px;
height: 16px;
position: relative;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: transparent;
      }
.frame-2_1805 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_1805 {
        display: flex;
flex-direction: row;
gap: 4px;
align-items: center;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.frame-2_1806 {
        width: auto;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.frame-content-2_1806 {
        display: flex;
flex-direction: row;
gap: 2px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.paragraph-2_1807 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.frame-2_1808 {
        width: auto;
height: 16px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
align-self: stretch;
      }
.frame-content-2_1808 {
        display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
padding: 2px 0px 2px 0px;
height: 100%;
position: relative;
      }
.vector-2_1809 {
        width: 4px;
height: 4px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.instance-2_1810 {
        width: 16px;
height: 16px;
      }
.paragraph-2_1811 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_1812 {
        width: 361px;
height: 16px;
position: relative;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: transparent;
      }
.frame-2_1813 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_1813 {
        display: flex;
flex-direction: row;
gap: 4px;
align-items: center;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.frame-2_1814 {
        width: auto;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.frame-content-2_1814 {
        display: flex;
flex-direction: row;
gap: 2px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.paragraph-2_1815 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.frame-2_1816 {
        width: auto;
height: 16px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
align-self: stretch;
      }
.frame-content-2_1816 {
        display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
padding: 3px 0px 3px 0px;
height: 100%;
position: relative;
      }
.vector-2_1817 {
        width: 4px;
height: 4px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.instance-2_1818 {
        width: 16px;
height: 16px;
      }
.paragraph-2_1819 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.component-2_1787 {
        width: fit-content;
height: fit-content;
      }


.instance-2_1794 .symbol-2_2233  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2_1802 .symbol-2_2233  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2_1810 .symbol-2_2233  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2_1818 .symbol-2_2233  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2_1794 .vector-2_2234  {
        width: 12.06640625px;
height: 13.399993896484375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.96630859375px;
top: 1.300048828125px;
      }
.instance-2_1802 .vector-2_2234  {
        width: 12.06640625px;
height: 13.399993896484375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.96630859375px;
top: 1.300048828125px;
      }
.instance-2_1810 .vector-2_2234  {
        width: 12.06640625px;
height: 13.399993896484375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.96630859375px;
top: 1.300048828125px;
      }
.instance-2_1818 .vector-2_2234  {
        width: 12.06640625px;
height: 13.399993896484375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.96630859375px;
top: 1.300048828125px;
      }
