
.symbol-4_31710 {
        
      }
.symbol-4_31711 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 1.5px 0px 1.5px 0px;
      }
.paragraph-4_31712 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.symbol-4_31713 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
      }
.paragraph-4_31714 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.symbol-4_31715 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 1.5px 0px 1.5px 0px;
      }
.paragraph-4_31716 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.symbol-4_31717 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
      }
.paragraph-4_31718 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.symbol-4_31719 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 1.5px 0px 1.5px 0px;
      }
.paragraph-4_31720 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.symbol-4_31721 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
      }
.paragraph-4_31722 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.symbol-4_31723 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
      }
.paragraph-4_31724 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.symbol-4_31725 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 1.5px 0px 1.5px 0px;
      }
.paragraph-4_31726 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.component-4_31710 {
        width: fit-content;
height: fit-content;
      }

