
.symbol-2_24025 {
        
      }
.symbol-2_24026 {
        width: 280px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 4px;
background-color: transparent;
      }
.frame-2_24027 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_24027 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
justify-content: flex-start;
padding: 8px 12px 8px 8px;
width: 100%;
position: relative;
      }
.paragraph-2_24028 {
        width: 100%;
height: 17px;
position: relative;
flex-shrink: 0;
      }
.paragraph-2_24029 {
        width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_24030 {
        width: 280px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 4px;
background-color: transparent;
      }
.frame-2_24031 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_24031 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
justify-content: flex-start;
padding: 6px 10px 6px 6px;
width: 100%;
position: relative;
      }
.paragraph-2_24032 {
        width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.paragraph-2_24033 {
        width: 100%;
height: 13px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_24034 {
        width: 280px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 4px;
background-color: transparent;
      }
.frame-2_24035 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_24035 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
justify-content: flex-start;
padding: 8px 12px 8px 8px;
width: 100%;
position: relative;
      }
.paragraph-2_24036 {
        width: 100%;
height: 17px;
position: relative;
flex-shrink: 0;
      }
.paragraph-2_24037 {
        width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_24038 {
        width: 280px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 4px;
background-color: transparent;
      }
.frame-2_24039 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_24039 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
justify-content: flex-start;
padding: 6px 10px 6px 6px;
width: 100%;
position: relative;
      }
.paragraph-2_24040 {
        width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.paragraph-2_24041 {
        width: 100%;
height: 13px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_24042 {
        width: 280px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 4px;
background-color: transparent;
      }
.frame-2_24043 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_24043 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
justify-content: flex-start;
padding: 8px 12px 8px 8px;
width: 100%;
position: relative;
      }
.paragraph-2_24044 {
        width: 100%;
height: 17px;
position: relative;
flex-shrink: 0;
      }
.paragraph-2_24045 {
        width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_24048 {
        width: 280px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 4px;
background-color: transparent;
      }
.frame-2_24049 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_24049 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
justify-content: flex-start;
padding: 6px 10px 6px 6px;
width: 100%;
position: relative;
      }
.paragraph-2_24050 {
        width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.paragraph-2_24051 {
        width: 100%;
height: 13px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_24054 {
        width: 280px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 4px;
background-color: transparent;
      }
.frame-2_24055 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_24055 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
justify-content: flex-start;
padding: 8px 12px 8px 8px;
width: 100%;
position: relative;
      }
.paragraph-2_24056 {
        width: 100%;
height: 17px;
position: relative;
flex-shrink: 0;
      }
.paragraph-2_24057 {
        width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_24060 {
        width: 280px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 4px;
background-color: transparent;
      }
.frame-2_24061 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_24061 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
justify-content: flex-start;
padding: 6px 10px 6px 6px;
width: 100%;
position: relative;
      }
.paragraph-2_24062 {
        width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.paragraph-2_24063 {
        width: 100%;
height: 13px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_24066 {
        width: 280px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 4px;
background-color: transparent;
      }
.frame-2_24069 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_24069 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
justify-content: flex-start;
padding: 8px 12px 8px 8px;
width: 100%;
position: relative;
      }
.paragraph-2_24070 {
        width: 100%;
height: 17px;
position: relative;
flex-shrink: 0;
      }
.paragraph-2_24071 {
        width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_24072 {
        width: 280px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 4px;
background-color: transparent;
      }
.frame-2_24075 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_24075 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
justify-content: flex-start;
padding: 6px 10px 6px 6px;
width: 100%;
position: relative;
      }
.paragraph-2_24076 {
        width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.paragraph-2_24077 {
        width: 100%;
height: 13px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_24078 {
        width: 280px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 4px;
background-color: transparent;
      }
.frame-2_24081 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_24081 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
justify-content: flex-start;
padding: 8px 12px 8px 8px;
width: 100%;
position: relative;
      }
.paragraph-2_24082 {
        width: 100%;
height: 17px;
position: relative;
flex-shrink: 0;
      }
.paragraph-2_24083 {
        width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_24084 {
        width: 280px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 4px;
background-color: transparent;
      }
.frame-2_24087 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_24087 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
justify-content: flex-start;
padding: 6px 10px 6px 6px;
width: 100%;
position: relative;
      }
.paragraph-2_24088 {
        width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.paragraph-2_24089 {
        width: 100%;
height: 13px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_24090 {
        width: 280px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 4px;
background-color: transparent;
      }
.frame-2_24093 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_24093 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
justify-content: flex-start;
padding: 8px 12px 8px 8px;
width: 100%;
position: relative;
      }
.paragraph-2_24094 {
        width: 100%;
height: 17px;
position: relative;
flex-shrink: 0;
      }
.paragraph-2_24095 {
        width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_24098 {
        width: 280px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 4px;
background-color: transparent;
      }
.frame-2_24101 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_24101 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
justify-content: flex-start;
padding: 6px 10px 6px 6px;
width: 100%;
position: relative;
      }
.paragraph-2_24102 {
        width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.paragraph-2_24103 {
        width: 100%;
height: 13px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_24106 {
        width: 280px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 4px;
background-color: transparent;
      }
.frame-2_24109 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_24109 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
justify-content: flex-start;
padding: 8px 12px 8px 8px;
width: 100%;
position: relative;
      }
.paragraph-2_24110 {
        width: 100%;
height: 17px;
position: relative;
flex-shrink: 0;
      }
.paragraph-2_24111 {
        width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_24114 {
        width: 280px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 4px;
background-color: transparent;
      }
.frame-2_24117 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_24117 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
justify-content: flex-start;
padding: 6px 10px 6px 6px;
width: 100%;
position: relative;
      }
.paragraph-2_24118 {
        width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.paragraph-2_24119 {
        width: 100%;
height: 13px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_24122 {
        width: 280px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 4px;
background-color: transparent;
      }
.frame-2_24123 {
        width: auto;
height: 55px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: transparent;
      }
.frame-content-2_24123 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 5px 4px 5px 6px;
height: 100%;
position: relative;
      }
.instance-2_24124 {
        width: 40px;
height: 40px;
      }
.frame-2_24125 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_24125 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
justify-content: flex-start;
padding: 8px 12px 8px 8px;
width: 100%;
position: relative;
      }
.paragraph-2_24126 {
        width: 100%;
height: 17px;
position: relative;
flex-shrink: 0;
      }
.paragraph-2_24127 {
        width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_24128 {
        width: 280px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 4px;
background-color: transparent;
      }
.frame-2_24129 {
        width: auto;
height: 45px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: transparent;
      }
.frame-content-2_24129 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 5px 4px 5px 6px;
height: 100%;
position: relative;
      }
.instance-2_24130 {
        width: 32px;
height: 32px;
      }
.frame-2_24131 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_24131 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
justify-content: flex-start;
padding: 6px 10px 6px 6px;
width: 100%;
position: relative;
      }
.paragraph-2_24132 {
        width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.paragraph-2_24133 {
        width: 100%;
height: 13px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_24134 {
        width: 280px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 4px;
background-color: transparent;
      }
.frame-2_24135 {
        width: auto;
height: 55px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: transparent;
opacity: 0.5;
      }
.frame-content-2_24135 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 5px 4px 5px 6px;
height: 100%;
position: relative;
      }
.instance-2_24136 {
        width: 40px;
height: 40px;
      }
.frame-2_24137 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_24137 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
justify-content: flex-start;
padding: 8px 12px 8px 8px;
width: 100%;
position: relative;
      }
.paragraph-2_24138 {
        width: 100%;
height: 17px;
position: relative;
flex-shrink: 0;
      }
.paragraph-2_24139 {
        width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_24140 {
        width: 280px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 4px;
background-color: transparent;
      }
.frame-2_24141 {
        width: auto;
height: 45px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: transparent;
opacity: 0.5;
      }
.frame-content-2_24141 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 5px 4px 5px 6px;
height: 100%;
position: relative;
      }
.instance-2_24142 {
        width: 32px;
height: 32px;
      }
.frame-2_24143 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_24143 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
justify-content: flex-start;
padding: 6px 10px 6px 6px;
width: 100%;
position: relative;
      }
.paragraph-2_24144 {
        width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.paragraph-2_24145 {
        width: 100%;
height: 13px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_24146 {
        width: 280px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 4px;
background-color: transparent;
      }
.frame-2_24147 {
        width: auto;
height: 55px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: transparent;
opacity: 0.5;
      }
.frame-content-2_24147 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 5px 4px 5px 6px;
height: 100%;
position: relative;
      }
.instance-2_24148 {
        width: 40px;
height: 40px;
      }
.frame-2_24149 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_24149 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
justify-content: flex-start;
padding: 8px 12px 8px 8px;
width: 100%;
position: relative;
      }
.paragraph-2_24150 {
        width: 100%;
height: 17px;
position: relative;
flex-shrink: 0;
      }
.paragraph-2_24151 {
        width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_24154 {
        width: 280px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 4px;
background-color: transparent;
      }
.frame-2_24155 {
        width: auto;
height: 45px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: transparent;
opacity: 0.5;
      }
.frame-content-2_24155 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 5px 4px 5px 6px;
height: 100%;
position: relative;
      }
.instance-2_24156 {
        width: 32px;
height: 32px;
      }
.frame-2_24157 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_24157 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
justify-content: flex-start;
padding: 6px 10px 6px 6px;
width: 100%;
position: relative;
      }
.paragraph-2_24158 {
        width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.paragraph-2_24159 {
        width: 100%;
height: 13px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_24162 {
        width: 280px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 4px;
background-color: transparent;
      }
.frame-2_24163 {
        width: auto;
height: 55px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: transparent;
      }
.frame-content-2_24163 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 5px 4px 5px 6px;
height: 100%;
position: relative;
      }
.instance-2_24164 {
        width: 40px;
height: 40px;
      }
.frame-2_24165 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_24165 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
justify-content: flex-start;
padding: 8px 12px 8px 8px;
width: 100%;
position: relative;
      }
.paragraph-2_24166 {
        width: 100%;
height: 17px;
position: relative;
flex-shrink: 0;
      }
.paragraph-2_24167 {
        width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_24170 {
        width: 280px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 4px;
background-color: transparent;
      }
.frame-2_24171 {
        width: auto;
height: 45px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: transparent;
      }
.frame-content-2_24171 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 5px 4px 5px 6px;
height: 100%;
position: relative;
      }
.instance-2_24172 {
        width: 32px;
height: 32px;
      }
.frame-2_24173 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: transparent;
      }
.frame-content-2_24173 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
justify-content: flex-start;
padding: 6px 10px 6px 6px;
width: 100%;
position: relative;
      }
.paragraph-2_24174 {
        width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.paragraph-2_24175 {
        width: 100%;
height: 13px;
position: relative;
flex-shrink: 0;
      }
.component-2_24025 {
        width: fit-content;
height: fit-content;
      }


.instance-2_24130 .symbol-2_22986  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.instance-2_24130  .stroke-wrapper-2_22986 {
        position: relative;
width: 32px;
height: 32px;
flex-shrink: 0;
      }
.instance-2_24130  .stroke-2_22986 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_24142 .symbol-2_22986  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.instance-2_24142  .stroke-wrapper-2_22986 {
        position: relative;
width: 32px;
height: 32px;
flex-shrink: 0;
      }
.instance-2_24142  .stroke-2_22986 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_24156 .symbol-2_22986  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.instance-2_24156  .stroke-wrapper-2_22986 {
        position: relative;
width: 32px;
height: 32px;
flex-shrink: 0;
      }
.instance-2_24156  .stroke-2_22986 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_24172 .symbol-2_22986  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.instance-2_24172  .stroke-wrapper-2_22986 {
        position: relative;
width: 32px;
height: 32px;
flex-shrink: 0;
      }
.instance-2_24172  .stroke-2_22986 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_24124 .symbol-2_22995  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.instance-2_24124  .stroke-wrapper-2_22995 {
        position: relative;
width: 40px;
height: 40px;
flex-shrink: 0;
      }
.instance-2_24124  .stroke-2_22995 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_24136 .symbol-2_22995  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.instance-2_24136  .stroke-wrapper-2_22995 {
        position: relative;
width: 40px;
height: 40px;
flex-shrink: 0;
      }
.instance-2_24136  .stroke-2_22995 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_24148 .symbol-2_22995  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.instance-2_24148  .stroke-wrapper-2_22995 {
        position: relative;
width: 40px;
height: 40px;
flex-shrink: 0;
      }
.instance-2_24148  .stroke-2_22995 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_24164 .symbol-2_22995  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.instance-2_24164  .stroke-wrapper-2_22995 {
        position: relative;
width: 40px;
height: 40px;
flex-shrink: 0;
      }
.instance-2_24164  .stroke-2_22995 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
