
.symbol-4_54197 {
        
      }
.symbol-4_54198 {
        width: 32px;
height: 40px;
position: relative;
background-color: transparent;
      }
.paragraph-4_54200 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
width: 32px;
height: auto;
position: absolute;
left: 0px;
top: 6px;
      }
.symbol-4_54201 {
        width: 32px;
height: 40px;
position: relative;
background-color: transparent;
      }
.paragraph-4_54203 {
        font-size: 10px;
font-family: "SF Pro Text-Bold";
font-weight: 700;
text-align: center;
letter-spacing: 2px;
width: 32px;
height: 11.428569793701172px;
position: absolute;
left: 0px;
top: 24.761905670166016px;
      }
.paragraph-4_54204 {
        font-size: 25px;
font-family: "SF Pro Display-Regular";
font-weight: 400;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0.29122498631477356px;
width: 32px;
height: 26px;
position: absolute;
left: 0px;
top: -1px;
      }
.symbol-4_54205 {
        width: 32px;
height: 40px;
position: relative;
background-color: transparent;
      }
.vector-4_54207 {
        width: 19px;
height: 16.300003051757812px;
background-image: url("/assets/ShiftActive.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 6.5px;
top: 12px;
      }
.symbol-4_54208 {
        width: 32px;
height: 40px;
position: relative;
background-color: transparent;
      }
.vector-4_54210 {
        width: 19px;
height: 16.29998779296875px;
background-image: url("/assets/ShiftInactive.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 6.5px;
top: 12px;
      }
.symbol-4_54211 {
        width: 32px;
height: 40px;
position: relative;
background-color: transparent;
      }
.paragraph-4_54213 {
        font-size: 13px;
font-family: "SF Pro Display-Regular";
font-weight: 400;
text-align: center;
letter-spacing: 0.3499999940395355px;
line-height: 26px;
width: 32px;
height: auto;
position: absolute;
left: 0px;
top: 7px;
      }
.symbol-4_54214 {
        width: 32px;
height: 40px;
position: relative;
background-color: transparent;
      }
.vector-4_54216 {
        width: 23px;
height: 17px;
background-image: url("/assets/Union0.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 11px;
      }
.symbol-4_54217 {
        width: 32px;
height: 40px;
position: relative;
background-color: transparent;
      }
.paragraph-4_54219 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
width: 32px;
height: auto;
position: absolute;
left: 0px;
top: 6px;
      }
.symbol-4_54220 {
        width: 32px;
height: 40px;
position: relative;
background-color: transparent;
      }
.paragraph-4_54222 {
        font-size: 10px;
font-family: "SF Pro Text-Bold";
font-weight: 700;
text-align: center;
letter-spacing: 2px;
color: rgba(255, 255, 255, 1);
width: 32px;
height: 11.428569793701172px;
position: absolute;
left: 0px;
top: 24.761905670166016px;
      }
.paragraph-4_54223 {
        font-size: 25px;
font-family: "SF Pro Display-Regular";
font-weight: 400;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0.29122498631477356px;
color: rgba(255, 255, 255, 1);
width: 32px;
height: 26px;
position: absolute;
left: 0px;
top: -1px;
      }
.symbol-4_54224 {
        width: 32px;
height: 40px;
position: relative;
background-color: transparent;
      }
.vector-4_54226 {
        width: 19px;
height: 16.29998779296875px;
background-image: url("/assets/ShiftActive0.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 6.5px;
top: 12px;
      }
.symbol-4_54227 {
        width: 32px;
height: 40px;
position: relative;
background-color: transparent;
      }
.vector-4_54229 {
        width: 19px;
height: 16.29998779296875px;
background-image: url("/assets/ShiftInactive0.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 6.5px;
top: 12px;
      }
.symbol-4_54230 {
        width: 32px;
height: 40px;
position: relative;
background-color: transparent;
      }
.paragraph-4_54232 {
        font-size: 13px;
font-family: "SF Pro Display-Regular";
font-weight: 400;
text-align: center;
letter-spacing: 0.3499999940395355px;
line-height: 26px;
width: 32px;
height: auto;
position: absolute;
left: 0px;
top: 7px;
      }
.symbol-4_54233 {
        width: 32px;
height: 40px;
position: relative;
background-color: transparent;
      }
.vector-4_54235 {
        width: 23px;
height: 17px;
background-image: url("/assets/Union1.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 11px;
      }
.component-4_54197 {
        width: fit-content;
height: fit-content;
      }

