
.symbol-4_54236 {
        
      }
.symbol-4_54237 {
        width: 32px;
height: 42px;
position: relative;
border-radius: 4.599999904632568px 4.599999904632568px 4.599999904632568px 4.599999904632568px;
box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3) ;
      }
.symbol-4_54238 {
        width: 32px;
height: 42px;
position: relative;
border-radius: 4.599999904632568px 4.599999904632568px 4.599999904632568px 4.599999904632568px;
box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3) ;
background-color: rgba(173, 179, 188, 1);
      }
.symbol-4_54239 {
        width: 32px;
height: 42px;
position: relative;
border-radius: 4.599999904632568px 4.599999904632568px 4.599999904632568px 4.599999904632568px;
box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3) ;
      }
.symbol-4_54240 {
        width: 32px;
height: 42px;
position: relative;
border-radius: 4.599999904632568px 4.599999904632568px 4.599999904632568px 4.599999904632568px;
box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3) ;
background-color: rgba(107, 107, 107, 1);
      }
.symbol-4_54241 {
        width: 32px;
height: 42px;
position: relative;
border-radius: 4.599999904632568px 4.599999904632568px 4.599999904632568px 4.599999904632568px;
box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3) ;
background-color: rgba(71, 71, 71, 1);
      }
.symbol-4_54242 {
        width: 32px;
height: 42px;
position: relative;
border-radius: 4.599999904632568px 4.599999904632568px 4.599999904632568px 4.599999904632568px;
box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3) ;
      }
.component-4_54236 {
        width: fit-content;
height: fit-content;
      }

