
.symbol-2_23170 {
        
      }
.symbol-2_23171 {
        width: auto;
height: 44px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 0px 0px 8px;
      }
.instance-2_23172 {
        width: 24px;
height: 24px;
      }
.symbol-2_23173 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 0px 0px 6px;
      }
.instance-2_23174 {
        width: 20px;
height: 20px;
      }
.symbol-2_23175 {
        width: auto;
height: 44px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 0px 0px 8px;
      }
.instance-2_23176 {
        width: 24px;
height: 24px;
      }
.symbol-2_23177 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 0px 0px 6px;
      }
.instance-2_23178 {
        width: 20px;
height: 20px;
      }
.component-2_23170 {
        width: fit-content;
height: fit-content;
      }


.instance-2_23172 .symbol-2_2239  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-2_23176 .symbol-2_2239  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-2_23172 .vector-2_2240  {
        width: 16px;
height: 18px;
background-image: url("/assets/Vector67.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 3px;
      }
.instance-2_23176 .vector-2_2240  {
        width: 16px;
height: 18px;
background-image: url("/assets/Vector67.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 3px;
      }
.instance-2_23174 .symbol-2_2237  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_23178 .symbol-2_2237  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_23174 .vector-2_2238  {
        width: 13.466796875px;
height: 15.133331298828125px;
background-image: url("/assets/Vector68.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.266724109649658px;
top: 2.433349609375px;
      }
.instance-2_23178 .vector-2_2238  {
        width: 13.466796875px;
height: 15.133331298828125px;
background-image: url("/assets/Vector68.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.266724109649658px;
top: 2.433349609375px;
      }
