
.symbol-355_6427 {
        
      }
.symbol-355_6428 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5px 0px 5px 0px;
background-color: transparent;
      }
.instance-355_6429 {
        width: 24px;
height: 24px;
      }
.symbol-355_6430 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 5px 0px 5px 0px;
background-color: transparent;
      }
.instance-355_6431 {
        width: 24px;
height: 24px;
      }
.symbol-355_6432 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
padding: 5px 0px 5px 0px;
background-color: transparent;
      }
.instance-355_6433 {
        width: 24px;
height: 24px;
      }
.symbol-355_6434 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: flex-start;
padding: 5px 0px 5px 0px;
background-color: transparent;
      }
.instance-355_6435 {
        width: 24px;
height: 24px;
      }
.symbol-355_6436 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
padding: 5px 0px 5px 0px;
background-color: transparent;
      }
.instance-355_6437 {
        width: 24px;
height: 24px;
      }
.symbol-355_6438 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: flex-start;
padding: 5px 0px 5px 0px;
background-color: transparent;
      }
.instance-355_6439 {
        width: 24px;
height: 24px;
      }
.symbol-355_6440 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 0px 10px 0px;
background-color: transparent;
      }
.instance-355_6441 {
        width: 52px;
height: 32px;
      }
.symbol-355_6442 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 10px 0px 10px 0px;
background-color: transparent;
      }
.instance-355_6443 {
        width: 52px;
height: 32px;
      }
.symbol-355_6444 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5px 0px 5px 0px;
background-color: transparent;
      }
.instance-355_6445 {
        width: 40px;
height: 40px;
      }
.symbol-355_6446 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 5px 0px 5px 0px;
background-color: transparent;
      }
.instance-355_6447 {
        width: 40px;
height: 40px;
      }
.symbol-355_6448 {
        width: auto;
height: 64px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 0px 4px 0px;
background-color: transparent;
      }
.instance-355_6449 {
        width: 40px;
height: 40px;
      }
.symbol-355_6450 {
        width: auto;
height: 64px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 4px 0px 4px 0px;
background-color: transparent;
      }
.instance-355_6451 {
        width: 40px;
height: 40px;
      }
.component-355_6427 {
        width: fit-content;
height: fit-content;
      }


.instance-355_6429 .symbol-2_20317  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
background-color: transparent;
opacity: 0.9100000262260437;
      }
.instance-355_6431 .symbol-2_20317  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
background-color: transparent;
opacity: 0.9100000262260437;
      }
.instance-355_6433 .symbol-355_5772 .symbol-355_5779 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6433 .symbol-355_5772 .symbol-355_5774 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6433 .symbol-355_5772 .symbol-355_5776 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6433 .symbol-355_5772  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6435 .symbol-355_5772 .symbol-355_5779 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6435 .symbol-355_5772 .symbol-355_5774 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6435 .symbol-355_5772 .symbol-355_5776 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6435 .symbol-355_5772  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6445 .symbol-355_6520  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.instance-355_6445  .stroke-wrapper-355_6520 {
        position: relative;
width: 40px;
height: 40px;
flex-shrink: 0;
      }
.instance-355_6445  .stroke-355_6520 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6447 .symbol-355_6520  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.instance-355_6447  .stroke-wrapper-355_6520 {
        position: relative;
width: 40px;
height: 40px;
flex-shrink: 0;
      }
.instance-355_6447  .stroke-355_6520 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6449 .symbol-355_6604 .symbol-355_6608 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 12px 12px 12px 12px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/17235dc0ce298766b2b5d9f4164ddde4cb9ff1d9.png");
      }
.instance-355_6449  .stroke-wrapper-355_6608 {
        position: relative;
width: 40px;
height: 40px;
flex-shrink: 0;
      }
.instance-355_6449  .stroke-355_6608 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6449 .symbol-355_6604  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 12px 12px 12px 12px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/17235dc0ce298766b2b5d9f4164ddde4cb9ff1d9.png");
      }
.instance-355_6449  .stroke-wrapper-355_6604 {
        position: relative;
width: 40px;
height: 40px;
flex-shrink: 0;
      }
.instance-355_6449  .stroke-355_6604 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6451 .symbol-355_6604  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 12px 12px 12px 12px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/17235dc0ce298766b2b5d9f4164ddde4cb9ff1d9.png");
      }
.instance-355_6451  .stroke-wrapper-355_6604 {
        position: relative;
width: 40px;
height: 40px;
flex-shrink: 0;
      }
.instance-355_6451  .stroke-355_6604 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-355_6437 .symbol-355_5789  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6439 .symbol-355_5789  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6437 .symbol-355_5789 .symbol-355_5791 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6439 .symbol-355_5789 .symbol-355_5791 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6437 .symbol-355_5789 .symbol-355_5793 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6439 .symbol-355_5789 .symbol-355_5793 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6437 .symbol-355_5789 .symbol-355_5796 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6439 .symbol-355_5789 .symbol-355_5796 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6441 .symbol-355_5810 .symbol-355_5800 {
        width: 52px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6443 .symbol-355_5810 .symbol-355_5800 {
        width: 52px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6441 .symbol-355_5810 .symbol-355_5806 {
        width: 52px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6443 .symbol-355_5810 .symbol-355_5806 {
        width: 52px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6441 .symbol-355_5810 .symbol-355_5808 {
        width: 52px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6443 .symbol-355_5810 .symbol-355_5808 {
        width: 52px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6441 .symbol-355_5810  {
        width: 52px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6443 .symbol-355_5810  {
        width: 52px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6441 .vector-355_5811  {
        position: absolute;
inset: -8.928571428571429% -7.142857142857142% -8.928571428571429% -7.142857142857142% ;
background-image: url("/assets/indicator.png");
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.instance-355_6441 .vector-355_5811 .vector-wrapper-355_5811 {
        position: relative;
flex-shrink: 0;
width: 28px;
height: 28px;
      }
.instance-355_6443 .vector-355_5811  {
        position: absolute;
inset: -8.928571428571429% -7.142857142857142% -8.928571428571429% -7.142857142857142% ;
background-image: url("/assets/indicator.png");
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.instance-355_6443 .vector-355_5811 .vector-wrapper-355_5811 {
        position: relative;
flex-shrink: 0;
width: 28px;
height: 28px;
      }
