
.symbol-355_6481 {
        
      }
.symbol-355_6482 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
background-color: transparent;
      }
.instance-355_6483 {
        width: 24px;
height: 24px;
      }
.symbol-355_6484 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: flex-start;
padding: 5px 4px 5px 4px;
background-color: transparent;
      }
.instance-355_6485 {
        width: 24px;
height: 24px;
      }
.symbol-355_6486 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: transparent;
      }
.instance-355_6487 {
        width: 52px;
height: 32px;
      }
.symbol-355_6488 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 10px 0px 10px 0px;
background-color: transparent;
      }
.instance-355_6489 {
        width: 52px;
height: 32px;
      }
.symbol-355_6490 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
background-color: transparent;
      }
.instance-355_6491 {
        width: 24px;
height: 24px;
      }
.symbol-355_6492 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 5px 4px 5px 4px;
background-color: transparent;
      }
.instance-355_6493 {
        width: 24px;
height: 24px;
      }
.symbol-355_6494 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
background-color: transparent;
      }
.instance-355_6495 {
        width: 24px;
height: 24px;
      }
.symbol-355_6496 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 5px 4px 5px 4px;
background-color: transparent;
      }
.instance-355_6497 {
        width: 24px;
height: 24px;
      }
.component-355_6481 {
        width: fit-content;
height: fit-content;
      }


.instance-355_6491 .symbol-2_23125 .symbol-355_5752 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-355_6491 .vector-2_23126  {
        width: 9px;
height: 16px;
background-image: url("/assets/Vector25.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 9px;
top: 4px;
      }
.instance-355_6491 .symbol-2_23125  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-355_6493 .symbol-2_23125 .symbol-355_5752 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-355_6493 .vector-2_23126  {
        width: 9px;
height: 16px;
background-image: url("/assets/Vector25.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 9px;
top: 4px;
      }
.instance-355_6493 .symbol-2_23125  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-355_6483 .symbol-355_5772  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6485 .symbol-355_5772  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6483 .symbol-355_5772 .symbol-355_5774 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6485 .symbol-355_5772 .symbol-355_5774 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6483 .symbol-355_5772 .symbol-355_5776 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6485 .symbol-355_5772 .symbol-355_5776 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6483 .symbol-355_5772 .symbol-355_5779 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6485 .symbol-355_5772 .symbol-355_5779 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6495 .symbol-355_5789  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6497 .symbol-355_5789  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6495 .symbol-355_5789 .symbol-355_5791 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6497 .symbol-355_5789 .symbol-355_5791 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6495 .symbol-355_5789 .symbol-355_5793 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6497 .symbol-355_5789 .symbol-355_5793 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6495 .symbol-355_5789 .symbol-355_5796 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6497 .symbol-355_5789 .symbol-355_5796 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-355_6487 .symbol-355_5810 .symbol-355_5800 {
        width: 52px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6489 .symbol-355_5810 .symbol-355_5800 {
        width: 52px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6487 .symbol-355_5810 .symbol-355_5806 {
        width: 52px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6489 .symbol-355_5810 .symbol-355_5806 {
        width: 52px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6487 .symbol-355_5810 .symbol-355_5808 {
        width: 52px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6489 .symbol-355_5810 .symbol-355_5808 {
        width: 52px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6487 .symbol-355_5810  {
        width: 52px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6489 .symbol-355_5810  {
        width: 52px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-355_6487 .vector-355_5811  {
        position: absolute;
inset: -8.928571428571429% -7.142857142857142% -8.928571428571429% -7.142857142857142% ;
background-image: url("/assets/indicator.png");
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.instance-355_6487 .vector-355_5811 .vector-wrapper-355_5811 {
        position: relative;
flex-shrink: 0;
width: 28px;
height: 28px;
      }
.instance-355_6489 .vector-355_5811  {
        position: absolute;
inset: -8.928571428571429% -7.142857142857142% -8.928571428571429% -7.142857142857142% ;
background-image: url("/assets/indicator.png");
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.instance-355_6489 .vector-355_5811 .vector-wrapper-355_5811 {
        position: relative;
flex-shrink: 0;
width: 28px;
height: 28px;
      }
