
.symbol-1142_62631 {
        
      }
.symbol-1142_62632 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5px 0px 5px 0px;
background-color: transparent;
      }
.instance-1142_62633 {
        width: 24px;
height: 24px;
      }
.symbol-1142_62634 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 5px 0px 5px 0px;
background-color: transparent;
      }
.instance-1142_62635 {
        width: 24px;
height: 24px;
      }
.symbol-1142_62636 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
padding: 5px 0px 5px 0px;
background-color: transparent;
      }
.instance-1142_62637 {
        width: 24px;
height: 24px;
      }
.symbol-1142_62638 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: flex-start;
padding: 5px 0px 5px 0px;
background-color: transparent;
      }
.instance-1142_62639 {
        width: 24px;
height: 24px;
      }
.symbol-1142_62640 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
padding: 5px 0px 5px 0px;
background-color: transparent;
      }
.instance-1142_62641 {
        width: 24px;
height: 24px;
      }
.symbol-1142_62642 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: flex-start;
padding: 5px 0px 5px 0px;
background-color: transparent;
      }
.instance-1142_62643 {
        width: 24px;
height: 24px;
      }
.symbol-1142_62644 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 0px 10px 0px;
background-color: transparent;
      }
.instance-1142_62645 {
        width: 52px;
height: 32px;
      }
.symbol-1142_62646 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 10px 0px 10px 0px;
background-color: transparent;
      }
.instance-1142_62647 {
        width: 52px;
height: 32px;
      }
.symbol-1142_62648 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5px 0px 5px 0px;
background-color: transparent;
      }
.instance-1142_62649 {
        width: 40px;
height: 40px;
      }
.symbol-1142_62650 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 5px 0px 5px 0px;
background-color: transparent;
      }
.instance-1142_62651 {
        width: 40px;
height: 40px;
      }
.symbol-1142_62652 {
        width: auto;
height: 64px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 0px 4px 0px;
background-color: transparent;
      }
.instance-1142_62653 {
        width: 40px;
height: 40px;
      }
.symbol-1142_62654 {
        width: auto;
height: 64px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 4px 0px 4px 0px;
background-color: transparent;
      }
.instance-1142_62655 {
        width: 40px;
height: 40px;
      }
.component-1142_62631 {
        width: fit-content;
height: fit-content;
      }


.instance-1142_62633 .symbol-2_13850  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
background-color: transparent;
opacity: 0.9100000262260437;
      }
.instance-1142_62635 .symbol-2_13850  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
background-color: transparent;
opacity: 0.9100000262260437;
      }
.instance-1142_62637 .symbol-2_12858 .symbol-2_12865 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-1142_62637 .symbol-2_12858 .symbol-2_12860 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-1142_62637 .symbol-2_12858 .symbol-2_12862 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-1142_62637 .symbol-2_12858  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-1142_62639 .symbol-2_12858 .symbol-2_12865 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-1142_62639 .symbol-2_12858 .symbol-2_12860 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-1142_62639 .symbol-2_12858 .symbol-2_12862 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-1142_62639 .symbol-2_12858  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-1142_62641 .symbol-59_23100 .symbol-59_23107 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-1142_62641 .symbol-59_23100 .symbol-59_23102 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-1142_62641 .symbol-59_23100 .symbol-59_23104 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-1142_62641 .symbol-59_23100  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-1142_62643 .symbol-59_23100 .symbol-59_23107 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-1142_62643 .symbol-59_23100 .symbol-59_23102 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-1142_62643 .symbol-59_23100 .symbol-59_23104 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-1142_62643 .symbol-59_23100  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-1142_62645 .symbol-59_23120 .symbol-59_23114 {
        width: 52px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
      }
.instance-1142_62645 .symbol-59_23120 .symbol-59_23117 {
        width: 52px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
      }
.instance-1142_62645 .symbol-59_23120 .symbol-59_23111 {
        width: 52px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
      }
.instance-1142_62645 .symbol-59_23120  {
        width: 52px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
      }
.instance-1142_62647 .symbol-59_23120 .symbol-59_23114 {
        width: 52px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
      }
.instance-1142_62647 .symbol-59_23120 .symbol-59_23117 {
        width: 52px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
      }
.instance-1142_62647 .symbol-59_23120 .symbol-59_23111 {
        width: 52px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
      }
.instance-1142_62647 .symbol-59_23120  {
        width: 52px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
      }
.instance-1142_62649 .symbol-2_30541  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.instance-1142_62649  .stroke-wrapper-2_30541 {
        position: relative;
width: 40px;
height: 40px;
flex-shrink: 0;
      }
.instance-1142_62649  .stroke-2_30541 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1142_62651 .symbol-2_30541  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.instance-1142_62651  .stroke-wrapper-2_30541 {
        position: relative;
width: 40px;
height: 40px;
flex-shrink: 0;
      }
.instance-1142_62651  .stroke-2_30541 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1142_62653 .symbol-2_12784  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 12px 12px 12px 12px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.instance-1142_62653  .stroke-wrapper-2_12784 {
        position: relative;
width: 40px;
height: 40px;
flex-shrink: 0;
      }
.instance-1142_62653  .stroke-2_12784 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1142_62655 .symbol-2_12784  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 12px 12px 12px 12px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.instance-1142_62655  .stroke-wrapper-2_12784 {
        position: relative;
width: 40px;
height: 40px;
flex-shrink: 0;
      }
.instance-1142_62655  .stroke-2_12784 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-1142_62633 .symbol-2_13850 .symbol-2281_52384 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
background-color: transparent;
opacity: 0.9100000262260437;
      }
