
.symbol-355_6452 {
        
      }
.symbol-355_6453 {
        width: 353px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: center;
padding: 8px 0px 8px 0px;
      }
.paragraph-355_6454 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
      }
.paragraph-355_6455 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.symbol-355_6456 {
        width: 353px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: center;
padding: 8px 0px 8px 0px;
      }
.paragraph-355_6457 {
        width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
      }
.paragraph-355_6458 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-355_6459 {
        width: 353px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: center;
padding: 8px 0px 8px 0px;
      }
.paragraph-355_6460 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
      }
.paragraph-355_6461 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.symbol-355_6462 {
        width: 353px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: center;
padding: 8px 0px 8px 0px;
      }
.paragraph-355_6463 {
        width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
      }
.paragraph-355_6464 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-355_6465 {
        width: 353px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: center;
padding: 8px 0px 8px 0px;
      }
.paragraph-355_6466 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
      }
.paragraph-355_6467 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.symbol-355_6468 {
        width: 353px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: center;
padding: 8px 0px 8px 0px;
      }
.paragraph-355_6469 {
        width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
      }
.paragraph-355_6470 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-355_6471 {
        width: 353px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: center;
padding: 8px 0px 8px 0px;
      }
.paragraph-355_6472 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
      }
.paragraph-355_6473 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.symbol-355_6474 {
        width: 353px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: center;
padding: 8px 0px 8px 0px;
      }
.paragraph-355_6475 {
        width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
      }
.paragraph-355_6476 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-355_6477 {
        width: 353px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: flex-start;
padding: 8px 0px 8px 0px;
      }
.instance-355_6478 {
        width: 87px;
height: 36px;
      }
.symbol-355_6479 {
        width: 353px;
height: 52px;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: flex-start;
padding: 8px 0px 8px 0px;
      }
.instance-355_6480 {
        width: 87px;
height: 36px;
      }
.component-355_6452 {
        width: fit-content;
height: fit-content;
      }


.instance-355_6478 .symbol-355_6667 .symbol-355_6739 {
        width: 87px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 8px 10px 8px 10px;
border-radius: 10px 10px 10px 10px;
      }
.instance-355_6478 .instance-355_6668  {
        width: 20px;
height: 20px;
      }
.instance-355_6478 .instance-355_6672  {
        width: 20px;
height: 20px;
      }
.instance-355_6478 .instance-355_6669  {
        width: 24px;
height: 24px;
      }
.instance-355_6478 .frame-355_6670  {
        width: 43px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
      }
.instance-355_6478 .paragraph-355_6671  {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-355_6478 .symbol-355_6667  {
        width: 87px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 8px 10px 8px 10px;
border-radius: 10px 10px 10px 10px;
      }
.instance-355_6480 .symbol-355_6739  {
        width: 87px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 8px 10px 8px 10px;
border-radius: 10px 10px 10px 10px;
      }
.instance-355_6480 .instance-355_6740  {
        width: 20px;
height: 20px;
      }
.instance-355_6480 .instance-355_6744  {
        width: 20px;
height: 20px;
      }
.instance-355_6480 .instance-355_6741  {
        width: 24px;
height: 24px;
      }
.instance-355_6480 .frame-355_6742  {
        width: 43px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
      }
.instance-355_6480 .paragraph-355_6743  {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
