
.symbol-1899_49643 {
        
      }
.symbol-1899_49644 {
        width: 353px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: center;
padding: 8px 0px 8px 0px;
      }
.paragraph-1899_49645 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
      }
.paragraph-1899_49646 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.symbol-1899_49647 {
        width: 353px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: center;
padding: 8px 0px 8px 0px;
      }
.paragraph-1899_49648 {
        width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
      }
.paragraph-1899_49649 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-1899_49650 {
        width: 353px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: center;
padding: 8px 0px 8px 0px;
      }
.paragraph-1899_49651 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
      }
.paragraph-1899_49652 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.symbol-1899_49653 {
        width: 353px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: center;
padding: 8px 0px 8px 0px;
      }
.paragraph-1899_49654 {
        width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
      }
.paragraph-1899_49655 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-1899_49656 {
        width: 353px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: center;
padding: 8px 0px 8px 0px;
      }
.paragraph-1899_49657 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
      }
.paragraph-1899_49658 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.symbol-1899_49659 {
        width: 353px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: center;
padding: 8px 0px 8px 0px;
      }
.paragraph-1899_49660 {
        width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
      }
.paragraph-1899_49661 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-1899_49662 {
        width: 353px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: center;
padding: 8px 0px 8px 0px;
      }
.paragraph-1899_49663 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
      }
.paragraph-1899_49664 {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.symbol-1899_49665 {
        width: 353px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: center;
padding: 8px 0px 8px 0px;
      }
.paragraph-1899_49666 {
        width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
      }
.paragraph-1899_49667 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-1899_49668 {
        width: 353px;
height: 52px;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: flex-start;
padding: 8px 0px 8px 0px;
      }
.instance-1899_49669 {
        width: 63px;
height: 36px;
      }
.symbol-1899_49670 {
        width: 353px;
height: 52px;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: flex-start;
padding: 8px 0px 8px 0px;
      }
.instance-1899_49671 {
        width: 63px;
height: 36px;
      }
.component-1899_49643 {
        width: fit-content;
height: fit-content;
      }


.instance-1899_49669 .instance-1899_49691  {
        width: 20px;
height: 20px;
      }
.instance-1899_49669 .instance-1899_49695  {
        width: 20px;
height: 20px;
      }
.instance-1899_49669 .frame-1899_49693  {
        width: 43px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
      }
.instance-1899_49669 .paragraph-1899_49694  {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-1899_49669 .symbol-1899_49690  {
        width: 63px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 8px 10px 8px 10px;
border-radius: 10px 10px 10px 10px;
      }
.instance-1899_49671 .symbol-1899_49762  {
        width: 63px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 8px 10px 8px 10px;
border-radius: 10px 10px 10px 10px;
      }
.instance-1899_49671 .instance-1899_49763  {
        width: 20px;
height: 20px;
      }
.instance-1899_49671 .instance-1899_49767  {
        width: 20px;
height: 20px;
      }
.instance-1899_49671 .frame-1899_49765  {
        width: 43px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
      }
.instance-1899_49671 .paragraph-1899_49766  {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
