
.symbol-2_79792 {
        width: 328px;
height: 156px;
position: relative;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
      }
.instance-2_79793 {
        width: 328px;
height: 52px;
      }
.instance-2_79794 {
        width: 328px;
height: 52px;
      }
.instance-2_79795 {
        width: 328px;
height: 52px;
      }
.component-2_79792 {
        width: fit-content;
height: fit-content;
      }


.instance-2_79793 .instance-2_57037 .paragraph-2_57331  {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
      }
.instance-2_79794 .instance-2_57037 .paragraph-2_57331  {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
      }
.instance-2_79795 .instance-2_56609 .paragraph-2_57331  {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 18px;
position: relative;
flex-shrink: 0;
      }
.instance-2_79793 .instance-2_57037 .paragraph-2_57332  {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2_79794 .instance-2_57037 .paragraph-2_57332  {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2_79795 .instance-2_56609 .paragraph-2_57332  {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2_79793 .instance-2_57036 .instance-2_57306  {
        width: 24px;
height: 24px;
      }
.instance-2_79794 .instance-2_57036 .instance-2_57306  {
        width: 24px;
height: 24px;
      }
.instance-2_79795 .instance-2_56608 .instance-2_57306  {
        width: 24px;
height: 24px;
      }
.instance-2_79795 .symbol-2_56607  {
        width: 328px;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: flex-start;
align-items: center;
min-height: 52px;
border-radius: 16px 16px 16px 16px;
      }
.instance-2_79795 .instance-2_56608  {
        width: 24px;
height: 56px;
      }
.instance-2_79795 .instance-2_56609  {
        width: 292px;
height: 56px;
      }
.instance-2_79793 .symbol-2_56915  {
        width: 328px;
height: 56px;
position: absolute;
left: 80px;
top: 1256px;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: flex-start;
align-items: center;
min-height: 52px;
border-radius: 16px 16px 16px 16px;
      }
.instance-2_79794 .symbol-2_56915  {
        width: 328px;
height: 56px;
position: absolute;
left: 80px;
top: 1256px;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: flex-start;
align-items: center;
min-height: 52px;
border-radius: 16px 16px 16px 16px;
      }
.instance-2_79795 .symbol-2_56915  {
        width: 328px;
height: 56px;
position: absolute;
left: 80px;
top: 1256px;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: flex-start;
align-items: center;
min-height: 52px;
border-radius: 16px 16px 16px 16px;
      }
.instance-2_79793 .symbol-2_57032  {
        width: 328px;
height: 56px;
position: absolute;
left: 80px;
top: 716px;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: flex-start;
align-items: center;
min-height: 52px;
      }
.instance-2_79794 .symbol-2_57032  {
        width: 328px;
height: 56px;
position: absolute;
left: 80px;
top: 716px;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: flex-start;
align-items: center;
min-height: 52px;
      }
.instance-2_79795 .symbol-2_57032  {
        width: 328px;
height: 56px;
position: absolute;
left: 80px;
top: 716px;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: flex-start;
align-items: center;
min-height: 52px;
      }
.instance-2_79793 .symbol-2_57035  {
        width: 328px;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: flex-start;
align-items: center;
min-height: 52px;
      }
.instance-2_79794 .symbol-2_57035  {
        width: 328px;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: flex-start;
align-items: center;
min-height: 52px;
      }
.instance-2_79795 .symbol-2_57035  {
        width: 328px;
height: 56px;
position: absolute;
left: 80px;
top: 1376px;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: flex-start;
align-items: center;
min-height: 52px;
      }
.instance-2_79793 .instance-2_57036  {
        width: 24px;
height: 56px;
      }
.instance-2_79794 .instance-2_57036  {
        width: 24px;
height: 56px;
      }
.instance-2_79793 .instance-2_57037  {
        width: 228px;
height: 56px;
      }
.instance-2_79794 .instance-2_57037  {
        width: 228px;
height: 56px;
      }
.instance-2_79793 .instance-2_57038  {
        width: 52px;
height: 56px;
      }
.instance-2_79794 .instance-2_57038  {
        width: 52px;
height: 56px;
      }
.instance-2_79793 .symbol-2_57039  {
        width: 328px;
height: 56px;
position: absolute;
left: 80px;
top: 2036px;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: flex-start;
align-items: center;
min-height: 52px;
      }
.instance-2_79794 .symbol-2_57039  {
        width: 328px;
height: 56px;
position: absolute;
left: 80px;
top: 2036px;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: flex-start;
align-items: center;
min-height: 52px;
      }
.instance-2_79795 .symbol-2_57039  {
        width: 328px;
height: 56px;
position: absolute;
left: 80px;
top: 2036px;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: flex-start;
align-items: center;
min-height: 52px;
      }
.instance-2_79793 .symbol-2_57043  {
        width: 328px;
height: 56px;
position: absolute;
left: 80px;
top: 2696px;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: flex-start;
align-items: center;
min-height: 52px;
      }
.instance-2_79794 .symbol-2_57043  {
        width: 328px;
height: 56px;
position: absolute;
left: 80px;
top: 2696px;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: flex-start;
align-items: center;
min-height: 52px;
      }
.instance-2_79795 .symbol-2_57043  {
        width: 328px;
height: 56px;
position: absolute;
left: 80px;
top: 2696px;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: flex-start;
align-items: center;
min-height: 52px;
      }
.instance-2_79793 .instance-2_57038 .instance-2_29192  {
        width: 52px;
height: 32px;
      }
.instance-2_79794 .instance-2_57038 .instance-2_29192  {
        width: 52px;
height: 32px;
      }
