
.symbol-2_29186 {
        
      }
.symbol-2_29187 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
padding: 5px 4px 5px 4px;
background-color: transparent;
      }
.instance-2_29188 {
        width: 24px;
height: 24px;
      }
.symbol-2_29189 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: flex-start;
padding: 5px 4px 5px 4px;
background-color: transparent;
      }
.instance-2_29190 {
        width: 24px;
height: 24px;
      }
.symbol-2_29191 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 0px 10px 0px;
background-color: transparent;
      }
.instance-2_29192 {
        width: 52px;
height: 32px;
      }
.symbol-2_29193 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 10px 0px 10px 0px;
background-color: transparent;
      }
.instance-2_29194 {
        width: 52px;
height: 32px;
      }
.symbol-2_29195 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5px 4px 5px 4px;
background-color: transparent;
      }
.instance-2_29196 {
        width: 24px;
height: 24px;
      }
.symbol-2_29197 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 5px 4px 5px 4px;
background-color: transparent;
      }
.instance-2_29198 {
        width: 24px;
height: 24px;
      }
.symbol-2_29199 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5px 4px 5px 4px;
background-color: transparent;
      }
.instance-2_29200 {
        width: 24px;
height: 24px;
      }
.symbol-2_29201 {
        width: auto;
height: 56px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 5px 4px 5px 4px;
background-color: transparent;
      }
.instance-2_29202 {
        width: 24px;
height: 24px;
      }
.component-2_29186 {
        width: fit-content;
height: fit-content;
      }


.instance-2_29188 .symbol-2_19062  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-2_29190 .symbol-2_19062  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-2_29192 .symbol-2_23200  {
        width: 52px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
      }
.instance-2_29194 .symbol-2_23200  {
        width: 52px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
      }
.instance-2_29196 .symbol-2_23125 .symbol-355_5752 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-2_29198 .symbol-2_23125 .symbol-355_5752 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-2_29200 .symbol-2_29176  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-2_29202 .symbol-2_29176  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.instance-2_29196 .symbol-2_23125  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-2_29198 .symbol-2_23125  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-2_29196 .vector-2_23126  {
        width: 9px;
height: 16px;
background-image: url("/assets/Vector25.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 9px;
top: 4px;
      }
.instance-2_29198 .vector-2_23126  {
        width: 9px;
height: 16px;
background-image: url("/assets/Vector25.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 9px;
top: 4px;
      }
