
.symbol-2_28736 {
        
      }
.symbol-2_28737 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-2_28738 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-2_28738 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-2_28739 {
        width: 15px;
height: 16px;
position: relative;
flex-shrink: 0;
background-color: transparent;
      }
.rectangle-2_28740 {
        width: 3px;
height: 8px;
position: absolute;
left: 12px;
top: 4px;
border-radius: 100px 100px 100px 100px;
      }
.rectangle-2_28741 {
        width: 3px;
height: 16px;
position: absolute;
left: 6px;
top: 0px;
border-radius: 100px 100px 100px 100px;
      }
.vector-2_28742 {
        width: 3px;
height: 8px;
background-image: url("/assets/Dot15.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 4px;
      }
.symbol-2_28743 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-2_28744 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-2_28744 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-2_28745 {
        width: 14px;
height: 16px;
position: relative;
flex-shrink: 0;
background-color: transparent;
      }
.rectangle-2_28746 {
        width: 2.8000001907348633px;
height: 8px;
position: absolute;
left: 11.200000762939453px;
top: 4px;
border-radius: 66.66667175292969px 66.66667175292969px 66.66667175292969px 66.66667175292969px;
      }
.rectangle-2_28747 {
        width: 2.8000001907348633px;
height: 16px;
position: absolute;
left: 5.600000381469727px;
top: 0px;
border-radius: 66.66667175292969px 66.66667175292969px 66.66667175292969px 66.66667175292969px;
      }
.vector-2_28748 {
        width: 2.79998779296875px;
height: 8px;
background-image: url("/assets/Dot14.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 4px;
      }
.symbol-2_28749 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-2_28750 {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-2_28750 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 4px 4px 4px 4px;
width: 100%;
height: 100%;
position: relative;
      }
.group-2_28751 {
        width: 100%;
height: 28px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
align-self: stretch;
      }
.vector-2_28752 {
        width: 28px;
height: 28px;
background-image: url("http://localhost:3667/assets/1780342842983/Bg4.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 0px;
      }
.vector-2_28753 {
        width: 28px;
height: 28px;
background-image: url("http://localhost:3667/assets/1780342842983/Spinner4.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 0px;
      }
.symbol-2_28754 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-2_28755 {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-2_28755 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 4px 4px 4px 4px;
width: 100%;
height: 100%;
position: relative;
      }
.group-2_28756 {
        width: 100%;
height: 28px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
align-self: stretch;
      }
.vector-2_28757 {
        width: 28px;
height: 28px;
background-image: url("http://localhost:3667/assets/1780342842983/Bg3.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 0px;
      }
.vector-2_28758 {
        width: 28px;
height: 28px;
background-image: url("http://localhost:3667/assets/1780342842983/Spinner3.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 0px;
      }
.symbol-2_28759 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-2_28760 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-2_28760 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 2px 2px 2px 2px;
width: 100%;
height: 100%;
position: relative;
      }
.group-2_28761 {
        width: 100%;
height: 12px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
align-self: stretch;
      }
.vector-2_28762 {
        width: 12px;
height: 12px;
background-image: url("http://localhost:3667/assets/1780342842983/Bg2.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 0px;
      }
.vector-2_28763 {
        width: 12px;
height: 12px;
background-image: url("http://localhost:3667/assets/1780342842983/Spinner2.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 0px;
      }
.symbol-2_28764 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-2_28765 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-2_28765 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 2px 2px 2px 2px;
width: 100%;
height: 100%;
position: relative;
      }
.group-2_28766 {
        width: 100%;
height: 12px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
align-self: stretch;
      }
.vector-2_28767 {
        width: 12px;
height: 12px;
background-image: url("http://localhost:3667/assets/1780342842983/Bg1.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 0px;
      }
.vector-2_28768 {
        width: 12px;
height: 12px;
background-image: url("http://localhost:3667/assets/1780342842983/Spinner1.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 0px;
      }
.symbol-2_28769 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-2_28770 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-2_28770 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 3px 3px 3px 3px;
width: 100%;
height: 100%;
position: relative;
      }
.group-2_28771 {
        width: 100%;
height: 18px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
align-self: stretch;
      }
.vector-2_28772 {
        width: 18px;
height: 18px;
background-image: url("http://localhost:3667/assets/1780342842983/Bg0.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 0px;
      }
.vector-2_28773 {
        width: 18px;
height: 18px;
background-image: url("http://localhost:3667/assets/1780342842983/Spinner0.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 0px;
      }
.symbol-2_28774 {
        width: 20px;
height: 20px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-2_28775 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-2_28775 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 3px 3px 3px 3px;
width: 100%;
height: 100%;
position: relative;
      }
.group-2_28776 {
        width: 100%;
height: 14px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
align-self: stretch;
      }
.vector-2_28777 {
        width: 14px;
height: 14px;
background-image: url("http://localhost:3667/assets/1780342842983/Bg.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 0px;
      }
.vector-2_28778 {
        width: 14px;
height: 14px;
background-image: url("http://localhost:3667/assets/1780342842983/Spinner.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 0px;
      }
.symbol-2_28779 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-2_28780 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-2_28780 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 3px 3px 3px 3px;
width: 100%;
height: 100%;
position: relative;
      }
.group-2_28781 {
        width: 100%;
height: 18px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
align-self: stretch;
      }
.vector-2_28782 {
        width: 18px;
height: 18px;
background-image: url("http://localhost:3667/assets/1780342842983/Bg6.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 0px;
      }
.vector-2_28783 {
        width: 18px;
height: 18px;
background-image: url("http://localhost:3667/assets/1780342842983/Spinner6.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 0px;
      }
.symbol-2_28784 {
        width: 20px;
height: 20px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-2_28785 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-2_28785 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 3px 3px 3px 3px;
width: 100%;
height: 100%;
position: relative;
      }
.group-2_28786 {
        width: 100%;
height: 14px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
align-self: stretch;
      }
.vector-2_28787 {
        width: 14px;
height: 14px;
background-image: url("http://localhost:3667/assets/1780342842983/Bg5.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 0px;
      }
.vector-2_28788 {
        width: 14px;
height: 14px;
background-image: url("http://localhost:3667/assets/1780342842983/Spinner5.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 0px;
      }
.symbol-2_28789 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-2_28790 {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-2_28790 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 4px 4px 4px 4px;
width: 100%;
height: 100%;
position: relative;
      }
.frame-2_28791 {
        width: auto;
height: 28px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
align-self: stretch;
background-color: transparent;
      }
.frame-content-2_28791 {
        display: flex;
flex-direction: row;
gap: 5px;
align-items: center;
justify-content: center;
height: 100%;
position: relative;
      }
.vector-2_28792 {
        width: 4px;
height: 14px;
background-image: url("/assets/Dot24.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.vector-2_28793 {
        width: 4px;
height: 28px;
background-image: url("/assets/Dot16.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
min-height: 4px;
align-self: stretch;
      }
.vector-2_28794 {
        width: 4px;
height: 14px;
background-image: url("/assets/Dot34.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.symbol-2_28795 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-2_28796 {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-2_28796 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 4px 4px 4px 4px;
width: 100%;
height: 100%;
position: relative;
      }
.frame-2_28797 {
        width: auto;
height: 28px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
align-self: stretch;
background-color: transparent;
      }
.frame-content-2_28797 {
        display: flex;
flex-direction: row;
gap: 5px;
align-items: center;
justify-content: center;
height: 100%;
position: relative;
      }
.vector-2_28798 {
        width: 4px;
height: 14px;
background-image: url("/assets/Dot23.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.vector-2_28799 {
        width: 4px;
height: 28px;
background-image: url("/assets/Dot13.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
min-height: 4px;
align-self: stretch;
      }
.vector-2_28800 {
        width: 4px;
height: 14px;
background-image: url("/assets/Dot33.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.symbol-2_28801 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-2_28802 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-2_28802 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 2px 2px 2px 2px;
width: 100%;
height: 100%;
position: relative;
      }
.frame-2_28803 {
        width: auto;
height: 12px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
align-self: stretch;
background-color: transparent;
      }
.frame-content-2_28803 {
        display: flex;
flex-direction: row;
gap: 2px;
align-items: center;
justify-content: center;
height: 100%;
position: relative;
      }
.vector-2_28804 {
        width: 2px;
height: 6px;
background-image: url("/assets/Dot22.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.vector-2_28805 {
        width: 2px;
height: 12px;
background-image: url("/assets/Dot12.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
min-height: 2px;
align-self: stretch;
      }
.vector-2_28806 {
        width: 2px;
height: 6px;
background-image: url("/assets/Dot32.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.symbol-2_28807 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-2_28808 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-2_28808 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 2px 2px 2px 2px;
width: 100%;
height: 100%;
position: relative;
      }
.frame-2_28809 {
        width: auto;
height: 12px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
align-self: stretch;
background-color: transparent;
      }
.frame-content-2_28809 {
        display: flex;
flex-direction: row;
gap: 2px;
align-items: center;
justify-content: center;
height: 100%;
position: relative;
      }
.vector-2_28810 {
        width: 2px;
height: 6px;
background-image: url("/assets/Dot21.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.vector-2_28811 {
        width: 2px;
height: 12px;
background-image: url("/assets/Dot11.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
min-height: 2px;
align-self: stretch;
      }
.vector-2_28812 {
        width: 2px;
height: 6px;
background-image: url("/assets/Dot31.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.symbol-2_28813 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-2_28814 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-2_28814 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 2px 3px 2px 3px;
width: 100%;
height: 100%;
position: relative;
      }
.frame-2_28815 {
        width: 16px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
align-self: stretch;
background-color: transparent;
      }
.frame-content-2_28815 {
        display: flex;
flex-direction: row;
gap: 3px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-2_28816 {
        width: 3px;
height: 10px;
background-image: url("/assets/Dot20.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.vector-2_28817 {
        width: 3px;
height: 20px;
background-image: url("/assets/Dot10.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
min-height: 3px;
align-self: stretch;
      }
.vector-2_28818 {
        width: 3px;
height: 10px;
background-image: url("/assets/Dot30.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.symbol-2_28819 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-2_28820 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-2_28820 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 2px 3px 2px 3px;
width: 100%;
height: 100%;
position: relative;
      }
.frame-2_28821 {
        width: 16px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
align-self: stretch;
background-color: transparent;
      }
.frame-content-2_28821 {
        display: flex;
flex-direction: row;
gap: 3px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-2_28822 {
        width: 3px;
height: 10px;
background-image: url("/assets/Dot2.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.vector-2_28823 {
        width: 3px;
height: 20px;
background-image: url("/assets/Dot1.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
min-height: 3px;
align-self: stretch;
      }
.vector-2_28824 {
        width: 3px;
height: 10px;
background-image: url("/assets/Dot3.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.component-2_28736 {
        width: fit-content;
height: fit-content;
      }

