
.symbol-1458_19100 {
        
      }
.symbol-1458_19101 {
        width: 328px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: flex-start;
align-items: center;
padding: 6px 6px 6px 6px;
border-radius: 14px 14px 14px 14px;
      }
.frame-1458_19102 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 8px 8px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-1458_19103 {
        width: 24px;
height: 24px;
      }
.frame-1458_19104 {
        width: 100%;
height: 40px;
overflow: hidden;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-1458_19104 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
justify-content: center;
padding: 0px 0px 2px 0px;
width: 100%;
height: 100%;
position: relative;
      }
.paragraph-1458_19105 {
        display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.paragraph-1458_19106 {
        display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 13px;
position: relative;
flex-shrink: 0;
      }
.instance-1458_19107 {
        width: 36px;
height: 36px;
      }
.symbol-1458_19108 {
        width: 328px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: flex-start;
align-items: center;
padding: 6px 6px 6px 6px;
border-radius: 14px 14px 14px 14px;
      }
.frame-1458_19109 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 8px 8px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-1458_19110 {
        width: 24px;
height: 24px;
      }
.instance-1458_19111 {
        width: 20px;
height: 20px;
      }
.frame-1458_19112 {
        width: 100%;
height: 40px;
overflow: hidden;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-1458_19112 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
justify-content: center;
padding: 0px 0px 2px 0px;
width: 100%;
height: 100%;
position: relative;
      }
.paragraph-1458_19113 {
        display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.paragraph-1458_19114 {
        display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 13px;
position: relative;
flex-shrink: 0;
      }
.instance-1458_19115 {
        width: 36px;
height: 36px;
      }
.symbol-1458_19116 {
        width: 328px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: flex-start;
align-items: center;
padding: 6px 6px 6px 6px;
border-radius: 14px 14px 14px 14px;
      }
.frame-1458_19117 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 8px 8px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-1458_19118 {
        width: 24px;
height: 24px;
      }
.frame-1458_19119 {
        width: 100%;
height: 40px;
overflow: hidden;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-1458_19119 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
justify-content: center;
padding: 0px 0px 2px 0px;
width: 100%;
height: 100%;
position: relative;
      }
.paragraph-1458_19120 {
        display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.paragraph-1458_19121 {
        display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 13px;
position: relative;
flex-shrink: 0;
      }
.frame-1458_19122 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
      }
.instance-1458_19123 {
        width: 36px;
height: 36px;
      }
.instance-1458_19124 {
        width: 36px;
height: 36px;
      }
.symbol-1458_19125 {
        width: 328px;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 5px 6px 5px 8px;
border-radius: 10px 10px 10px 10px;
      }
.instance-1458_19126 {
        width: 20px;
height: 20px;
      }
.frame-1458_19127 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-1458_19127 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
justify-content: flex-start;
padding: 0px 3px 0px 0px;
width: 100%;
position: relative;
      }
.paragraph-1458_19128 {
        display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: undefined;
overflow: hidden;
width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.paragraph-1458_19129 {
        text-align: right;
display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-1458_19130 {
        width: 26px;
height: 26px;
      }
.symbol-1458_19131 {
        width: 328px;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 5px 6px 5px 8px;
border-radius: 10px 10px 10px 10px;
      }
.instance-1458_19132 {
        width: 20px;
height: 20px;
      }
.frame-1458_19133 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-1458_19133 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.paragraph-1458_19134 {
        display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: undefined;
overflow: hidden;
width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.paragraph-1458_19135 {
        text-align: right;
display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-1458_19136 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-start;
      }
.instance-1458_19137 {
        width: 26px;
height: 26px;
      }
.instance-1458_19138 {
        width: 26px;
height: 26px;
      }
.symbol-1458_19139 {
        width: 328px;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 5px 6px 5px 8px;
border-radius: 10px 10px 10px 10px;
      }
.instance-1458_19140 {
        width: 20px;
height: 20px;
      }
.frame-1458_19141 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-1458_19141 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
justify-content: flex-start;
padding: 0px 3px 0px 0px;
width: 100%;
position: relative;
      }
.paragraph-1458_19142 {
        display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: undefined;
overflow: hidden;
width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.paragraph-1458_19143 {
        text-align: right;
display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-1458_19144 {
        width: 26px;
height: 26px;
      }
.symbol-1458_19145 {
        width: 328px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: flex-start;
      }
.frame-1458_19146 {
        width: 100%;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
border-radius: 10px 10px 10px 10px;
      }
.frame-content-1458_19146 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
justify-content: flex-start;
padding: 5px 6px 5px 8px;
width: 100%;
height: 100%;
position: relative;
      }
.instance-1458_19147 {
        width: 20px;
height: 20px;
      }
.frame-1458_19148 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-1458_19148 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
justify-content: flex-start;
padding: 0px 3px 0px 0px;
width: 100%;
position: relative;
      }
.paragraph-1458_19149 {
        display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: undefined;
overflow: hidden;
width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.paragraph-1458_19150 {
        text-align: right;
display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-1458_19151 {
        width: 26px;
height: 26px;
      }
.instance-1458_19152 {
        width: 328px;
height: 16px;
      }
.symbol-1458_19153 {
        width: 328px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: center;
align-items: flex-start;
      }
.frame-1458_19154 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
border-radius: 14px 14px 14px 14px;
      }
.frame-content-1458_19154 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
justify-content: flex-start;
padding: 6px 6px 6px 6px;
width: 100%;
position: relative;
      }
.frame-1458_19155 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 8px 8px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-1458_19156 {
        width: 24px;
height: 24px;
      }
.instance-1458_19157 {
        width: 20px;
height: 20px;
      }
.frame-1458_19158 {
        width: 100%;
height: 40px;
overflow: hidden;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-1458_19158 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
justify-content: center;
padding: 0px 0px 2px 0px;
width: 100%;
height: 100%;
position: relative;
      }
.paragraph-1458_19159 {
        display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.paragraph-1458_19160 {
        display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 13px;
position: relative;
flex-shrink: 0;
      }
.instance-1458_19161 {
        width: 36px;
height: 36px;
      }
.instance-1458_19162 {
        width: 328px;
height: 16px;
      }
.symbol-1458_19163 {
        width: 328px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: center;
align-items: flex-start;
      }
.frame-1458_19164 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
border-radius: 14px 14px 14px 14px;
      }
.frame-content-1458_19164 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
justify-content: flex-start;
padding: 6px 6px 6px 6px;
width: 100%;
position: relative;
      }
.frame-1458_19165 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 8px 8px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-1458_19166 {
        width: 24px;
height: 24px;
      }
.instance-1458_19167 {
        width: 20px;
height: 20px;
      }
.frame-1458_19168 {
        width: 100%;
height: 40px;
overflow: hidden;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-1458_19168 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
justify-content: center;
padding: 0px 0px 2px 0px;
width: 100%;
height: 100%;
position: relative;
      }
.paragraph-1458_19169 {
        display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.paragraph-1458_19170 {
        display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 13px;
position: relative;
flex-shrink: 0;
      }
.instance-1458_19171 {
        width: 36px;
height: 36px;
      }
.instance-1458_19172 {
        width: 328px;
height: 16px;
      }
.symbol-1458_19173 {
        width: 328px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: flex-start;
      }
.frame-1458_19174 {
        width: 100%;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
border-radius: 10px 10px 10px 10px;
      }
.frame-content-1458_19174 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
justify-content: flex-start;
padding: 5px 6px 5px 8px;
width: 100%;
height: 100%;
position: relative;
      }
.instance-1458_19175 {
        width: 20px;
height: 20px;
      }
.frame-1458_19176 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-1458_19176 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
justify-content: flex-start;
padding: 0px 3px 0px 0px;
width: 100%;
position: relative;
      }
.paragraph-1458_19177 {
        display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: undefined;
overflow: hidden;
width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.paragraph-1458_19178 {
        text-align: right;
display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-1458_19179 {
        width: 26px;
height: 26px;
      }
.instance-1458_19180 {
        width: 328px;
height: 16px;
      }
.symbol-1458_19181 {
        width: 328px;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 5px 6px 5px 8px;
border-radius: 10px 10px 10px 10px;
      }
.instance-1458_19182 {
        width: 20px;
height: 20px;
      }
.frame-1458_19183 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-1458_19183 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
justify-content: flex-start;
padding: 0px 3px 0px 0px;
width: 100%;
position: relative;
      }
.paragraph-1458_19184 {
        display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: undefined;
overflow: hidden;
width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.paragraph-1458_19185 {
        text-align: right;
display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-1458_19186 {
        width: 26px;
height: 26px;
      }
.symbol-1458_19187 {
        width: 328px;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 5px 6px 5px 8px;
border-radius: 10px 10px 10px 10px;
      }
.instance-1458_19188 {
        width: 20px;
height: 20px;
      }
.frame-1458_19189 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-1458_19189 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
justify-content: flex-start;
padding: 0px 3px 0px 0px;
width: 100%;
position: relative;
      }
.paragraph-1458_19190 {
        display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: undefined;
overflow: hidden;
width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.paragraph-1458_19191 {
        text-align: right;
display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-1458_19192 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-start;
      }
.instance-1458_19193 {
        width: 26px;
height: 26px;
      }
.instance-1458_19194 {
        width: 26px;
height: 26px;
      }
.symbol-1458_19195 {
        width: 328px;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 5px 6px 5px 8px;
border-radius: 10px 10px 10px 10px;
      }
.instance-1458_19196 {
        width: 20px;
height: 20px;
      }
.frame-1458_19197 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-1458_19197 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
justify-content: flex-start;
padding: 0px 3px 0px 0px;
width: 100%;
position: relative;
      }
.paragraph-1458_19198 {
        display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: undefined;
overflow: hidden;
width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.paragraph-1458_19199 {
        text-align: right;
display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-1458_19200 {
        width: 26px;
height: 26px;
      }
.symbol-1458_19201 {
        width: 328px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: flex-start;
align-items: center;
padding: 6px 6px 6px 6px;
border-radius: 14px 14px 14px 14px;
      }
.frame-1458_19202 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 8px 8px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-1458_19203 {
        width: 24px;
height: 24px;
      }
.frame-1458_19204 {
        width: 100%;
height: 40px;
overflow: hidden;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-1458_19204 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
justify-content: center;
padding: 0px 0px 2px 0px;
width: 100%;
height: 100%;
position: relative;
      }
.paragraph-1458_19205 {
        display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.paragraph-1458_19206 {
        display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 13px;
position: relative;
flex-shrink: 0;
      }
.frame-1458_19207 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
      }
.instance-1458_19208 {
        width: 36px;
height: 36px;
      }
.instance-1458_19209 {
        width: 36px;
height: 36px;
      }
.symbol-1458_19210 {
        width: 328px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: flex-start;
align-items: center;
padding: 6px 6px 6px 6px;
border-radius: 14px 14px 14px 14px;
      }
.frame-1458_19211 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 8px 8px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-1458_19212 {
        width: 24px;
height: 24px;
      }
.instance-1458_19213 {
        width: 20px;
height: 20px;
      }
.frame-1458_19214 {
        width: 100%;
height: 40px;
overflow: hidden;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-1458_19214 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
justify-content: center;
padding: 0px 0px 2px 0px;
width: 100%;
height: 100%;
position: relative;
      }
.paragraph-1458_19215 {
        display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.paragraph-1458_19216 {
        display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 13px;
position: relative;
flex-shrink: 0;
      }
.instance-1458_19217 {
        width: 36px;
height: 36px;
      }
.symbol-1458_19218 {
        width: 328px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: flex-start;
align-items: center;
padding: 6px 6px 6px 6px;
border-radius: 14px 14px 14px 14px;
      }
.frame-1458_19219 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 8px 8px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-1458_19220 {
        width: 24px;
height: 24px;
      }
.frame-1458_19221 {
        width: 100%;
height: 40px;
overflow: hidden;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-1458_19221 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
justify-content: center;
padding: 0px 0px 2px 0px;
width: 100%;
height: 100%;
position: relative;
      }
.paragraph-1458_19222 {
        display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.paragraph-1458_19223 {
        display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 13px;
position: relative;
flex-shrink: 0;
      }
.instance-1458_19224 {
        width: 36px;
height: 36px;
      }
.component-1458_19100 {
        width: fit-content;
height: fit-content;
      }


.instance-1458_19107 .instance-1458_18819 .symbol-943_43808 {
        width: 20px;
height: 20px;
position: absolute;
left: 0px;
top: 0px;
      }
.instance-1458_19107 .instance-1458_18819 .vector-943_43809  {
        width: 10.1328125px;
height: 10.133331298828125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4.93359375px;
top: 4.933349609375px;
      }
.instance-1458_19110 .symbol-1458_19256  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-1458_19110 .vector-1458_19257  {
        width: 20.041015625px;
height: 20px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 2px;
      }
.instance-1458_19111 .symbol-1458_19252  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-1458_19118 .vector-1458_19257  {
        width: 20.041015625px;
height: 20px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 2px;
      }
.instance-1458_19118 .symbol-1458_19256  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-1458_19123 .instance-1458_18819 .symbol-1458_19242 {
        width: 20px;
height: 20px;
position: absolute;
left: 0px;
top: 0px;
      }
.instance-1458_19123 .instance-1458_18819 .vector-1458_19243  {
        width: 16.800048828125px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.600341796875px;
top: 1.599853515625px;
      }
.instance-1458_19132 .symbol-1458_19254  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-1458_19132 .vector-1458_19255  {
        width: 16.767578125px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.2666015625px;
top: 1.60009765625px;
      }
.instance-1458_19137 .instance-1458_18861 .symbol-1458_19244 {
        width: 16px;
height: 16px;
position: absolute;
left: 0px;
top: 0px;
      }
.instance-1458_19137 .instance-1458_18861 .vector-1458_19245  {
        width: 13.6800537109375px;
height: 13.67999267578125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.15985107421875px;
top: 1.1597900390625px;
      }
.instance-1458_19138 .instance-1458_18861 .symbol-1458_19258 {
        width: 16px;
height: 16px;
position: absolute;
left: 0px;
top: 0px;
      }
.instance-1458_19138 .instance-1458_18861 .vector-1458_19259  {
        width: 13.6800537109375px;
height: 13.67999267578125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1597900390625px;
top: 1.15966796875px;
      }
.instance-1458_19140 .symbol-1458_19252  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-1458_19144 .instance-1458_18861 .symbol-1458_19258 {
        width: 16px;
height: 16px;
position: absolute;
left: 0px;
top: 0px;
      }
.instance-1458_19144 .instance-1458_18861 .vector-1458_19259  {
        width: 13.6800537109375px;
height: 13.67999267578125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1597900390625px;
top: 1.15966796875px;
      }
.instance-1458_19147 .symbol-1458_19250  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-1458_19151 .instance-1458_18861 .symbol-1458_19258 {
        width: 16px;
height: 16px;
position: absolute;
left: 0px;
top: 0px;
      }
.instance-1458_19151 .instance-1458_18861 .vector-1458_19259  {
        width: 13.6800537109375px;
height: 13.67999267578125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1597900390625px;
top: 1.15966796875px;
      }
.instance-1458_19152 .symbol-1458_19230  {
        width: 328px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 1.5px 0px 1.5px 0px;
      }
.instance-1458_19152 .paragraph-1458_19231  {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.instance-1458_19156 .symbol-1458_19256  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-1458_19156 .vector-1458_19257  {
        width: 20.041015625px;
height: 20px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 2px;
      }
.instance-1458_19157 .symbol-1458_19250  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-1458_19157 .symbol-1458_19252  {
        width: 20px;
height: 20px;
position: absolute;
left: 0px;
top: 0px;
      }
.instance-1458_19162 .symbol-1458_19230  {
        width: 328px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 1.5px 0px 1.5px 0px;
      }
.instance-1458_19162 .paragraph-1458_19231  {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.instance-1458_19166 .symbol-1458_19256  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-1458_19166 .vector-1458_19257  {
        width: 20.041015625px;
height: 20px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 2px;
      }
.instance-1458_19167 .symbol-1458_19250  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-1458_19167 .symbol-1458_19252  {
        width: 20px;
height: 20px;
position: absolute;
left: 0px;
top: 0px;
      }
.instance-1458_19172 .symbol-1458_19230  {
        width: 328px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 1.5px 0px 1.5px 0px;
      }
.instance-1458_19172 .paragraph-1458_19231  {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.instance-1458_19175 .symbol-1458_19250  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-1458_19179 .instance-1458_18861 .symbol-1458_19258 {
        width: 16px;
height: 16px;
position: absolute;
left: 0px;
top: 0px;
      }
.instance-1458_19179 .instance-1458_18861 .vector-1458_19259  {
        width: 13.6800537109375px;
height: 13.67999267578125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1597900390625px;
top: 1.15966796875px;
      }
.instance-1458_19180 .symbol-1458_19230  {
        width: 328px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 1.5px 0px 1.5px 0px;
      }
.instance-1458_19180 .paragraph-1458_19231  {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.instance-1458_19182 .symbol-1458_19252  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-1458_19186 .instance-1458_18861 .symbol-1458_19258 {
        width: 16px;
height: 16px;
position: absolute;
left: 0px;
top: 0px;
      }
.instance-1458_19186 .instance-1458_18861 .vector-1458_19259  {
        width: 13.6800537109375px;
height: 13.67999267578125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1597900390625px;
top: 1.15966796875px;
      }
.instance-1458_19188 .symbol-1458_19254  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-1458_19188 .vector-1458_19255  {
        width: 16.767578125px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.2666015625px;
top: 1.60009765625px;
      }
.instance-1458_19193 .instance-1458_18861 .symbol-1458_19244 {
        width: 16px;
height: 16px;
position: absolute;
left: 0px;
top: 0px;
      }
.instance-1458_19193 .instance-1458_18861 .vector-1458_19245  {
        width: 13.6800537109375px;
height: 13.67999267578125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.15985107421875px;
top: 1.1597900390625px;
      }
.instance-1458_19194 .instance-1458_18861 .symbol-1458_19258 {
        width: 16px;
height: 16px;
position: absolute;
left: 0px;
top: 0px;
      }
.instance-1458_19194 .instance-1458_18861 .vector-1458_19259  {
        width: 13.6800537109375px;
height: 13.67999267578125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1597900390625px;
top: 1.15966796875px;
      }
.instance-1458_19203 .symbol-1458_19256  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-1458_19203 .vector-1458_19257  {
        width: 20.041015625px;
height: 20px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 2px;
      }
.instance-1458_19208 .instance-1458_18819 .symbol-1458_19242 {
        width: 20px;
height: 20px;
position: absolute;
left: 0px;
top: 0px;
      }
.instance-1458_19208 .instance-1458_18819 .vector-1458_19243  {
        width: 16.800048828125px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.600341796875px;
top: 1.599853515625px;
      }
.instance-1458_19212 .symbol-1458_19256  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-1458_19212 .vector-1458_19257  {
        width: 20.041015625px;
height: 20px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 2px;
      }
.instance-1458_19213 .symbol-1458_19252  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-1458_19224 .instance-1458_18819 .symbol-943_43808 {
        width: 20px;
height: 20px;
position: absolute;
left: 0px;
top: 0px;
      }
.instance-1458_19224 .instance-1458_18819 .vector-943_43809  {
        width: 10.1328125px;
height: 10.133331298828125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4.93359375px;
top: 4.933349609375px;
      }
.instance-1458_19103 .symbol-1458_19090  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.instance-1458_19220 .symbol-1458_19090  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.instance-1458_19126 .symbol-1458_19095  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.instance-1458_19196 .symbol-1458_19095  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.instance-1458_19107 .symbol-1458_18818  {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
      }
.instance-1458_19115 .symbol-1458_18818  {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
      }
.instance-1458_19123 .symbol-1458_18818  {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
      }
.instance-1458_19124 .symbol-1458_18818  {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
      }
.instance-1458_19161 .symbol-1458_18818  {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
      }
.instance-1458_19171 .symbol-1458_18818  {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
      }
.instance-1458_19208 .symbol-1458_18818  {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
      }
.instance-1458_19209 .symbol-1458_18818  {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
      }
.instance-1458_19217 .symbol-1458_18818  {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
      }
.instance-1458_19224 .symbol-1458_18818  {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
      }
.instance-1458_19130 .symbol-1458_18860  {
        width: 26px;
height: 26px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
      }
.instance-1458_19137 .symbol-1458_18860  {
        width: 26px;
height: 26px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
      }
.instance-1458_19138 .symbol-1458_18860  {
        width: 26px;
height: 26px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
      }
.instance-1458_19144 .symbol-1458_18860  {
        width: 26px;
height: 26px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
      }
.instance-1458_19151 .symbol-1458_18860  {
        width: 26px;
height: 26px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
      }
.instance-1458_19179 .symbol-1458_18860  {
        width: 26px;
height: 26px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
      }
.instance-1458_19186 .symbol-1458_18860  {
        width: 26px;
height: 26px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
      }
.instance-1458_19193 .symbol-1458_18860  {
        width: 26px;
height: 26px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
      }
.instance-1458_19194 .symbol-1458_18860  {
        width: 26px;
height: 26px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
      }
.instance-1458_19200 .symbol-1458_18860  {
        width: 26px;
height: 26px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
      }
.instance-1458_19130 .instance-1458_18861 .symbol-738_68570 {
        width: 16px;
height: 16px;
position: absolute;
left: 18445px;
top: 103.00009155273438px;
      }
.instance-1458_19200 .instance-1458_18861 .symbol-738_68570 {
        width: 16px;
height: 16px;
position: absolute;
left: 18445px;
top: 103.00009155273438px;
      }
.instance-1458_19130 .instance-1458_18861 .vector-738_68571  {
        width: 11.013671875px;
height: 11.013336181640625px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4931640625px;
top: 2.493408203125px;
      }
.instance-1458_19200 .instance-1458_18861 .vector-738_68571  {
        width: 11.013671875px;
height: 11.013336181640625px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4931640625px;
top: 2.493408203125px;
      }
.instance-1458_19115 .instance-1458_18819 .symbol-1009_59114 {
        width: 20px;
height: 20px;
position: absolute;
left: -1114px;
top: 761px;
      }
.instance-1458_19124 .instance-1458_18819 .symbol-1009_59114 {
        width: 20px;
height: 20px;
position: absolute;
left: -1114px;
top: 761px;
      }
.instance-1458_19161 .instance-1458_18819 .symbol-1009_59114 {
        width: 20px;
height: 20px;
position: absolute;
left: -1114px;
top: 761px;
      }
.instance-1458_19171 .instance-1458_18819 .symbol-1009_59114 {
        width: 20px;
height: 20px;
position: absolute;
left: -1114px;
top: 761px;
      }
.instance-1458_19209 .instance-1458_18819 .symbol-1009_59114 {
        width: 20px;
height: 20px;
position: absolute;
left: -1114px;
top: 761px;
      }
.instance-1458_19217 .instance-1458_18819 .symbol-1009_59114 {
        width: 20px;
height: 20px;
position: absolute;
left: -1114px;
top: 761px;
      }
.instance-1458_19115 .instance-1458_18819 .vector-1009_59115  {
        width: 16.800048828125px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.600341796875px;
top: 1.599853515625px;
      }
.instance-1458_19124 .instance-1458_18819 .vector-1009_59115  {
        width: 16.800048828125px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.600341796875px;
top: 1.599853515625px;
      }
.instance-1458_19161 .instance-1458_18819 .vector-1009_59115  {
        width: 16.800048828125px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.600341796875px;
top: 1.599853515625px;
      }
.instance-1458_19171 .instance-1458_18819 .vector-1009_59115  {
        width: 16.800048828125px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.600341796875px;
top: 1.599853515625px;
      }
.instance-1458_19209 .instance-1458_18819 .vector-1009_59115  {
        width: 16.800048828125px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.600341796875px;
top: 1.599853515625px;
      }
.instance-1458_19217 .instance-1458_18819 .vector-1009_59115  {
        width: 16.800048828125px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.600341796875px;
top: 1.599853515625px;
      }
.instance-1458_19118 .symbol-1458_19256 .symbol-2281_52395 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
