
.symbol-2_20317 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
opacity: 0.9100000262260437;
      }
.vector-2_20318 {
        width: 15.37890625px;
height: 19.20001220703125px;
background-image: url("/assets/Union.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4.201171875px;
top: 2.399993896484375px;
      }
.component-2_20317 {
        width: fit-content;
height: fit-content;
      }

