
.symbol-2_27185 {
        width: 24px;
height: 24px;
position: relative;
      }
.vector-2_27186 {
        width: 16px;
height: 22px;
background-image: url("/assets/Vector21.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 1px;
      }
.component-2_27185 {
        width: fit-content;
height: fit-content;
      }

