
.symbol-4_31641 {
        
      }
.symbol-4_31642 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 0px;
min-height: 32px;
max-height: 32px;
      }
.instance-4_31643 {
        width: 51px;
height: 24px;
      }
.instance-4_31644 {
        width: 51px;
height: 24px;
      }
.instance-4_31645 {
        width: 51px;
height: 24px;
      }
.instance-4_31646 {
        width: 51px;
height: 24px;
      }
.instance-4_31647 {
        display: none;
width: 51px;
height: 24px;
      }
.instance-4_31648 {
        display: none;
width: 51px;
height: 24px;
      }
.symbol-4_31649 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
padding: 4px 0px 4px 0px;
min-height: 32px;
max-height: 32px;
      }
.instance-4_31650 {
        width: 51px;
height: 24px;
      }
.instance-4_31651 {
        width: 51px;
height: 24px;
      }
.instance-4_31652 {
        width: 51px;
height: 24px;
      }
.instance-4_31653 {
        width: 51px;
height: 24px;
      }
.instance-4_31654 {
        display: none;
width: 51px;
height: 24px;
      }
.instance-4_31655 {
        display: none;
width: 51px;
height: 24px;
      }
.component-4_31641 {
        width: fit-content;
height: fit-content;
      }


.instance-4_31643 .symbol-4_30328  {
        width: 51px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 6px 4px 6px;
border-radius: 6px 6px 6px 6px;
      }
.instance-4_31644 .symbol-4_30328  {
        width: 51px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 6px 4px 6px;
border-radius: 6px 6px 6px 6px;
      }
.instance-4_31645 .symbol-4_30328  {
        width: 51px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 6px 4px 6px;
border-radius: 6px 6px 6px 6px;
      }
.instance-4_31646 .symbol-4_30328  {
        width: 51px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 6px 4px 6px;
border-radius: 6px 6px 6px 6px;
      }
.instance-4_31647 .symbol-4_30328  {
        width: 51px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 6px 4px 6px;
border-radius: 6px 6px 6px 6px;
      }
.instance-4_31648 .symbol-4_30328  {
        width: 51px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 6px 4px 6px;
border-radius: 6px 6px 6px 6px;
      }
.instance-4_31643 .instance-4_30329  {
        width: 16px;
height: 16px;
      }
.instance-4_31644 .instance-4_30329  {
        width: 16px;
height: 16px;
      }
.instance-4_31645 .instance-4_30329  {
        width: 16px;
height: 16px;
      }
.instance-4_31646 .instance-4_30329  {
        width: 16px;
height: 16px;
      }
.instance-4_31647 .instance-4_30329  {
        width: 16px;
height: 16px;
      }
.instance-4_31648 .instance-4_30329  {
        width: 16px;
height: 16px;
      }
.instance-4_31643 .frame-4_30331  {
        width: 39px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
      }
.instance-4_31644 .frame-4_30331  {
        width: 39px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
      }
.instance-4_31645 .frame-4_30331  {
        width: 39px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
      }
.instance-4_31646 .frame-4_30331  {
        width: 39px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
      }
.instance-4_31647 .frame-4_30331  {
        width: 39px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
      }
.instance-4_31648 .frame-4_30331  {
        width: 39px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
      }
.instance-4_31643 .paragraph-4_30332  {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_31644 .paragraph-4_30332  {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_31645 .paragraph-4_30332  {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_31646 .paragraph-4_30332  {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_31647 .paragraph-4_30332  {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_31648 .paragraph-4_30332  {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_31643 .instance-4_30333  {
        width: 16px;
height: 16px;
      }
.instance-4_31644 .instance-4_30333  {
        width: 16px;
height: 16px;
      }
.instance-4_31645 .instance-4_30333  {
        width: 16px;
height: 16px;
      }
.instance-4_31646 .instance-4_30333  {
        width: 16px;
height: 16px;
      }
.instance-4_31647 .instance-4_30333  {
        width: 16px;
height: 16px;
      }
.instance-4_31648 .instance-4_30333  {
        width: 16px;
height: 16px;
      }
.instance-4_31650 .symbol-4_30388  {
        width: 51px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 6px 4px 6px;
border-radius: 6px 6px 6px 6px;
      }
.instance-4_31651 .symbol-4_30388  {
        width: 51px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 6px 4px 6px;
border-radius: 6px 6px 6px 6px;
      }
.instance-4_31652 .symbol-4_30388  {
        width: 51px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 6px 4px 6px;
border-radius: 6px 6px 6px 6px;
      }
.instance-4_31653 .symbol-4_30388  {
        width: 51px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 6px 4px 6px;
border-radius: 6px 6px 6px 6px;
      }
.instance-4_31654 .symbol-4_30388  {
        width: 51px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 6px 4px 6px;
border-radius: 6px 6px 6px 6px;
      }
.instance-4_31655 .symbol-4_30388  {
        width: 51px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 6px 4px 6px;
border-radius: 6px 6px 6px 6px;
      }
.instance-4_31650 .instance-4_30389  {
        width: 16px;
height: 16px;
      }
.instance-4_31651 .instance-4_30389  {
        width: 16px;
height: 16px;
      }
.instance-4_31652 .instance-4_30389  {
        width: 16px;
height: 16px;
      }
.instance-4_31653 .instance-4_30389  {
        width: 16px;
height: 16px;
      }
.instance-4_31654 .instance-4_30389  {
        width: 16px;
height: 16px;
      }
.instance-4_31655 .instance-4_30389  {
        width: 16px;
height: 16px;
      }
.instance-4_31650 .frame-4_30391  {
        width: 39px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
      }
.instance-4_31651 .frame-4_30391  {
        width: 39px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
      }
.instance-4_31652 .frame-4_30391  {
        width: 39px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
      }
.instance-4_31653 .frame-4_30391  {
        width: 39px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
      }
.instance-4_31654 .frame-4_30391  {
        width: 39px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
      }
.instance-4_31655 .frame-4_30391  {
        width: 39px;
height: 16px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
      }
.instance-4_31650 .paragraph-4_30392  {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_31651 .paragraph-4_30392  {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_31652 .paragraph-4_30392  {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_31653 .paragraph-4_30392  {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_31654 .paragraph-4_30392  {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_31655 .paragraph-4_30392  {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_31650 .instance-4_30393  {
        width: 16px;
height: 16px;
      }
.instance-4_31651 .instance-4_30393  {
        width: 16px;
height: 16px;
      }
.instance-4_31652 .instance-4_30393  {
        width: 16px;
height: 16px;
      }
.instance-4_31653 .instance-4_30393  {
        width: 16px;
height: 16px;
      }
.instance-4_31654 .instance-4_30393  {
        width: 16px;
height: 16px;
      }
.instance-4_31655 .instance-4_30393  {
        width: 16px;
height: 16px;
      }
