
.symbol-2_1837 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-2_1838 {
        width: 10.1328125px;
height: 10.133331298828125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4.93359375px;
top: 4.933349609375px;
      }
.component-2_1837 {
        width: fit-content;
height: fit-content;
      }

