
.symbol-343_47876 {
        width: 24px;
height: 24px;
position: relative;
      }
.vector-343_47877 {
        width: 7.693359375px;
height: 13.522499084472656px;
background-image: url("/assets/Vector_343_47877.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 8.154296875px;
top: 5.238750457763672px;
      }
.component-343_47876 {
        width: fit-content;
height: fit-content;
      }

