
.symbol-2_20280 {
        width: 24px;
height: 24px;
position: relative;
      }
.vector-2_20281 {
        width: 16px;
height: 9px;
background-image: url("/assets/Vector11.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 7.5px;
      }
.component-2_20280 {
        width: fit-content;
height: fit-content;
      }

