
.symbol-2_24254 {
        width: 28px;
height: 28px;
position: relative;
      }
.vector-2_24255 {
        width: 10.166015625px;
height: 18.333343505859375px;
background-image: url("/assets/Vector1.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 10.6669921875px;
top: 4.83349609375px;
      }
.component-2_24254 {
        width: fit-content;
height: fit-content;
      }

