
.symbol-2_23123 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-2_23124 {
        width: 7.6328125px;
height: 13.4666748046875px;
background-image: url("/assets/Vector.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 7.43359375px;
top: 3.2664794921875px;
      }
.component-2_23123 {
        width: fit-content;
height: fit-content;
      }

