
.symbol-2_27404 {
        width: 16px;
height: 16px;
position: relative;
      }
.vector-2_27405 {
        width: 11.013671875px;
height: 6.346672058105469px;
background-image: url("/assets/Vector44.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.component-2_27404 {
        width: fit-content;
height: fit-content;
      }

