
.symbol-2_24252 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-2_24253 {
        width: 13.466796875px;
height: 13.466667175292969px;
background-image: url("/assets/Vector14.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.26708984375px;
top: 3.2664794921875px;
      }
.component-2_24252 {
        width: fit-content;
height: fit-content;
      }

