
.symbol-2_20341 {
        width: 20px;
height: 20px;
position: relative;
background-color: transparent;
      }
.vector-2_20342 {
        width: 12.283203125px;
height: 12.280029296875px;
background-image: url("/assets/Vector57.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.9974365234375px;
top: 3.6500244140625px;
      }
.component-2_20341 {
        width: fit-content;
height: fit-content;
      }

