
.symbol-2_27180 {
        width: 24px;
height: 24px;
position: relative;
      }
.vector-2_27181 {
        width: 6.853515625px;
height: 12.707107543945312px;
background-image: url("http://localhost:3667/assets/1780383273759/Union.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 8px;
top: 5.646484375px;
      }
.vector-2_27182 {
        width: 9px;
height: 16px;
background-image: url("/assets/Vector8.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 6px;
top: 4px;
      }
.component-2_27180 {
        width: fit-content;
height: fit-content;
      }

