
.symbol-2281_51842 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-2281_51843 {
        width: 10.681640625px;
height: 6.172494888305664px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4.658203125px;
top: 6.913787841796875px;
      }
.component-2281_51842 {
        width: fit-content;
height: fit-content;
      }

