
.symbol-2_27339 {
        width: 16px;
height: 16px;
position: relative;
      }
.vector-2_27340 {
        width: 13.6796875px;
height: 13.67999267578125px;
background-image: url("/assets/Vector16.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1600341796875px;
top: 1.16015625px;
      }
.component-2_27339 {
        width: fit-content;
height: fit-content;
      }

