
.symbol-4_31837 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-4_31838 {
        width: 16.7998046875px;
height: 16.799999237060547px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.5997314453125px;
top: 1.599609375px;
      }
.component-4_31837 {
        width: fit-content;
height: fit-content;
      }

