
.symbol-2_25174 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-2_25175 {
        width: 16.7998046875px;
height: 16.800003051757812px;
background-image: url("/assets/Vector10.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.5999755859375px;
top: 1.60009765625px;
      }
.component-2_25174 {
        width: fit-content;
height: fit-content;
      }

