
.symbol-2_19112 {
        
      }
.symbol-2_19113 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
      }
.instance-2_19114 {
        width: 32px;
height: 32px;
      }
.frame-2_19115 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
padding: 12px 12px 12px 12px;
border-radius: 28px 28px 28px 28px;
      }
.instance-2_19116 {
        display: none;
width: 4px;
height: 4px;
      }
.instance-2_19117 {
        width: 30px;
height: 8px;
      }
.instance-2_19118 {
        width: 8px;
height: 8px;
      }
.instance-2_19119 {
        width: 8px;
height: 8px;
      }
.instance-2_19120 {
        width: 8px;
height: 8px;
      }
.instance-2_19121 {
        width: 8px;
height: 8px;
      }
.instance-2_19122 {
        width: 4px;
height: 4px;
      }
.instance-2_19123 {
        width: 32px;
height: 32px;
      }
.symbol-2_19124 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
      }
.instance-2_19125 {
        width: 32px;
height: 32px;
      }
.frame-2_19126 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
padding: 12px 12px 12px 12px;
border-radius: 28px 28px 28px 28px;
      }
.instance-2_19127 {
        display: none;
width: 4px;
height: 4px;
      }
.instance-2_19128 {
        width: 30px;
height: 8px;
      }
.instance-2_19129 {
        width: 8px;
height: 8px;
      }
.instance-2_19130 {
        width: 8px;
height: 8px;
      }
.instance-2_19131 {
        width: 8px;
height: 8px;
      }
.instance-2_19132 {
        width: 8px;
height: 8px;
      }
.instance-2_19133 {
        width: 4px;
height: 4px;
      }
.instance-2_19134 {
        width: 32px;
height: 32px;
      }
.symbol-2_19135 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-start;
padding: 4px 4px 4px 4px;
border-radius: 12px 12px 12px 12px;
      }
.instance-2_19136 {
        width: 32px;
height: 32px;
      }
.frame-2_19137 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
      }
.instance-2_19138 {
        width: 32px;
height: 32px;
      }
.instance-2_19139 {
        width: 32px;
height: 32px;
      }
.instance-2_19140 {
        width: 32px;
height: 32px;
      }
.instance-2_19141 {
        width: 32px;
height: 32px;
      }
.instance-2_19142 {
        width: 32px;
height: 32px;
      }
.instance-2_19143 {
        width: 32px;
height: 32px;
      }
.instance-2_19144 {
        width: 32px;
height: 32px;
      }
.instance-2_19145 {
        width: 32px;
height: 32px;
      }
.symbol-2_19146 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-start;
padding: 4px 4px 4px 4px;
border-radius: 12px 12px 12px 12px;
      }
.instance-2_19147 {
        width: 32px;
height: 32px;
      }
.frame-2_19148 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
      }
.instance-2_19149 {
        width: 32px;
height: 32px;
      }
.instance-2_19150 {
        width: 32px;
height: 32px;
      }
.instance-2_19151 {
        width: 32px;
height: 32px;
      }
.instance-2_19152 {
        width: 32px;
height: 32px;
      }
.instance-2_19153 {
        width: 32px;
height: 32px;
      }
.instance-2_19154 {
        width: 32px;
height: 32px;
      }
.instance-2_19155 {
        width: 32px;
height: 32px;
      }
.instance-2_19156 {
        width: 32px;
height: 32px;
      }
.symbol-2_19157 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 16px;
justify-content: flex-start;
align-items: flex-start;
      }
.frame-2_19158 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
padding: 4px 4px 4px 4px;
border-radius: 12px 12px 12px 12px;
      }
.instance-2_19159 {
        width: 32px;
height: 32px;
      }
.frame-2_19160 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
      }
.instance-2_19161 {
        width: 32px;
height: 32px;
      }
.instance-2_19162 {
        width: 32px;
height: 32px;
      }
.instance-2_19163 {
        width: 32px;
height: 32px;
      }
.instance-2_19164 {
        width: 32px;
height: 32px;
      }
.instance-2_19165 {
        width: 32px;
height: 32px;
      }
.instance-2_19166 {
        width: 32px;
height: 32px;
      }
.instance-2_19167 {
        width: 32px;
height: 32px;
      }
.instance-2_19168 {
        width: 32px;
height: 32px;
      }
.frame-2_19169 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_19169 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.paragraph-2_19170 {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_19171 {
        width: 141px;
height: 36px;
      }
.symbol-2_19172 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 16px;
justify-content: flex-start;
align-items: flex-start;
      }
.frame-2_19173 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
padding: 4px 4px 4px 4px;
border-radius: 12px 12px 12px 12px;
      }
.instance-2_19174 {
        width: 32px;
height: 32px;
      }
.frame-2_19175 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
      }
.instance-2_19176 {
        width: 32px;
height: 32px;
      }
.instance-2_19177 {
        width: 32px;
height: 32px;
      }
.instance-2_19178 {
        width: 32px;
height: 32px;
      }
.instance-2_19179 {
        width: 32px;
height: 32px;
      }
.instance-2_19180 {
        width: 32px;
height: 32px;
      }
.instance-2_19181 {
        width: 32px;
height: 32px;
      }
.instance-2_19182 {
        width: 32px;
height: 32px;
      }
.instance-2_19183 {
        width: 32px;
height: 32px;
      }
.frame-2_19184 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_19184 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.paragraph-2_19185 {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_19186 {
        width: 141px;
height: 36px;
      }
.component-2_19112 {
        width: fit-content;
height: fit-content;
      }


.instance-2_19123 .instance-2_22730 .symbol-2_23123 {
        width: 20px;
height: 20px;
position: absolute;
left: 18851px;
top: 180px;
      }
.instance-2_19134 .instance-2_22730 .symbol-2_23123 {
        width: 20px;
height: 20px;
position: absolute;
left: 18851px;
top: 180px;
      }
.instance-2_19145 .instance-2_22658 .symbol-2_23123 {
        width: 20px;
height: 20px;
position: absolute;
left: 18851px;
top: 180px;
      }
.instance-2_19156 .instance-2_22946 .symbol-2_23123 {
        width: 20px;
height: 20px;
position: absolute;
left: 18851px;
top: 180px;
      }
.instance-2_19168 .instance-2_22946 .symbol-2_23123 {
        width: 20px;
height: 20px;
position: absolute;
left: 18851px;
top: 180px;
      }
.instance-2_19183 .instance-2_22658 .symbol-2_23123 {
        width: 20px;
height: 20px;
position: absolute;
left: 18851px;
top: 180px;
      }
.instance-2_19145 .instance-2_22658 .vector-2_23124  {
        width: 7.6328125px;
height: 13.4666748046875px;
background-image: url("/assets/Vector21.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 7.43359375px;
top: 3.2664794921875px;
      }
.instance-2_19156 .instance-2_22946 .vector-2_23124  {
        width: 7.6328125px;
height: 13.4666748046875px;
background-image: url("/assets/Vector21.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 7.43359375px;
top: 3.2664794921875px;
      }
.instance-2_19168 .instance-2_22946 .vector-2_23124  {
        width: 7.6328125px;
height: 13.4666748046875px;
background-image: url("/assets/Vector21.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 7.43359375px;
top: 3.2664794921875px;
      }
.instance-2_19183 .instance-2_22658 .vector-2_23124  {
        width: 7.6328125px;
height: 13.4666748046875px;
background-image: url("/assets/Vector21.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 7.43359375px;
top: 3.2664794921875px;
      }
.instance-2_19114 .instance-2_22730 .symbol-2_24180 {
        width: 20px;
height: 20px;
position: absolute;
left: 18851px;
top: 222px;
      }
.instance-2_19125 .instance-2_22730 .symbol-2_24180 {
        width: 20px;
height: 20px;
position: absolute;
left: 18851px;
top: 222px;
      }
.instance-2_19136 .instance-2_22658 .symbol-2_24180 {
        width: 20px;
height: 20px;
position: absolute;
left: 18851px;
top: 222px;
      }
.instance-2_19147 .instance-2_22946 .symbol-2_24180 {
        width: 20px;
height: 20px;
position: absolute;
left: 18851px;
top: 222px;
      }
.instance-2_19159 .instance-2_22946 .symbol-2_24180 {
        width: 20px;
height: 20px;
position: absolute;
left: 18851px;
top: 222px;
      }
.instance-2_19174 .instance-2_22658 .symbol-2_24180 {
        width: 20px;
height: 20px;
position: absolute;
left: 18851px;
top: 222px;
      }
.instance-2_19114 .instance-2_22730 .vector-2_24182  {
        width: 7.6328125px;
height: 13.4666748046875px;
background-image: url("/assets/Vector53.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4.93359375px;
top: 3.2664794921875px;
      }
.instance-2_19125 .instance-2_22730 .vector-2_24182  {
        width: 7.6328125px;
height: 13.4666748046875px;
background-image: url("/assets/Vector53.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4.93359375px;
top: 3.2664794921875px;
      }
.instance-2_19136 .instance-2_22658 .vector-2_24182  {
        width: 7.6328125px;
height: 13.4666748046875px;
background-image: url("/assets/Vector53.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4.93359375px;
top: 3.2664794921875px;
      }
.instance-2_19147 .instance-2_22946 .vector-2_24182  {
        width: 7.6328125px;
height: 13.4666748046875px;
background-image: url("/assets/Vector53.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4.93359375px;
top: 3.2664794921875px;
      }
.instance-2_19159 .instance-2_22946 .vector-2_24182  {
        width: 7.6328125px;
height: 13.4666748046875px;
background-image: url("/assets/Vector53.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4.93359375px;
top: 3.2664794921875px;
      }
.instance-2_19174 .instance-2_22658 .vector-2_24182  {
        width: 7.6328125px;
height: 13.4666748046875px;
background-image: url("/assets/Vector53.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4.93359375px;
top: 3.2664794921875px;
      }
.instance-2_19117 .symbol-2_24019  {
        width: 30px;
height: 8px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
min-width: 30px;
border-radius: 99px 99px 99px 99px;
      }
.instance-2_19128 .symbol-2_24019  {
        width: 30px;
height: 8px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
min-width: 30px;
border-radius: 99px 99px 99px 99px;
      }
.instance-2_19118 .symbol-2_24021  {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
min-height: 8px;
min-width: 8px;
max-height: 8px;
max-width: 8px;
      }
.instance-2_19119 .symbol-2_24021  {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
min-height: 8px;
min-width: 8px;
max-height: 8px;
max-width: 8px;
      }
.instance-2_19120 .symbol-2_24021  {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
min-height: 8px;
min-width: 8px;
max-height: 8px;
max-width: 8px;
      }
.instance-2_19121 .symbol-2_24021  {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
min-height: 8px;
min-width: 8px;
max-height: 8px;
max-width: 8px;
      }
.instance-2_19129 .symbol-2_24021  {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
min-height: 8px;
min-width: 8px;
max-height: 8px;
max-width: 8px;
      }
.instance-2_19130 .symbol-2_24021  {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
min-height: 8px;
min-width: 8px;
max-height: 8px;
max-width: 8px;
      }
.instance-2_19131 .symbol-2_24021  {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
min-height: 8px;
min-width: 8px;
max-height: 8px;
max-width: 8px;
      }
.instance-2_19132 .symbol-2_24021  {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
min-height: 8px;
min-width: 8px;
max-height: 8px;
max-width: 8px;
      }
.instance-2_19116 .symbol-2_24023  {
        width: 4px;
height: 4px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
min-height: 4px;
min-width: 4px;
max-height: 4px;
max-width: 4px;
      }
.instance-2_19122 .symbol-2_24023  {
        width: 4px;
height: 4px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
min-height: 4px;
min-width: 4px;
max-height: 4px;
max-width: 4px;
      }
.instance-2_19127 .symbol-2_24023  {
        width: 4px;
height: 4px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
min-height: 4px;
min-width: 4px;
max-height: 4px;
max-width: 4px;
      }
.instance-2_19133 .symbol-2_24023  {
        width: 4px;
height: 4px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
min-height: 4px;
min-width: 4px;
max-height: 4px;
max-width: 4px;
      }
.instance-2_19171 .instance-2_19246 .paragraph-2_24017  {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_19186 .instance-2_19246 .paragraph-2_24017  {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_19136 .symbol-2_22657  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_19145 .symbol-2_22657  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_19174 .symbol-2_22657  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_19183 .symbol-2_22657  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_19114 .symbol-2_22729  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_19123 .symbol-2_22729  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_19125 .symbol-2_22729  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_19134 .symbol-2_22729  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_19143 .instance-2_19189 .instance-2_22730  {
        width: 20px;
height: 20px;
      }
.instance-2_19154 .instance-2_19189 .instance-2_22730  {
        width: 20px;
height: 20px;
      }
.instance-2_19166 .instance-2_19189 .instance-2_22730  {
        width: 20px;
height: 20px;
      }
.instance-2_19181 .instance-2_19189 .instance-2_22730  {
        width: 20px;
height: 20px;
      }
.instance-2_19147 .symbol-2_22945  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: rgba(255, 255, 255, 1);
      }
.instance-2_19156 .symbol-2_22945  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: rgba(255, 255, 255, 1);
      }
.instance-2_19159 .symbol-2_22945  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: rgba(255, 255, 255, 1);
      }
.instance-2_19168 .symbol-2_22945  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: rgba(255, 255, 255, 1);
      }
.instance-2_19171 .symbol-2_19243  {
        width: 141px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 5px;
justify-content: flex-start;
align-items: flex-start;
      }
.instance-2_19186 .symbol-2_19243  {
        width: 141px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 5px;
justify-content: flex-start;
align-items: flex-start;
      }
.instance-2_19171 .frame-2_19244  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0px 0px 0px 4px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_19171  .stroke-wrapper-2_19244 {
        position: relative;
width: 100%;
height: 36px;
display: flex;
flex-shrink: 0;
      }
.instance-2_19171  .stroke-2_19244 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_19186 .frame-2_19244  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0px 0px 0px 4px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_19186  .stroke-wrapper-2_19244 {
        position: relative;
width: 100%;
height: 36px;
display: flex;
flex-shrink: 0;
      }
.instance-2_19186  .stroke-2_19244 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_19171 .instance-2_19246  {
        width: 321px;
height: 28px;
      }
.instance-2_19186 .instance-2_19246  {
        width: 321px;
height: 28px;
      }
.instance-2_19171 .frame-2_19247  {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
align-self: stretch;
      }
.instance-2_19186 .frame-2_19247  {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
align-self: stretch;
      }
.instance-2_19171 .instance-2_19249 .paragraph-2_20267  {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_19186 .instance-2_19249 .paragraph-2_20267  {
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_19143 .symbol-2_19188  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
background-color: transparent;
      }
.instance-2_19144 .symbol-2_19188  {
        width: 32px;
height: 32px;
position: absolute;
left: 154px;
top: 50px;
background-color: transparent;
      }
.instance-2_19154 .symbol-2_19188  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
background-color: transparent;
      }
.instance-2_19155 .symbol-2_19188  {
        width: 32px;
height: 32px;
position: absolute;
left: 154px;
top: 50px;
background-color: transparent;
      }
.instance-2_19166 .symbol-2_19188  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
background-color: transparent;
      }
.instance-2_19167 .symbol-2_19188  {
        width: 32px;
height: 32px;
position: absolute;
left: 154px;
top: 50px;
background-color: transparent;
      }
.instance-2_19181 .symbol-2_19188  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
background-color: transparent;
      }
.instance-2_19182 .symbol-2_19188  {
        width: 32px;
height: 32px;
position: absolute;
left: 154px;
top: 50px;
background-color: transparent;
      }
.instance-2_19138 .symbol-2_19190  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 4px 4px 4px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_19139 .symbol-2_19190  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 4px 4px 4px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_19141 .symbol-2_19190  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 4px 4px 4px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_19142 .symbol-2_19190  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 4px 4px 4px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_19143 .symbol-2_19190  {
        width: 32px;
height: 32px;
position: absolute;
left: 216px;
top: 50px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 4px 4px 4px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_19144 .symbol-2_19190  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 4px 4px 4px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_19149 .symbol-2_19190  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 4px 4px 4px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_19150 .symbol-2_19190  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 4px 4px 4px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_19152 .symbol-2_19190  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 4px 4px 4px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_19153 .symbol-2_19190  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 4px 4px 4px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_19154 .symbol-2_19190  {
        width: 32px;
height: 32px;
position: absolute;
left: 216px;
top: 50px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 4px 4px 4px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_19155 .symbol-2_19190  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 4px 4px 4px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_19161 .symbol-2_19190  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 4px 4px 4px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_19162 .symbol-2_19190  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 4px 4px 4px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_19164 .symbol-2_19190  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 4px 4px 4px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_19165 .symbol-2_19190  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 4px 4px 4px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_19166 .symbol-2_19190  {
        width: 32px;
height: 32px;
position: absolute;
left: 216px;
top: 50px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 4px 4px 4px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_19167 .symbol-2_19190  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 4px 4px 4px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_19176 .symbol-2_19190  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 4px 4px 4px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_19177 .symbol-2_19190  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 4px 4px 4px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_19179 .symbol-2_19190  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 4px 4px 4px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_19180 .symbol-2_19190  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 4px 4px 4px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_19181 .symbol-2_19190  {
        width: 32px;
height: 32px;
position: absolute;
left: 216px;
top: 50px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 4px 4px 4px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_19182 .symbol-2_19190  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 4px 4px 4px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_19138 .paragraph-2_19191  {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_19139 .paragraph-2_19191  {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_19141 .paragraph-2_19191  {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_19142 .paragraph-2_19191  {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_19144 .paragraph-2_19191  {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_19149 .paragraph-2_19191  {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_19150 .paragraph-2_19191  {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_19152 .paragraph-2_19191  {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_19153 .paragraph-2_19191  {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_19155 .paragraph-2_19191  {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_19161 .paragraph-2_19191  {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_19162 .paragraph-2_19191  {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_19164 .paragraph-2_19191  {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_19165 .paragraph-2_19191  {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_19167 .paragraph-2_19191  {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_19176 .paragraph-2_19191  {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_19177 .paragraph-2_19191  {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_19179 .paragraph-2_19191  {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_19180 .paragraph-2_19191  {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_19182 .paragraph-2_19191  {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_19140 .symbol-2_19196  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_19151 .symbol-2_19196  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_19163 .symbol-2_19196  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_19178 .symbol-2_19196  {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_19140 .paragraph-2_19197  {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_19151 .paragraph-2_19197  {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_19163 .paragraph-2_19197  {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_19178 .paragraph-2_19197  {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
