
.symbol-2_19187 {
        
      }
.symbol-2_19188 {
        width: 32px;
height: 32px;
position: relative;
background-color: transparent;
      }
.instance-2_19189 {
        width: 32px;
height: 32px;
      }
.symbol-2_19190 {
        width: 32px;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 4px 4px 4px;
border-radius: 6px 6px 6px 6px;
      }
.paragraph-2_19191 {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_19192 {
        width: 32px;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
      }
.paragraph-2_19193 {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_19194 {
        width: 32px;
height: 32px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 6px 6px 6px 6px;
      }
.paragraph-2_19195 {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_19196 {
        width: 32px;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
      }
.paragraph-2_19197 {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_19198 {
        width: 32px;
height: 32px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
      }
.paragraph-2_19199 {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_19200 {
        width: 32px;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
      }
.paragraph-2_19201 {
        text-align: center;
display: -webkit-box;
flex-direction: column;
justify-content: center;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.component-2_19187 {
        width: fit-content;
height: fit-content;
      }


.instance-2_19189 .instance-2_22730 .symbol-2_20305 {
        width: 20px;
height: 20px;
position: absolute;
left: 0px;
top: 0px;
      }
.instance-2_19189 .instance-2_22730 .vector-2_20306  {
        width: 15px;
height: 3.3333282470703125px;
background-image: url("/assets/Vector9.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.5px;
top: 8.33349609375px;
      }
.instance-2_19189 .symbol-2_22729  {
        width: 32px;
height: 32px;
position: absolute;
left: 0px;
top: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
      }
