
.symbol-2_55453 {
        width: 16px;
height: 16px;
position: relative;
      }
.vector-2_55454 {
        width: 12px;
height: 10.2559814453125px;
background-image: url("http://localhost:3667/assets/1780383143793/Union0.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2px;
top: 3.0144596099853516px;
      }
.vector-2_55455 {
        width: 13.33349609375px;
height: 10.99481201171875px;
background-image: url("/assets/Vector12.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.333984375px;
top: 2.4891357421875px;
      }
.component-2_55453 {
        width: fit-content;
height: fit-content;
      }

