
.symbol-2281_52367 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-2281_52368 {
        width: 16.6669921875px;
height: 9.57684326171875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.666015625px;
top: 5.13037109375px;
      }
.component-2281_52367 {
        width: fit-content;
height: fit-content;
      }

