
.symbol-4_31841 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-4_31842 {
        width: 16.68994140625px;
height: 13.752197265625px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.6600341796875px;
top: 3.157470703125px;
      }
.component-4_31841 {
        width: fit-content;
height: fit-content;
      }

