
.symbol-2_24285 {
        width: 16px;
height: 16px;
position: relative;
      }
.vector-2_24286 {
        width: 13.33349609375px;
height: 7.66143798828125px;
background-image: url("/assets/Vector14.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.333984375px;
top: 4.1571044921875px;
      }
.component-2_24285 {
        width: fit-content;
height: fit-content;
      }

