
.symbol-2281_52370 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-2281_52371 {
        width: 16.6669921875px;
height: 13.74346923828125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.666015625px;
top: 3.112151622772217px;
      }
.component-2281_52370 {
        width: fit-content;
height: fit-content;
      }

