
.symbol-2_29175 {
        
      }
.symbol-2_29176 {
        width: 24px;
height: 24px;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.frame-2_29177 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 999px 999px 999px 999px;
      }
.stroke-wrapper-2_29177 {
        position: relative;
width: 22px;
height: 22px;
flex-shrink: 0;
      }
.stroke-2_29177 {
        position: absolute;
inset: 0px;
border-radius: 999px 999px 999px 999px;
pointer-events: none;
border-width: 1.399999976158142px 1.399999976158142px 1.399999976158142px 1.399999976158142px;
border-style: solid;
box-sizing: border-box;
      }
.symbol-2_29178 {
        width: 24px;
height: 24px;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.frame-2_29179 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 999px 999px 999px 999px;
      }
.stroke-wrapper-2_29179 {
        position: relative;
width: 22px;
height: 22px;
flex-shrink: 0;
      }
.stroke-2_29179 {
        position: absolute;
inset: 0px;
border-radius: 999px 999px 999px 999px;
pointer-events: none;
border-width: 1.399999976158142px 1.399999976158142px 1.399999976158142px 1.399999976158142px;
border-style: solid;
box-sizing: border-box;
      }
.symbol-2_29180 {
        width: 24px;
height: 24px;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.frame-2_29181 {
        width: 22px;
height: 22px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 999px 999px 999px 999px;
      }
.frame-content-2_29181 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-2_29182 {
        width: 8px;
height: 8px;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 999px 999px 999px 999px;
      }
.symbol-2_29183 {
        width: 24px;
height: 24px;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.frame-2_29184 {
        width: 22px;
height: 22px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 999px 999px 999px 999px;
      }
.frame-content-2_29184 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-2_29185 {
        width: 8px;
height: 8px;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 999px 999px 999px 999px;
      }
.component-2_29175 {
        width: fit-content;
height: fit-content;
      }

