
.symbol-355_5788 {
        
      }
.symbol-355_5789 {
        width: 24px;
height: 24px;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.frame-355_5790 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 999px 999px 999px 999px;
      }
.stroke-wrapper-355_5790 {
        position: relative;
width: 22px;
height: 22px;
flex-shrink: 0;
      }
.stroke-355_5790 {
        position: absolute;
inset: 0px;
border-radius: 999px 999px 999px 999px;
pointer-events: none;
border-width: 1.399999976158142px 1.399999976158142px 1.399999976158142px 1.399999976158142px;
border-style: solid;
box-sizing: border-box;
      }
.symbol-355_5791 {
        width: 24px;
height: 24px;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.frame-355_5792 {
        width: 22px;
height: 22px;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 999px 999px 999px 999px;
      }
.symbol-355_5793 {
        width: 24px;
height: 24px;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.frame-355_5794 {
        width: 22px;
height: 22px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 999px 999px 999px 999px;
      }
.frame-content-355_5794 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-355_5795 {
        width: 8px;
height: 8px;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 999px 999px 999px 999px;
      }
.symbol-355_5796 {
        width: 24px;
height: 24px;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
      }
.frame-355_5797 {
        width: 22px;
height: 22px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 999px 999px 999px 999px;
      }
.frame-content-355_5797 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-355_5798 {
        width: 8px;
height: 8px;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 999px 999px 999px 999px;
      }
.component-355_5788 {
        width: fit-content;
height: fit-content;
      }

