
.symbol-355_5754 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-355_5755 {
        width: 16.80029296875px;
height: 16.800018310546875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.599893569946289px;
top: 1.6002483367919922px;
      }
.component-355_5754 {
        width: fit-content;
height: fit-content;
      }

