
.symbol-2_24293 {
        width: 16px;
height: 16px;
position: relative;
      }
.vector-2_24294 {
        width: 13.998284220695496px;
height: 13.000142335891724px;
background-image: url("/assets/Union0.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.0005017518997192px;
top: 0.9994714856147766px;
      }
.component-2_24293 {
        width: fit-content;
height: fit-content;
      }

