
.symbol-2281_52376 {
        width: 16px;
height: 16px;
position: relative;
      }
.vector-2281_52377 {
        width: 13.76220703125px;
height: 12.9019775390625px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.119140625px;
top: 1.97137451171875px;
      }
.component-2281_52376 {
        width: fit-content;
height: fit-content;
      }

