
.symbol-2_20313 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-2_20314 {
        width: 13.466796875px;
height: 16.800003051757812px;
background-image: url("/assets/Vector1598.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.2666015625px;
top: 1.5999994277954102px;
      }
.component-2_20313 {
        width: fit-content;
height: fit-content;
      }

