
.symbol-2_23137 {
        width: 16px;
height: 16px;
position: relative;
      }
.vector-2_23138 {
        width: 13.6796875px;
height: 13.67999267578125px;
background-image: url("/assets/Vector1602.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1602258682250977px;
top: 1.1601810455322266px;
      }
.component-2_23137 {
        width: fit-content;
height: fit-content;
      }

