
.symbol-355_5756 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-355_5757 {
        width: 16.80029296875px;
height: 16.8001708984375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.599609375px;
top: 1.60028076171875px;
      }
.component-355_5756 {
        width: fit-content;
height: fit-content;
      }

