
.symbol-2_19103 {
        
      }
.symbol-2_19104 {
        width: 12px;
height: 140px;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 4px 0px 4px 0px;
      }
.frame-2_19105 {
        width: auto;
height: 132px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
align-self: stretch;
border-radius: 99px 99px 99px 99px;
      }
.frame-content-2_19105 {
        display: flex;
flex-direction: column;
gap: 40px;
align-items: flex-start;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-2_19106 {
        width: 6px;
height: 1px;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.frame-2_19107 {
        width: 6px;
height: 1px;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.symbol-2_19108 {
        width: 12px;
height: 140px;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 4px 0px 4px 0px;
      }
.frame-2_19109 {
        width: auto;
height: 132px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
align-self: stretch;
border-radius: 99px 99px 99px 99px;
      }
.frame-content-2_19109 {
        display: flex;
flex-direction: column;
gap: 40px;
align-items: flex-start;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-2_19110 {
        width: 8px;
height: 1px;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.frame-2_19111 {
        width: 8px;
height: 1px;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.component-2_19103 {
        width: fit-content;
height: fit-content;
      }

