
.symbol-2_2233 {
        width: 16px;
height: 16px;
position: relative;
      }
.vector-2_2234 {
        width: 12.06640625px;
height: 13.399993896484375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.96630859375px;
top: 1.300048828125px;
      }
.component-2_2233 {
        width: fit-content;
height: fit-content;
      }

