
.symbol-4_31829 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-4_31830 {
        width: 15.13330078125px;
height: 16.800003051757812px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.43359375px;
top: 1.5999755859375px;
      }
.component-4_31829 {
        width: fit-content;
height: fit-content;
      }

