
.symbol-2_2241 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-2_2242 {
        width: 17.38427734375px;
height: 12.599868774414062px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.30810546875px;
top: 3.7177734375px;
      }
.component-2_2241 {
        width: fit-content;
height: fit-content;
      }

