
.symbol-2_56434 {
        
      }
.symbol-2_56435 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 2px;
justify-content: center;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 12px 12px 12px 12px;
      }
.instance-2_56436 {
        width: 177.5px;
height: 36px;
      }
.instance-2_56437 {
        width: 177.5px;
height: 36px;
      }
.symbol-2_56438 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 2px;
justify-content: center;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 12px 12px 12px 12px;
      }
.instance-2_56439 {
        width: 177.5px;
height: 36px;
      }
.instance-2_56440 {
        width: 177.5px;
height: 36px;
      }
.symbol-2_56441 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 2px;
justify-content: center;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 12px 12px 12px 12px;
      }
.instance-2_56442 {
        width: 117.66666412353516px;
height: 36px;
      }
.instance-2_56443 {
        width: 117.6666488647461px;
height: 36px;
      }
.instance-2_56444 {
        width: 117.66668701171875px;
height: 36px;
      }
.symbol-2_56445 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 2px;
justify-content: center;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 12px 12px 12px 12px;
      }
.instance-2_56446 {
        width: 87.75px;
height: 36px;
      }
.instance-2_56447 {
        width: 87.75px;
height: 36px;
      }
.instance-2_56448 {
        width: 87.75px;
height: 36px;
      }
.instance-2_56449 {
        width: 87.75px;
height: 36px;
      }
.symbol-2_56450 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 2px;
justify-content: center;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 12px 12px 12px 12px;
      }
.instance-2_56451 {
        width: 69.80000305175781px;
height: 36px;
      }
.instance-2_56452 {
        width: 69.80000305175781px;
height: 36px;
      }
.instance-2_56453 {
        width: 69.80000305175781px;
height: 36px;
      }
.instance-2_56454 {
        width: 69.80000305175781px;
height: 36px;
      }
.instance-2_56455 {
        width: 69.79998779296875px;
height: 36px;
      }
.symbol-2_56456 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 2px;
justify-content: center;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 12px 12px 12px 12px;
      }
.instance-2_56457 {
        width: 117.66666412353516px;
height: 36px;
      }
.instance-2_56458 {
        width: 117.6666488647461px;
height: 36px;
      }
.instance-2_56459 {
        width: 117.66668701171875px;
height: 36px;
      }
.symbol-2_56460 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 2px;
justify-content: center;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 12px 12px 12px 12px;
      }
.instance-2_56461 {
        width: 87.75px;
height: 36px;
      }
.instance-2_56462 {
        width: 87.75px;
height: 36px;
      }
.instance-2_56463 {
        width: 87.75px;
height: 36px;
      }
.instance-2_56464 {
        width: 87.75px;
height: 36px;
      }
.symbol-2_56465 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 2px;
justify-content: center;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 12px 12px 12px 12px;
      }
.instance-2_56466 {
        width: 69.80000305175781px;
height: 36px;
      }
.instance-2_56467 {
        width: 69.80000305175781px;
height: 36px;
      }
.instance-2_56468 {
        width: 69.80000305175781px;
height: 36px;
      }
.instance-2_56469 {
        width: 69.80000305175781px;
height: 36px;
      }
.instance-2_56470 {
        width: 69.79998779296875px;
height: 36px;
      }
.symbol-2_56471 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 2px;
justify-content: center;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56472 {
        width: 177.5px;
height: 32px;
      }
.instance-2_56473 {
        width: 177.5px;
height: 32px;
      }
.symbol-2_56474 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 2px;
justify-content: center;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56475 {
        width: 177.5px;
height: 32px;
      }
.instance-2_56476 {
        width: 177.5px;
height: 32px;
      }
.symbol-2_56477 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 2px;
justify-content: center;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56478 {
        width: 117.66666412353516px;
height: 32px;
      }
.instance-2_56479 {
        width: 117.6666488647461px;
height: 32px;
      }
.instance-2_56480 {
        width: 117.66668701171875px;
height: 32px;
      }
.symbol-2_56481 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 2px;
justify-content: center;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56482 {
        width: 87.75px;
height: 32px;
      }
.instance-2_56483 {
        width: 87.75px;
height: 32px;
      }
.instance-2_56484 {
        width: 87.75px;
height: 32px;
      }
.instance-2_56485 {
        width: 87.75px;
height: 32px;
      }
.symbol-2_56486 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 2px;
justify-content: center;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56487 {
        width: 69.80000305175781px;
height: 32px;
      }
.instance-2_56488 {
        width: 69.80000305175781px;
height: 32px;
      }
.instance-2_56489 {
        width: 69.80000305175781px;
height: 32px;
      }
.instance-2_56490 {
        width: 69.80000305175781px;
height: 32px;
      }
.instance-2_56491 {
        width: 69.79998779296875px;
height: 32px;
      }
.symbol-2_56492 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 2px;
justify-content: center;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56493 {
        width: 117.66666412353516px;
height: 32px;
      }
.instance-2_56494 {
        width: 117.6666488647461px;
height: 32px;
      }
.instance-2_56495 {
        width: 117.66668701171875px;
height: 32px;
      }
.symbol-2_56496 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 2px;
justify-content: center;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56497 {
        width: 87.75px;
height: 32px;
      }
.instance-2_56498 {
        width: 87.75px;
height: 32px;
      }
.instance-2_56499 {
        width: 87.75px;
height: 32px;
      }
.instance-2_56500 {
        width: 87.75px;
height: 32px;
      }
.symbol-2_56501 {
        width: 361px;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 2px;
justify-content: center;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56502 {
        width: 69.80000305175781px;
height: 32px;
      }
.instance-2_56503 {
        width: 69.80000305175781px;
height: 32px;
      }
.instance-2_56504 {
        width: 69.80000305175781px;
height: 32px;
      }
.instance-2_56505 {
        width: 69.80000305175781px;
height: 32px;
      }
.instance-2_56506 {
        width: 69.79998779296875px;
height: 32px;
      }
.component-2_56434 {
        width: fit-content;
height: fit-content;
      }


.instance-2_56436 .symbol-2_56378  {
        width: 177.5px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56442 .symbol-2_56378  {
        width: 117.66666412353516px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56446 .symbol-2_56378  {
        width: 87.75px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56451 .symbol-2_56378  {
        width: 69.80000305175781px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56436 .paragraph-2_56379  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56442 .paragraph-2_56379  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56446 .paragraph-2_56379  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56451 .paragraph-2_56379  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56472 .symbol-2_56380  {
        width: 177.5px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_56478 .symbol-2_56380  {
        width: 117.66666412353516px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_56482 .symbol-2_56380  {
        width: 87.75px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_56487 .symbol-2_56380  {
        width: 69.80000305175781px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_56472 .paragraph-2_56381  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56478 .paragraph-2_56381  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56482 .paragraph-2_56381  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56487 .paragraph-2_56381  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56475 .symbol-2_56382  {
        width: 177.5px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_56493 .symbol-2_56382  {
        width: 117.66666412353516px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_56497 .symbol-2_56382  {
        width: 87.75px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_56502 .symbol-2_56382  {
        width: 69.80000305175781px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_56475 .paragraph-2_56383  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56493 .paragraph-2_56383  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56497 .paragraph-2_56383  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56502 .paragraph-2_56383  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56439 .symbol-2_56384  {
        width: 177.5px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56457 .symbol-2_56384  {
        width: 117.66666412353516px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56461 .symbol-2_56384  {
        width: 87.75px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56466 .symbol-2_56384  {
        width: 69.80000305175781px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56439 .paragraph-2_56385  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56457 .paragraph-2_56385  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56461 .paragraph-2_56385  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56466 .paragraph-2_56385  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56437 .symbol-2_56386  {
        width: 177.5px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56443 .symbol-2_56386  {
        width: 117.6666488647461px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56444 .symbol-2_56386  {
        width: 117.66668701171875px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56447 .symbol-2_56386  {
        width: 87.75px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56448 .symbol-2_56386  {
        width: 87.75px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56449 .symbol-2_56386  {
        width: 87.75px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56452 .symbol-2_56386  {
        width: 69.80000305175781px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56453 .symbol-2_56386  {
        width: 69.80000305175781px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56454 .symbol-2_56386  {
        width: 69.80000305175781px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56455 .symbol-2_56386  {
        width: 69.79998779296875px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56437 .paragraph-2_56387  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56443 .paragraph-2_56387  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56444 .paragraph-2_56387  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56447 .paragraph-2_56387  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56448 .paragraph-2_56387  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56449 .paragraph-2_56387  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56452 .paragraph-2_56387  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56453 .paragraph-2_56387  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56454 .paragraph-2_56387  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56455 .paragraph-2_56387  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56473 .symbol-2_56388  {
        width: 177.5px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56479 .symbol-2_56388  {
        width: 117.6666488647461px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56480 .symbol-2_56388  {
        width: 117.66668701171875px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56483 .symbol-2_56388  {
        width: 87.75px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56484 .symbol-2_56388  {
        width: 87.75px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56485 .symbol-2_56388  {
        width: 87.75px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56488 .symbol-2_56388  {
        width: 69.80000305175781px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56489 .symbol-2_56388  {
        width: 69.80000305175781px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56490 .symbol-2_56388  {
        width: 69.80000305175781px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56491 .symbol-2_56388  {
        width: 69.79998779296875px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56473 .paragraph-2_56389  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56479 .paragraph-2_56389  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56480 .paragraph-2_56389  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56483 .paragraph-2_56389  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56484 .paragraph-2_56389  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56485 .paragraph-2_56389  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56488 .paragraph-2_56389  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56489 .paragraph-2_56389  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56490 .paragraph-2_56389  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56491 .paragraph-2_56389  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56476 .symbol-2_56390  {
        width: 177.5px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56494 .symbol-2_56390  {
        width: 117.6666488647461px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56495 .symbol-2_56390  {
        width: 117.66668701171875px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56498 .symbol-2_56390  {
        width: 87.75px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56499 .symbol-2_56390  {
        width: 87.75px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56500 .symbol-2_56390  {
        width: 87.75px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56503 .symbol-2_56390  {
        width: 69.80000305175781px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56504 .symbol-2_56390  {
        width: 69.80000305175781px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56505 .symbol-2_56390  {
        width: 69.80000305175781px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56506 .symbol-2_56390  {
        width: 69.79998779296875px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56476 .paragraph-2_56391  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56494 .paragraph-2_56391  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56495 .paragraph-2_56391  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56498 .paragraph-2_56391  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56499 .paragraph-2_56391  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56500 .paragraph-2_56391  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56503 .paragraph-2_56391  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56504 .paragraph-2_56391  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56505 .paragraph-2_56391  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56506 .paragraph-2_56391  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56440 .symbol-2_56392  {
        width: 177.5px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56458 .symbol-2_56392  {
        width: 117.6666488647461px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56459 .symbol-2_56392  {
        width: 117.66668701171875px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56462 .symbol-2_56392  {
        width: 87.75px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56463 .symbol-2_56392  {
        width: 87.75px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56464 .symbol-2_56392  {
        width: 87.75px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56467 .symbol-2_56392  {
        width: 69.80000305175781px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56468 .symbol-2_56392  {
        width: 69.80000305175781px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56469 .symbol-2_56392  {
        width: 69.80000305175781px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56470 .symbol-2_56392  {
        width: 69.79998779296875px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56440 .paragraph-2_56393  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56458 .paragraph-2_56393  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56459 .paragraph-2_56393  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56462 .paragraph-2_56393  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56463 .paragraph-2_56393  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56464 .paragraph-2_56393  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56467 .paragraph-2_56393  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56468 .paragraph-2_56393  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56469 .paragraph-2_56393  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56470 .paragraph-2_56393  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.instance-2_56439 .symbol-2_56384 .symbol-2_56419 {
        width: 177.5px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56440 .symbol-2_56392 .symbol-2_56422 {
        width: 177.5px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
