
.symbol-2_80564 {
        width: 393px;
height: 20px;
position: relative;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 8px 0px 8px 0px;
      }
.rectangle-2_80565 {
        width: 32px;
height: 4px;
position: relative;
flex-shrink: 0;
border-radius: 100px 100px 100px 100px;
background-color: rgba(255, 255, 255, 0.4000000059604645);
      }
.component-2_80564 {
        width: fit-content;
height: fit-content;
      }

