
.symbol-4_54248 {
        
      }
.symbol-4_54249 {
        width: 390px;
height: 46px;
position: relative;
backdrop-filter: blur(36.24375661214193px);
background-color: rgba(209, 211, 217, 1);
      }
.paragraph-4_54250 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: flex-end;
width: auto;
height: auto;
position: absolute;
left: 46.5px;
top: 13px;
white-space: pre;
flex-grow: 0;
      }
.rectangle-4_54251 {
        width: 1px;
height: 25px;
position: absolute;
left: 129px;
top: 13px;
transform: rotateY(180deg);
border-radius: 1px 1px 1px 1px;
opacity: 0.5;
      }
.paragraph-4_54252 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: flex-end;
width: auto;
height: auto;
position: absolute;
left: 181px;
top: 13px;
white-space: pre;
flex-grow: 0;
      }
.rectangle-4_54253 {
        width: 1px;
height: 25px;
position: absolute;
left: 260px;
top: 13px;
transform: rotateY(180deg);
border-radius: 1px 1px 1px 1px;
opacity: 0.5;
      }
.paragraph-4_54254 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: flex-end;
width: auto;
height: auto;
position: absolute;
left: 309.5px;
top: 13px;
white-space: pre;
flex-grow: 0;
      }
.symbol-4_54255 {
        width: 390px;
height: 46px;
position: relative;
backdrop-filter: blur(36.24375661214193px);
background-color: rgba(209, 211, 217, 1);
      }
.paragraph-4_54256 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: flex-end;
width: auto;
height: auto;
position: absolute;
left: 163px;
top: 19px;
white-space: pre;
flex-grow: 0;
      }
.paragraph-4_54257 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: flex-end;
width: auto;
height: auto;
position: absolute;
left: 154px;
top: 5px;
white-space: pre;
flex-grow: 0;
      }
.rectangle-4_54258 {
        width: 1px;
height: 25px;
position: absolute;
left: 30px;
top: 13px;
transform: rotateY(180deg);
border-radius: 1px 1px 1px 1px;
opacity: 0.5;
      }
.rectangle-4_54259 {
        width: 1px;
height: 25px;
position: absolute;
left: 359px;
top: 13px;
transform: rotateY(180deg);
border-radius: 1px 1px 1px 1px;
opacity: 0.5;
      }
.symbol-4_54260 {
        width: 390px;
height: 46px;
position: relative;
backdrop-filter: blur(36.24375661214193px);
background-color: rgba(49, 49, 50, 1);
      }
.paragraph-4_54261 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: flex-end;
width: auto;
height: auto;
position: absolute;
left: 46.5px;
top: 13px;
white-space: pre;
flex-grow: 0;
      }
.rectangle-4_54262 {
        width: 1px;
height: 25px;
position: absolute;
left: 129px;
top: 13px;
transform: rotateY(180deg);
border-radius: 1px 1px 1px 1px;
opacity: 0.5;
      }
.paragraph-4_54263 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: flex-end;
width: auto;
height: auto;
position: absolute;
left: 181px;
top: 13px;
white-space: pre;
flex-grow: 0;
      }
.rectangle-4_54264 {
        width: 1px;
height: 25px;
position: absolute;
left: 260px;
top: 13px;
transform: rotateY(180deg);
border-radius: 1px 1px 1px 1px;
opacity: 0.5;
      }
.paragraph-4_54265 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: flex-end;
width: auto;
height: auto;
position: absolute;
left: 309.5px;
top: 13px;
white-space: pre;
flex-grow: 0;
      }
.symbol-4_54266 {
        width: 390px;
height: 46px;
position: relative;
backdrop-filter: blur(36.24375661214193px);
background-color: rgba(49, 49, 50, 1);
      }
.paragraph-4_54267 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: flex-end;
width: auto;
height: auto;
position: absolute;
left: 163px;
top: 19px;
white-space: pre;
flex-grow: 0;
      }
.paragraph-4_54268 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: flex-end;
width: auto;
height: auto;
position: absolute;
left: 154px;
top: 5px;
white-space: pre;
flex-grow: 0;
      }
.rectangle-4_54269 {
        width: 1px;
height: 25px;
position: absolute;
left: 30px;
top: 13px;
transform: rotateY(180deg);
border-radius: 1px 1px 1px 1px;
opacity: 0.5;
      }
.rectangle-4_54270 {
        width: 1px;
height: 25px;
position: absolute;
left: 359px;
top: 13px;
transform: rotateY(180deg);
border-radius: 1px 1px 1px 1px;
opacity: 0.5;
      }
.component-4_54248 {
        width: fit-content;
height: fit-content;
      }

