
.symbol-355_5799 {
        
      }
.symbol-355_5800 {
        width: 52px;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.vector-355_5801 {
        width: 32px;
height: 33px;
background-image: url("/assets/thumb0.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.symbol-355_5802 {
        width: 52px;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 9999px 9999px 9999px 9999px;
      }
.vector-355_5803 {
        width: 22px;
height: 4px;
background-image: url("/assets/indicator2.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.symbol-355_5804 {
        width: 52px;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 9999px 9999px 9999px 9999px;
      }
.vector-355_5805 {
        width: 22px;
height: 4px;
background-image: url("/assets/indicator0.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.symbol-355_5806 {
        width: 52px;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.vector-355_5807 {
        position: absolute;
inset: -8.928571428571429% -7.142857142857142% -8.928571428571429% -7.142857142857142% ;
background-image: url("/assets/thumb.png");
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.vector-wrapper-355_5807 {
        position: relative;
flex-shrink: 0;
width: 28px;
height: 28px;
      }
.symbol-355_5808 {
        width: 52px;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.vector-355_5809 {
        position: absolute;
inset: -8.928571428571429% -7.142857142857142% -8.928571428571429% -7.142857142857142% ;
background-image: url("/assets/indicator1.png");
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.vector-wrapper-355_5809 {
        position: relative;
flex-shrink: 0;
width: 28px;
height: 28px;
      }
.symbol-355_5810 {
        width: 52px;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 2px 2px 2px 2px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.vector-355_5811 {
        position: absolute;
inset: -8.928571428571429% -7.142857142857142% -8.928571428571429% -7.142857142857142% ;
background-image: url("/assets/indicator.png");
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.vector-wrapper-355_5811 {
        position: relative;
flex-shrink: 0;
width: 28px;
height: 28px;
      }
.component-355_5799 {
        width: fit-content;
height: fit-content;
      }

