
.symbol-2_18879 {
        
      }
.symbol-2_18880 {
        width: 393px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
      }
.frame-2_18881 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-2_18881 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 8px 16px 0px 16px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_18881 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_18881 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0.5px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_18882 {
        width: 72.19999694824219px;
height: 44px;
      }
.instance-2_18883 {
        width: 72.19999694824219px;
height: 44px;
      }
.instance-2_18884 {
        width: 72.19999694824219px;
height: 44px;
      }
.instance-2_18885 {
        width: 72.19999694824219px;
height: 44px;
      }
.instance-2_18886 {
        width: 72.20001220703125px;
height: 44px;
      }
.instance-2_18887 {
        width: 393px;
height: 34px;
      }
.symbol-2_18888 {
        width: 393px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
      }
.frame-2_18889 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-2_18889 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 8px 16px 12px 16px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_18889 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_18889 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0.5px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_18890 {
        width: 72.19999694824219px;
height: 44px;
      }
.instance-2_18891 {
        width: 72.19999694824219px;
height: 44px;
      }
.instance-2_18892 {
        width: 72.19999694824219px;
height: 44px;
      }
.instance-2_18893 {
        width: 72.19999694824219px;
height: 44px;
      }
.instance-2_18894 {
        width: 72.20001220703125px;
height: 44px;
      }
.symbol-2_18895 {
        width: 393px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
      }
.frame-2_18896 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-2_18896 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 8px 16px 12px 16px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_18896 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_18896 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0.5px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_18897 {
        width: 90.25px;
height: 44px;
      }
.instance-2_18898 {
        width: 90.25px;
height: 44px;
      }
.instance-2_18899 {
        width: 90.25px;
height: 44px;
      }
.instance-2_18900 {
        width: 90.25px;
height: 44px;
      }
.symbol-2_18901 {
        width: 393px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
      }
.frame-2_18902 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-2_18902 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 8px 16px 12px 16px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_18902 {
        position: relative;
width: 100%;
height: 64px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_18902 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0.5px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_18903 {
        width: 73.25px;
height: 44px;
      }
.instance-2_18904 {
        width: 73.25px;
height: 44px;
      }
.frame-2_18905 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: center;
padding: 0px 12px 4px 12px;
      }
.instance-2_18906 {
        width: 44px;
height: 44px;
      }
.instance-2_18907 {
        width: 73.25px;
height: 44px;
      }
.instance-2_18908 {
        width: 73.25px;
height: 44px;
      }
.symbol-2_18909 {
        width: 393px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
      }
.frame-2_18910 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-2_18910 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 8px 16px 12px 16px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_18910 {
        position: relative;
width: 100%;
height: 64px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_18910 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0.5px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_18911 {
        width: 146.5px;
height: 44px;
      }
.frame-2_18912 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: center;
padding: 0px 12px 4px 12px;
      }
.instance-2_18913 {
        width: 44px;
height: 44px;
      }
.instance-2_18914 {
        width: 146.5px;
height: 44px;
      }
.symbol-2_18915 {
        width: 393px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
      }
.frame-2_18916 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-2_18916 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 8px 16px 12px 16px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_18916 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_18916 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0.5px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_18917 {
        width: 120.33334350585938px;
height: 44px;
      }
.instance-2_18918 {
        width: 120.33334350585938px;
height: 44px;
      }
.instance-2_18919 {
        width: 120.33334350585938px;
height: 44px;
      }
.symbol-2_18920 {
        width: 393px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
      }
.frame-2_18921 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-2_18921 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 8px 16px 12px 16px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_18921 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_18921 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0.5px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_18922 {
        width: 180.5px;
height: 44px;
      }
.instance-2_18923 {
        width: 180.5px;
height: 44px;
      }
.symbol-2_18924 {
        width: 393px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
      }
.frame-2_18925 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-2_18925 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 8px 16px 0px 16px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_18925 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_18925 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0.5px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_18926 {
        width: 90.25px;
height: 44px;
      }
.instance-2_18927 {
        width: 90.25px;
height: 44px;
      }
.instance-2_18928 {
        width: 90.25px;
height: 44px;
      }
.instance-2_18929 {
        width: 90.25px;
height: 44px;
      }
.instance-2_18930 {
        width: 393px;
height: 34px;
      }
.symbol-2_18931 {
        width: 393px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
      }
.frame-2_18932 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-2_18932 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 8px 16px 0px 16px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_18932 {
        position: relative;
width: 100%;
height: 52px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_18932 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0.5px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_18933 {
        width: 73.25px;
height: 44px;
      }
.instance-2_18934 {
        width: 73.25px;
height: 44px;
      }
.frame-2_18935 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: center;
padding: 0px 12px 4px 12px;
      }
.instance-2_18936 {
        width: 44px;
height: 44px;
      }
.instance-2_18937 {
        width: 73.25px;
height: 44px;
      }
.instance-2_18938 {
        width: 73.25px;
height: 44px;
      }
.instance-2_18939 {
        width: 393px;
height: 34px;
      }
.symbol-2_18940 {
        width: 393px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
      }
.frame-2_18941 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-2_18941 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 8px 16px 0px 16px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_18941 {
        position: relative;
width: 100%;
height: 52px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_18941 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0.5px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_18942 {
        width: 146.5px;
height: 44px;
      }
.frame-2_18943 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: center;
padding: 0px 12px 4px 12px;
      }
.instance-2_18944 {
        width: 44px;
height: 44px;
      }
.instance-2_18945 {
        width: 146.5px;
height: 44px;
      }
.instance-2_18946 {
        width: 393px;
height: 34px;
      }
.symbol-2_18947 {
        width: 393px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
      }
.frame-2_18948 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-2_18948 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 8px 16px 0px 16px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_18948 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_18948 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0.5px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_18949 {
        width: 120.33334350585938px;
height: 44px;
      }
.instance-2_18950 {
        width: 120.33334350585938px;
height: 44px;
      }
.instance-2_18951 {
        width: 120.33334350585938px;
height: 44px;
      }
.instance-2_18952 {
        width: 393px;
height: 34px;
      }
.symbol-2_18953 {
        width: 393px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
      }
.frame-2_18954 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-2_18954 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 8px 16px 0px 16px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_18954 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_18954 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0.5px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_18955 {
        width: 180.5px;
height: 44px;
      }
.instance-2_18956 {
        width: 180.5px;
height: 44px;
      }
.instance-2_18957 {
        width: 393px;
height: 34px;
      }
.component-2_18879 {
        width: fit-content;
height: fit-content;
      }


.instance-2_18906 .symbol-2_20484  {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 999px 999px 999px 999px;
      }
.instance-2_18913 .symbol-2_20484  {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 999px 999px 999px 999px;
      }
.instance-2_18936 .symbol-2_20484  {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 999px 999px 999px 999px;
      }
.instance-2_18944 .symbol-2_20484  {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 999px 999px 999px 999px;
      }
.instance-2_18887 .symbol-2_2248  {
        width: 393px;
height: 34px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18930 .symbol-2_2248  {
        width: 393px;
height: 34px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18939 .symbol-2_2248  {
        width: 393px;
height: 34px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18946 .symbol-2_2248  {
        width: 393px;
height: 34px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18952 .symbol-2_2248  {
        width: 393px;
height: 34px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18957 .symbol-2_2248  {
        width: 393px;
height: 34px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18883 .symbol-2_18850  {
        width: 72.19999694824219px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18884 .symbol-2_18850  {
        width: 72.19999694824219px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18885 .symbol-2_18850  {
        width: 72.19999694824219px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18886 .symbol-2_18850  {
        width: 72.20001220703125px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18891 .symbol-2_18850  {
        width: 72.19999694824219px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18892 .symbol-2_18850  {
        width: 72.19999694824219px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18893 .symbol-2_18850  {
        width: 72.19999694824219px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18894 .symbol-2_18850  {
        width: 72.20001220703125px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18898 .symbol-2_18850  {
        width: 90.25px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18899 .symbol-2_18850  {
        width: 90.25px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18900 .symbol-2_18850  {
        width: 90.25px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18904 .symbol-2_18850  {
        width: 73.25px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18907 .symbol-2_18850  {
        width: 73.25px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18908 .symbol-2_18850  {
        width: 73.25px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18914 .symbol-2_18850  {
        width: 146.5px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18918 .symbol-2_18850  {
        width: 120.33334350585938px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18919 .symbol-2_18850  {
        width: 120.33334350585938px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18923 .symbol-2_18850  {
        width: 180.5px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18927 .symbol-2_18850  {
        width: 90.25px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18928 .symbol-2_18850  {
        width: 90.25px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18929 .symbol-2_18850  {
        width: 90.25px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18934 .symbol-2_18850  {
        width: 73.25px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18937 .symbol-2_18850  {
        width: 73.25px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18938 .symbol-2_18850  {
        width: 73.25px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18945 .symbol-2_18850  {
        width: 146.5px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18949 .symbol-2_18875 .symbol-2_18850 {
        width: 120.33334350585938px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18950 .symbol-2_18850  {
        width: 120.33334350585938px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18951 .symbol-2_18850  {
        width: 120.33334350585938px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18956 .symbol-2_18850  {
        width: 180.5px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18883 .frame-2_18851  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18884 .frame-2_18851  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18885 .frame-2_18851  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18886 .frame-2_18851  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18891 .frame-2_18851  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18892 .frame-2_18851  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18893 .frame-2_18851  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18894 .frame-2_18851  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18898 .frame-2_18851  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18899 .frame-2_18851  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18900 .frame-2_18851  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18904 .frame-2_18851  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18907 .frame-2_18851  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18908 .frame-2_18851  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18914 .frame-2_18851  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18918 .frame-2_18851  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18919 .frame-2_18851  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18923 .frame-2_18851  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18927 .frame-2_18851  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18928 .frame-2_18851  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18929 .frame-2_18851  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18934 .frame-2_18851  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18937 .frame-2_18851  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18938 .frame-2_18851  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18945 .frame-2_18851  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18950 .frame-2_18851  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18951 .frame-2_18851  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18956 .frame-2_18851  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18883 .instance-2_18852  {
        width: 24px;
height: 24px;
      }
.instance-2_18884 .instance-2_18852  {
        width: 24px;
height: 24px;
      }
.instance-2_18885 .instance-2_18852  {
        width: 24px;
height: 24px;
      }
.instance-2_18886 .instance-2_18852  {
        width: 24px;
height: 24px;
      }
.instance-2_18891 .instance-2_18852  {
        width: 24px;
height: 24px;
      }
.instance-2_18892 .instance-2_18852  {
        width: 24px;
height: 24px;
      }
.instance-2_18893 .instance-2_18852  {
        width: 24px;
height: 24px;
      }
.instance-2_18894 .instance-2_18852  {
        width: 24px;
height: 24px;
      }
.instance-2_18898 .instance-2_18852  {
        width: 24px;
height: 24px;
      }
.instance-2_18899 .instance-2_18852  {
        width: 24px;
height: 24px;
      }
.instance-2_18900 .instance-2_18852  {
        width: 24px;
height: 24px;
      }
.instance-2_18904 .instance-2_18852  {
        width: 24px;
height: 24px;
      }
.instance-2_18907 .instance-2_18852  {
        width: 24px;
height: 24px;
      }
.instance-2_18908 .instance-2_18852  {
        width: 24px;
height: 24px;
      }
.instance-2_18914 .instance-2_18852  {
        width: 24px;
height: 24px;
      }
.instance-2_18918 .instance-2_18852  {
        width: 24px;
height: 24px;
      }
.instance-2_18919 .instance-2_18852  {
        width: 24px;
height: 24px;
      }
.instance-2_18923 .instance-2_18852  {
        width: 24px;
height: 24px;
      }
.instance-2_18927 .instance-2_18852  {
        width: 24px;
height: 24px;
      }
.instance-2_18928 .instance-2_18852  {
        width: 24px;
height: 24px;
      }
.instance-2_18929 .instance-2_18852  {
        width: 24px;
height: 24px;
      }
.instance-2_18934 .instance-2_18852  {
        width: 24px;
height: 24px;
      }
.instance-2_18937 .instance-2_18852  {
        width: 24px;
height: 24px;
      }
.instance-2_18938 .instance-2_18852  {
        width: 24px;
height: 24px;
      }
.instance-2_18945 .instance-2_18852  {
        width: 24px;
height: 24px;
      }
.instance-2_18950 .instance-2_18852  {
        width: 24px;
height: 24px;
      }
.instance-2_18951 .instance-2_18852  {
        width: 24px;
height: 24px;
      }
.instance-2_18956 .instance-2_18852  {
        width: 24px;
height: 24px;
      }
.instance-2_18883 .paragraph-2_18853  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18884 .paragraph-2_18853  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18885 .paragraph-2_18853  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18886 .paragraph-2_18853  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18891 .paragraph-2_18853  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18892 .paragraph-2_18853  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18893 .paragraph-2_18853  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18894 .paragraph-2_18853  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18898 .paragraph-2_18853  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18899 .paragraph-2_18853  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18900 .paragraph-2_18853  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18904 .paragraph-2_18853  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18907 .paragraph-2_18853  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18908 .paragraph-2_18853  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18914 .paragraph-2_18853  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18918 .paragraph-2_18853  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18919 .paragraph-2_18853  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18923 .paragraph-2_18853  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18927 .paragraph-2_18853  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18928 .paragraph-2_18853  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18929 .paragraph-2_18853  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18934 .paragraph-2_18853  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18937 .paragraph-2_18853  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18938 .paragraph-2_18853  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18945 .paragraph-2_18853  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18950 .paragraph-2_18853  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18951 .paragraph-2_18853  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18956 .paragraph-2_18853  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18882 .symbol-2_18875  {
        width: 72.19999694824219px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18890 .symbol-2_18875  {
        width: 72.19999694824219px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18897 .symbol-2_18875  {
        width: 90.25px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18903 .symbol-2_18875  {
        width: 73.25px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18911 .symbol-2_18875  {
        width: 146.5px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18917 .symbol-2_18875  {
        width: 120.33334350585938px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18922 .symbol-2_18875  {
        width: 180.5px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18926 .symbol-2_18875  {
        width: 90.25px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18933 .symbol-2_18875  {
        width: 73.25px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18942 .symbol-2_18875  {
        width: 146.5px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18949 .symbol-2_18875  {
        width: 120.33334350585938px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18951 .symbol-2_18850 .symbol-2_18875 {
        width: 120.33334350585938px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18955 .symbol-2_18875  {
        width: 180.5px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2_18882 .frame-2_18876  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18890 .frame-2_18876  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18897 .frame-2_18876  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18903 .frame-2_18876  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18911 .frame-2_18876  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18917 .frame-2_18876  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18922 .frame-2_18876  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18926 .frame-2_18876  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18933 .frame-2_18876  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18942 .frame-2_18876  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18949 .frame-2_18876  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18955 .frame-2_18876  {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18882 .instance-2_18877  {
        width: 24px;
height: 24px;
      }
.instance-2_18890 .instance-2_18877  {
        width: 24px;
height: 24px;
      }
.instance-2_18897 .instance-2_18877  {
        width: 24px;
height: 24px;
      }
.instance-2_18903 .instance-2_18877  {
        width: 24px;
height: 24px;
      }
.instance-2_18911 .instance-2_18877  {
        width: 24px;
height: 24px;
      }
.instance-2_18917 .instance-2_18877  {
        width: 24px;
height: 24px;
      }
.instance-2_18922 .instance-2_18877  {
        width: 24px;
height: 24px;
      }
.instance-2_18926 .instance-2_18877  {
        width: 24px;
height: 24px;
      }
.instance-2_18933 .instance-2_18877  {
        width: 24px;
height: 24px;
      }
.instance-2_18942 .instance-2_18877  {
        width: 24px;
height: 24px;
      }
.instance-2_18949 .instance-2_18877  {
        width: 24px;
height: 24px;
      }
.instance-2_18955 .instance-2_18877  {
        width: 24px;
height: 24px;
      }
.instance-2_18882 .paragraph-2_18878  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18890 .paragraph-2_18878  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18897 .paragraph-2_18878  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18903 .paragraph-2_18878  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18911 .paragraph-2_18878  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18917 .paragraph-2_18878  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18922 .paragraph-2_18878  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18926 .paragraph-2_18878  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18933 .paragraph-2_18878  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18942 .paragraph-2_18878  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18949 .paragraph-2_18878  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18955 .paragraph-2_18878  {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
