
.symbol-2_18849 {
        
      }
.symbol-2_18850 {
        width: 65px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.frame-2_18851 {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18852 {
        width: 24px;
height: 24px;
      }
.paragraph-2_18853 {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_18854 {
        width: 65px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.frame-2_18855 {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18856 {
        width: 24px;
height: 24px;
      }
.instance-2_18857 {
        width: 6px;
height: 6px;
      }
.paragraph-2_18858 {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_18859 {
        width: 65px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.frame-2_18860 {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18861 {
        width: 24px;
height: 24px;
      }
.instance-2_18862 {
        width: 18px;
height: 18px;
      }
.paragraph-2_18863 {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_18864 {
        width: 65px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.frame-2_18865 {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18866 {
        width: 24px;
height: 24px;
      }
.instance-2_18867 {
        width: 6px;
height: 6px;
      }
.paragraph-2_18868 {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_18869 {
        width: 65px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.frame-2_18870 {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18871 {
        width: 24px;
height: 24px;
      }
.frame-2_18872 {
        width: 6px;
height: 6px;
overflow: hidden;
position: absolute;
left: 22px;
top: 0px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_18873 {
        width: 18px;
height: 18px;
      }
.paragraph-2_18874 {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.symbol-2_18875 {
        width: 65px;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.frame-2_18876 {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
      }
.instance-2_18877 {
        width: 24px;
height: 24px;
      }
.paragraph-2_18878 {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 100%;
height: 12px;
position: relative;
flex-shrink: 0;
      }
.component-2_18849 {
        width: fit-content;
height: fit-content;
      }


.instance-2_18852 .symbol-2_18964 .symbol-2_20309 {
        width: 24px;
height: 24px;
position: absolute;
left: 2px;
top: 2px;
      }
.instance-2_18852 .vector-2_18965  {
        width: 21.9638671875px;
height: 20.25px;
background-image: url("/assets/Vector41.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.01806640625px;
top: 1.75px;
      }
.instance-2_18852 .symbol-2_18964 .symbol-2_20315 {
        width: 24px;
height: 24px;
position: absolute;
left: 2px;
top: 2px;
      }
.instance-2_18852 .symbol-2_18964  {
        width: 24px;
height: 24px;
position: absolute;
left: 2px;
top: 2px;
      }
.instance-2_18856 .symbol-2_18964  {
        width: 24px;
height: 24px;
position: absolute;
left: 2px;
top: 2px;
      }
.instance-2_18856 .vector-2_18965  {
        width: 21.9638671875px;
height: 20.25px;
background-image: url("/assets/Vector41.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.01806640625px;
top: 1.75px;
      }
.instance-2_18857 .symbol-2_18960  {
        width: 6px;
height: 6px;
position: absolute;
left: 25px;
top: -3px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_18861 .symbol-2_18964  {
        width: 24px;
height: 24px;
position: absolute;
left: 2px;
top: 2px;
      }
.instance-2_18861 .vector-2_18965  {
        width: 21.9638671875px;
height: 20.25px;
background-image: url("/assets/Vector41.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.01806640625px;
top: 1.75px;
      }
.instance-2_18862 .symbol-2_22020  {
        width: 18px;
height: 18px;
position: absolute;
left: 15px;
top: -5px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
min-width: 18px;
border-radius: 999px 999px 999px 999px;
      }
.instance-2_18862 .paragraph-2_22021  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2_18866 .symbol-2_18964  {
        width: 24px;
height: 24px;
position: absolute;
left: 2px;
top: 2px;
      }
.instance-2_18867 .symbol-2_18960  {
        width: 6px;
height: 6px;
position: absolute;
left: 25px;
top: -3px;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2_18871 .symbol-2_18964  {
        width: 24px;
height: 24px;
position: absolute;
left: 2px;
top: 2px;
      }
.instance-2_18873 .symbol-2_22020  {
        width: 18px;
height: 18px;
position: absolute;
left: 15px;
top: -5px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
min-width: 18px;
border-radius: 999px 999px 999px 999px;
      }
.instance-2_18873 .paragraph-2_22021  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2_18877 .symbol-2_18964 .symbol-2_20307 {
        width: 24px;
height: 24px;
position: absolute;
left: 2px;
top: 2px;
      }
.instance-2_18877 .symbol-2_18964  {
        width: 24px;
height: 24px;
position: absolute;
left: 2px;
top: 2px;
      }
