
.symbol-4_29027 {
        
      }
.symbol-4_29028 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 12px 8px 12px;
      }
.frame-4_29029 {
        width: auto;
height: 30px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.frame-content-4_29029 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-4_29030 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.frame-content-4_29030 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-4_29031 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-4_29032 {
        width: 20px;
height: 20px;
      }
.frame-4_29033 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-end;
background-color: transparent;
      }
.paragraph-4_29034 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29035 {
        width: 16px;
height: 16px;
      }
.vector-4_29036 {
        width: 100%;
height: 2px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.symbol-4_29037 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 12px 8px 12px;
      }
.frame-4_29038 {
        width: auto;
height: 30px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.frame-content-4_29038 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-4_29039 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.frame-content-4_29039 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-4_29040 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-4_29041 {
        width: 20px;
height: 20px;
      }
.frame-4_29042 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-end;
background-color: transparent;
      }
.paragraph-4_29043 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29044 {
        width: 6px;
height: 6px;
      }
.instance-4_29045 {
        width: 16px;
height: 16px;
      }
.vector-4_29046 {
        width: 100%;
height: 2px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.symbol-4_29047 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 12px 8px 12px;
      }
.frame-4_29048 {
        width: auto;
height: 30px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.frame-content-4_29048 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-4_29049 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.frame-content-4_29049 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-4_29050 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-4_29051 {
        width: 20px;
height: 20px;
      }
.frame-4_29052 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-end;
background-color: transparent;
      }
.paragraph-4_29053 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29054 {
        width: 24px;
height: 24px;
      }
.instance-4_29055 {
        width: 16px;
height: 16px;
      }
.vector-4_29056 {
        width: 100%;
height: 2px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.symbol-4_29057 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 12px 8px 12px;
      }
.frame-4_29058 {
        width: auto;
height: 30px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.frame-content-4_29058 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-4_29059 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.frame-content-4_29059 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-4_29060 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-4_29061 {
        width: 20px;
height: 20px;
      }
.frame-4_29062 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-end;
background-color: transparent;
      }
.paragraph-4_29063 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-4_29064 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29065 {
        width: 16px;
height: 16px;
      }
.vector-4_29066 {
        width: 100%;
height: 2px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.symbol-4_29067 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 12px 8px 12px;
      }
.frame-4_29068 {
        width: auto;
height: 30px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.frame-content-4_29068 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-4_29069 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.frame-content-4_29069 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-4_29070 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-4_29071 {
        width: 20px;
height: 20px;
      }
.frame-4_29072 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-end;
background-color: transparent;
      }
.paragraph-4_29073 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29074 {
        width: 16px;
height: 16px;
      }
.symbol-4_29075 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 12px 8px 12px;
      }
.frame-4_29076 {
        width: auto;
height: 30px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.frame-content-4_29076 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-4_29077 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.frame-content-4_29077 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-4_29078 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-4_29079 {
        width: 20px;
height: 20px;
      }
.frame-4_29080 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-end;
background-color: transparent;
      }
.paragraph-4_29081 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29082 {
        width: 6px;
height: 6px;
      }
.instance-4_29083 {
        width: 16px;
height: 16px;
      }
.symbol-4_29084 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 12px 8px 12px;
      }
.frame-4_29085 {
        width: auto;
height: 30px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.frame-content-4_29085 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-4_29086 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.frame-content-4_29086 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-4_29087 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-4_29088 {
        width: 20px;
height: 20px;
      }
.frame-4_29089 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-end;
background-color: transparent;
      }
.paragraph-4_29090 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29091 {
        width: 24px;
height: 24px;
      }
.instance-4_29092 {
        width: 16px;
height: 16px;
      }
.symbol-4_29093 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 12px 8px 12px;
      }
.frame-4_29094 {
        width: auto;
height: 30px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.frame-content-4_29094 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-4_29095 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.frame-content-4_29095 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-4_29096 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-4_29097 {
        width: 20px;
height: 20px;
      }
.frame-4_29098 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-end;
background-color: transparent;
      }
.paragraph-4_29099 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-4_29100 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29101 {
        width: 16px;
height: 16px;
      }
.symbol-4_29102 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 12px 8px 12px;
opacity: 0.6499999761581421;
      }
.frame-4_29103 {
        width: auto;
height: 30px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.frame-content-4_29103 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-4_29104 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.frame-content-4_29104 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-4_29105 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-4_29106 {
        width: 20px;
height: 20px;
      }
.frame-4_29107 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-end;
background-color: transparent;
      }
.paragraph-4_29108 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29109 {
        width: 16px;
height: 16px;
      }
.symbol-4_29110 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 12px 8px 12px;
opacity: 0.6499999761581421;
      }
.frame-4_29111 {
        width: auto;
height: 30px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.frame-content-4_29111 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-4_29112 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.frame-content-4_29112 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-4_29113 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-4_29114 {
        width: 20px;
height: 20px;
      }
.frame-4_29115 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-end;
background-color: transparent;
      }
.paragraph-4_29116 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29117 {
        width: 6px;
height: 6px;
      }
.instance-4_29118 {
        width: 16px;
height: 16px;
      }
.symbol-4_29119 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 12px 8px 12px;
opacity: 0.6499999761581421;
      }
.frame-4_29120 {
        width: auto;
height: 30px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.frame-content-4_29120 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-4_29121 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.frame-content-4_29121 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-4_29122 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-4_29123 {
        width: 20px;
height: 20px;
      }
.frame-4_29124 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-end;
background-color: transparent;
      }
.paragraph-4_29125 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29126 {
        width: 24px;
height: 24px;
      }
.instance-4_29127 {
        width: 16px;
height: 16px;
      }
.symbol-4_29128 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 12px 8px 12px;
opacity: 0.6499999761581421;
      }
.frame-4_29129 {
        width: auto;
height: 30px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.frame-content-4_29129 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-4_29130 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.frame-content-4_29130 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-4_29131 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-4_29132 {
        width: 20px;
height: 20px;
      }
.frame-4_29133 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-end;
background-color: transparent;
      }
.paragraph-4_29134 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-4_29135 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29136 {
        width: 16px;
height: 16px;
      }
.symbol-4_29137 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: center;
padding: 4px 8px 4px 8px;
border-radius: 8px 8px 8px 8px;
      }
.frame-4_29138 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-4_29138 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: center;
height: 100%;
position: relative;
      }
.frame-4_29139 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-4_29140 {
        width: 20px;
height: 20px;
      }
.frame-4_29141 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-end;
background-color: transparent;
      }
.paragraph-4_29142 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29143 {
        width: 16px;
height: 16px;
      }
.symbol-4_29144 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: center;
padding: 4px 8px 4px 8px;
border-radius: 8px 8px 8px 8px;
      }
.frame-4_29145 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-4_29145 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: center;
height: 100%;
position: relative;
      }
.frame-4_29146 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-4_29147 {
        width: 20px;
height: 20px;
      }
.frame-4_29148 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-end;
background-color: transparent;
      }
.paragraph-4_29149 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-4_29150 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29151 {
        width: 16px;
height: 16px;
      }
.symbol-4_29152 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: center;
padding: 4px 8px 4px 8px;
border-radius: 8px 8px 8px 8px;
      }
.frame-4_29153 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-4_29153 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: center;
height: 100%;
position: relative;
      }
.frame-4_29154 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-4_29155 {
        width: 20px;
height: 20px;
      }
.frame-4_29156 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-end;
background-color: transparent;
      }
.paragraph-4_29157 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29158 {
        width: 6px;
height: 6px;
      }
.instance-4_29159 {
        width: 16px;
height: 16px;
      }
.symbol-4_29160 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: center;
padding: 4px 8px 4px 8px;
border-radius: 8px 8px 8px 8px;
      }
.frame-4_29161 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-4_29161 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: center;
height: 100%;
position: relative;
      }
.frame-4_29162 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-4_29163 {
        width: 20px;
height: 20px;
      }
.frame-4_29164 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-end;
background-color: transparent;
      }
.paragraph-4_29165 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29166 {
        width: 18px;
height: 18px;
      }
.instance-4_29167 {
        width: 16px;
height: 16px;
      }
.symbol-4_29168 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: center;
padding: 4px 8px 4px 8px;
border-radius: 10px 10px 10px 10px;
      }
.frame-4_29169 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-4_29169 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: center;
height: 100%;
position: relative;
      }
.frame-4_29170 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-4_29171 {
        width: 20px;
height: 20px;
      }
.frame-4_29172 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-end;
background-color: transparent;
      }
.paragraph-4_29173 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29174 {
        width: 16px;
height: 16px;
      }
.symbol-4_29175 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: center;
padding: 4px 8px 4px 8px;
border-radius: 10px 10px 10px 10px;
      }
.frame-4_29176 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-4_29176 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: center;
height: 100%;
position: relative;
      }
.frame-4_29177 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-4_29178 {
        width: 20px;
height: 20px;
      }
.frame-4_29179 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-end;
background-color: transparent;
      }
.paragraph-4_29180 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-4_29181 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29182 {
        width: 16px;
height: 16px;
      }
.symbol-4_29183 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: center;
padding: 4px 8px 4px 8px;
border-radius: 10px 10px 10px 10px;
      }
.frame-4_29184 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-4_29184 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: center;
height: 100%;
position: relative;
      }
.frame-4_29185 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-4_29186 {
        width: 20px;
height: 20px;
      }
.frame-4_29187 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-end;
background-color: transparent;
      }
.paragraph-4_29188 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29189 {
        width: 6px;
height: 6px;
      }
.instance-4_29190 {
        width: 16px;
height: 16px;
      }
.symbol-4_29191 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: center;
padding: 4px 8px 4px 8px;
border-radius: 10px 10px 10px 10px;
      }
.frame-4_29192 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-4_29192 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: center;
height: 100%;
position: relative;
      }
.frame-4_29193 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-4_29194 {
        width: 20px;
height: 20px;
      }
.frame-4_29195 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-end;
background-color: transparent;
      }
.paragraph-4_29196 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29197 {
        width: 18px;
height: 18px;
      }
.instance-4_29198 {
        width: 16px;
height: 16px;
      }
.symbol-4_29199 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: center;
padding: 4px 8px 4px 8px;
border-radius: 10px 10px 10px 10px;
opacity: 0.6499999761581421;
      }
.frame-4_29200 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-4_29200 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: center;
height: 100%;
position: relative;
      }
.frame-4_29201 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-4_29202 {
        width: 20px;
height: 20px;
      }
.frame-4_29203 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-end;
background-color: transparent;
      }
.paragraph-4_29204 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29205 {
        width: 16px;
height: 16px;
      }
.symbol-4_29206 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: center;
padding: 4px 8px 4px 8px;
border-radius: 10px 10px 10px 10px;
opacity: 0.6499999761581421;
      }
.frame-4_29207 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-4_29207 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: center;
height: 100%;
position: relative;
      }
.frame-4_29208 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-4_29209 {
        width: 20px;
height: 20px;
      }
.frame-4_29210 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-end;
background-color: transparent;
      }
.paragraph-4_29211 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-4_29212 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29213 {
        width: 16px;
height: 16px;
      }
.symbol-4_29214 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: center;
padding: 4px 8px 4px 8px;
border-radius: 10px 10px 10px 10px;
opacity: 0.6499999761581421;
      }
.frame-4_29215 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-4_29215 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: center;
height: 100%;
position: relative;
      }
.frame-4_29216 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-4_29217 {
        width: 20px;
height: 20px;
      }
.frame-4_29218 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-end;
background-color: transparent;
      }
.paragraph-4_29219 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29220 {
        width: 6px;
height: 6px;
      }
.instance-4_29221 {
        width: 16px;
height: 16px;
      }
.symbol-4_29222 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
justify-content: center;
align-items: center;
padding: 4px 8px 4px 8px;
border-radius: 10px 10px 10px 10px;
opacity: 0.6499999761581421;
      }
.frame-4_29223 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-4_29223 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: center;
height: 100%;
position: relative;
      }
.frame-4_29224 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-4_29225 {
        width: 20px;
height: 20px;
      }
.frame-4_29226 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-end;
background-color: transparent;
      }
.paragraph-4_29227 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29228 {
        width: 18px;
height: 18px;
      }
.instance-4_29229 {
        width: 16px;
height: 16px;
      }
.component-4_29027 {
        width: fit-content;
height: fit-content;
      }


.instance-4_29044 .symbol-2_18960  {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-4_29054 .symbol-2_22032  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-width: 24px;
border-radius: 999px 999px 999px 999px;
      }
.instance-4_29054 .paragraph-2_22033  {
        text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29082 .symbol-2_18960  {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-4_29091 .symbol-2_22032  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-width: 24px;
border-radius: 999px 999px 999px 999px;
      }
.instance-4_29091 .paragraph-2_22033  {
        text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29117 .symbol-2_18960  {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-4_29126 .symbol-2_22032  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 6px 0px 6px;
min-width: 24px;
border-radius: 999px 999px 999px 999px;
      }
.instance-4_29126 .paragraph-2_22033  {
        text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29158 .symbol-2_18963  {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-4_29166 .symbol-2_22026  {
        width: 18px;
height: 18px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
min-width: 18px;
border-radius: 999px 999px 999px 999px;
      }
.instance-4_29166 .paragraph-2_22027  {
        text-align: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29189 .symbol-2_18960  {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-4_29197 .symbol-2_22022  {
        width: 18px;
height: 18px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
min-width: 18px;
border-radius: 999px 999px 999px 999px;
      }
.instance-4_29197 .paragraph-2_22023  {
        text-align: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29220 .symbol-2_18960  {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-4_29228 .symbol-2_22022  {
        width: 18px;
height: 18px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
min-width: 18px;
border-radius: 999px 999px 999px 999px;
      }
.instance-4_29228 .paragraph-2_22023  {
        text-align: center;
text-decoration: none;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29035 .symbol-4_29023  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29045 .symbol-4_29023  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29055 .symbol-4_29023  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29065 .symbol-4_29023  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29074 .symbol-4_29023  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29083 .symbol-4_29023  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29092 .symbol-4_29023  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29101 .symbol-4_29023  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29109 .symbol-4_29023  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29118 .symbol-4_29023  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29127 .symbol-4_29023  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29136 .symbol-4_29023  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29143 .symbol-4_29023  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29151 .symbol-4_29023  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29159 .symbol-4_29023  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29167 .symbol-4_29023  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29174 .symbol-4_29023  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29182 .symbol-4_29023  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29190 .symbol-4_29023  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29198 .symbol-4_29023  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29205 .symbol-4_29023  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29213 .symbol-4_29023  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29221 .symbol-4_29023  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29229 .symbol-4_29023  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29035 .vector-4_29024  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-4_29045 .vector-4_29024  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-4_29055 .vector-4_29024  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-4_29065 .vector-4_29024  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-4_29074 .vector-4_29024  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-4_29083 .vector-4_29024  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-4_29092 .vector-4_29024  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-4_29101 .vector-4_29024  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-4_29109 .vector-4_29024  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-4_29118 .vector-4_29024  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-4_29127 .vector-4_29024  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-4_29136 .vector-4_29024  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-4_29143 .vector-4_29024  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-4_29151 .vector-4_29024  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-4_29159 .vector-4_29024  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-4_29167 .vector-4_29024  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-4_29174 .vector-4_29024  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-4_29182 .vector-4_29024  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-4_29190 .vector-4_29024  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-4_29198 .vector-4_29024  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-4_29205 .vector-4_29024  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-4_29213 .vector-4_29024  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-4_29221 .vector-4_29024  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-4_29229 .vector-4_29024  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-4_29032 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29041 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29051 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29061 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29071 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29079 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29088 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29097 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29106 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29114 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29123 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29132 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29140 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29147 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29155 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29163 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29171 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29178 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29186 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29194 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29202 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29209 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29217 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29225 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29071 .vector-2_56376  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-4_29079 .vector-2_56376  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-4_29088 .vector-2_56376  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-4_29097 .vector-2_56376  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-4_29106 .vector-2_56376  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-4_29114 .vector-2_56376  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-4_29123 .vector-2_56376  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-4_29132 .vector-2_56376  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-4_29140 .vector-2_56376  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-4_29147 .vector-2_56376  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-4_29155 .vector-2_56376  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-4_29163 .vector-2_56376  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-4_29171 .vector-2_56376  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-4_29178 .vector-2_56376  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-4_29186 .vector-2_56376  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-4_29194 .vector-2_56376  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-4_29202 .vector-2_56376  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-4_29209 .vector-2_56376  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-4_29217 .vector-2_56376  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-4_29225 .vector-2_56376  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
