
.symbol-2290_53436 {
        
      }
.symbol-2290_53437 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: flex-start;
align-items: center;
padding: 0px 8px 0px 8px;
min-height: 36px;
max-height: 36px;
      }
.frame-2290_53438 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.frame-content-2290_53438 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-2290_53439 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2290_53440 {
        width: 20px;
height: 20px;
      }
.paragraph-2290_53441 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2290_53442 {
        width: 16px;
height: 16px;
      }
.vector-2290_53443 {
        width: 100%;
height: 2px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.symbol-2290_53444 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: flex-start;
align-items: center;
padding: 0px 8px 0px 8px;
min-height: 36px;
max-height: 36px;
      }
.frame-2290_53445 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.frame-content-2290_53445 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-2290_53446 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2290_53447 {
        width: 20px;
height: 20px;
      }
.paragraph-2290_53448 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2290_53449 {
        width: 6px;
height: 6px;
      }
.instance-2290_53450 {
        width: 16px;
height: 16px;
      }
.vector-2290_53451 {
        width: 100%;
height: 2px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.symbol-2290_53452 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: flex-start;
align-items: center;
padding: 0px 8px 0px 8px;
min-height: 36px;
max-height: 36px;
      }
.frame-2290_53453 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.frame-content-2290_53453 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-2290_53454 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2290_53455 {
        width: 20px;
height: 20px;
      }
.paragraph-2290_53456 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2290_53457 {
        width: 20px;
height: 20px;
      }
.instance-2290_53458 {
        width: 16px;
height: 16px;
      }
.vector-2290_53459 {
        width: 100%;
height: 2px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.symbol-2290_53460 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: flex-start;
align-items: center;
padding: 0px 8px 0px 8px;
min-height: 36px;
max-height: 36px;
      }
.frame-2290_53461 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.frame-content-2290_53461 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-2290_53462 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2290_53463 {
        width: 20px;
height: 20px;
      }
.paragraph-2290_53464 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-2290_53465 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2290_53466 {
        width: 16px;
height: 16px;
      }
.vector-2290_53467 {
        width: 100%;
height: 2px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.symbol-2290_53468 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: column;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 0px 8px 0px 8px;
min-height: 36px;
max-height: 36px;
      }
.frame-2290_53469 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.frame-content-2290_53469 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-2290_53470 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2290_53471 {
        width: 20px;
height: 20px;
      }
.paragraph-2290_53472 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2290_53473 {
        width: 16px;
height: 16px;
      }
.symbol-2290_53474 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: column;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 0px 8px 0px 8px;
min-height: 36px;
max-height: 36px;
      }
.frame-2290_53475 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.frame-content-2290_53475 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-2290_53476 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2290_53477 {
        width: 20px;
height: 20px;
      }
.paragraph-2290_53478 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2290_53479 {
        width: 6px;
height: 6px;
      }
.instance-2290_53480 {
        width: 16px;
height: 16px;
      }
.symbol-2290_53481 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: column;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 0px 8px 0px 8px;
min-height: 36px;
max-height: 36px;
      }
.frame-2290_53482 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.frame-content-2290_53482 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-2290_53483 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2290_53484 {
        width: 20px;
height: 20px;
      }
.paragraph-2290_53485 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2290_53486 {
        width: 20px;
height: 20px;
      }
.instance-2290_53487 {
        width: 16px;
height: 16px;
      }
.symbol-2290_53488 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: column;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 0px 8px 0px 8px;
min-height: 36px;
max-height: 36px;
      }
.frame-2290_53489 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.frame-content-2290_53489 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-2290_53490 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2290_53491 {
        width: 20px;
height: 20px;
      }
.paragraph-2290_53492 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-2290_53493 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2290_53494 {
        width: 16px;
height: 16px;
      }
.symbol-2290_53495 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: column;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 0px 8px 0px 8px;
min-height: 36px;
max-height: 36px;
      }
.frame-2290_53496 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.frame-content-2290_53496 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-2290_53497 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2290_53498 {
        width: 20px;
height: 20px;
      }
.paragraph-2290_53499 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2290_53500 {
        width: 16px;
height: 16px;
      }
.symbol-2290_53501 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: column;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 0px 8px 0px 8px;
min-height: 36px;
max-height: 36px;
      }
.frame-2290_53502 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.frame-content-2290_53502 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-2290_53503 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2290_53504 {
        width: 20px;
height: 20px;
      }
.paragraph-2290_53505 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2290_53506 {
        width: 6px;
height: 6px;
      }
.instance-2290_53507 {
        width: 16px;
height: 16px;
      }
.symbol-2290_53508 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 0px 8px 0px 8px;
min-height: 36px;
max-height: 36px;
      }
.frame-2290_53509 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.frame-content-2290_53509 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-2290_53510 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2290_53511 {
        width: 20px;
height: 20px;
      }
.paragraph-2290_53512 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2290_53513 {
        width: 20px;
height: 20px;
      }
.instance-2290_53514 {
        width: 16px;
height: 16px;
      }
.symbol-2290_53515 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: column;
gap: 8px;
justify-content: flex-start;
align-items: center;
padding: 0px 8px 0px 8px;
min-height: 36px;
max-height: 36px;
      }
.frame-2290_53516 {
        width: auto;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.frame-content-2290_53516 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: flex-start;
height: 100%;
position: relative;
      }
.frame-2290_53517 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: center;
      }
.instance-2290_53518 {
        width: 20px;
height: 20px;
      }
.frame-2290_53519 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-end;
background-color: transparent;
      }
.paragraph-2290_53520 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-2290_53521 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2290_53522 {
        width: 16px;
height: 16px;
      }
.symbol-2290_53523 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 8px 8px 8px 8px;
min-height: 36px;
max-height: 36px;
border-radius: 10px 10px 10px 10px;
      }
.frame-2290_53524 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 2px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-2290_53525 {
        width: 20px;
height: 20px;
      }
.frame-2290_53526 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-end;
padding: 0px 2px 0px 2px;
      }
.paragraph-2290_53527 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2290_53528 {
        width: 16px;
height: 16px;
      }
.symbol-2290_53529 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
gap: 6px;
justify-content: center;
align-items: center;
padding: 8px 8px 8px 8px;
min-height: 36px;
max-height: 36px;
border-radius: 10px 10px 10px 10px;
      }
.frame-2290_53530 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 2px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-2290_53531 {
        width: 20px;
height: 20px;
      }
.frame-2290_53532 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 2px 0px 2px;
      }
.paragraph-2290_53533 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-2290_53534 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2290_53535 {
        width: 16px;
height: 16px;
      }
.symbol-2290_53536 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 8px 8px 8px 8px;
min-height: 36px;
max-height: 36px;
border-radius: 10px 10px 10px 10px;
      }
.frame-2290_53537 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 2px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-2290_53538 {
        width: 20px;
height: 20px;
      }
.frame-2290_53539 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-end;
padding: 0px 2px 0px 2px;
      }
.paragraph-2290_53540 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-2290_53541 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 6px;
justify-content: flex-start;
align-items: center;
      }
.instance-2290_53542 {
        width: 6px;
height: 6px;
      }
.instance-2290_53543 {
        width: 16px;
height: 16px;
      }
.symbol-2290_53544 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 8px 8px 8px 8px;
min-height: 36px;
max-height: 36px;
border-radius: 10px 10px 10px 10px;
      }
.frame-2290_53545 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 2px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-2290_53546 {
        width: 20px;
height: 20px;
      }
.frame-2290_53547 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: flex-start;
align-items: flex-end;
padding: 0px 2px 0px 2px;
      }
.paragraph-2290_53548 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-2290_53549 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 6px;
justify-content: flex-start;
align-items: center;
      }
.instance-2290_53550 {
        width: 20px;
height: 20px;
      }
.instance-2290_53551 {
        width: 16px;
height: 16px;
      }
.symbol-2290_53552 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 8px 8px 8px 8px;
min-height: 36px;
max-height: 36px;
border-radius: 10px 10px 10px 10px;
      }
.frame-2290_53553 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 2px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-2290_53554 {
        width: 20px;
height: 20px;
      }
.frame-2290_53555 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 2px 0px 2px;
      }
.paragraph-2290_53556 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2290_53557 {
        width: 16px;
height: 16px;
      }
.symbol-2290_53558 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 6px;
justify-content: center;
align-items: center;
padding: 8px 8px 8px 8px;
min-height: 36px;
max-height: 36px;
border-radius: 10px 10px 10px 10px;
      }
.frame-2290_53559 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 2px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-2290_53560 {
        width: 20px;
height: 20px;
      }
.frame-2290_53561 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 2px 0px 2px;
      }
.paragraph-2290_53562 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-2290_53563 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2290_53564 {
        width: 16px;
height: 16px;
      }
.symbol-2290_53565 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 8px 8px 8px 8px;
min-height: 36px;
max-height: 36px;
border-radius: 10px 10px 10px 10px;
      }
.frame-2290_53566 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 2px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-2290_53567 {
        width: 20px;
height: 20px;
      }
.frame-2290_53568 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 2px 0px 2px;
      }
.paragraph-2290_53569 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-2290_53570 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 6px;
justify-content: flex-start;
align-items: center;
      }
.instance-2290_53571 {
        width: 6px;
height: 6px;
      }
.instance-2290_53572 {
        width: 16px;
height: 16px;
      }
.symbol-2290_53573 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 8px 8px 8px 8px;
min-height: 36px;
max-height: 36px;
border-radius: 10px 10px 10px 10px;
      }
.frame-2290_53574 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 2px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-2290_53575 {
        width: 20px;
height: 20px;
      }
.frame-2290_53576 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 2px 0px 2px;
      }
.paragraph-2290_53577 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-2290_53578 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 6px;
justify-content: flex-start;
align-items: center;
      }
.instance-2290_53579 {
        width: 20px;
height: 20px;
      }
.instance-2290_53580 {
        width: 16px;
height: 16px;
      }
.symbol-2290_53581 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 8px 8px 8px 8px;
min-height: 36px;
max-height: 36px;
border-radius: 10px 10px 10px 10px;
      }
.frame-2290_53582 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 2px;
justify-content: flex-start;
align-items: center;
      }
.instance-2290_53583 {
        width: 20px;
height: 20px;
      }
.frame-2290_53584 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 2px 0px 2px;
      }
.paragraph-2290_53585 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2290_53586 {
        width: 16px;
height: 16px;
      }
.symbol-2290_53587 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 6px;
justify-content: center;
align-items: center;
padding: 8px 8px 8px 8px;
min-height: 36px;
max-height: 36px;
border-radius: 10px 10px 10px 10px;
      }
.frame-2290_53588 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 2px;
justify-content: flex-start;
align-items: center;
background-color: transparent;
      }
.instance-2290_53589 {
        width: 20px;
height: 20px;
      }
.frame-2290_53590 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 2px 0px 2px;
      }
.paragraph-2290_53591 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-2290_53592 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2290_53593 {
        width: 16px;
height: 16px;
      }
.symbol-2290_53594 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 8px 8px 8px 8px;
min-height: 36px;
max-height: 36px;
border-radius: 10px 10px 10px 10px;
      }
.frame-2290_53595 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 2px;
justify-content: flex-start;
align-items: center;
      }
.instance-2290_53596 {
        width: 20px;
height: 20px;
      }
.frame-2290_53597 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 2px 0px 2px;
      }
.paragraph-2290_53598 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-2290_53599 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 6px;
justify-content: flex-start;
align-items: center;
      }
.instance-2290_53600 {
        width: 6px;
height: 6px;
      }
.instance-2290_53601 {
        width: 16px;
height: 16px;
      }
.symbol-2290_53602 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 8px 8px 8px 8px;
min-height: 36px;
max-height: 36px;
border-radius: 10px 10px 10px 10px;
      }
.frame-2290_53603 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 2px;
justify-content: flex-start;
align-items: center;
      }
.instance-2290_53604 {
        width: 20px;
height: 20px;
      }
.frame-2290_53605 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 2px 0px 2px;
      }
.paragraph-2290_53606 {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-2290_53607 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 6px;
justify-content: flex-start;
align-items: center;
      }
.instance-2290_53608 {
        width: 20px;
height: 20px;
      }
.instance-2290_53609 {
        width: 16px;
height: 16px;
      }
.component-2290_53436 {
        width: fit-content;
height: fit-content;
      }


.instance-2290_53440 .symbol-1588_46023 .symbol-2281_51970 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53440 .vector-1588_46024  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2290_53440 .symbol-1588_46023 .symbol-2281_52642 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53440 .symbol-1588_46023 .symbol-2281_52091 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53440 .symbol-1588_46023 .symbol-2281_52521 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53440 .symbol-1588_46023 .symbol-2281_52745 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53440 .symbol-1588_46023  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53442 .symbol-1588_46013  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53442 .vector-1588_46014  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-2290_53447 .symbol-1588_46023 .symbol-2281_51970 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53447 .vector-1588_46024  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2290_53447 .symbol-1588_46023 .symbol-2281_52642 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53447 .symbol-1588_46023 .symbol-2281_52091 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53447 .symbol-1588_46023 .symbol-2281_52521 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53447 .symbol-1588_46023 .symbol-2281_52745 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53447 .symbol-1588_46023  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53449 .symbol-2231_5100  {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2290_53450 .symbol-1588_46013  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53450 .vector-1588_46014  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-2290_53455 .symbol-1588_46023 .symbol-2281_51970 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53455 .vector-1588_46024  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2290_53455 .symbol-1588_46023 .symbol-2281_52642 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53455 .symbol-1588_46023 .symbol-2281_52091 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53455 .symbol-1588_46023 .symbol-2281_52521 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53455 .symbol-1588_46023 .symbol-2281_52745 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53455 .symbol-1588_46023  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53457 .paragraph-2231_5124  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2290_53457 .symbol-2231_5123  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
min-height: 20px;
min-width: 20px;
border-radius: 999px 999px 999px 999px;
      }
.instance-2290_53458 .symbol-1588_46013  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53458 .vector-1588_46014  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-2290_53463 .symbol-1588_46023 .symbol-2281_51970 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53463 .vector-1588_46024  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2290_53463 .symbol-1588_46023 .symbol-2281_52642 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53463 .symbol-1588_46023 .symbol-2281_52091 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53463 .symbol-1588_46023 .symbol-2281_52521 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53463 .symbol-1588_46023 .symbol-2281_52745 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53463 .symbol-1588_46023  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53466 .symbol-1588_46013  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53466 .vector-1588_46014  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-2290_53471 .symbol-1588_46023 .symbol-2281_51970 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53471 .vector-1588_46024  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2290_53471 .symbol-1588_46023 .symbol-2281_52642 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53471 .symbol-1588_46023 .symbol-2281_52091 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53471 .symbol-1588_46023 .symbol-2281_52521 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53471 .symbol-1588_46023 .symbol-2281_52745 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53471 .symbol-1588_46023  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53473 .symbol-1588_46013  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53473 .vector-1588_46014  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-2290_53477 .symbol-1588_46023 .symbol-2281_51970 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53477 .vector-1588_46024  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2290_53477 .symbol-1588_46023 .symbol-2281_52642 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53477 .symbol-1588_46023 .symbol-2281_52091 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53477 .symbol-1588_46023 .symbol-2281_52521 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53477 .symbol-1588_46023 .symbol-2281_52745 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53477 .symbol-1588_46023  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53479 .symbol-2231_5100  {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2290_53480 .symbol-1588_46013  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53480 .vector-1588_46014  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-2290_53484 .symbol-1588_46023 .symbol-2281_51970 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53484 .vector-1588_46024  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2290_53484 .symbol-1588_46023 .symbol-2281_52642 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53484 .symbol-1588_46023 .symbol-2281_52091 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53484 .symbol-1588_46023 .symbol-2281_52521 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53484 .symbol-1588_46023 .symbol-2281_52745 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53484 .symbol-1588_46023  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53486 .paragraph-2231_5124  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2290_53486 .symbol-2231_5123  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
min-height: 20px;
min-width: 20px;
border-radius: 999px 999px 999px 999px;
      }
.instance-2290_53487 .symbol-1588_46013  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53487 .vector-1588_46014  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-2290_53491 .symbol-1588_46023 .symbol-2281_51970 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53491 .vector-1588_46024  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2290_53491 .symbol-1588_46023 .symbol-2281_52642 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53491 .symbol-1588_46023 .symbol-2281_52091 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53491 .symbol-1588_46023 .symbol-2281_52521 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53491 .symbol-1588_46023 .symbol-2281_52745 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53491 .symbol-1588_46023  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53494 .symbol-1588_46013  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53494 .vector-1588_46014  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-2290_53498 .symbol-1588_46023 .symbol-2281_51970 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53498 .vector-1588_46024  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2290_53498 .symbol-1588_46023 .symbol-2281_52642 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53498 .symbol-1588_46023 .symbol-2281_52091 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53498 .symbol-1588_46023 .symbol-2281_52521 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53498 .symbol-1588_46023 .symbol-2281_52745 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53498 .symbol-1588_46023  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53500 .symbol-1588_46013  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53500 .vector-1588_46014  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-2290_53504 .symbol-1588_46023 .symbol-2281_51970 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53504 .vector-1588_46024  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2290_53504 .symbol-1588_46023 .symbol-2281_52642 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53504 .symbol-1588_46023 .symbol-2281_52091 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53504 .symbol-1588_46023 .symbol-2281_52521 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53504 .symbol-1588_46023 .symbol-2281_52745 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53504 .symbol-1588_46023  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53506 .symbol-2231_5100  {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2290_53507 .symbol-1588_46013  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53507 .vector-1588_46014  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-2290_53511 .symbol-1588_46023 .symbol-2281_51970 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53511 .vector-1588_46024  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2290_53511 .symbol-1588_46023 .symbol-2281_52642 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53511 .symbol-1588_46023 .symbol-2281_52091 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53511 .symbol-1588_46023 .symbol-2281_52521 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53511 .symbol-1588_46023 .symbol-2281_52745 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53511 .symbol-1588_46023  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53513 .paragraph-2231_5134  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2290_53513 .symbol-2231_5133  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 20px;
min-width: 20px;
border-radius: 999px 999px 999px 999px;
      }
.instance-2290_53514 .symbol-1588_46013  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53514 .vector-1588_46014  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-2290_53518 .symbol-1588_46023 .symbol-2281_51970 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53518 .vector-1588_46024  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2290_53518 .symbol-1588_46023 .symbol-2281_52642 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53518 .symbol-1588_46023 .symbol-2281_52091 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53518 .symbol-1588_46023 .symbol-2281_52521 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53518 .symbol-1588_46023 .symbol-2281_52745 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53518 .symbol-1588_46023  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53522 .symbol-1588_46013  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53522 .vector-1588_46014  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-2290_53525 .symbol-1588_46023  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53525 .vector-1588_46024  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2290_53528 .symbol-1588_46013  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53528 .vector-1588_46014  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-2290_53531 .symbol-1588_46023  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53531 .vector-1588_46024  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2290_53535 .symbol-1588_46013  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53535 .vector-1588_46014  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-2290_53538 .symbol-1588_46023  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53538 .vector-1588_46024  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2290_53542 .symbol-2231_5103  {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2290_53543 .symbol-1588_46013  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53543 .vector-1588_46014  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-2290_53546 .symbol-1588_46023  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53546 .vector-1588_46024  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2290_53550 .symbol-2231_5127  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
min-height: 20px;
min-width: 20px;
border-radius: 999px 999px 999px 999px;
      }
.instance-2290_53550 .paragraph-2231_5128  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2290_53551 .symbol-1588_46013  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53551 .vector-1588_46014  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-2290_53554 .symbol-1588_46023  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53554 .vector-1588_46024  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2290_53557 .symbol-1588_46013  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53557 .vector-1588_46014  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-2290_53560 .symbol-1588_46023  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53560 .vector-1588_46024  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2290_53564 .symbol-1588_46013  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53564 .vector-1588_46014  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-2290_53567 .symbol-1588_46023  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53567 .vector-1588_46024  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2290_53571 .symbol-2231_5100  {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2290_53572 .symbol-1588_46013  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53572 .vector-1588_46014  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-2290_53575 .symbol-1588_46023  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53575 .vector-1588_46024  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2290_53579 .paragraph-2231_5124  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2290_53579 .symbol-2231_5123  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
min-height: 20px;
min-width: 20px;
border-radius: 999px 999px 999px 999px;
      }
.instance-2290_53580 .symbol-1588_46013  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53580 .vector-1588_46014  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-2290_53583 .symbol-1588_46023  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53583 .vector-1588_46024  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2290_53586 .symbol-1588_46013  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53586 .vector-1588_46014  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-2290_53589 .symbol-1588_46023  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53589 .vector-1588_46024  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2290_53593 .symbol-1588_46013  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53593 .vector-1588_46014  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-2290_53596 .symbol-1588_46023  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53596 .vector-1588_46024  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2290_53600 .symbol-2231_5100  {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
      }
.instance-2290_53601 .symbol-1588_46013  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53601 .vector-1588_46014  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
.instance-2290_53604 .symbol-1588_46023  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53604 .vector-1588_46024  {
        width: 13.4697265625px;
height: 16.79998779296875px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2290_53608 .paragraph-2231_5134  {
        text-align: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2290_53608 .symbol-2231_5133  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 4.5px 0px 4.5px;
min-height: 20px;
min-width: 20px;
border-radius: 999px 999px 999px 999px;
      }
.instance-2290_53609 .symbol-1588_46013  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2290_53609 .vector-1588_46014  {
        width: 11.013671875px;
height: 6.3466644287109375px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4921875px;
top: 4.82666015625px;
      }
