
.symbol-2_56377 {
        
      }
.symbol-2_56378 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.paragraph-2_56379 {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_56380 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 8px 8px 8px 8px;
      }
.paragraph-2_56381 {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_56382 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 8px 8px 8px 8px;
      }
.paragraph-2_56383 {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_56384 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.paragraph-2_56385 {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_56386 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.paragraph-2_56387 {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_56388 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 10px 10px 10px 10px;
      }
.paragraph-2_56389 {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_56390 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 10px 10px 10px 10px;
      }
.paragraph-2_56391 {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_56392 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.paragraph-2_56393 {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_56394 {
        width: 36px;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 6px 6px 6px;
min-width: 36px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56395 {
        width: 24px;
height: 24px;
      }
.symbol-2_56396 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
min-width: 32px;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_56397 {
        width: 20px;
height: 20px;
      }
.symbol-2_56398 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
min-width: 32px;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_56399 {
        width: 20px;
height: 20px;
      }
.symbol-2_56400 {
        width: 36px;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 6px 6px 6px;
min-width: 36px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56401 {
        width: 24px;
height: 24px;
      }
.symbol-2_56402 {
        width: 36px;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 6px 6px 6px;
min-width: 36px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56403 {
        width: 24px;
height: 24px;
      }
.symbol-2_56404 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
min-width: 32px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56405 {
        width: 20px;
height: 20px;
      }
.symbol-2_56406 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
min-width: 32px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56407 {
        width: 20px;
height: 20px;
      }
.symbol-2_56408 {
        width: 36px;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 6px 6px 6px;
min-width: 36px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56409 {
        width: 24px;
height: 24px;
      }
.symbol-2_56410 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56411 {
        width: 24px;
height: 24px;
      }
.paragraph-2_56412 {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_56413 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_56414 {
        width: 20px;
height: 20px;
      }
.paragraph-2_56415 {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_56416 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_56417 {
        width: 20px;
height: 20px;
      }
.paragraph-2_56418 {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_56419 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56420 {
        width: 24px;
height: 24px;
      }
.paragraph-2_56421 {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_56422 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56423 {
        width: 24px;
height: 24px;
      }
.paragraph-2_56424 {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_56425 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56426 {
        width: 20px;
height: 20px;
      }
.paragraph-2_56427 {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_56428 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56429 {
        width: 20px;
height: 20px;
      }
.paragraph-2_56430 {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.symbol-2_56431 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_56432 {
        width: 24px;
height: 24px;
      }
.paragraph-2_56433 {
        text-align: center;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.component-2_56377 {
        width: fit-content;
height: fit-content;
      }


.instance-2_56397 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_56399 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_56405 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_56407 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_56414 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_56417 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_56426 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_56429 .symbol-2_56375  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_56397 .vector-2_56376  {
        width: 13.4697265625px;
height: 16.79998779296875px;
background-image: url("/assets/Vector33.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2_56399 .vector-2_56376  {
        width: 13.4697265625px;
height: 16.79998779296875px;
background-image: url("/assets/Vector33.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2_56405 .vector-2_56376  {
        width: 13.4697265625px;
height: 16.79998779296875px;
background-image: url("/assets/Vector33.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2_56407 .vector-2_56376  {
        width: 13.4697265625px;
height: 16.79998779296875px;
background-image: url("/assets/Vector33.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2_56414 .vector-2_56376  {
        width: 13.4697265625px;
height: 16.79998779296875px;
background-image: url("/assets/Vector33.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2_56417 .vector-2_56376  {
        width: 13.4697265625px;
height: 16.79998779296875px;
background-image: url("/assets/Vector33.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2_56426 .vector-2_56376  {
        width: 13.4697265625px;
height: 16.79998779296875px;
background-image: url("/assets/Vector33.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2_56429 .vector-2_56376  {
        width: 13.4697265625px;
height: 16.79998779296875px;
background-image: url("/assets/Vector33.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3px;
top: 1.552734375px;
      }
.instance-2_56395 .symbol-2_56372  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-2_56401 .symbol-2_56372  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-2_56403 .symbol-2_56372  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-2_56409 .symbol-2_56372  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-2_56411 .symbol-2_56372  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-2_56420 .symbol-2_56372  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-2_56423 .symbol-2_56372  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-2_56432 .symbol-2_56372  {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.instance-2_56395 .vector-2_56373  {
        width: 16px;
height: 20px;
background-image: url("/assets/Vector34.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 2px;
      }
.instance-2_56401 .vector-2_56373  {
        width: 16px;
height: 20px;
background-image: url("/assets/Vector34.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 2px;
      }
.instance-2_56403 .vector-2_56373  {
        width: 16px;
height: 20px;
background-image: url("/assets/Vector34.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 2px;
      }
.instance-2_56409 .vector-2_56373  {
        width: 16px;
height: 20px;
background-image: url("/assets/Vector34.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 2px;
      }
.instance-2_56411 .vector-2_56373  {
        width: 16px;
height: 20px;
background-image: url("/assets/Vector34.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 2px;
      }
.instance-2_56420 .vector-2_56373  {
        width: 16px;
height: 20px;
background-image: url("/assets/Vector34.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 2px;
      }
.instance-2_56423 .vector-2_56373  {
        width: 16px;
height: 20px;
background-image: url("/assets/Vector34.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 2px;
      }
.instance-2_56432 .vector-2_56373  {
        width: 16px;
height: 20px;
background-image: url("/assets/Vector34.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4px;
top: 2px;
      }
