
.symbol-2_27228 {
        
      }
.symbol-2_27229 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 8px 10px 8px 10px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_27230 {
        width: 20px;
height: 20px;
      }
.instance-2_27231 {
        display: none;
width: 24px;
height: 24px;
      }
.frame-2_27232 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
      }
.paragraph-2_27233 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2_27234 {
        width: 20px;
height: 20px;
      }
.symbol-2_27235 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 8px 10px 8px 10px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_27236 {
        width: 20px;
height: 20px;
      }
.instance-2_27237 {
        display: none;
width: 24px;
height: 24px;
      }
.frame-2_27238 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
      }
.paragraph-2_27239 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2_27240 {
        width: 20px;
height: 20px;
      }
.symbol-2_27241 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 6px 8px 6px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_27242 {
        width: 20px;
height: 20px;
      }
.instance-2_27243 {
        display: none;
width: 20px;
height: 20px;
      }
.frame-2_27244 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
      }
.paragraph-2_27245 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2_27246 {
        width: 20px;
height: 20px;
      }
.symbol-2_27247 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 6px 8px 6px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_27248 {
        width: 20px;
height: 20px;
      }
.instance-2_27249 {
        display: none;
width: 20px;
height: 20px;
      }
.frame-2_27250 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
      }
.paragraph-2_27251 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2_27252 {
        width: 20px;
height: 20px;
      }
.symbol-2_27253 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 6px 4px 6px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_27254 {
        width: 16px;
height: 16px;
      }
.instance-2_27255 {
        display: none;
width: 16px;
height: 16px;
      }
.frame-2_27256 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
      }
.paragraph-2_27257 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2_27258 {
        width: 16px;
height: 16px;
      }
.symbol-2_27259 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 6px 4px 6px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_27260 {
        width: 16px;
height: 16px;
      }
.instance-2_27261 {
        display: none;
width: 16px;
height: 16px;
      }
.frame-2_27262 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
      }
.paragraph-2_27263 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2_27264 {
        width: 16px;
height: 16px;
      }
.symbol-2_27265 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 8px 10px 8px 10px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_27266 {
        width: 20px;
height: 20px;
      }
.instance-2_27267 {
        display: none;
width: 24px;
height: 24px;
      }
.frame-2_27268 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
      }
.paragraph-2_27269 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2_27270 {
        width: 20px;
height: 20px;
      }
.symbol-2_27271 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 8px 10px 8px 10px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_27272 {
        width: 20px;
height: 20px;
      }
.instance-2_27273 {
        display: none;
width: 24px;
height: 24px;
      }
.frame-2_27274 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
      }
.paragraph-2_27275 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2_27276 {
        width: 20px;
height: 20px;
      }
.symbol-2_27277 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 6px 8px 6px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_27278 {
        width: 20px;
height: 20px;
      }
.instance-2_27279 {
        display: none;
width: 20px;
height: 20px;
      }
.frame-2_27280 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
      }
.paragraph-2_27281 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2_27282 {
        width: 20px;
height: 20px;
      }
.symbol-2_27283 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 6px 8px 6px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_27284 {
        width: 20px;
height: 20px;
      }
.instance-2_27285 {
        display: none;
width: 20px;
height: 20px;
      }
.frame-2_27286 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
      }
.paragraph-2_27287 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2_27288 {
        width: 20px;
height: 20px;
      }
.symbol-2_27289 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 6px 4px 6px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_27290 {
        width: 16px;
height: 16px;
      }
.instance-2_27291 {
        display: none;
width: 16px;
height: 16px;
      }
.frame-2_27292 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
      }
.paragraph-2_27293 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2_27294 {
        width: 16px;
height: 16px;
      }
.symbol-2_27295 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 6px 4px 6px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_27296 {
        width: 16px;
height: 16px;
      }
.instance-2_27297 {
        display: none;
width: 16px;
height: 16px;
      }
.frame-2_27298 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
      }
.paragraph-2_27299 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2_27300 {
        width: 16px;
height: 16px;
      }
.symbol-2_27301 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 8px 10px 8px 10px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_27302 {
        width: 20px;
height: 20px;
      }
.instance-2_27303 {
        display: none;
width: 24px;
height: 24px;
      }
.frame-2_27304 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
      }
.paragraph-2_27305 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2_27306 {
        width: 20px;
height: 20px;
      }
.symbol-2_27307 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 6px 8px 6px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_27308 {
        width: 20px;
height: 20px;
      }
.instance-2_27309 {
        display: none;
width: 20px;
height: 20px;
      }
.frame-2_27310 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
      }
.paragraph-2_27311 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2_27312 {
        width: 20px;
height: 20px;
      }
.symbol-2_27313 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 6px 4px 6px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_27314 {
        width: 16px;
height: 16px;
      }
.instance-2_27315 {
        display: none;
width: 16px;
height: 16px;
      }
.frame-2_27316 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
      }
.paragraph-2_27317 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2_27318 {
        width: 16px;
height: 16px;
      }
.symbol-2_27319 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 8px 10px 8px 10px;
border-radius: 10px 10px 10px 10px;
      }
.instance-2_27320 {
        width: 20px;
height: 20px;
      }
.instance-2_27321 {
        display: none;
width: 24px;
height: 24px;
      }
.frame-2_27322 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
      }
.paragraph-2_27323 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2_27324 {
        width: 20px;
height: 20px;
      }
.symbol-2_27325 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 6px 8px 6px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-2_27326 {
        width: 20px;
height: 20px;
      }
.instance-2_27327 {
        display: none;
width: 20px;
height: 20px;
      }
.frame-2_27328 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
      }
.paragraph-2_27329 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2_27330 {
        width: 20px;
height: 20px;
      }
.symbol-2_27331 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 6px 4px 6px;
border-radius: 6px 6px 6px 6px;
      }
.instance-2_27332 {
        width: 16px;
height: 16px;
      }
.instance-2_27333 {
        display: none;
width: 16px;
height: 16px;
      }
.frame-2_27334 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
      }
.paragraph-2_27335 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-2_27336 {
        width: 16px;
height: 16px;
      }
.component-2_27228 {
        width: fit-content;
height: fit-content;
      }


.instance-2_27230 .symbol-2_25174  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27230 .vector-2_25175  {
        width: 16.7998046875px;
height: 16.800003051757812px;
background-image: url("/assets/Vector10.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.5999755859375px;
top: 1.60009765625px;
      }
.instance-2_27231 .symbol-2_27100  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.instance-2_27231  .stroke-wrapper-2_27100 {
        position: relative;
width: 24px;
height: 24px;
flex-shrink: 0;
      }
.instance-2_27231  .stroke-2_27100 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27231 .instance-2_27101  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_27236 .symbol-2_25174  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27236 .vector-2_25175  {
        width: 16.7998046875px;
height: 16.800003051757812px;
background-image: url("/assets/Vector10.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.5999755859375px;
top: 1.60009765625px;
      }
.instance-2_27237 .symbol-2_27100  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.instance-2_27237  .stroke-wrapper-2_27100 {
        position: relative;
width: 24px;
height: 24px;
flex-shrink: 0;
      }
.instance-2_27237  .stroke-2_27100 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27237 .instance-2_27101  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_27242 .symbol-2_25174  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27242 .vector-2_25175  {
        width: 16.7998046875px;
height: 16.800003051757812px;
background-image: url("/assets/Vector10.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.5999755859375px;
top: 1.60009765625px;
      }
.instance-2_27243 .symbol-2_27100  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.instance-2_27243  .stroke-wrapper-2_27100 {
        position: relative;
width: 20px;
height: 20px;
flex-shrink: 0;
      }
.instance-2_27243  .stroke-2_27100 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27243 .instance-2_27101  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_27243 .instance-2_27102  {
        display: none;
width: 6px;
height: 6px;
      }
.instance-2_27243 .instance-2_27103  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_27248 .symbol-2_25174  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27248 .vector-2_25175  {
        width: 16.7998046875px;
height: 16.800003051757812px;
background-image: url("/assets/Vector10.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.5999755859375px;
top: 1.60009765625px;
      }
.instance-2_27249 .symbol-2_27100  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.instance-2_27249  .stroke-wrapper-2_27100 {
        position: relative;
width: 20px;
height: 20px;
flex-shrink: 0;
      }
.instance-2_27249  .stroke-2_27100 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27249 .instance-2_27101  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_27249 .instance-2_27102  {
        display: none;
width: 6px;
height: 6px;
      }
.instance-2_27249 .instance-2_27103  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_27255 .symbol-2_27097  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.instance-2_27255  .stroke-wrapper-2_27097 {
        position: relative;
width: 16px;
height: 16px;
flex-shrink: 0;
      }
.instance-2_27255  .stroke-2_27097 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27261 .symbol-2_27097  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.instance-2_27261  .stroke-wrapper-2_27097 {
        position: relative;
width: 16px;
height: 16px;
flex-shrink: 0;
      }
.instance-2_27261  .stroke-2_27097 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27266 .symbol-2_25174  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27266 .vector-2_25175  {
        width: 16.7998046875px;
height: 16.800003051757812px;
background-image: url("/assets/Vector10.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.5999755859375px;
top: 1.60009765625px;
      }
.instance-2_27267 .symbol-2_27100  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.instance-2_27267  .stroke-wrapper-2_27100 {
        position: relative;
width: 24px;
height: 24px;
flex-shrink: 0;
      }
.instance-2_27267  .stroke-2_27100 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27267 .instance-2_27101  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_27272 .symbol-2_25174  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27272 .vector-2_25175  {
        width: 16.7998046875px;
height: 16.800003051757812px;
background-image: url("/assets/Vector10.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.5999755859375px;
top: 1.60009765625px;
      }
.instance-2_27273 .symbol-2_27100  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.instance-2_27273  .stroke-wrapper-2_27100 {
        position: relative;
width: 24px;
height: 24px;
flex-shrink: 0;
      }
.instance-2_27273  .stroke-2_27100 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27273 .instance-2_27101  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_27278 .symbol-2_25174  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27278 .vector-2_25175  {
        width: 16.7998046875px;
height: 16.800003051757812px;
background-image: url("/assets/Vector10.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.5999755859375px;
top: 1.60009765625px;
      }
.instance-2_27279 .symbol-2_27100  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.instance-2_27279  .stroke-wrapper-2_27100 {
        position: relative;
width: 20px;
height: 20px;
flex-shrink: 0;
      }
.instance-2_27279  .stroke-2_27100 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27279 .instance-2_27101  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_27279 .instance-2_27102  {
        display: none;
width: 6px;
height: 6px;
      }
.instance-2_27279 .instance-2_27103  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_27284 .symbol-2_25174  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27284 .vector-2_25175  {
        width: 16.7998046875px;
height: 16.800003051757812px;
background-image: url("/assets/Vector10.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.5999755859375px;
top: 1.60009765625px;
      }
.instance-2_27285 .symbol-2_27100  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.instance-2_27285  .stroke-wrapper-2_27100 {
        position: relative;
width: 20px;
height: 20px;
flex-shrink: 0;
      }
.instance-2_27285  .stroke-2_27100 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27285 .instance-2_27101  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_27285 .instance-2_27102  {
        display: none;
width: 6px;
height: 6px;
      }
.instance-2_27285 .instance-2_27103  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_27291 .symbol-2_27097  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.instance-2_27291  .stroke-wrapper-2_27097 {
        position: relative;
width: 16px;
height: 16px;
flex-shrink: 0;
      }
.instance-2_27291  .stroke-2_27097 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27297 .symbol-2_27097  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
      }
.instance-2_27297  .stroke-wrapper-2_27097 {
        position: relative;
width: 16px;
height: 16px;
flex-shrink: 0;
      }
.instance-2_27297  .stroke-2_27097 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27302 .symbol-2_25174  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27302 .vector-2_25175  {
        width: 16.7998046875px;
height: 16.800003051757812px;
background-image: url("/assets/Vector10.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.5999755859375px;
top: 1.60009765625px;
      }
.instance-2_27303 .symbol-2_27100  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
opacity: 0.5;
      }
.instance-2_27303  .stroke-wrapper-2_27100 {
        position: relative;
width: 24px;
height: 24px;
flex-shrink: 0;
      }
.instance-2_27303  .stroke-2_27100 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
opacity: 0.5;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27303 .instance-2_27101  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_27308 .symbol-2_25174  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27308 .vector-2_25175  {
        width: 16.7998046875px;
height: 16.800003051757812px;
background-image: url("/assets/Vector10.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.5999755859375px;
top: 1.60009765625px;
      }
.instance-2_27309 .symbol-2_27100  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
opacity: 0.5;
      }
.instance-2_27309  .stroke-wrapper-2_27100 {
        position: relative;
width: 20px;
height: 20px;
flex-shrink: 0;
      }
.instance-2_27309  .stroke-2_27100 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
opacity: 0.5;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27309 .instance-2_27101  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_27309 .instance-2_27102  {
        display: none;
width: 6px;
height: 6px;
      }
.instance-2_27309 .instance-2_27103  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_27315 .symbol-2_27097  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
opacity: 0.5;
      }
.instance-2_27315  .stroke-wrapper-2_27097 {
        position: relative;
width: 16px;
height: 16px;
flex-shrink: 0;
      }
.instance-2_27315  .stroke-2_27097 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
opacity: 0.5;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27320 .symbol-2_25174  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27320 .vector-2_25175  {
        width: 16.7998046875px;
height: 16.800003051757812px;
background-image: url("/assets/Vector10.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.5999755859375px;
top: 1.60009765625px;
      }
.instance-2_27321 .symbol-2_27100  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
opacity: 0.5;
      }
.instance-2_27321  .stroke-wrapper-2_27100 {
        position: relative;
width: 24px;
height: 24px;
flex-shrink: 0;
      }
.instance-2_27321  .stroke-2_27100 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
opacity: 0.5;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27321 .instance-2_27101  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_27326 .symbol-2_25174  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27326 .vector-2_25175  {
        width: 16.7998046875px;
height: 16.800003051757812px;
background-image: url("/assets/Vector10.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.5999755859375px;
top: 1.60009765625px;
      }
.instance-2_27327 .symbol-2_27100  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
opacity: 0.5;
      }
.instance-2_27327  .stroke-wrapper-2_27100 {
        position: relative;
width: 20px;
height: 20px;
flex-shrink: 0;
      }
.instance-2_27327  .stroke-2_27100 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
opacity: 0.5;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27327 .instance-2_27101  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_27327 .instance-2_27102  {
        display: none;
width: 6px;
height: 6px;
      }
.instance-2_27327 .instance-2_27103  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-2_27333 .symbol-2_27097  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("/assets/59bfba4547fffd860f08dd8186f25dca3cc6bed1.png");
opacity: 0.5;
      }
.instance-2_27333  .stroke-wrapper-2_27097 {
        position: relative;
width: 16px;
height: 16px;
flex-shrink: 0;
      }
.instance-2_27333  .stroke-2_27097 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
opacity: 0.5;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-2_27254 .symbol-2_27339  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27260 .symbol-2_27339  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27290 .symbol-2_27339  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27296 .symbol-2_27339  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27314 .symbol-2_27339  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27332 .symbol-2_27339  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27254 .vector-2_27340  {
        width: 13.6796875px;
height: 13.67999267578125px;
background-image: url("/assets/Vector16.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1600341796875px;
top: 1.16015625px;
      }
.instance-2_27260 .vector-2_27340  {
        width: 13.6796875px;
height: 13.67999267578125px;
background-image: url("/assets/Vector16.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1600341796875px;
top: 1.16015625px;
      }
.instance-2_27290 .vector-2_27340  {
        width: 13.6796875px;
height: 13.67999267578125px;
background-image: url("/assets/Vector16.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1600341796875px;
top: 1.16015625px;
      }
.instance-2_27296 .vector-2_27340  {
        width: 13.6796875px;
height: 13.67999267578125px;
background-image: url("/assets/Vector16.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1600341796875px;
top: 1.16015625px;
      }
.instance-2_27314 .vector-2_27340  {
        width: 13.6796875px;
height: 13.67999267578125px;
background-image: url("/assets/Vector16.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1600341796875px;
top: 1.16015625px;
      }
.instance-2_27332 .vector-2_27340  {
        width: 13.6796875px;
height: 13.67999267578125px;
background-image: url("/assets/Vector16.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1600341796875px;
top: 1.16015625px;
      }
.instance-2_27258 .symbol-2_27337  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27264 .symbol-2_27337  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27294 .symbol-2_27337  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27300 .symbol-2_27337  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27318 .symbol-2_27337  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27336 .symbol-2_27337  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27258 .vector-2_27338  {
        width: 11.013671875px;
height: 11.013336181640625px;
background-image: url("/assets/Vector18.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4931640625px;
top: 2.493408203125px;
      }
.instance-2_27264 .vector-2_27338  {
        width: 11.013671875px;
height: 11.013336181640625px;
background-image: url("/assets/Vector18.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4931640625px;
top: 2.493408203125px;
      }
.instance-2_27294 .vector-2_27338  {
        width: 11.013671875px;
height: 11.013336181640625px;
background-image: url("/assets/Vector18.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4931640625px;
top: 2.493408203125px;
      }
.instance-2_27300 .vector-2_27338  {
        width: 11.013671875px;
height: 11.013336181640625px;
background-image: url("/assets/Vector18.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4931640625px;
top: 2.493408203125px;
      }
.instance-2_27318 .vector-2_27338  {
        width: 11.013671875px;
height: 11.013336181640625px;
background-image: url("/assets/Vector18.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4931640625px;
top: 2.493408203125px;
      }
.instance-2_27336 .vector-2_27338  {
        width: 11.013671875px;
height: 11.013336181640625px;
background-image: url("/assets/Vector18.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4931640625px;
top: 2.493408203125px;
      }
.instance-2_27234 .symbol-2_24258  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27240 .symbol-2_24258  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27246 .symbol-2_24258  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27252 .symbol-2_24258  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27270 .symbol-2_24258  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27276 .symbol-2_24258  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27282 .symbol-2_24258  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27288 .symbol-2_24258  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27306 .symbol-2_24258  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27312 .symbol-2_24258  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27324 .symbol-2_24258  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27330 .symbol-2_24258  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-2_27234 .vector-2_24259  {
        width: 13.466796875px;
height: 13.466667175292969px;
background-image: url("/assets/Vector28.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.26708984375px;
top: 3.2664794921875px;
      }
.instance-2_27240 .vector-2_24259  {
        width: 13.466796875px;
height: 13.466667175292969px;
background-image: url("/assets/Vector28.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.26708984375px;
top: 3.2664794921875px;
      }
.instance-2_27246 .vector-2_24259  {
        width: 13.466796875px;
height: 13.466667175292969px;
background-image: url("/assets/Vector28.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.26708984375px;
top: 3.2664794921875px;
      }
.instance-2_27252 .vector-2_24259  {
        width: 13.466796875px;
height: 13.466667175292969px;
background-image: url("/assets/Vector28.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.26708984375px;
top: 3.2664794921875px;
      }
.instance-2_27270 .vector-2_24259  {
        width: 13.466796875px;
height: 13.466667175292969px;
background-image: url("/assets/Vector28.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.26708984375px;
top: 3.2664794921875px;
      }
.instance-2_27276 .vector-2_24259  {
        width: 13.466796875px;
height: 13.466667175292969px;
background-image: url("/assets/Vector28.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.26708984375px;
top: 3.2664794921875px;
      }
.instance-2_27282 .vector-2_24259  {
        width: 13.466796875px;
height: 13.466667175292969px;
background-image: url("/assets/Vector28.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.26708984375px;
top: 3.2664794921875px;
      }
.instance-2_27288 .vector-2_24259  {
        width: 13.466796875px;
height: 13.466667175292969px;
background-image: url("/assets/Vector28.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.26708984375px;
top: 3.2664794921875px;
      }
.instance-2_27306 .vector-2_24259  {
        width: 13.466796875px;
height: 13.466667175292969px;
background-image: url("/assets/Vector28.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.26708984375px;
top: 3.2664794921875px;
      }
.instance-2_27312 .vector-2_24259  {
        width: 13.466796875px;
height: 13.466667175292969px;
background-image: url("/assets/Vector28.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.26708984375px;
top: 3.2664794921875px;
      }
.instance-2_27324 .vector-2_24259  {
        width: 13.466796875px;
height: 13.466667175292969px;
background-image: url("/assets/Vector28.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.26708984375px;
top: 3.2664794921875px;
      }
.instance-2_27330 .vector-2_24259  {
        width: 13.466796875px;
height: 13.466667175292969px;
background-image: url("/assets/Vector28.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.26708984375px;
top: 3.2664794921875px;
      }
