
.symbol-4_29293 {
        
      }
.symbol-4_29294 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 8px 10px 8px 10px;
border-radius: 10px 10px 10px 10px;
      }
.instance-4_29295 {
        width: 20px;
height: 20px;
      }
.instance-4_29296 {
        display: none;
width: 24px;
height: 24px;
      }
.frame-4_29297 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
      }
.paragraph-4_29298 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29299 {
        width: 20px;
height: 20px;
      }
.symbol-4_29300 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 8px 10px 8px 10px;
border-radius: 10px 10px 10px 10px;
      }
.instance-4_29301 {
        width: 20px;
height: 20px;
      }
.instance-4_29302 {
        display: none;
width: 24px;
height: 24px;
      }
.frame-4_29303 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
      }
.paragraph-4_29304 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29305 {
        width: 20px;
height: 20px;
      }
.symbol-4_29306 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 6px 8px 6px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-4_29307 {
        width: 20px;
height: 20px;
      }
.instance-4_29308 {
        display: none;
width: 20px;
height: 20px;
      }
.frame-4_29309 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
      }
.paragraph-4_29310 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29311 {
        width: 20px;
height: 20px;
      }
.symbol-4_29312 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 6px 8px 6px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-4_29313 {
        width: 20px;
height: 20px;
      }
.instance-4_29314 {
        display: none;
width: 20px;
height: 20px;
      }
.frame-4_29315 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
      }
.paragraph-4_29316 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29317 {
        width: 20px;
height: 20px;
      }
.symbol-4_29318 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 6px 4px 6px;
border-radius: 6px 6px 6px 6px;
      }
.instance-4_29319 {
        width: 16px;
height: 16px;
      }
.instance-4_29320 {
        display: none;
width: 16px;
height: 16px;
      }
.frame-4_29321 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
      }
.paragraph-4_29322 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29323 {
        width: 16px;
height: 16px;
      }
.symbol-4_29324 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 6px 4px 6px;
border-radius: 6px 6px 6px 6px;
      }
.instance-4_29325 {
        width: 16px;
height: 16px;
      }
.instance-4_29326 {
        display: none;
width: 16px;
height: 16px;
      }
.frame-4_29327 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
      }
.paragraph-4_29328 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29329 {
        width: 16px;
height: 16px;
      }
.symbol-4_29330 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 8px 10px 8px 10px;
border-radius: 10px 10px 10px 10px;
      }
.instance-4_29331 {
        width: 20px;
height: 20px;
      }
.instance-4_29332 {
        display: none;
width: 24px;
height: 24px;
      }
.frame-4_29333 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
      }
.paragraph-4_29334 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29335 {
        width: 20px;
height: 20px;
      }
.symbol-4_29336 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 8px 10px 8px 10px;
border-radius: 10px 10px 10px 10px;
      }
.instance-4_29337 {
        width: 20px;
height: 20px;
      }
.instance-4_29338 {
        display: none;
width: 24px;
height: 24px;
      }
.frame-4_29339 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
      }
.paragraph-4_29340 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29341 {
        width: 20px;
height: 20px;
      }
.symbol-4_29342 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 6px 8px 6px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-4_29343 {
        width: 20px;
height: 20px;
      }
.instance-4_29344 {
        display: none;
width: 20px;
height: 20px;
      }
.frame-4_29345 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
      }
.paragraph-4_29346 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29347 {
        width: 20px;
height: 20px;
      }
.symbol-4_29348 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 6px 8px 6px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-4_29349 {
        width: 20px;
height: 20px;
      }
.instance-4_29350 {
        display: none;
width: 20px;
height: 20px;
      }
.frame-4_29351 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
      }
.paragraph-4_29352 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29353 {
        width: 20px;
height: 20px;
      }
.symbol-4_29354 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 6px 4px 6px;
border-radius: 6px 6px 6px 6px;
      }
.instance-4_29355 {
        width: 16px;
height: 16px;
      }
.instance-4_29356 {
        display: none;
width: 16px;
height: 16px;
      }
.frame-4_29357 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
      }
.paragraph-4_29358 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29359 {
        width: 16px;
height: 16px;
      }
.symbol-4_29360 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 6px 4px 6px;
border-radius: 6px 6px 6px 6px;
      }
.instance-4_29361 {
        width: 16px;
height: 16px;
      }
.instance-4_29362 {
        display: none;
width: 16px;
height: 16px;
      }
.frame-4_29363 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
      }
.paragraph-4_29364 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29365 {
        width: 16px;
height: 16px;
      }
.symbol-4_29366 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 8px 10px 8px 10px;
border-radius: 10px 10px 10px 10px;
      }
.instance-4_29367 {
        width: 20px;
height: 20px;
      }
.instance-4_29368 {
        display: none;
width: 24px;
height: 24px;
      }
.frame-4_29369 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
      }
.paragraph-4_29370 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29371 {
        width: 20px;
height: 20px;
      }
.symbol-4_29372 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 6px 8px 6px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-4_29373 {
        width: 20px;
height: 20px;
      }
.instance-4_29374 {
        display: none;
width: 20px;
height: 20px;
      }
.frame-4_29375 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
      }
.paragraph-4_29376 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29377 {
        width: 20px;
height: 20px;
      }
.symbol-4_29378 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 6px 4px 6px;
border-radius: 6px 6px 6px 6px;
      }
.instance-4_29379 {
        width: 16px;
height: 16px;
      }
.instance-4_29380 {
        display: none;
width: 16px;
height: 16px;
      }
.frame-4_29381 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
      }
.paragraph-4_29382 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29383 {
        width: 16px;
height: 16px;
      }
.symbol-4_29384 {
        width: auto;
height: 36px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 8px 10px 8px 10px;
border-radius: 10px 10px 10px 10px;
      }
.instance-4_29385 {
        width: 20px;
height: 20px;
      }
.instance-4_29386 {
        display: none;
width: 24px;
height: 24px;
      }
.frame-4_29387 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
      }
.paragraph-4_29388 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29389 {
        width: 20px;
height: 20px;
      }
.symbol-4_29390 {
        width: auto;
height: 32px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 6px 8px 6px 8px;
border-radius: 8px 8px 8px 8px;
      }
.instance-4_29391 {
        width: 20px;
height: 20px;
      }
.instance-4_29392 {
        display: none;
width: 20px;
height: 20px;
      }
.frame-4_29393 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 6px 0px 6px;
background-color: transparent;
      }
.paragraph-4_29394 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29395 {
        width: 20px;
height: 20px;
      }
.symbol-4_29396 {
        width: auto;
height: 24px;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 4px 6px 4px 6px;
border-radius: 6px 6px 6px 6px;
      }
.instance-4_29397 {
        width: 16px;
height: 16px;
      }
.instance-4_29398 {
        display: none;
width: 16px;
height: 16px;
      }
.frame-4_29399 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 4px 0px 4px;
background-color: transparent;
      }
.paragraph-4_29400 {
        display: flex;
flex-direction: column;
justify-content: center;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.instance-4_29401 {
        width: 16px;
height: 16px;
      }
.component-4_29293 {
        width: fit-content;
height: fit-content;
      }


.instance-4_29295 .vector-2_25175  {
        width: 16.7998046875px;
height: 16.800003051757812px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.5999755859375px;
top: 1.60009765625px;
      }
.instance-4_29295 .symbol-2_25174  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29299 .symbol-2_24258  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29299 .vector-2_24259  {
        width: 13.466796875px;
height: 13.466667175292969px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.26708984375px;
top: 3.2664794921875px;
      }
.instance-4_29301 .vector-2_25175  {
        width: 16.7998046875px;
height: 16.800003051757812px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.5999755859375px;
top: 1.60009765625px;
      }
.instance-4_29301 .symbol-2_25174  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29305 .symbol-2_24258  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29305 .vector-2_24259  {
        width: 13.466796875px;
height: 13.466667175292969px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.26708984375px;
top: 3.2664794921875px;
      }
.instance-4_29307 .symbol-2_25174  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29307 .vector-2_25175  {
        width: 16.7998046875px;
height: 16.800003051757812px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.5999755859375px;
top: 1.60009765625px;
      }
.instance-4_29311 .symbol-2_24258  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29311 .vector-2_24259  {
        width: 13.466796875px;
height: 13.466667175292969px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.26708984375px;
top: 3.2664794921875px;
      }
.instance-4_29313 .symbol-2_25174  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29313 .vector-2_25175  {
        width: 16.7998046875px;
height: 16.800003051757812px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.5999755859375px;
top: 1.60009765625px;
      }
.instance-4_29317 .symbol-2_24258  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29317 .vector-2_24259  {
        width: 13.466796875px;
height: 13.466667175292969px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.26708984375px;
top: 3.2664794921875px;
      }
.instance-4_29323 .symbol-2_27337  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29323 .vector-2_27338  {
        width: 11.013671875px;
height: 11.013336181640625px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4931640625px;
top: 2.493408203125px;
      }
.instance-4_29329 .symbol-2_27337  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29329 .vector-2_27338  {
        width: 11.013671875px;
height: 11.013336181640625px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4931640625px;
top: 2.493408203125px;
      }
.instance-4_29331 .symbol-2_25174  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29331 .vector-2_25175  {
        width: 16.7998046875px;
height: 16.800003051757812px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.5999755859375px;
top: 1.60009765625px;
      }
.instance-4_29335 .symbol-2_24258  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29335 .vector-2_24259  {
        width: 13.466796875px;
height: 13.466667175292969px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.26708984375px;
top: 3.2664794921875px;
      }
.instance-4_29337 .symbol-2_25174  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29337 .vector-2_25175  {
        width: 16.7998046875px;
height: 16.800003051757812px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.5999755859375px;
top: 1.60009765625px;
      }
.instance-4_29341 .symbol-2_24258  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29341 .vector-2_24259  {
        width: 13.466796875px;
height: 13.466667175292969px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.26708984375px;
top: 3.2664794921875px;
      }
.instance-4_29343 .symbol-2_25174  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29343 .vector-2_25175  {
        width: 16.7998046875px;
height: 16.800003051757812px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.5999755859375px;
top: 1.60009765625px;
      }
.instance-4_29347 .symbol-2_24258  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29347 .vector-2_24259  {
        width: 13.466796875px;
height: 13.466667175292969px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.26708984375px;
top: 3.2664794921875px;
      }
.instance-4_29349 .symbol-2_25174  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29349 .vector-2_25175  {
        width: 16.7998046875px;
height: 16.800003051757812px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.5999755859375px;
top: 1.60009765625px;
      }
.instance-4_29353 .symbol-2_24258  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29353 .vector-2_24259  {
        width: 13.466796875px;
height: 13.466667175292969px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.26708984375px;
top: 3.2664794921875px;
      }
.instance-4_29359 .symbol-2_27337  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29359 .vector-2_27338  {
        width: 11.013671875px;
height: 11.013336181640625px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4931640625px;
top: 2.493408203125px;
      }
.instance-4_29365 .symbol-2_27337  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29365 .vector-2_27338  {
        width: 11.013671875px;
height: 11.013336181640625px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4931640625px;
top: 2.493408203125px;
      }
.instance-4_29367 .vector-2_25175  {
        width: 16.7998046875px;
height: 16.800003051757812px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.5999755859375px;
top: 1.60009765625px;
      }
.instance-4_29367 .symbol-2_25174  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29371 .symbol-2_24258  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29371 .vector-2_24259  {
        width: 13.466796875px;
height: 13.466667175292969px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.26708984375px;
top: 3.2664794921875px;
      }
.instance-4_29373 .symbol-2_25174  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29373 .vector-2_25175  {
        width: 16.7998046875px;
height: 16.800003051757812px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.5999755859375px;
top: 1.60009765625px;
      }
.instance-4_29377 .symbol-2_24258  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29377 .vector-2_24259  {
        width: 13.466796875px;
height: 13.466667175292969px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.26708984375px;
top: 3.2664794921875px;
      }
.instance-4_29383 .symbol-2_27337  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29383 .vector-2_27338  {
        width: 11.013671875px;
height: 11.013336181640625px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4931640625px;
top: 2.493408203125px;
      }
.instance-4_29385 .vector-2_25175  {
        width: 16.7998046875px;
height: 16.800003051757812px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.5999755859375px;
top: 1.60009765625px;
      }
.instance-4_29385 .symbol-2_25174  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29389 .symbol-2_24258  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29389 .vector-2_24259  {
        width: 13.466796875px;
height: 13.466667175292969px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.26708984375px;
top: 3.2664794921875px;
      }
.instance-4_29391 .symbol-2_25174  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29391 .vector-2_25175  {
        width: 16.7998046875px;
height: 16.800003051757812px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.5999755859375px;
top: 1.60009765625px;
      }
.instance-4_29395 .symbol-2_24258  {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29395 .vector-2_24259  {
        width: 13.466796875px;
height: 13.466667175292969px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.26708984375px;
top: 3.2664794921875px;
      }
.instance-4_29401 .symbol-2_27337  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29401 .vector-2_27338  {
        width: 11.013671875px;
height: 11.013336181640625px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.4931640625px;
top: 2.493408203125px;
      }
.instance-4_29296 .symbol-2_22977 .symbol-4_31763 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.instance-4_29296  .stroke-wrapper-4_31763 {
        position: relative;
width: 24px;
height: 24px;
flex-shrink: 0;
      }
.instance-4_29296  .stroke-4_31763 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-4_29295 .symbol-2_25174 .symbol-4_31841 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29301 .symbol-2_25174 .symbol-4_31841 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29367 .symbol-2_25174 .symbol-4_31841 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29385 .symbol-2_25174 .symbol-4_31841 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29319 .symbol-2_27339  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29325 .symbol-2_27339  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29355 .symbol-2_27339  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29361 .symbol-2_27339  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29379 .symbol-2_27339  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29397 .symbol-2_27339  {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.instance-4_29319 .vector-2_27340  {
        width: 13.6796875px;
height: 13.67999267578125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1600341796875px;
top: 1.16015625px;
      }
.instance-4_29325 .vector-2_27340  {
        width: 13.6796875px;
height: 13.67999267578125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1600341796875px;
top: 1.16015625px;
      }
.instance-4_29355 .vector-2_27340  {
        width: 13.6796875px;
height: 13.67999267578125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1600341796875px;
top: 1.16015625px;
      }
.instance-4_29361 .vector-2_27340  {
        width: 13.6796875px;
height: 13.67999267578125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1600341796875px;
top: 1.16015625px;
      }
.instance-4_29379 .vector-2_27340  {
        width: 13.6796875px;
height: 13.67999267578125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1600341796875px;
top: 1.16015625px;
      }
.instance-4_29397 .vector-2_27340  {
        width: 13.6796875px;
height: 13.67999267578125px;

background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.1600341796875px;
top: 1.16015625px;
      }
.instance-4_29320 .symbol-2_22974  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.instance-4_29320  .stroke-wrapper-2_22974 {
        position: relative;
width: 16px;
height: 16px;
flex-shrink: 0;
      }
.instance-4_29320  .stroke-2_22974 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-4_29326 .symbol-2_22974  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.instance-4_29326  .stroke-wrapper-2_22974 {
        position: relative;
width: 16px;
height: 16px;
flex-shrink: 0;
      }
.instance-4_29326  .stroke-2_22974 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-4_29356 .symbol-2_22974  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.instance-4_29356  .stroke-wrapper-2_22974 {
        position: relative;
width: 16px;
height: 16px;
flex-shrink: 0;
      }
.instance-4_29356  .stroke-2_22974 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-4_29362 .symbol-2_22974  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.instance-4_29362  .stroke-wrapper-2_22974 {
        position: relative;
width: 16px;
height: 16px;
flex-shrink: 0;
      }
.instance-4_29362  .stroke-2_22974 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-4_29380 .symbol-2_22974  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

opacity: 0.5;
      }
.instance-4_29380  .stroke-wrapper-2_22974 {
        position: relative;
width: 16px;
height: 16px;
flex-shrink: 0;
      }
.instance-4_29380  .stroke-2_22974 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
opacity: 0.5;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-4_29398 .symbol-2_22974  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

opacity: 0.5;
      }
.instance-4_29398  .stroke-wrapper-2_22974 {
        position: relative;
width: 16px;
height: 16px;
flex-shrink: 0;
      }
.instance-4_29398  .stroke-2_22974 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
opacity: 0.5;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-4_29296 .symbol-2_22977  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.instance-4_29296  .stroke-wrapper-2_22977 {
        position: relative;
width: 24px;
height: 24px;
flex-shrink: 0;
      }
.instance-4_29296  .stroke-2_22977 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-4_29302 .symbol-2_22977  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.instance-4_29302  .stroke-wrapper-2_22977 {
        position: relative;
width: 24px;
height: 24px;
flex-shrink: 0;
      }
.instance-4_29302  .stroke-2_22977 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-4_29308 .symbol-2_22977  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.instance-4_29308  .stroke-wrapper-2_22977 {
        position: relative;
width: 20px;
height: 20px;
flex-shrink: 0;
      }
.instance-4_29308  .stroke-2_22977 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-4_29314 .symbol-2_22977  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.instance-4_29314  .stroke-wrapper-2_22977 {
        position: relative;
width: 20px;
height: 20px;
flex-shrink: 0;
      }
.instance-4_29314  .stroke-2_22977 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-4_29332 .symbol-2_22977  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.instance-4_29332  .stroke-wrapper-2_22977 {
        position: relative;
width: 24px;
height: 24px;
flex-shrink: 0;
      }
.instance-4_29332  .stroke-2_22977 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-4_29338 .symbol-2_22977  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.instance-4_29338  .stroke-wrapper-2_22977 {
        position: relative;
width: 24px;
height: 24px;
flex-shrink: 0;
      }
.instance-4_29338  .stroke-2_22977 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-4_29344 .symbol-2_22977  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.instance-4_29344  .stroke-wrapper-2_22977 {
        position: relative;
width: 20px;
height: 20px;
flex-shrink: 0;
      }
.instance-4_29344  .stroke-2_22977 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-4_29350 .symbol-2_22977  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

      }
.instance-4_29350  .stroke-wrapper-2_22977 {
        position: relative;
width: 20px;
height: 20px;
flex-shrink: 0;
      }
.instance-4_29350  .stroke-2_22977 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-4_29368 .symbol-2_22977  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

opacity: 0.5;
      }
.instance-4_29368  .stroke-wrapper-2_22977 {
        position: relative;
width: 24px;
height: 24px;
flex-shrink: 0;
      }
.instance-4_29368  .stroke-2_22977 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
opacity: 0.5;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-4_29374 .symbol-2_22977  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

opacity: 0.5;
      }
.instance-4_29374  .stroke-wrapper-2_22977 {
        position: relative;
width: 20px;
height: 20px;
flex-shrink: 0;
      }
.instance-4_29374  .stroke-2_22977 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
opacity: 0.5;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-4_29386 .symbol-2_22977  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

opacity: 0.5;
      }
.instance-4_29386  .stroke-wrapper-2_22977 {
        position: relative;
width: 24px;
height: 24px;
flex-shrink: 0;
      }
.instance-4_29386  .stroke-2_22977 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
opacity: 0.5;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-4_29392 .symbol-2_22977  {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

opacity: 0.5;
      }
.instance-4_29392  .stroke-wrapper-2_22977 {
        position: relative;
width: 20px;
height: 20px;
flex-shrink: 0;
      }
.instance-4_29392  .stroke-2_22977 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
opacity: 0.5;
border-width: 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px 0.6000000238418579px;
border-style: solid;
box-sizing: border-box;
      }
.instance-4_29296 .instance-2_22978  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-4_29302 .instance-2_22978  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-4_29308 .instance-2_22978  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-4_29314 .instance-2_22978  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-4_29332 .instance-2_22978  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-4_29338 .instance-2_22978  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-4_29344 .instance-2_22978  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-4_29350 .instance-2_22978  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-4_29368 .instance-2_22978  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-4_29374 .instance-2_22978  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-4_29386 .instance-2_22978  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-4_29392 .instance-2_22978  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-4_29308 .instance-2_22979  {
        display: none;
width: 6px;
height: 6px;
      }
.instance-4_29314 .instance-2_22979  {
        display: none;
width: 6px;
height: 6px;
      }
.instance-4_29344 .instance-2_22979  {
        display: none;
width: 6px;
height: 6px;
      }
.instance-4_29350 .instance-2_22979  {
        display: none;
width: 6px;
height: 6px;
      }
.instance-4_29374 .instance-2_22979  {
        display: none;
width: 6px;
height: 6px;
      }
.instance-4_29392 .instance-2_22979  {
        display: none;
width: 6px;
height: 6px;
      }
.instance-4_29308 .instance-2_22980  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-4_29314 .instance-2_22980  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-4_29344 .instance-2_22980  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-4_29350 .instance-2_22980  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-4_29374 .instance-2_22980  {
        display: none;
width: 10px;
height: 10px;
      }
.instance-4_29392 .instance-2_22980  {
        display: none;
width: 10px;
height: 10px;
      }
