
.symbol-2_2237 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-2_2238 {
        width: 13.466796875px;
height: 15.133331298828125px;
background-image: url("/assets/Vector68.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.266724109649658px;
top: 2.433349609375px;
      }
.component-2_2237 {
        width: fit-content;
height: fit-content;
      }

