
.symbol-2_23141 {
        width: 20px;
height: 20px;
position: relative;
      }
.vector-2_23142 {
        width: 13.466796875px;
height: 15.133331298828125px;
background-image: url("/assets/Vector3.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.2667236328125px;
top: 2.433349132537842px;
      }
.component-2_23141 {
        width: fit-content;
height: fit-content;
      }

