
.symbol-2_1777 {
        
      }
.symbol-2_1778 {
        width: 24px;
height: 24px;
position: relative;
      }
.vector-2_1779 {
        width: 24px;
height: 24px;
background-image: url("/assets/Squircle1.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 0px;
      }
.vector-2_1780 {
        width: 11.731918334960938px;
height: 11.536811828613281px;
background-image: url("/assets/Avatar1.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 6.1337890625px;
top: 6.231444835662842px;
      }
.symbol-2_1781 {
        width: 24px;
height: 24px;
position: relative;
      }
.vector-2_1782 {
        width: 24px;
height: 24px;
background-image: url("/assets/Squircle0.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 0px;
      }
.vector-2_1783 {
        width: 11.731918334960938px;
height: 11.536811828613281px;
background-image: url("/assets/Avatar0.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 6.1337890625px;
top: 6.231444835662842px;
      }
.symbol-2_1784 {
        width: 24.000001907348633px;
height: 24px;
position: relative;
      }
.vector-2_1785 {
        width: 24px;
height: 24px;
background-image: url("/assets/Squircle.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 0px;
      }
.vector-2_1786 {
        width: 11.731918334960938px;
height: 11.536811828613281px;
background-image: url("/assets/Avatar.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 6.1337890625px;
top: 6.231444835662842px;
      }
.component-2_1777 {
        width: fit-content;
height: fit-content;
      }

